<template>
    <article class="page_content_container">

        <listing-header :show_loading_image=!is_page_loaded
                        :current_page=current_page
                        :itemsList="activityLogs"
                        :rows_count="activity_logs_total_count"
                        :header_icon="getHeaderIcon('activity_log')"
                        :header_title="'Activity Logs'"
                        :item_title="activityLogs.length| pluralize(['activity log', 'activity logs'])"
                        parent_component_key="activity_log"
                        :right_icon="'fa fa-refresh'"
        >
        </listing-header>

        <fieldset class="bordered text-muted p-0 m-1">
            <legend class="bordered">Filters</legend>

            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_log_name">
                        By log name
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <input style="flex: 1 0" name="filter_log_name" id="filter_log_name" class="form-control admin_control_input" type="text" value=""
                           v-model="filter_log_name"
                           v-on:change="activityLogsFilterApplied()">
                </dd>
            </dl>

            <dl class="m-0 p-3" style="display: flex;justify-content: flex-start">
                <dt class="">
                    <a class="btn btn-outline-secondary" @click.prevent="loadActivityLogs()">
                        <i :class="'i_link '+getHeaderIcon('filter')"></i>Search
                    </a>
                </dt>
            </dl>
        </fieldset>

        <div class="table-responsive table-wrapper-for-data-listing " v-show="activityLogs.length && is_page_loaded">
            <table class="table table-striped table-data-listing">

                <thead>
                <tr>
                    <th>#</th>
                    <th>Log Name</th>
                    <th>Causer</th>
                    <th>Causer type</th>
                    <th>Created At</th>
                    <th></th>
                </tr>
                </thead>


                <tbody>
                <tr v-for="(nextActivityLog,index) in activityLogs" :key="nextActivityLog.id">
                    <td class="text-right">
                        <a v-on:click="viewActivityLog(nextActivityLog, index)" :class="'p-1  a_view_item_'+nextActivityLog.id">
                            {{ nextActivityLog.id }}
                        </a>
                    </td>
                    <td class="text-left">
                        {{ nextActivityLog.log_name }}
                    </td>
                    <td class="text-left">
                        {{ nextActivityLog.causer_id }}
                    </td>
                    <td class="text-left">
                        {{ nextActivityLog.causer_type }}
                    </td>
                    <td class="text-left">
                        {{ momentDatetime(nextActivityLog.created_at, jsMomentDatetimeFormat) }}
                    </td>

                    <td>
                        <a v-on:click="viewActivityLog(nextActivityLog, index)" :class="'p-1 a_view_item_'+nextActivityLog.id">
                            <i :class="'i_link '+getHeaderIcon('view')" title="View activity log item"></i>
                        </a>
                        <a v-on:click="removeActivityLog(nextActivityLog.id, nextActivityLog.name, index)" :class="'p-1 a_delete_item_'+nextActivityLog.id">
                            <i :class="'i_link '+getHeaderIcon('remove')" title="Remove activity log item"></i>
                        </a>
                    </td>

                </tr>
                </tbody>

            </table>
        </div>

        <section class="activity_log_pagination_container" v-show="activityLogs.length && is_page_loaded">
            <listing-pagination
                    :current="current_page"
                    :total="activity_logs_total_count"
                    :items_per_page="activity_logs_per_page"
                    :show_next_prior_buttons=false
                    @paginationPageChangedEvent="paginationPageClicked"
                    :show_page_number_label="true"
                    :show_rows_label="true"
                    :item_title="activity_logs_total_count | pluralize(['activity log', 'activity logs'])"
            >
            </listing-pagination>
        </section>


        <!-- ACTIVITY MODAL START-->

        <modal :height="modalActivityLogHeight" :width="modalWidth" name="modal-activity-log" transition="pop-out">

            <section class="modal-content p-3 flexbox-parent">
                <p class="modal-header flexbox-item header p-2">
                    <i :class="'pt-1 '+getHeaderIcon('activity_log') "></i><span class="modal-title">View activity log item</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click.prevent="cancelActivityLogDialog()">
                        <span aria-hidden="true">×</span>
                    </button>
                </p>

                <div class="modal-body flexbox-item fill-area-content flexbox-item-grow" v-if="viewActivityLogRow">

                    <dl class="block_2columns_md p-3">
                        <dt class="horiz_divider_left_13">
                            <label class="col-12 col-sm-4 col-form-label" for="id">Id:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="viewActivityLogRow.id"
                                    name="id"
                                    id="id"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl>

                    <dl class="block_2columns_md p-3">
                        <dt class="horiz_divider_left_13">
                            <label class="col-12 col-sm-4 col-form-label" for="log_name">Log name:</label>
                        </dt>

                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="viewActivityLogRow.log_name"
                                    name="log_name"
                                    id="log_name"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl>

                    <dl class="block_2columns_md p-3"> <!-- description -->
                        <dt class="horiz_divider_left_13">
                            <label :for="'description'" class="col-12 col-form-label">&nbsp;
                                Description
                            </label>
                        </dt>
                        <dd class="horiz_divider_right_23">
								<textarea
                                        id="description"
                                        name="description"
                                        rows="6"
                                        cols="80"
                                        v-model="viewActivityLogRow.description"
                                        class="form-control"
                                        readonly="readonly"
                                ></textarea>
                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> description -->

                    <dl class="block_2columns_md p-3">
                        <dt class="horiz_divider_left_13">
                            <label class="col-12 col-sm-4 col-form-label" for="subject_id">Subject id:</label>
                        </dt>

                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="viewActivityLogRow.subject_id"
                                    name="subject_id"
                                    id="subject_id"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl>

                    <dl class="block_2columns_md p-3">
                        <dt class="horiz_divider_left_13">
                            <label class="col-12 col-sm-4 col-form-label" for="subject_type">Subject type:</label>
                        </dt>

                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="viewActivityLogRow.subject_type"
                                    name="subject_type"
                                    id="subject_type"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl>

                    <dl class="block_2columns_md p-3">
                        <dt class="horiz_divider_left_13">
                            <label class="col-12 col-sm-4 col-form-label" for="causer_id">Causer id:</label>
                        </dt>

                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="viewActivityLogRow.causer_id"
                                    name="causer_id"
                                    id="causer_id"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl>

                    <dl class="block_2columns_md p-3">
                        <dt class="horiz_divider_left_13">
                            <label class="col-12 col-sm-4 col-form-label" for="causer_type">Causer type:</label>
                        </dt>

                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="viewActivityLogRow.causer_type"
                                    name="causer_type"
                                    id="causer_type"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl>


                    <dl class="block_2columns_md p-3">
                        <dt class="horiz_divider_left_13">
                            <label class="col-12 col-sm-4 col-form-label" for="properties">Properties:</label>
                        </dt>

                        <dd class="horiz_divider_right_23">
                            <textarea
                                    id="properties"
                                    name="properties"
                                    rows="6"
                                    cols="80"
                                    v-model="viewActivityLogRow.properties_text"
                                    class="form-control"
                                    readonly="readonly"
                            ></textarea>

                        </dd>
                    </dl>

                    <dl class="block_2columns_md p-3">
                        <dt class="horiz_divider_left_13">
                            <label class="col-12 col-sm-4 col-form-label" for="created_at">Created at:</label>
                        </dt>

                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="getViewActivityLogRowCreatedAtLabel"
                                    name="created_at"
                                    id="created_at"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl>

                </div> <!-- <div class="modal-body"> -->

                <section class="modal-footer flexbox-item form-row row_content_right_aligned">
                    <button type="button" class="btn btn-secondary btn-sm m-2" @click.prevent="cancelActivityLogDialog()">
                        <i :class="getHeaderIcon('cancel')"></i>Cancel
                    </button>
                    <button @click.prevent="removeActivityLog(viewActivityLogRow.id, viewActivityLogRow.log_name, 0)" type="button"
                            class="btn btn-primary btn-sm m-2 ml-4 mr-4">
                        <i :class="getHeaderIcon('remove')"></i>Delete
                    </button>
                </section>

            </section> <!-- <section class="modal-content"> -->


        </modal> <!-- modal-activity-log  -->

        <!-- ACTIVITY MODAL END -->


    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import {settingsJsMomentDatetimeFormat, settingCredentialsConfig} from '@/app.settings.js'

    import {retrieveAppDictionaries} from "@/commonFuncs"

    import Vue from 'vue'

    Vue.component('listing-header', require('../../../../src/components/ListingHeader.vue').default)
    Vue.component('listing-pagination', require('../../../../src/components/ListingPagination.vue').default)

    export default {
        name: 'activityLogsListPage',

        mixins: [appMixin],

        data() {
            return {
                activityLogs: [],
                innerWidth: window.innerWidth,
                innerHeight: window.innerHeight,
                viewActivityLogRow: null,
                filter_log_name: '',
                current_page: 1,
                order_by: 'created_at',
                order_direction: 'desc',
                activity_logs_total_count: 0,
                is_page_loaded: false,
                activity_logs_per_page: 20,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL,
                demo_version: process.env.VUE_APP_DEMO_VERSION

            }
        }, // data () {


        created() {
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
        }, //  created() {

        mounted() {
            this.setAppTitle('ActivityLogs', 'ActivityLogs Listing', bus)
            retrieveAppDictionaries('activityLogsListPage', ['backend_items_per_page'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'activityLogsListPage') {
                    this.activity_logs_per_page = data.backend_items_per_page
                }
            })

            this.loadActivityLogs()
            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key === 'activity_log') {
                    this.loadActivityLogs()
                }
            })

        }, // mounted() {


        methods: {
            loadActivityLogs() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                let filters = {page: this.current_page, order_by: this.order_by, order_direction: this.order_direction, filter_log_name: this.filter_log_name}
                axios.post(this.apiUrl + '/adminarea/activity-logs-filter', filters, credentials)
                    .then(({data}) => {
                        // console.log('data::')
                        // console.log(data)
                        // // console.log('data.data::')
                        // console.log(data.data)

                        // this.activityLogs = data.data
                        this.activityLogs = data.activity_logs
                        this.activity_logs_total_count = data.meta.total
                        this.activity_logs_per_page = data.meta.per_page
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Activity Logs', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadActivityLogs() {

            viewActivityLog(activityLog/*, index*/) {
                this.viewActivityLogRow = activityLog
                this.$modal.show('modal-activity-log')
            }, // viewActivityLog(activityLog) {

            removeActivityLog(id, activity_log_name/*, index*/) {
                if (!confirm("Do you want to delete" + " '" + activity_log_name + "' activity log item ?")) {
                    return
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/adminarea/activity-logs/' + id, credentials).then((/* response */) => {
                    this.loadActivityLogs()
                    this.showPopupMessage('Activity Logs', 'Activity log was deleted successfully', 'success')
                    this.cancelActivityLogDialog()
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('Activity Logs', 'Error deleting activity log item !', 'error')
                })

            }, //removeActivityLog(id, activity_log_name) {

            cancelActivityLogDialog() {
                this.$modal.hide('modal-activity-log')
                this.viewActivityLogRow = null
            }, // cancelActivityLogDialog() {

            paginationPageClicked(page) {
                this.current_page = page
                this.loadActivityLogs()
            },

            activityLogsFilterApplied() {
                this.current_page = 1
                this.loadActivityLogs()
            },

        }, // methods: {

        computed: {
            getHeaderTitle: function () {
                return "ActivityLogs Listing"
            },

            getViewActivityLogRowCreatedAtLabel: function () {
                return this.momentDatetime(this.viewActivityLogRow.created_at, this.jsMomentDatetimeFormat)
            },

            currentLoggedUser() {
                return this.$store.getters.user
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            },

            modalActivityLogHeight() {
                return this.innerHeight - 100
            },
            modalWidth() {
                return this.innerWidth - 100
            },

        }

    }
</script>
