

I got 401 error from request in vue-tables-2 with Server Table
Hello,
In my vue/cli 4 app I got 401 error from request in vue-tables-2 with Server Table.
I make :

        <div id="activity_logs_data_table">
            <v-server-table :url="apiUrl + '/adminarea/activity-logs-filter'" :columns="columns" :options="tableOptions">
            </v-server-table>
        </div>
        ...
                tableOptions: {
                    // see the options API

                    requestFunction(data) {
                        let credentialsConfig= JSON.parse(JSON.stringify(settingCredentialsConfig)) // Setting Bearer token
                        credentialsConfig.headers.Authorization = ' Bearer ' + this.$parent.$parent.currentLoggedUserToken

                        return axios.get(this.url, {
                            params: data
                        }, credentialsConfig ).catch(function (error) {
                            console.log('requestFunction error::')
                            console.error(error)
                        })

                    } // requestFunction: (data) => {
                }, // tableOptions: {

And in browser checking the request I see Bearer token in different format, I expect : https://imgur.com/a/Y3xsZuW

Running the same url in other page( without vue-tables-2  ) :

I recieve data from the server :
                this.credentialsConfig.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                // Request URL: http://local-ctasks-api.com/api/adminarea/activity-logs-filter?query=&limit=10&ascending=1&page=1&byColumn=0
                axios.get(this.apiUrl + '/adminarea/activity-logs-filter?query=&limit=10&ascending=1&page=1&byColumn=0', this.credentialsConfig)
                    .then(({ data }) => {
                        console.log('/adminarea/activity-logs-filter data::')
                        console.log(data)

                        this.activityLogsRows = data.data
                    })
                    .catch(error => {
                        this.showPopupMessage('Settings Editor', error.response.data.message, 'warn')
                    })

and in browser I see Authorization in Bearer Format: https://imgur.com/a/iBjnf4D

Are the some additive options missed ?

Thanks!
