Hello,
In vue/cli 4 app I make events page with component for any event and by clicking on button admin can modify users of this event in modal
dialog("vue-js-modal": "^1.3.31",).
I read data from backend api app and I need to show filtered user list. I use computed filterEventUsers method, which now returns all data(later I will add
some filters in it). The problem is that in my page I see valid rows of both users listings in eventUsers and filterEventUsers.
I see it it vue debugging : https://imgur.com/a/WiGHvNF

But listing under modal is empty. I do not see why? all data in Modal has no any scope ? I supposed no ?

I do :
<template>
	<article class="event_item_container">


		eventUsers::{{ eventUsers }}
		<br>filterEventUsers::{{ filterEventUsers }}
		<!-- THESE LISTINGS ARE EMPTY ON PAGE OPENED, BUT FILLED WHEN I CLICK BUTTON CALLING showMembersOfThisEvent method-->


		<ul class="column_content_left_aligned">
			...my page
		</ul>



		<!-- MODAL PAGE DEFINITION START-->
		<modal :height="modalTaskEventDetailsHeight+100" :width="modalWidth" name="modal-members-of-this-event" transition="pop-out">

			<section class="modal-content p-3">

				<div class="modal-body">

					<div class="column_content_left_aligned">
						<div class="row_content_left_aligned p-3" style="overflow-y: scroll; max-height: 800px; ">
							<fieldset class="blocks">
								<legend class="blocks">{{ filterEventUsers.length }} assigned {{ filterEventUsers.length |
									pluralize(['user','users']) }}
								<!-- SHOW 0 -->

								</legend>
								<div class="table-responsive table-wrapper-for-data-listing ">
									++===filterEventUsers::{{ filterEventUsers }}
									<!-- THIS SHOWS EMPTY LISTING so MY NEXT LISTING IS EMPTY-->
									... my listing
								</div>


							</fieldset>

						</div> <!-- <div class="row_content_left_aligned p-3" style="overflow-y: scroll; max-height: 400px; "> -->

					</div> <!-- <div class="column_content_left_aligned"> -->

				</div> <!-- <div class="modal-body"> -->

			</section> <!-- <section class="modal-content"> -->


		</modal> <!-- modal-members-of-this-event  -->

		<!-- MODAL PAGE DEFINITION END-->


	</article>
</template>

<script>
    import {bus} from '../../main'
    import axios from 'axios'

    import Vue from 'vue'

    import appMixin from '@/appMixin'
    import {settingsEventAccessLabels, settingsEventsPerPage, settingsJsMomentDatetimeFormat} from './../../app.settings.js'
    import {settingCredentialsConfig} from '@/app.settings.js'

    export default {
        name: 'eventsTimelineItem',
        mixins: [appMixin]

        data: function () {
            return {
                innerWidth,
                innerHeight,
                credentialsConfig: settingCredentialsConfig,
                eventUsers : [], // DATA
                eventsPerPage: settingsEventsPerPage,
                eventAccessLabels: settingsEventAccessLabels,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                apiUrl: process.env.VUE_APP_API_URL

            }
        }, // data: function () {


        computed: {

            filterEventUsers() {
                return this.eventUsers.filter(state => { // FILTER METHOD WHICH NOW RETURNS ALL DATA
                    // if (state.published && state.is_homepage) {
                    return true;
                    // }
                    // return false;
                });
            },

            modalTaskEventDetailsHeight() {
                return this.innerHeight - 200
            },

            modalWidth() {
                return this.innerWidth - 100
            },

            loggedUserIsManager: function () {
                return this.$store.getters.is_manager
            },

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },

        }, //computed: {

        methods: {

            // MEMBERS OF THIS TASK MODAL START
            showMembersOfThisEvent() {
                if (this.currentLoggedUser == null || typeof this.currentLoggedUser.id === 'undefined') {
                    this.showPopupMessage('Modification of members of the event', 'You need to login !', 'warn')
                    return
                }

                if (!this.loggedUserIsManager && !this.loggedUserIsAdmin) {
                    this.showPopupMessage('Modification of members of the event', 'You have no access to this functionality !', 'warn')
                    return
                }


                this.credentialsConfig.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                console.log('users_of_event_selection this.credentialsConfig::')
                console.log(this.credentialsConfig)

                axios.get(this.apiUrl + '/manager/users_of_event_selection/' + this.nextEvent.id, this.credentialsConfig)
                    .then((response) => {
                        console.log('users_of_event_selection response::')
                        console.log(response)
                        this.eventUsers = response.data.eventUsers // I READ DATA FROM SERVER BY CLICKING ON BUTTON

                        this.$modal.show('modal-members-of-this-event')
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Members of the event', error.response.data.message, 'warn')
                    })

            }, // showMembersOfThisEvent() {

            cancelMembersOfThisEvent() {
                this.$modal.hide('modal-members-of-this-event')
            }, // cancelMembersOfThisEvent() {


        }, // methods: {


    }
</script>


why filterEventUsers is empty in my modal and how to fix it?
Thanks!
