@import '../../variables';


@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto_regular.ttf');
  font-style: normal
}


// COMMON TAGS BLOCK BEGIN

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  //height: 100%;
  height: 1px;
  min-height: 100%;

  margin: 0;
  padding: 0;
  //background-color: yellow;
  background-color: $background_color;
}

body {
  background-color: $background_color;
  color: $text_color;
  font-size: $font_size;
  font-family: $font-family-sans-serif;
}

.admin_content_text {
  background-color: $admin_background_color !important;
  color: $text_color !important;
  font-size: $font_size;
  font-family: $font-family-sans-serif;
}


#app {
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  //height: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

h1, h2, h3, h4, h5, h6, span, div, p {
  font-family: $font-family-sans-serif;
}

h1 {
  font-size:28px;
}
h2 {
  font-size:24px;
}
h3 {
  font-size:22px;
}
footer {
  border-top: $border-separator-color;
  padding: 6px;
  margin: 0;
  //background-color: lightseagreen;
}


h4, .h4 {
  font-size: $font_size_bigger;
}

ul, dl {
  margin-top: 0;
  margin-bottom: 0.1rem;
  padding: 0;
}

ul .floating_items {
  display: flex;
  list-style-type: disc;
  padding: 0.3rem;
  justify-self: center;
  justify-content: space-around;
  justify-items: center;
}

li.floating_items {
  display: flex;
  list-style-type: disc;
  text-align: left;
  padding: 0.3rem;
  float: left;
  flex-wrap: wrap;
  flex: 1 0;
  align-content: center;
  justify-content: space-around;
}

.block_vert {
  flex-direction:column;
  width: 100% !important;
  height: 100% !important;
}
.block_vert_half_top {
  display: flex;
  justify-content: flex-start;
  height: 50%;
  width: 100%;
  //border: 2px dotted blue !important;
  //min-height: 200px!important;
}

.block_vert_half_bottom {
  display: flex;
  justify-content: flex-start;
  //border: 2px dotted green !important;
  height: 50%;
  width: 100%;
  //min-height: 200px!important; ;
}



.ul_horiz_lis {
  display: flex;
  list-style-type: disc;
  width: 100%;
  //border: 2px dotted red;
}

.ul_horiz_lis_left_aligned {
  display: inline-block;
  margin: 0 10px;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  //border: 2px dotted blue;
  //white-space: nowrap;
}


.ul_horiz_lis_right_aligned {
  justify-content: flex-end;
  text-align: right;
  width: 100%;
  display: inline-block;
  margin: 0 10px;
  flex-wrap: nowrap;
  //border: 2px dotted green;
  //white-space: nowrap;
}




.ul_horiz_lis_left_aligned_13 {
  display: inline-block;
  margin: 0 10px;
  justify-content: space-between;
  width: 33%;
  flex-wrap: nowrap;
  //border: 2px dotted blue;
}

.ul_horiz_lis_right_aligned_23 {
  justify-content: flex-end;
  text-align: right;
  width: 67%;
  display: inline-block;
  margin: 0 10px;
  flex-wrap: nowrap;
  //border: 2px dotted green;
}



.ul_horiz_lis_left_aligned_14 {
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
  width: 25%;
  flex-wrap: nowrap;
  white-space: nowrap;
  border: 2px dotted green;
}

.ul_horiz_lis_right_aligned_34 {
  justify-content: flex-end;
  text-align: left;
  width: 33%;
  //border: 2px dotted red;
  display: flex;
  margin: 0 10px;
  flex-wrap: nowrap;
  white-space: nowrap;
  //background-color: red !important;
}




.admin_page_container {
  background-color: $admin_background_color !important;
  //border: 4px dotted green !important;
}

.admin_access_rights {
  color: red;
}

.manager_access_rights {
  color: blue;
}

legend.blocks {
  color: #4d4d4d;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  width: auto;
  padding: 0 .6rem;
  border-bottom: none;
  z-index: 1;
  background: #EDF2FF;
  margin: 0 auto;
  margin-left: 0;
  line-height: 1.2rem;
}

fieldset.blocks {
  border: $border-separator-color;
  border: 0 dotted red !important;
  font-size: $font_size;
  color: $text-color;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  border-radius: 8px;
  -webkit-border-radius: 8px;
}


fieldset.bordered {
  border: $border-separator-color;
  font-size: $font_size;
  color: $text-color;

  padding: 0 0.4em 0.4em 0.4em;
  margin: 0 0 1.5em 0;

  -webkit-box-shadow: 5px 5px 5px 5px #000;
  box-shadow: 2px 2px 2px 2px #d7d7d7;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
}

legend.bordered {
  color: $text-color;
  font-size: $font_size_bigger;
  font-weight: bold;
  text-align: left;
  width: auto;
  padding: 0 0.6rem;
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
}


i {
  padding-right: 4px;
}

::placeholder {
  color: #8b8b8b !important;
}

.input-group-addon {
  max-width: 40px;
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: $font_size_bigger;
  font-weight: 400;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}

.btn-outline-secondary:hover {
  background-color: #dfdfdf;
  font-weight: bold;
  cursor: pointer !important;
}

.input-group-addon, .input-group-btn {
  white-space: nowrap;
  vertical-align: middle !important;
}

.form-row {
  display: flex;
  justify-items: flex-start;
  @if ($debug_mode) {
    border: 2px dotted yellowgreen;
  }
}

.col-form-label {
  display: flex;
  justify-self: flex-start;
  text-align: left;
  flex-wrap: nowrap !important;
  margin: 0px;
  margin-top: 2px;
  padding-left: 20px;
  padding-bottom: 2px;
}

// cypress testing debugging
.category_editor_form {
  //border:5px dotted red !important;
}

.file-input-class {
  //background-color: yellow !important;
  //border: 4px dotted navy !important;
}
.a_link_task_details {
  //border:5px dotted red !important;
}

.loading {
  align-self: center;
  align-items: center;
  background-image: url(/images/big_loading.gif);
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  margin: 2px;
  margin-right: 0.6rem;
  padding: 0;
}

.text-danger {
  color: red;
  text-align: left;
  @if ($debug_mode) {
    border: 2px dotted blue;
  }
}

.ctx-menu {
  min-width: 260px;
  padding: 7px;
  margin: 2px;
  /*background-color: #fff;*/
  cursor:pointer;
  color: white !important;
  background-color: #507fff !important;
}

.ctx-item.disabled,
.ctx-item.disabled:focus,
.ctx-item.disabled:hover {
  color: #818a91;
  cursor: none !important;
}

.ctx-item.disabled:focus,
.ctx-item.disabled:hover {
  text-decoration: none;
  cursor: none !important;
  background-color: transparent;
  background-image: none;
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}

.hidden_info {
  color:$background_color;
  background-color:$background_color;
}

.admin_hidden_info {
  color:$admin_background_color;
  background-color:$admin_background_color;
}


// COMMON TAGS BLOCK END


///  COMMON FLEX ELEMENTS BLOCK START

.nowrap_block {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  //border: 3px dotted green;
}

.half_area {
  display: flex;
  flex: 1;
}

.horiz_devider_label_half {
  display: flex;
  justify-self: flex-start;
  flex: 1;
  font-weight: normal;
  @if ($debug_mode) {
    border: 2px dotted green;
  }
  flex-wrap: nowrap;
  white-space: nowrap;
}

.horiz_devider_value_half {
  justify-self: flex-end;
  flex: 1;
  font-weight: normal;
  color: #403941;
  @if ($debug_mode) {
    border: 2px dotted red;
  }
}

.horiz_divider_left_13 {
  display: flex;
  justify-self: flex-start;
  flex: 1 1 30px;
  font-weight: normal;
  @if ($debug_mode) {
    border: 2px dotted green;
  }
  width: auto;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.horiz_divider_right_23 {
  justify-self: flex-end;
  flex: 3 1;
  font-weight: normal;
  color: #403941;
  margin: 0;
  padding: 0;
  @if ($debug_mode) {
    border: 2px dotted red;
  }
}

.horiz_devider_label_200_label {
  display: flex;
  justify-self: flex-start;
  flex: 0 0 200px;
  font-weight: normal;
  @if ($debug_mode) {
    border: 2px dotted green;
  }
  flex-wrap: nowrap;
  white-space: nowrap;
}

.horiz_devider_value_200_label {
  justify-self: flex-end;
  flex: 1 1;
  font-weight: normal;
  color: #403941;
  @if ($debug_mode) {
    border: 2px dotted red;
  }
  flex-wrap: nowrap;
  white-space: nowrap;
}

.row_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @if ($debug_mode) {
    border: 3px dotted olive;
  }
  width: 100%;
  margin: 0;
  padding: 0;
}

.column_content_centered {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  justify-items: flex-start;

  align-items: center;
  width: 100%;
  @if ($debug_mode) {
    border: 5px dotted lawngreen;
  }
  margin: 0;
  padding: 0;
}

.column_content_left_aligned {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  @if ($debug_mode) {
    border: 2px dotted maroon;
  }
  width: 100%;
  margin: 0;
  padding: 0;
}

.column_content_right_aligned {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  @if ($debug_mode) {
    border: 2px dotted maroon;
  }
  width: 100%;
  margin: 0;
  padding: 0;
}

.row_content_centered {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
  @if ($debug_mode) {
    border: 2px dotted red;
  }
  width: 100%;
  margin: 0;
  padding: 0;
}

.row_content_right_aligned {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  @if ($debug_mode) {
    border: 2px dotted green;
  }
  width: 100%;
  margin: 0;
  padding: 0;
}

.row_content_left_aligned {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  @if ($debug_mode) {
    border: 2px dotted green;
  }
  width: 100%;
  margin: 0;
  padding: 0;
}


.btn_right_aligned {
  display: flex;
  flex: 1 0 250px;
  padding-right: 10px;
  justify-self: flex-end;
}

.horiz_devider {
  display: flex;
  flex-direction: row;
  padding: 4px;
  @if ($debug_mode) {
    border: 2px dotted blue;
  }
  width: 100%;
}

.horiz_devider_label {
  display: flex;
  justify-self: flex-start;
  flex: 4;
  font-weight: normal;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.horiz_devider_value {
  justify-self: flex-end;
  font-weight: normal;
  color: #403941;
}

.label_control_row {
  display: flex;
  flex-direction: row;
  padding: 4px;
  margin: 10px;
}

.label_control_row_label {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  flex: 0 1 150px;
  font-weight: normal;
  padding: 5px;
  margin: 5px;
  flex-wrap: nowrap;
  @if ($debug_mode) {
    border: 2px dotted green;
  }
}

.label_control_row_control {
  justify-self: flex-start;
  align-items: center;
  font-weight: normal;
  flex: 1 1;
  color: #403941;
  padding: 5px;
  margin: 5px;
  @if ($debug_mode) {
    border: 2px dotted red;
  }
}

.content_with_right_button {
  display: flex;
  flex-direction: row;
}

.content_with_right_button_left_content {
  display: flex;
  flex: 1 1;
  @if ($debug_mode) {
    border: 2px dotted green;
  }
}

.content_with_right_button_right_button {
  display: flex;
  flex: 0 0 30px;
  @if ($debug_mode) {
    border: 2px dotted red;
  }
  align-items: center;
  justify-content: center;
}

.badge_item_row {
  flex: 1 0 2rem;
  //background-color: lightpink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}


.badge_item_row_cell {
  flex-wrap: wrap;
  flex: 1 0;
  align-content: center;
  justify-content: space-around;
  padding: 0;
  //border: 2px dotted red !important;
}

.space_between_wraping_cell {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

///  COMMON FLEX ELEMENTS BLOCK END


/* MODAL BLOCK START */

.modal-content {
  padding: 4px;
  margin: auto;
  height: 100%;
}

.modal-header {
  padding: 8px;
  margin: 2px;
  overflow: hidden;
}

.modal-body {
  padding: 2px;
  margin: 2px;
}

.modal-footer {
  border-top: $border-separator-color;
  padding: 2px;
  margin: 2px;
}

.modal-title {
  font-size: $font_size_big;
  font-weight: bold;
  color: $title-color;
}

/* MODAL BLOCK END */


// TABLE OF DATA BLOCK START

.table-responsive.table-wrapper-for-data-listing {
  @extend .simple_bordered_block;
}

.table-data-listing thead th {
  background: #333;
  font-size: $font_size;
  color: #fff;
  vertical-align: middle;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
  padding: 20px 8px 20px 8px;
  white-space: nowrap;
}

.table-borderless tbody + tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
  border: 0;
}

.table thead th {
  vertical-align: bottom;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

th {
  text-align: inherit;
}

// TABLE OF DATA BLOCK END


// EDITOR FORM BLOCK START
.date_picker_control {
  display: flex !important;
  justify-self: self-start !important;
}

.validation_error {
  color: red;
  text-align: left;
  margin: 5px;
  margin-left: 2px;
  padding: 2px;
}

.input_group_addon_validation_error {
  color: red;
  text-align: left;
  margin: 5px;
  margin-left: 45px;
  padding: 2px;
}

.editr--content {
  text-align: left !important;
}

// EDITOR FORM BLOCK END


// NAV/LINKS BLOCK START

a {
  text-decoration: none;
}

 .a_link_details {
   //color: red !important;
   //background-color: navy !important;
 }

 .a_link_category_with_tasks_list {
   //color: red !important;
 }

.a_link {
  cursor: pointer;
  color: $link_color;
  margin-right: 0.3rem;
}

.toggle_link {
  cursor: row-resize;
  color: $toggle_color;
  margin-right: 0.3rem;
}

.action_link {
  cursor: cell;
  color: $action_color;
  margin-right: 0.3rem;
}

.external_link {
  cursor: cell;
  color: $external_color;
  margin-right: 0.3rem;
}

.i_link {
  cursor: pointer;
  margin-right: 0.3rem;
}

.no_cursor {
  cursor: default;
}

#nav {
  padding: 10px;
  margin: 0;

  a {
    font-weight: normal;
    color: $link_color;

    &.router-link-exact-active {
      color: $link_color;
      font-weight: bold;
    }
  }

}

// NAV/LINKS BLOCK END


// TEXT STYLES BLOCK BEGIN

.description-text {
  text-align: left;
}

.pre-formatted, .pre-formatted > p {
  margin: 0;
  margin-bottom: 10px;
  padding: 2px;
  line-height: 1.6em;
  @if ($debug_mode) {
    border: 2px dotted blue;
  }
  text-align: left;
}

.text_wrapper > p {
  width: 450px;
  margin: 0;
  text-align: left;
  @if ($debug_mode) {
    border: 2px dotted red;
  }
}

p {
  text-align: left;
  line-height: 1.2rem;
}

// TEXT STYLES BLOCK END

// COMMON STYLES BLOCK BEGIN


.app_title {
  color: $title-color;
  font-size: $font_size_big;
}

.app_subtitle {
  color: $subtitle-color;
  /*display: flex;*/
  font-size: $font_size_bigger;
}

.top_split_border {
  border-top: $border-separator-color;
  width: 100%;
}

.bottom_split_border {
  border-bottom: $border-separator-color;
  width: 100%;
}

.top_split_border {
  border-top: $border-separator-color;
}

.small_size {
  font-size: $font_small_size;
}

// COMMON STYLES BLOCK END


// PAGE LAYOUT BLOCK BEGIN
.top_nav_menu {
  //background-color: greenyellow !important;
}
/*https://jsfiddle.net/MadLittleMods/LmYay/*/
.flexbox-parent {
  width: auto; /* lg and exlg devices */
  padding-left: 300px !important;
  padding-right: 300px !important;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
  //background-color: yellow;
}

.flexbox-item {
  padding: 0;
  margin: 0;
  //border: 2px dotted red !important;
}

.flexbox-item-grow {
  flex: 1;
}


.fill-area {
  display: flex;
  flex-direction: row;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */

}

.fill-area-content {
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto;
}

.page_content_container {
  @if ($debug_mode) {
    border: 3px dotted yellow;
  }
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-self: flex-start;
  justify-items: flex-start;
}

.raised_page_content_container {
  flex: 1 1 200px;
  padding: 20px;
  margin: auto;
  margin-top: 15%;
  //overflow-y: auto;
}

.page_content_header {
  @if ($debug_mode) {
    border: 0.2rem dotted green;
  }
  padding: 0px;
  margin: 0;
}


.page_content {
  flex: 1 1;
  justify-self: flex-start;
  justify-items: flex-start;
  align-self: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100% !important;
  height: 100% !important;
}

.page_content_footer {
  flex: 1;
  border: 0 dotted olive;
  padding: 0px;
  margin: 0;
  background-color: $background_color;
}


.content_container {
  width: 100%;
  padding: 4px;
}


.icon_left_aligned {
  display: flex;
  justify-self: flex-start;
  flex: 0 0 40px;
  //border: 2px dotted yellow !important;
}

.icon_right_aligned {
  display: flex;
  justify-self: flex-end;
  flex: 0 0 40px;
  border: 2px dotted red !important;
}

.icon_centered_aligned {
  display: flex;
  justify-self: center;
  flex: 0 0 40px;
}

.simple_bordered_block {
  border: $item-border;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 6px;
  background-color: rgb(252, 255, 252);
  padding: 6px;

}
// PAGE LAYOUT BLOCK END


// TASKS BLOCK START
.task_item_container {
  flex: 1;
  flex-direction: column;
  display: flex;
  @if ($debug_mode) {
    border: 0.5rem solid red;
  }
  @extend .simple_bordered_block;
}

.task_title {
  padding: 6px 6px 6px 6px;
  margin: 0;
  background: #9cbb74 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
  justify-content: center;
  align-items: center;
  width: 100%;
}

.task_status_icon_P {
}

.task_status_icon_A {
}

.task_status_icon_K {
}

.high_priority {
  color: red;
  background-color: transparent;
  padding: 2px;
  margin: 2px;
}

.primary_selected_block {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: #007bff;
  font-size: $font_size;
}

.small_task_image {
  max-width: 100px;
  height: auto;
  padding: 1px;
  border: $border-separator-color;
}

.task_image {
  max-width: 230px;
  height: auto;
  padding: 1px;
  border: $border-separator-color;
}

.polling_notification_image {
  max-width: 310px;
  height: auto;
  padding: 1px;
  //border: 3px dotted red;
  border: $border-separator-color;
}

.img-preview-wrapper {
  text-align: center !important;
  border: $border-separator-color;
}

.softly_deleted {
  color: red;
}
// TASKS BLOCK END


// EVENTS BLOCK START
.event_item_container {
  flex: 1;
  flex-direction: column;
  display: flex;
  @if ($debug_mode) {
    border: 0.1rem solid red;
  }
  @extend .simple_bordered_block;
}

.event_title {
  padding: 6px 6px 6px 6px;
  margin: 0;
  background: #dcdc7f linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
  justify-content: center;
  align-items: center;
}

.member_of_task {
  background-color: white !important;
  color: #28a745 !important;
}

//
//.table-wrapper-for-data-listing {
//  background-color: red !important;
//}
//

.view_event_details {
  //background-color: green !important;
}

// EVENTS BLOCK END

// WEATHER BLOCK START
.weather_today_container {
  flex: 1;
  flex-direction: column;
  display: flex;
  @if ($debug_mode) {
    border: 0.5rem solid red;
  }
  @extend .simple_bordered_block;
}
// WEATHER BLOCK END


// DIFFERENT DEVICES BLOCK START

/* Big Media */

.block_2columns_md {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  @if ($debug_mode) {
    border: 2px dotted yellow;
  }
  width: 100%;
}

.block_2columns_sm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4px;
  @if ($debug_mode) {
    border: 3px solid red;
  }
  width: 100%;

}

/* Large ≥992px  ipad pro  */
@media only screen and (min-width: 1280px) { /* Extra large ≥ 1200px  */
  .img_full_width_wrapper {
    max-width: 1080px;
    height: auto;
    padding: 4px;
    margin: 0;
  }

  .category_image {
    max-width: 1030px;
    height: auto;
    padding: 1px;
    border: $border-separator-color;
  }

  .flexbox-parent {
    padding-left: 280px !important;
    padding-right: 280px !important;
  }

  .test-device {
    background: url(/images/test-device/exlg.png) center center no-repeat;
    border: 1px dotted #2D27B6;
    margin: 1px;
    min-width: 48px;
    height: 32px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1280px) { /*lg*/
  .img_full_width_wrapper {
    max-width: 820px;
    height: auto;
    padding: 4px;
    margin: 0;
  }

  .category_image {
    max-width: 680px;
    height: auto;
    padding: 1px;
    border: $border-separator-color;
  }

  .flexbox-parent {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }

  .test-device {
    background: url(/images/test-device/lg.png) center center no-repeat;
    border: 1px dotted #2D27B6;
    margin: 1px;
    min-width: 32px;
    height: 32px;
  }
}


/* Medium ≥768px  ipad or ipad mini */
@media only screen and (min-width: 768px) and (max-width: 991px) { /* Ipad Pro md */
  .polling_notification_image {
    max-width: 230px;
    height: auto;
    padding: 1px;
    //border: 3px dotted yellow;
    border: $border-separator-color;
  }

  .img_full_width_wrapper {
    max-width: 600px;
    height: auto;
    padding: 4px;
    margin: 0;
  }

  .category_image {
    max-width: 580px;
    height: auto;
    padding: 1px;
    border: $border-separator-color;
  }

  .v--modal {
    top: 25px !important;
    left: 25px !important;
    width: 720px !important;
    height: 960px !important;
  }

  .flexbox-parent {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .page_content_container {
    padding: 12px;
  }
  .test-device {
    background: url(/images/test-device/md.png) center center no-repeat;
    border: 1px dotted #2D27B6;
    margin: 1px;
    min-width: 32px;
    height: 32px;
  }

}

/* Small ≥ 576px Nexus7  - sm*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .polling_notification_image {
    max-width: 180px;
    height: auto;
    padding: 1px;
    //border: 3px dotted yellow;
    border: $border-separator-color;
  }


  .img_full_width_wrapper {
    max-width: 500px;
    height: auto;
    padding: 4px;
    margin: 0;
  }
  .category_image {
    max-width: 500px;
    height: auto;
    padding: 1px;
    border: $border-separator-color;
  }

  .v--modal {
    top: 20px !important;
    left: 20px !important;
    width: 560px !important;
    height: 920px !important;
  }
  .flexbox-parent {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .page_content_container {
    padding: 8px;
  }
  .block_2columns_md { /* sm */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    @if ($debug_mode) {
      border: 3px solid greenyellow;
    }
    width: 100%;
  }

  .test-device { /* xs600.png */
    background: url(/images/test-device/sm.png) center center no-repeat;
    border: 1px dotted #2D27B6;
    margin: 1px;
    min-width: 64px;
    height: 32px;
  }
}

/*  Extra small < 576px	iphon5/SE  */
@media only screen and (max-width: 575px) {
  .task_image {
    max-width: 100px;
    height: auto;
    padding: 1px;
    border: $border-separator-color;
  }

  .polling_notification_image {
    max-width: 100px;
    height: auto;
    padding: 1px;
    border: $border-separator-color;
    //border: 3px dotted blue;
  }

  .category_image {
    max-width: 280px;
    height: auto;
    padding: 1px;
    border: $border-separator-color;
  }

  .img_full_width_wrapper {
    max-width: 260px;
    height: auto;
    padding: 4px;
    margin: 0;
  }
  .v--modal {
    top: 10px !important;
    left: 10px !important;
    width: 300px !important;
    height: 540px !important;
  }

  .flexbox-parent {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  .page_content_container {
    padding: 2px;
    margin: auto;
  }

  .block_2columns_md { /* xs - iphon5/SE */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    @if ($debug_mode) {
      border: 2px solid blue;
    }
    width: 100%;
  }
  .test-device {
    background: url(/images/test-device/xs.png) center center no-repeat;
    border: 1px dotted #2D27B6;
    margin: 1px;
    min-width: 64px;
    height: 32px;
  }
}


// DIFFERENT DEVICES BLOCK END


///  CARD ELEMENTS BLOCK BEGIN

.admin_page_container > .card {
  color: $text-color;
  background-color: $admin_background_color !important;
}

.admin_footer {
  color: $text-color;
  background-color: $admin_background_color !important;
}

.card {
  color: $text-color;
  //background-color: red !important;
  //background-color: $background_color;
}

.card-header {
  color: $subtitle-color;
  //background-color: $background_color;
}

.card-body {
  color: $text-color;
  //background-color: $background_color;
}

.card-footer {
  color: $text-color;
  //background-color: $background_color;
}

///  CARD ELEMENTS BLOCK END


///  CONTROL ELEMENTS BLOCK BEGIN
input, select, textarea {
  font-size: $font_size;
}

.v-select ul {
  color: $text-color;
  background-color: $background_color;
}

.v-select {
  margin: 0;
  padding: 0;
}


.form-control .admin_control_input .mx-datepicker {
  width: 100% !important;
  //background-color: yellow !important;
  line-height: 1.2 !important;
}

.mx-datepicker .mx-input-wrapper .mx-input .vs__search .vs__selected .vs__selected-options .v-select .vs--open .vs--single .vs--searchable {
  background-color: $admin_input_color !important;
  border: 1px gray;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-style: ridge;
}

.admin_control_input {
  background-color: $admin_input_color !important;
  border: 1px gray;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-style: ridge;
  line-height: 1.2 !important;
}

input:read-only {
  border-style: none;
  background-color: #dfe3ea !important;
}

.v-select input[type=search], .v-select input[type=search]:focus {
  line-height: 1.7;
}

.input-group-addon {
  margin-right: 5px;
}


ul {
  list-style-type: none;
  padding: 0.1rem;
}

li {
  text-align: left;
  padding: 0.1rem;
  display: block;
  float: none;
}

li.one_line_items {
  padding: 0.1rem;
  display: inline-block;
}

///  CONTROL ELEMENTS BLOCK END


///  V_SELECT CONTROL ELEMENTS BLOCK END


.tabs-component {
  margin: 4em 0;
}

.tabs-component-tabs {
  border: solid 1px #ddd;
  border-radius: 6px;
  margin-bottom: 5px;
}

@media (min-width: 700px) {
  .tabs-component-tabs {
    border: 0;
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1px;
  }
}

.tabs-component-tab {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0;
  list-style: none;
}

.tabs-component-tab:not(:last-child) {
  border-bottom: dotted 1px #ddd;
}

.tabs-component-tab:hover {
  color: #666;
}

.tabs-component-tab.is-active {
  color: #000;
}

.tabs-component-tab.is-disabled * {
  color: #cdcdcd;
  cursor: not-allowed !important;
}

@media (min-width: 700px) {
  .tabs-component-tab {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px 3px 0 0;
    margin-right: .5em;
    transform: translateY(2px);
    transition: transform .3s ease;
  }

  .tabs-component-tab.is-active {
    border-bottom: solid 1px #fff;
    z-index: 200;
    transform: translateY(0);
  }
}

.tabs-component-tab-a {
  align-items: center;
  color: inherit;
  display: flex;
  padding: .75em 1em;
  text-decoration: none;
}

.tabs-component-panels {
  padding: 4em 0;
}

@media (min-width: 700px) {
  .tabs-component-panels {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    padding: 4em 2em;
  }
}


/* COMMON BACKEND BLOCK END */
.backend_listing_container {
  flex: 1;
  flex-direction: column;
  display: flex;
  @if ($debug_mode) {
    border: 1px solid red;
  }
  @if (not $debug_mode) {
    border: $border-separator-color;
  }
  margin: 5px !important;
  padding: 10px !important;
}

.backend_listing_title {
  flex: 0 1 50px;
  @if ($debug_mode) {
    background-color: #bbdfff;
  }
  margin: 0 !important;
  padding-bottom: 0.3rem !important;
  padding-top: 1rem !important;
}

.backend_listing_footer {
  flex: 0 1 50px;
  @if ($debug_mode) {
    background-color: olive;
  }
  margin: 0 !important;
  padding-bottom: 0.3rem !important;
  padding-top: 1rem !important;
}


.backend_listing_filters {
  width: 100% !important;
  @if ($debug_mode) {
    border: 0.1rem solid blue;
  }
  margin: 5px;
  padding: 5px;
}

.backend_listing_content {
  @if ($debug_mode) {
    border: 0.1rem solid red;
  }
  flex: 1 1 5rem;
  flex-direction: row;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: flex-start;
}

/* COMMON BACKEND BLOCK END */


/* FILTERS BLOCK START */

.filter_box_radio {
  margin-top: 6px;
  margin-right: 0.1rem;
}

.filter_box_radio_label {
  margin-left: 0.1rem;
  padding: 0;
  color: $text-color !important
}

.filter_box_radio_cell {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.6rem;
}

.filter_box_items_row {
  color: $text_color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.filter_box_items_row_left_aligned {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}


/* FILTERS BLOCK END */
