<template>
    <article class="page_content_container">
        <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('user')" :header_title="getHeaderTitle">
        </editor-header>

        <div class="page_content" v-show="is_page_loaded">

            <vue-tabs
                    active-tab-color="#224A37"
                    active-text-color="white"
                    v-model="active_tab"
            >

                <v-tab title="Details">

                    <ValidationObserver
                            ref="userEditorObserverForm"
                            v-slot="{handleSubmit}"
                    >
                        <form class="admin_page_container user_editor_form" @submit.prevent="handleSubmit(onSubmit)">

                            <div class="card">
                                <div class="card-body card-block">


                                    <dl class="block_2columns_md m-3"> <!-- id -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="id">Id:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="userRow.id"
                                                    name="id"
                                                    id="id"
                                                    class="form-control admin_control_input text-right"
                                                    autocomplete=off
                                                    readonly="readonly"
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> id -->


                                    <dl class="block_2columns_md m-3"> <!-- name -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="name">Name:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="userRow.name"
                                                    name="name"
                                                    id="name"
                                                    class="form-control admin_control_input"
                                                    readonly
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> name -->


                                    <dl class="block_2columns_md m-3"> <!-- email -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="email">Email:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="userRow.email"
                                                    name="email"
                                                    id="email"
                                                    class="form-control admin_control_input"
                                                    readonly
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> email -->

                                    <dl class="block_2columns_md m-3"> <!-- Generate Password -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label">Generate Password:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <button type="button" class="btn btn-success btn-sm m-3 ml-4 mr-4" @click.prevent="generatePassword()">
                                                <i :class="'i_link '+getHeaderIcon('password')"></i>Generate Password
                                            </button>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> Generate Password -->


                                    <dl class="block_2columns_md m-3"> <!-- status -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="status">Status:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="status"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <v-select
                                                        v-model="selection_status"
                                                        label="label"
                                                        :options="userStatusLabels"
                                                        id="status"
                                                        name="status"
                                                        class="form-control admin_control_input editable_field"
                                                        placeholder="Select option"
                                                ></v-select>

                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> status -->


                                    <dl class="block_2columns_md m-3"> <!-- avatar -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="avatar">Avatar:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23 column_content_left_aligned">
                                            <img
                                                    v-if="userHasAvatar(userRow)"
                                                    :src="userRow.filenameData.avatar_url"
                                                    :title="userRow.first_name+' '+userRow.last_name" class="m-2"
                                                    style="max-width: 256px; height: auto"
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> avatar -->


                                    <dl class="block_2columns_md m-3"> <!-- first_name -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="first_name">First name:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="first_name"
                                                    :rules="{ required : true, max:50  }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="userRow.first_name"
                                                        name="first_name"
                                                        id="first_name"
                                                        class="form-control admin_control_input"
                                                        placeholder="Enter first_name"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> first_email -->


                                    <dl class="block_2columns_md m-3"> <!-- last_name -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="last_name">Last name:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="last_name"
                                                    :rules="{ required : true, max:50  }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="userRow.last_name"
                                                        name="last_name"
                                                        id="last_name"
                                                        class="form-control admin_control_input"
                                                        placeholder="Enter last_name"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> last_name -->


                                    <dl class="block_2columns_md m-3"> <!-- phone -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="phone">Phone:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="phone"
                                                    :rules="{ required : true, max:50  }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="userRow.phone"
                                                        name="phone"
                                                        id="phone"
                                                        class="form-control admin_control_input"
                                                        placeholder="Enter phone"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> phone -->


                                    <dl class="block_2columns_md m-3"> <!-- website -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="website">Website:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="website"
                                                    :rules="{ required : true, max:50  }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="userRow.website"
                                                        name="website"
                                                        id="website"
                                                        class="form-control admin_control_input"
                                                        placeholder="Enter website"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> website -->


                                    <dl class="block_2columns_md m-3"> <!-- contract_start -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="contract_start">Contract start:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="contract_start"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <date-picker
                                                        :class="{ 'form-control':true, 'admin_control_input':true, 'editable_field':true, 'input':true, 'date_picker_control' : true }"
                                                        :first-day-of-week="1"
                                                        :format="'DD MMM YYYY'"
                                                        v-model="userRow.contract_start_formatted"
                                                        :lang="'en'"
                                                        id="contract_start"
                                                        type="date"
                                                        :placeholder="'Select date start'"
                                                ></date-picker>
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> contract_start -->

                                    <dl class="block_2columns_md m-3"> <!-- contract_end -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="contract_end">Contract end:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="contract_end"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <date-picker
                                                        :class="{ 'form-control':true, 'admin_control_input':true, 'editable_field':true, 'input':true, 'date_picker_control' : true }"
                                                        :first-day-of-week="1"
                                                        :format="'DD MMM YYYY'"
                                                        v-model="userRow.contract_end_formatted"
                                                        :lang="'en'"
                                                        id="contract_end"
                                                        type="date"
                                                        :placeholder="'Select date start'"
                                                ></date-picker>
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> contract_end -->


                                    <dl class="block_2columns_md m-3"> <!-- created_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="created_at">Created at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="created_at_label"
                                                    name="created_at"
                                                    id="created_at"
                                                    class="form-control admin_control_input"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> created_at -->


                                    <dl class="block_2columns_md m-3" v-if="updated_at_label"> <!-- updated_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="updated_at">Updated at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="updated_at_label"
                                                    name="updated_at"
                                                    id="updated_at"
                                                    class="form-control admin_control_input"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> updated_at -->


                                    <dl class="block_2columns_md m-3" v-if="last_logged_label"> <!-- last_logged -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="last_logged">Last logged:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="last_logged_label"
                                                    name="last_logged"
                                                    id="last_logged"
                                                    class="form-control admin_control_input"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> last_logged -->


                                </div> <!-- <div class="card-body card-block"> -->

                                <section class="card-footer admin_footer row_content_right_aligned">
                                    <editor-buttons
                                            :is_admin="true"
                                            :submit_label="submit_label"
                                            :cancel_label="'Cancel'"
                                            :cancel_link="'adminUsersListing'"
                                            :is_page_updating="is_page_updating"
                                            parent_component_key="user"
                                    ></editor-buttons>
                                </section>

                            </div> <!-- <div class="card"> -->

                        </form>

                    </ValidationObserver>
                </v-tab> <!-- <v-tab title="Details"> -->


                <v-tab title="Groups Access">

                    <fieldset class="blocks">
                        <legend class="blocks p-3 admin_content_text">
                            <i :class="getHeaderIcon('upload')"></i>You can set access to different groups
                        </legend>

                        <listing-header :show_loading_image=!is_page_loaded
                                        :itemsList="relatedUsersGroups"
                                        :rows_count="null"

                                        :header_icon="getHeaderIcon('has_access')"
                                        :item_title="'Groups Access'"
                                        parent_component_key="users_groups"
                                        :right_icon="'fa fa-refresh'"
                                        :show_no_data_found_label="false"
                        >
                        </listing-header>

                        <div class="table-responsive table-wrapper-for-data-listing p-2 admin_content_text" v-show="relatedUsersGroups.length && is_page_loaded">
                            <table class="table">
                                <tbody>
                                <tr v-for="nextGroupsLabel in relatedUsersGroups" :key="nextGroupsLabel.id">
                                    <td class="text-left m-3 p-3 pl-5">
                                        <input
                                                class="editable_field custom-control-input"
                                                type="checkbox"
                                                value="1"
                                                style="width: 50px;padding-left: 60px;"
                                                :id="'user_group_access_id_'+nextGroupsLabel.id"
                                                v-model="nextGroupsLabel.selected"
                                                :checked="nextGroupsLabel.selected"
                                        >
                                        <label class="custom-control-label"
                                               :for="'user_group_access_id_'+nextGroupsLabel.id">
                                            {{nextGroupsLabel.name}}
                                            <small v-if="nextGroupsLabel.description">
                                                (<span class="pre-formatted" v-html="nextGroupsLabel.description"></span>)
                                            </small>
                                        </label>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </fieldset>

                    <section class="card-footer row_content_right_aligned">
                        <button type="reset" class="btn btn-danger btn-sm m-3" @click.prevent="$router.push('adminUsersListing')">
                            <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                        </button>
                        <button type="button" class="btn btn-success btn-sm m-3 ml-4 mr-4" @click.prevent="saveUserGroupsAccess()">
                            <i :class="'i_link '+getHeaderIcon('save')"></i>Save Groups Access
                        </button>
                    </section>

                </v-tab> <!-- <v-tab title="Groups Access"> -->


            </vue-tabs>

        </div> <!-- page_content -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import Vue from 'vue'
    import {settingCredentialsConfig, settingsJsMomentDatetimeFormat, settingsUserStatusLabels} from '@/app.settings.js'

    Vue.component('editor-header', require('../../../../src/components/EditorHeader.vue').default)
    Vue.component('editor-buttons', require('../../../../src/components/EditorButtons.vue').default)

    // import Avatar from 'vue-avatar'

    import wysiwyg from "vue-wysiwyg"
    import 'vue-wysiwyg/dist/vueWysiwyg.css'       //
    Vue.use(wysiwyg, {
        maxHeight: "300px",
    })

    import Tabs from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(Tabs)
    import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(VueTabs)
    Vue.use(VTab)
    import 'vue-nav-tabs/themes/vue-tabs.css'

    import DatePicker from 'vue2-datepicker'
    import 'vue2-datepicker/index.css'
    import moment from 'moment'
    // import moment from 'moment-timezone'

    import {ValidationObserver, ValidationProvider, extend} from 'vee-validate'
    import * as rules from 'vee-validate/dist/rules'

    Object.keys(rules).forEach(rule => {
        extend(rule, rules[rule])
    })
    import {localize} from 'vee-validate'

    localize({
        en: {
            messages: {
                required: (field) => field + ' is required',
                min: 'Must have no less than {length} characters',
                max: 'Must have no more than {length} characters',
                email: 'Invalid email format',
                confirmed: 'Password and password confirmation must be equal',
            }
        }
    })

    import vSelect from 'vue-select'

    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    // import {retrieveAppDictionaries} from "@/commonFuncs"

    const VueUploadComponent = require('vue-upload-component')
    Vue.component('file-upload', VueUploadComponent)

    export default {
        name: 'userEditorPage',

        mixins: [appMixin],

        components: {
            VueTabs,
            VTab,
            ValidationObserver,
            ValidationProvider,
            DatePicker,
            // 'avatar': Avatar
        },

        data() {
            return {
                user_id: null,
                userRow: {
                    contract_start_formatted: null,
                    contract_end_formatted: null,
                },
                active_tab: '',
                // active_tab: 'Access',
                selection_status: null,
                userStatusLabels: settingsUserStatusLabels,

                relatedUsersGroups: [],
                is_page_loaded: false,
                is_page_updating: false,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                demo_version: process.env.VUE_APP_DEMO_VERSION,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        created() {
            if (this.$route.params.id == 'new') {
                this.user_id = 'new'
                this.is_page_loaded = true
            } else {
                this.user_id = this.$route.params.id
            }

        },  //  created() {

        mounted() {
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
            this.setAppTitle('User', 'User editor', bus)
            this.loadUser()

            // retrieveAppDictionaries('user_details', [/*'groupsLabels'*/])
            // bus.$on('appDictionariesRetrieved', (data) => {
            //     if (data.request_key === 'user_details') {
            //         // this.groupsLabels = data.groupsLabels
            //     }
            // })
            //
            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key === 'users_groups') {
                    this.loadUserGroupsAccess()
                }
            })
        }
        , // mounted() {

        beforeDestroy() { // just before a component is destroyed.
            bus.$off('appDictionariesRetrieved') // stop listening.
            bus.$off('listingHeaderRightButtonClickedEvent') // stop listening.
        }
        ,

        methods: {
            loadUser() {
                this.is_page_loaded = false
                let credentials = this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/users/' + this.user_id, credentials)
                    .then(({data}) => {
                        this.userRow = data.users[0]

                        this.userStatusLabels.map((nextStatusLabel/*, index*/) => {
                            if (nextStatusLabel.code === this.userRow.status) {
                                this.selection_status = {code: this.userRow.status, label: nextStatusLabel.label}
                            }
                        })

                        this.userRow.contract_start_formatted = this.formatUserDateStart(this.userRow.contract_start)
                        this.userRow.contract_end_formatted = this.formatUserDateStart(this.userRow.contract_end)
                        /*
                        this.usersLabels.map((nextUserLabel/!*, index*!/) => {
                            if (nextUserLabel.code === this.userRow.parent_id) {
                                this.selection_parent_id = {code: this.userRow.parent_id, label: nextUserLabel.label}
                            }
                        })
*/

                        this.loadUserGroupsAccess()
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        if (error.response.status == 404) {
                            this.showPopupMessage("Users editor", "User # " + this.user_id + " not found !", 'warn')
                            this.$router.push({path: '/admin/users'})
                        }
                        console.error(error)
                        this.showPopupMessage('User\'s Editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadUser() {

            loadUserGroupsAccess() {
                let credentials = this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/users/' + this.user_id + '/user_groups', credentials)
                    .then(({data}) => {
                        this.relatedUsersGroups = data.groups
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('User\'s Editor : Groups Access', error.response.data.message, 'warn')
                    })
            },

            saveUserGroupsAccess() {
                let userGroups = []
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                this.relatedUsersGroups.map((nextRelatedUserGroup/*, index*/) => {
                    if (nextRelatedUserGroup.selected) {
                        userGroups[userGroups.length] = nextRelatedUserGroup.id
                    }
                })

                axios.post(this.apiUrl + '/adminarea/users/' + this.user_id + '/user_groups', {
                    userGroups: userGroups,
                }, credentials).then((/*response*/) => {
                    this.showPopupMessage("User Access Groups", 'User Access Groups were successfully saved !', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage("User Access Groups", error.response.data.message, 'warn')
                })

            }, // saveUserGroupsAccess


            onSubmit() {

                this.$refs.userEditorObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('User\'s Editor', 'Validations Failed !', 'warn')
                        return
                    }

                    let user = this.getClone(this.userRow)
                    let credentials = this.getClone(this.credentialsConfig)
                    credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                    // this.is_page_updating = true
                    if (this.selection_parent_id != null) {
                        user.parent_id = this.selection_parent_id.code
                    }

                    user.contract_start = this.dateToMySqlFormat(user.contract_start_formatted)
                    user.contract_end = this.dateToMySqlFormat(user.contract_end_formatted)

                    // console.log('user.contract_end::')
                    // console.log(user.contract_end)

                    // console.log('++ uservar::')
                    // console.log(user)

                    axios.put(this.apiUrl + '/adminarea/users/' + this.user_id, user, credentials).then(({data}) => {
                        this.userRow = data.users[0]
                        this.showPopupMessage('User\'s Editor', 'User updated successfully !', 'success')
                        this.$router.push({path: '/admin/users'})
                    }).catch((error) => {
                        this.$refs.userEditorObserverForm.setErrors(error.response.data.errors)
                        console.error(error)
                        this.showPopupMessage('User\'s Editor', 'Error updating user !', 'warn')
                    })

                })
            },  // onSubmit


            formatUserDateStart: function (date_value) {
                if (typeof date_value != 'undefined') {
                    return moment(date_value).toDate()
                }
                return null
            }
            ,


            generatePassword() {
                console.log('generatePassword::')
                let credentials = this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                this.is_page_updating = true
                axios.put(this.apiUrl + '/adminarea/users/' + this.user_id + '/generate-password', {}, credentials).then((/*{ data}*/) => {
                    this.showPopupMessage('User password generation', 'User\'s password was generated successfully !', 'success')
                }).catch((error) => {
                    this.$refs.userEditorObserverForm.setErrors(error.response.data.errors)
                    console.error(error)
                    this.is_page_updating = false
                    this.showPopupMessage('User password generation', 'Error generating user\'s password !', 'warn')
                })
            }, // generatePassword() {

        }, // methods: {

        computed: {
            submit_label: function () {
                return ('Update')
            },

            getHeaderTitle: function () {
                return 'Edit user'
            }
            ,

            created_at_label: function () {
                return this.momentDatetime(this.userRow.created_at, this.jsMomentDatetimeFormat)
            }
            ,

            updated_at_label: function () {
                return this.momentDatetime(this.userRow.updated_at, this.jsMomentDatetimeFormat)
            }
            ,

            last_logged_label: function () {
                return this.momentDatetime(this.userRow.last_logged, this.jsMomentDatetimeFormat)
            }
            ,

            status_label: function () {
                return this.getDictionaryLabel(this.userRow.status, this.userStatusLabels)
            }
            ,

            currentLoggedUserToken() {
                return this.$store.getters.token
            }
            ,

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            }
            ,

        } //computed: {

    }
</script>
