<template>
    <article class="page_content_container">
<!--        order_by::{{ order_by}}<br>-->
<!--        order_direction::{{ order_direction}}<br>-->
<!--        users_total_count::{{ users_total_count}}<br>-->
<!--        users_per_page::{{ users_per_page}}<br>-->
<!--        users.length::{{ users.length}}<br>-->
<!--        users::{{ users}}<br>-->
        <listing-header :show_loading_image=!is_page_loaded
                        :current_page=current_page
                        :itemsList="users"
                        :rows_count="users_total_count"
                        :header_icon="getHeaderIcon('user')"
                        :header_title="'Users'"
                        :right_add_button_link="''"
                        :item_title="users.length| pluralize(['user', 'users'])"
                        :right_add_button_link_title="''"
                        parent_component_key="user"
                        :right_icon="'fa fa-refresh'"
        >
        </listing-header>

        <fieldset class="bordered text-muted p-0 m-1">
            <legend class="bordered">Filters</legend>

            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_name">
                        By name
                    </label>
                </dt>

                <dd class="horiz_divider_right_23">
                    <input style="flex: 1 0" name="filter_name" id="filter_name" class="form-control admin_control_input" type="text" value=""
                           v-model="filter_name"
                           v-on:change="usersFilterApplied()">
                </dd>
            </dl>

            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_name">
                        By access group
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <div class="filter_box_items_row">
                        <div class="filter_box_radio_cell" >
                            <input :name="filter_group" :id="'filter_group_'" type="radio" :value="''" v-model="filter_group" class="filter_box_radio">
                            <label class="filter_box_radio_label" :for="'filter_group_'">
                                All
                            </label>
                        </div>

                        <div class="filter_box_radio_cell" v-for="(nextGroupsLabel) in groupsLabels" :key="nextGroupsLabel.code">
                            <input :name="filter_group" :id="'filter_group_'+nextGroupsLabel.code" type="radio" :value="nextGroupsLabel.code" v-model="filter_group" class="filter_box_radio">
                            <label class="filter_box_radio_label" :for="'filter_group_'+nextGroupsLabel.code">
                                {{ nextGroupsLabel.label}}
                            </label>
                        </div>
                    </div>
                </dd>
            </dl>


            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_status">
                        By status
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <v-select
                            v-model="selection_filter_status"
                            label="label"
                            :options="userStatusLabels"
                            id="filter_status"
                            name="filter_status"
                            class="form-control admin_control_input editable_field"
                            placeholder="Select all"
                    ></v-select>
                </dd>
            </dl>


            <dl class="m-0 p-3" style="display: flex;justify-content: flex-start">
                <dt class="">
                    <a class="btn btn-outline-secondary" @click.prevent="loadUsers()">
                        <i :class="'i_link '+getHeaderIcon('filter')"></i>Search
                    </a>
                </dt>
            </dl>
        </fieldset>

        <div class="table-responsive table-wrapper-for-data-listing " v-show="users.length && is_page_loaded">
            <table class="table table-striped table-data-listing">

                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Email</th>
                    <th>Contract start</th>
                    <th>Contract end</th>
                    <th>Groups</th>
                    <th>Created At</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="(nextUser,index) in users" :key="nextUser.id">
                    <td class="text-right">
                        <router-link :to="{name: 'adminUserEditor', params: {id: nextUser.id}}" :class="'p-1 a_edit_item_'+nextUser.id">
                            {{ nextUser.id }}
                        </router-link>
                    </td>
                    <td class="text-left nowrap_block">
                        <avatar
                                v-if="userHasAvatar(nextUser)"
                                :username="nextUser.first_name+' '+nextUser.last_name"
                                :src="nextUser.filenameData.avatar_url"
                                :size="24"
                                :rounded="true">
                        </avatar>
                        {{ nextUser.name }}
                    </td>

                    <td class="text-left">
                        {{ getDictionaryLabel(nextUser.status, userStatusLabels) }}
                    </td>

                    <td class="text-left">
                        {{ nextUser.email }}
                    </td>

                    <td class="text-left">
                        {{ momentDatetime(nextUser.contract_start, jsMomentDatetimeFormat) }}
                    </td>

                    <td class="text-left">
                        {{ momentDatetime(nextUser.contract_end, jsMomentDatetimeFormat) }}
                    </td>

                    <td class="text-left">
                        {{ nextUser.user_groups_label }}
                    </td>
                    <td class="text-left">
                        {{ momentDatetime(nextUser.created_at, jsMomentDatetimeFormat) }}
                    </td>

                    <td>
                        <router-link :to="{name: 'adminUserEditor', params: {id: nextUser.id}}" :class="'p-1 a_edit_item_'+nextUser.id">
                            <i :class="'i_link '+getHeaderIcon('edit')" title="Edit user"></i>
                        </router-link>
                        <a v-on:click="removeUser(nextUser.id, nextUser.name, index)" :class="'p-1 a_delete_item_'+nextUser.id">
                            <i :class="'i_link '+getHeaderIcon('remove')" title="Remove user"></i>
                        </a>
                    </td>

                </tr>
                </tbody>

            </table>
        </div>

        <section class="user_pagination_container" v-show="users.length && is_page_loaded">
            <listing-pagination
                    :current="current_page"
                    :total="users_total_count"
                    :items_per_page="users_per_page"
                    :show_next_prior_buttons=false
                    @paginationPageChangedEvent="paginationPageClicked"
                    :show_page_number_label="true"
                    :show_rows_label="true"
                    :item_title="users_total_count | pluralize(['user', 'users'])"
            >
            </listing-pagination>
        </section>


        <fieldset class="blocks" v-if="demo_version && 0">
            <legend class="blocks"><i :class="getHeaderIcon('demo-info')"></i>Demo info&nbsp;</legend>

            <div class="m-1 p-1 pre-formatted description-text" style="overflow-y: auto; max-height: 200px;">
                <ol class="m-1 p-1">
                    <li>Listing of users with related tasks</li>
                    <li>Logged admin can add / remove users in the app to any user by clicking on icon in left bottom corner of any user</li>
                </ol>
            </div>

        </fieldset>


    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'

    import {retrieveAppDictionaries} from "@/commonFuncs"

    import {settingsJsMomentDatetimeFormat, settingCredentialsConfig, settingsUserStatusLabels} from '@/app.settings.js'

    import Vue from 'vue'
    import Avatar from 'vue-avatar'

    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    Vue.component('listing-header', require('../../../../src/components/ListingHeader.vue').default)
    Vue.component('listing-pagination', require('../../../../src/components/ListingPagination.vue').default)

    export default {
        name: 'usersListPage',

        mixins: [appMixin],

        data() {
            return {
                users: [],
                filter_name: '',
                filter_group: false,
                selection_filter_status: null,
                groupsLabels :'',
                current_page: 1,

                additive_action: null,
                additive_action_id: null,

                order_by: 'name',
                order_direction: 'desc',
                users_total_count: 0,
                is_page_loaded: false,
                users_per_page: 20,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                userStatusLabels: settingsUserStatusLabels,
                credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL,
                demo_version: process.env.VUE_APP_DEMO_VERSION

            }
        }, // data () {

        components: {
            'avatar': Avatar
        },

        created() {
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
            if (typeof this.$route.params.additive_action != "undefined") {
                this.additive_action = this.$route.params.additive_action
            }
            if (typeof this.$route.params.additive_action_id != "undefined") {
                this.additive_action_id = this.$route.params.additive_action_id
                this.userStatusLabels.map((nextStatusLabel/*, index*/) => {
                    if (nextStatusLabel.code === this.additive_action_id) {
                        this.selection_filter_status = {code: this.additive_action_id, label: nextStatusLabel.label}
                    }
                })
            }

        }, //  created() {

        mounted() {
            this.setAppTitle('Users', 'Users Listing', bus)
            retrieveAppDictionaries('usersListPage', ['backend_items_per_page', 'groupsLabels'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'usersListPage') {
                    this.users_per_page = data.backend_items_per_page
                    this.groupsLabels = data.groupsLabels
                }
            })


            this.loadUsers()
            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key === 'user') {
                    this.loadUsers()
                }
            })

        }, // mounted() {


        methods: {
            loadUsers() {
                this.is_page_loaded = false
                let filter_status = null
                if (this.selection_filter_status != null) {
                    filter_status = this.selection_filter_status.code
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                let filters = {
                    page: this.current_page,
                    order_by: this.order_by,
                    order_direction: this.order_direction,
                    filter_name: this.filter_name,
                    filter_group: this.filter_group,
                    filter_status: filter_status,
                }
                axios.post(this.apiUrl + '/adminarea/users-filter', filters, credentials)
                    .then(({data}) => {
                        this.users = data.users
                        this.users_total_count = data.meta.total
                        this.users_per_page = data.meta.per_page
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Users Editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadUsers() {

            removeUser(id, user_name/*, index*/) {
                if (!confirm("Do you want to delete" + " '" + user_name + "' user ?")) {
                    return
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/adminarea/users/' + id, credentials).then((/*response*/) => {
                    this.loadUsers()
                    this.showPopupMessage('Users Editor', 'User was deleted successfully', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('Users Editor', 'Error deleting user !', 'error')
                })

            }, //removeUser(id, user_name, index) {

            paginationPageClicked(page) {
                this.current_page = page
                this.loadUsers()
            },


            usersFilterApplied() {
                this.current_page = 1
                this.loadUsers()
            },

        }, // methods: {

        computed: {
            getHeaderTitle: function () {
                return "Users Listing"
            },

            currentLoggedUser() {
                return this.$store.getters.user
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            },

        }

    }
</script>
