<template>
    <article class="category_item_container page_content_container">

        <div class="p-0 m-0 row_content_centered">
            <editor-header :show_loading_image="!is_page_loaded" :header_icon="getHeaderIcon('category')"
                           :header_title="getHeaderTitle">
            </editor-header>
        </div>

        <div class="column_content_left_aligned" v-if="is_page_loaded">

            <div class="row_content_left_aligned">

                <ul class="column_content_left_aligned">
                    <li>
                        <img class="m-1 p-1 category_image" :src="defaultCategoryImg" alt="Category Image" v-if="!categoryHasImage(categoryRow)"/>
                        <img v-if="categoryHasImage(categoryRow)" class="pull-left m-1 p-1 category_image" :src="categoryRow.filenameData.image_url"
                             alt="Category Image"
                        />
                    </li>
                </ul>

            </div>

            <p class="pre-formatted m-3 description-text" v-html="categoryRow.description"></p>

            <template v-if="relatedTasks.length && are_related_tasks_loaded">
                <listing-header :show_loading_image=!are_related_tasks_loaded :related_tasks_current_page=related_tasks_current_page :itemsList="relatedTasks"
                                :rows_count="related_tasks_total_count"
                                :header_icon="getHeaderIcon('task')"
                                :UUUUheader_title="' Has ' + relatedTasks.length + ' ' + relatedTasks.length | pluralize(['task', 'tasks'])"
                                :header_title="getRelatedTasksHeaderTitle"
                                :item_title="'task'"
                                :right_add_button_link="''"
                                :right_add_button_link_title="''"
                                parent_component_key="task">
                </listing-header>
            </template>

            <div class="table-responsive table-wrapper-for-data-listing ">
                <table class="table table-striped table-data-listing">

                    <tbody>
                    <tr v-for="nextRelatedTask in relatedTasks" :key="nextRelatedTask.skill_id">
                        <td class="text-left mb-4">
                            <img class="m-1 p-1 small_task_image" :src="defaultTaskImg" alt="Task Image" v-if="!taskHasImage(nextRelatedTask)"/>
                            <img v-if="taskHasImage(nextRelatedTask)" class="pull-left m-1 p-1 small_task_image" :src="nextRelatedTask.filenameData.image_url"
                                 alt="Task Image"
                            />

                        </td>
                        <td class="text-left">
                            <router-link :to="{ name: 'taskDetails', params: { slug: nextRelatedTask.slug }  }" class="a_link a_link_task_details">
                                <i v-if="nextRelatedTask.priority>=priorityAsapRange"
                                   :class="'i_link m-0 pr-2 high_priority icon_right_aligned '+getHeaderIcon('priority')"
                                   title="ASAP"></i>
                                {{ nextRelatedTask.name }}
                            </router-link>

                            <ul class="ul_horiz_lis">
                                <li class="p-1 ul_horiz_lis_left_aligned">
                                    <h4 class="p-1">
                                        <i :class="'i_link '+getHeaderIcon('money')" title="Task estimation" v-if="nextRelatedTask.price > 0"></i>
                                        <span class="price" v-if="nextRelatedTask.price > 0">{{ moneyFormat(nextRelatedTask.price) }}</span>

                                        <i :class="'i_link '+getHeaderIcon('free')" title="Task estimation" v-if="nextRelatedTask.price == 0"></i>
                                        <span class="price" v-if="nextRelatedTask.price == 0">Free</span>
                                    </h4>
                                </li>

                                <li class="ul_horiz_lis_right_aligned">
                                    <i :class="'i_link '+getHeaderIcon('priority')" title="Task priority"></i>
                                    <strong>{{ getDictionaryLabel(nextRelatedTask.priority, priorityLabels) }}</strong>
                                </li>
                            </ul>

                            <p class="p-1 m-0">
                                <i :class="'i_link '+getHeaderIcon('description')" :title="clearTags(nextRelatedTask.description)"></i>
                                From <strong>{{ momentDatetime(nextRelatedTask.date_start, jsMomentDateFormat) }}</strong> till
                                <strong>{{ momentDatetime(nextRelatedTask.date_end, jsMomentDateFormat) }}</strong>
                            </p>

                        </td>
                    </tr>
                    </tbody>
                </table>

                <section class="row_content_centered" v-show="relatedTasks.length && are_related_tasks_loaded">
                    <listing-pagination
                            :current="related_tasks_current_page"
                            :total="related_tasks_total_count"
                            :items_per_page="tasks_per_page"
                            :show_next_prior_buttons=false
                            @paginationPageChangedEvent="paginationPageClicked"
                            :show_page_number_label="true"
                            :show_rows_label="true"
                            :item_title="relatedTasks.length| pluralize(['Task', 'Tasks'])"
                    >
                    </listing-pagination>
                </section>

            </div>

        </div>

    </article>

</template>

<script>
    import {bus} from '../../../src/main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import Vue from 'vue'
    import Vue2Filters from 'vue2-filters'

    import {retrieveAppDictionaries} from "@/commonFuncs"

    Vue.use(Vue2Filters)

    import wysiwyg from "vue-wysiwyg"
    import 'vue-wysiwyg/dist/vueWysiwyg.css'

    Vue.use(wysiwyg, {
        maxHeight: "300px",
    })

    import {
        settingsEmptyImg,
        settingsDefaultTaskImg,
        settingsDefaultCategoryImg,
        settingsJsMomentDateFormat,
        settingsJsMomentDatetimeFormat,
        settingsYesNoLabels,
        settingsPriorityAsapRange,
        settingsTaskPriorityLabels,
        settingCredentialsConfig
    } from '@/app.settings.js'

    Vue.component('editor-header', require('../../../src/components/EditorHeader.vue').default)
    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    export default {

        name: 'CategoryDetails',
        mixins: [appMixin, Vue2Filters.mixin],

        directives: {focus: focus},
        template: '<input type="text" v-focus="focused" @focus="focused = true" @blur="focused = false">',
        data: function () {
            return {
                editorIndent: 0,
                innerWidth: window.innerWidth,
                innerHeight: window.innerHeight,
                category_slug: '',
                is_page_loaded: false,
                are_related_tasks_loaded: false,
                is_manager: false,
                is_admin: false,
                tasks_per_page: 20,

                categoryRow: {},
                relatedTasks: [],
                related_tasks_total_count: 0,
                related_tasks_current_page: 1,

                category_assigned_to_users_description: '',
                category_assigned_to_users_selection_user_category_type_id: null,
                focused: false,
                userCategoryTypesLabels: [],
                defaultTaskImg: settingsDefaultTaskImg,
                priorityLabels: settingsTaskPriorityLabels,
                priorityAsapRange: settingsPriorityAsapRange,
                jsMomentDateFormat: settingsJsMomentDateFormat,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                emptyImg: settingsEmptyImg,
                defaultCategoryImg: settingsDefaultCategoryImg,
                yesNoLabels: settingsYesNoLabels,
                apiUrl: process.env.VUE_APP_API_URL,
                demo_version: process.env.VUE_APP_DEMO_VERSION


            }
        }, // data: function () {

        created() {
            this.category_slug = this.$route.params.slug
        }, //  created() {

        mounted() {
            this.setAppTitle('Category', 'Category', bus)

            retrieveAppDictionaries('activityLogsListPage', ['tasks_per_page'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'activityLogsListPage') {
                    this.tasks_per_page = data.tasks_per_page
                }
            })

            this.loadCategoryDetails()
        }, // mounted() {

        methods: {

            loadCategoryDetails() {
                this.is_page_loaded = false
                axios({url: this.apiUrl + '/get_category_by_slug/' + this.category_slug, data: {}, method: 'get'})
                    .then(({data}) => {
                        this.categoryRow = data.categories[0]
                        this.is_page_loaded = true
                        this.loadTasksByCategoryId()
                    })
                    .catch(error => {
                        this.showPopupMessage('Categories', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                        this.$router.push({path: '/'})
                    })
            }, // loadCategoryDetails() {

            loadTasksByCategoryId() {
                this.are_related_tasks_loaded = false
                axios({url: this.apiUrl + '/get_tasks_by_category_id/' + this.categoryRow.id + '/' + this.related_tasks_current_page, data: {}, method: 'get'})
                    .then(({data}) => {
                        this.relatedTasks = data.tasks
                        this.related_tasks_total_count = data.meta.tasks_total_count
                        this.are_related_tasks_loaded = true
                    })
                    .catch(error => {
                        this.showPopupMessage('Categories', error.response.data.message, 'warn')
                        this.are_related_tasks_loaded = true
                    })
            }, // loadTasksByCategoryId() {

            paginationPageClicked(par1) {
                this.related_tasks_current_page = par1
                this.loadTasksByCategoryId()
            },

        }, // methods: {


        computed: {
            getRelatedTasksHeaderTitle: function () {
                return ' Has ' + this.relatedTasks.length + ' ' + this.$options.filters.pluralize(this.relatedTasks.length, ['task', 'tasks'])
            },

            getHeaderTitle: function () {
                if (typeof this.categoryRow.name != 'undefined') {
                    return 'Category : ' + this.categoryRow.name
                }
                return 'Category'
            },

        }, // computed: {

    }

</script>
