<template>
	<article class="column_content_centered">

		<TasksSelection
				:blockTitle="site_name+': Accessible tasks you can to take participation in'"
				filter_type="-"
		/>

	</article>
</template>

<script>

    import TasksSelection from '@/views/tasks/TasksSelection.vue'

    export default {
        name: 'tasksPage',

        components: {
            TasksSelection
        },

        data: function () {
            return {
                site_name: process.env.VUE_APP_SITE_NAME
            }
        }
    }
</script>
