<template>
    <article class="task_item_container page_content_container">
<!--        @contextmenu.prevent="$refs.ctxMenu.open"-->
<!--
        <context-menu id="context-menu" ref="ctxMenu">
            <li v-if="currentLoggedUser && !isTaskAssignedToLoggedUser(nextActiveTask.id)" @click="doJoinTheTask()">
                <i :class="'i_link '+getHeaderIcon('subscription')"></i>Join the task
            </li>
            <li v-if="currentLoggedUser && isTaskAssignedToLoggedUser(nextActiveTask.id)"><i :class="'i_link '+getHeaderIcon('member_of_task')"></i>You are member of this task</li>
            <li v-if="currentLoggedUser" class="disabled">-</li>
            <li v-if="currentLoggedUser" @click="$router.push('/profile')"><i :class="'i_link '+getHeaderIcon('profile')"></i>Your Profile</li>
            <li v-if="!currentLoggedUser" @click="$router.push('/login')"><i :class="'i_link '+getHeaderIcon('login')"></i>Login</li>
        </context-menu>
-->

        <h4 class="task_title">
            <router-link :to="{ name: 'taskDetails', params: { slug: nextActiveTask.slug }  }" class="a_link a_link_details">
                <i v-if="nextActiveTask.priority>=priorityAsapRange" :class="'i_link m-0 pr-2 high_priority  '+getHeaderIcon('priority')" title="ASAP"></i>
                {{ nextActiveTask.name }}
            </router-link>
        </h4>

        <div class="column_content_left_aligned">

            <ul class="ul_horiz_lis">
                <li class="ul_horiz_lis_left_aligned task_category p-1">
                    <i :class="'i_link pt-1 '+getHeaderIcon('task_category')" title="Task category"></i>
                    <router-link :to="{ name: 'category', params: { slug: nextActiveTask.category_slug }  }" class="a_link a_link_category_with_tasks_list">
                        {{ nextActiveTask.category_name }}
                    </router-link>
                </li>
            </ul>

            <ul class="ul_horiz_lis">
                <li class="p-1 ul_horiz_lis_left_aligned">
                    <i :class="'i_link '+getHeaderIcon('priority')" title="Task priority"></i>
                    <strong>{{ getDictionaryLabel(nextActiveTask.priority, priorityLabels) }}</strong>
                </li>

                <li class="ul_horiz_lis_right_aligned">
                    <h4 class="p-1">
                        <i :class="'i_link '+getHeaderIcon('money')" title="Task estimation" v-if="nextActiveTask.price > 0"></i>
                        <span class="price" v-if="nextActiveTask.price > 0">{{ moneyFormat(nextActiveTask.price) }}</span>

                        <i :class="'i_link '+getHeaderIcon('free')" title="Task estimation" v-if="nextActiveTask.price == 0"></i>
                        <span class="price" v-if="nextActiveTask.price == 0">Free</span>
                    </h4>
                </li>

            </ul>

        </div>

        <div class="column_content_left_aligned">
            <p class="pre-formatted description-text p-1" v-html="concatStr(clearTags(nextActiveTask.description),150)">
            </p>

            <p class="p-1 m-0">From <strong>{{ momentDatetime(nextActiveTask.date_start, jsMomentDateFormat) }}</strong> till
                <strong>{{ momentDatetime(nextActiveTask.date_end, jsMomentDateFormat) }}</strong>
            </p>

            <ul class="column_content_left_aligned badge_item_row p-0 m-0" v-if="nextActiveTask.taskRequireSkills.length > 0">
                <li v-for="nextTaskRequireSkill in nextActiveTask.taskRequireSkills" :key="nextTaskRequireSkill.id" class="badge_item_row_cell p-0 m-0">
                    <button type="button" class="btn text-nowrap">
					<span class="badge badge-info p-1" title="Required skill for this project">
						<i :class="'m-0 p-0 badge-success i_link '+getHeaderIcon('check')" title="You have this skill !"
                           v-if="isLoggedUserHasSkill(nextTaskRequireSkill.skill_id)">
						</i>
						{{ nextTaskRequireSkill.skill_name }}
					</span>
                    </button>
                </li>
            </ul>

            <div class="row_content_left_aligned">
                <ul class="half_area">
                    <li class="p-1">
                        <i :class="'i_link task_status_icon_'+nextActiveTask.status+' '+getHeaderIcon('status')"
                           :title="taskStatusInfo(nextActiveTask.status)"></i>
                    </li>

                    <li class="icon_centered_aligned p-1" v-show="nextActiveTask.events_count">
                        <i :class="'i_link '+getHeaderIcon('events')" :title="taskEventsInfo(nextActiveTask)"></i>
                    </li>

                    <li v-if="isTaskAssignedToLoggedUser(nextActiveTask.id)"
                        class="row_content_right_aligned icon_centered_aligned p-1 pb-1 member_of_task">
                        <i :class="'i_link  '+getHeaderIcon('member_of_task_2x') " title="You are member of this task" style="margin-top: -7px;"></i>
                    </li>
                </ul>

                <p class="alert alert-primary row_content_centered half_area" role="alert">
                    <router-link :to="{ name: 'taskDetails', params: { slug: nextActiveTask.slug }  }" class="p-1 a_link a_link_details">
                        <i :class="'i_link '+getHeaderIcon('task')"></i>Details
                    </router-link>
                </p>

            </div>

        </div>

    </article>
</template>

<script>
    import appMixin from '@/appMixin'
    import {settingsTaskPriorityLabels, settingsTaskStatusLabels, settingsJsMomentDateFormat, settingsPriorityAsapRange} from '@/app.settings.js'

    // import contextMenu from 'vue-context-menu'

    export default {

        mixins: [appMixin],

        data: function () {
            return {
                priorityLabels: settingsTaskPriorityLabels,
                statusLabels: settingsTaskStatusLabels,
                jsMomentDateFormat: settingsJsMomentDateFormat,
                priorityAsapRange: settingsPriorityAsapRange
            }
        }, // data: function () {

        // components: { contextMenu },

        props: {
            currentLoggedUser: {
                required: true,
            },

            nextActiveTask: {
                required: true,
            },

            index: {
                required: true,
            },
        }, //props: {

        computed: {
            loggedUserIsManager: function () {
                return this.$store.getters.is_manager
            },

            taskAssignedToUsers() {
                return this.$store.getters.taskAssignedToUsers
            },

            userSkills() {
                return this.$store.getters.userSkills
            },
        }, //computed: {

        methods: {
            isTaskAssignedToLoggedUser(task_id) {
                let ret = false
                this.taskAssignedToUsers.map((nextTaskAssignedToUsers) => {
                    if (nextTaskAssignedToUsers.task_id === task_id) {
                        ret = true
                        return
                    }
                })
                return ret
            }, // isTaskAssignedToLoggedUser(task_id) {

            isLoggedUserHasSkill(skill_id) {
                let ret = false
                this.userSkills.map((nextUserSkill) => {
                    if (nextUserSkill.skill_id === skill_id) {
                        ret = true
                    }
                })
                return ret
            }, // isLoggedUserHasSkill(skill_id) {

            taskEventsInfo(task) {
                return 'Task has ' + task.events_count + ' events'
            }, // taskEventsInfo(task) {

            taskStatusInfo(task_status) {
                if (task_status === 'A') {
                    return 'Task is in Assigning status. Lorem ipsum dolor sit amet'
                }
                if (task_status === 'P') {
                    return 'Task is in Processing status. Lorem ipsum dolor sit amet'
                }
                if (task_status === 'K') {
                    return 'Task is in Checking status. Lorem ipsum dolor sit amet'
                }
            }, // taskStatusInfo(task_status) {


            doJoinTheTask() {
                this.$router.push('/task-details/'+this.nextActiveTask.slug)
                // task-details/mastering-laravel-vue-js
            }
        }, // methods: {

    }
</script>
