<template>
    <article class="task_item_container page_content_container">

        <!--        taskRow::{{ taskRow}}-->
        <!--        site_name::{{ site_name}}<br>-->
        <!--        site_description::{{ site_description}}<br>-->

        <div class="p-0 m-0 row_content_centered">
            <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('task')"
                           :header_title="getHeaderTitle"></editor-header>
        </div>

        <!--
                <context-menu id="context-menu" ref="ctxMenu">
                    <li v-if="currentLoggedUser && !isTaskAssignedToLoggedUser(taskRow.id)" @click="showTaskAssignedToUser()">
                        <i :class="'i_link '+getHeaderIcon('subscription')"></i>Join the task
                    </li>
                    <li v-if="currentLoggedUser && isTaskAssignedToLoggedUser(taskRow.id)"><i :class="'i_link '+getHeaderIcon('member_of_task')"></i>You are member
                        of this task</li>
                    <li v-if="currentLoggedUser && loggedUserIsManager" @click="showMembersOfThisTask()"><i :class="'i_link '+getHeaderIcon('users')"></i>Members of
                        this task</li>
                    <li v-if="currentLoggedUser" class="disabled">-</li>
                    <li v-if="currentLoggedUser" @click="$router.push('/profile')"><i :class="'i_link '+getHeaderIcon('profile')"></i>Your Profile</li>
                    <li v-if="!currentLoggedUser" @click="$router.push('/login')"><i :class="'i_link '+getHeaderIcon('login')"></i>Login</li>
                </context-menu>
        -->

        <div class="column_content_left_aligned" v-if="is_page_loaded">
            <!--            @contextmenu.prevent="$refs.ctxMenu.open"-->
            <h4 class="task_title mb-3">
<!--                {{ taskRow.id }}::-->
                {{ taskRow.name }}
            </h4>

            <div class="row_content_left_aligned">

                <ul class="column_content_left_aligned">
                    <li v-if="taskRow.priority>=priorityAsapRange" class="primary_selected_block">
                        <i :class="'i_link high_priority '+getHeaderIcon('priority')" title="High Priority"></i> ASAP
                    </li>

                    <li>
                        <img class="m-1 p-1 task_image" :src="defaultTaskImg" alt="Task Image" v-if="!taskHasImage(taskRow)"/>
                        <img v-if="taskHasImage(taskRow)" class="pull-left m-1 p-1 task_image" :src="taskRow.filenameData.image_url" alt="Task Image"
                        />
                    </li>
                </ul>

                <div class="row_content_left_aligned">

                    <div class="column_content_left_aligned  ">

                        <ul class="ul_horiz_lis">
                            <li class="ul_horiz_lis_left_aligned p-3 m-0">
                                <i :class="'i_slink pt-1 '+getHeaderIcon('task_category')" title="Task category"></i>
                                <router-link :to="{ name: 'category', params: { slug: taskRow.category_slug }  }" class="a_link">
                                    {{ taskRow.category_name }}
                                </router-link>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis">
                            <li class="ul_horiz_lis_left_aligned p-1 m-0 ml-2">
                                <i :class="getHeaderIcon('money')" title="Task estimation" v-if="taskRow.price > 0"></i>
                                <span class="price" v-if="taskRow.price > 0">{{ moneyFormat(taskRow.price) }}</span>

                                <i :class="getHeaderIcon('free')" title="Task estimation" v-if="taskRow.price == 0"></i>
                                <span class="price" v-if="taskRow.price == 0">Free</span>
                            </li>

                            <li v-if="isTaskAssignedToLoggedUser(taskRow.id)"
                                class="ul_horiz_lis_left_aligned icon_centered_aligned p-1 m-0 member_of_task  mr-3">
                                <i :class="'pb-2 m-0 '+getHeaderIcon('member_of_task_2x')" title="You are member of this task"></i>
                            </li>

                            <li v-if="currentLoggedUser && !isTaskAssignedToLoggedUser(taskRow.id)" class="ul_horiz_lis_right_aligned p-3 m-0 mr-3">
                                <button type="button" class="btn btn-primary btn-sm" @click.prevent="showTaskAssignedToUser()"
                                        title="Click and join this task !">
                                    <i :class="' '+getHeaderIcon('subscription')" title="Join and become member of this task"></i>&nbsp; Join
                                </button>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis">
                            <li class="ul_horiz_lis_left_aligned mb-3">
                                <i :class="'task_status_icon_'+taskRow.status+' '+getHeaderIcon('status')"
                                   :title="clearTags(taskStatusInfo(taskRow.status))" style="margin-top: 12px;"></i>
                                <span>{{ getDictionaryLabel(taskRow.status, statusLabels) }}</span>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-1 m-0 mr-3">
                                <i :class="'i_link pb-1 '+getHeaderIcon('leader')" title="Task Leader"></i>
                                <router-link :to="{ name: 'publicProfile', params: { id: taskRow.leader_id }  }" class="a_link">
                                    <strong>{{ taskRow.leader_name }}</strong>
                                </router-link>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis">
                            <li class="ul_horiz_lis_left_aligned  mb-3">
                                From <strong>{{ momentDatetime(taskRow.date_start, jsMomentDateFormat) }}</strong>&nbsp;till&nbsp;
                                <strong>{{ momentDatetime(taskRow.date_end, jsMomentDateFormat) }}</strong>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis">
                            <li class="ul_horiz_lis_left_aligned">
                                <i :class="'pb-1 '+getHeaderIcon('needs_reports')" title="This task needs reports"></i>
                                Report <strong>{{ getDictionaryLabel(taskRow.needs_reports, needsReportsLabels) }}</strong>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-1 m-0 mr-3">
                                <i :class="'pb-1 '+getHeaderIcon('priority')" title="Task Priority"></i>
                                <strong>{{ getDictionaryLabel(taskRow.priority, priorityLabels) }}</strong>
                            </li>
                        </ul>


                    </div> <!-- <div class="column_content_left_aligned  "> -->
                </div> <!-- <div class="row_content_left_aligned"> -->

            </div> <!-- <div class="row_content_left_aligned" v-for="(nextNewsIsTop, index) in newsIsTopList"> -->

            <p class="pre-formatted m-3 description-text" v-html="taskRow.description"></p>

            <div class="column_content_left_aligned">

                <ul class="p-3 m-0 ul_horiz_lis">
                    <li class="ul_horiz_lis_left_aligned">
                        <i :class="'pt-1 '+getHeaderIcon('published')" title="Published at"></i>{{ momentDatetime( taskRow.created_at,
                        jsMomentDatetimeFormat ) }}
                    </li>

                    <li v-if="loggedUserIsManager " class="ul_horiz_lis_right_aligned">
                        <i v-if="loggedUserIsManager" :class="'p-1 manager_access_rights '+getHeaderIcon('manager')"
                           title="As manager you have access to modify members of this task"></i>
                        <i :class="'pb-1 '+getHeaderIcon('users')" title="As admin/manager you can view/assign/delete members of this task"
                           @click.prevent="showMembersOfThisTask()"></i>
                        <strong>Has {{ task_assigned_to_users_count }} members</strong>
                    </li>
                </ul>

                <ul class="badge_item_row p-2" v-if="taskRow.taskRequireSkills.length > 0">
                    <li v-for="nextTaskRequireSkill in taskRow.taskRequireSkills" :key="nextTaskRequireSkill.id" class="badge_item_row_cell ">
                        <button type="button" class="btn text-nowrap">
							<span class="badge badge-info p-1" title="Required skill for this project">
								<i :class="'badge-success '+getHeaderIcon('check')" title="You have this skill !"
                                   v-if="isLoggedUserHasSkill(nextTaskRequireSkill.id)">
								</i>
								{{ nextTaskRequireSkill.skill_name }}
							</span>
                        </button>
                    </li>
                </ul>

            </div> <!-- <div class="row_content_left_aligned"> -->


            <fieldset class="blocks m-1 p-1">
                <legend class="blocks block-wrapper-for-data-listing" id="legend_1">Events&nbsp;</legend>
                <div class="table-responsive table-wrapper-for-data-listing" v-if="taskRow.events.length" id="div_1">

                    <table class="table table-striped table-data-listing">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Access</th>
                            <th class="text-right">At time&nbsp;/&nbsp;Duration(in minutes)</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="nexTaskEvent in taskRow.events" :key="nexTaskEvent.id" class="tr_view_event_details">
                            <td class="text-left">
                                {{ nexTaskEvent.name}}
                                <i :class="'ml-2 '+getHeaderIcon('description')" :title="concatStr(clearTags(nexTaskEvent.description),200)"></i>
                            </td>
                            <td class="text-left ">
                                <div style="display: flex" class="flex-nowrap">
                                    <i :class="'mt-1 '+getHeaderIcon('users')" :title="'Invited '+nexTaskEvent.event_users_count+' person(s)'"
                                       v-if="nexTaskEvent.event_users_count > 0">
                                    </i>
                                    {{ getDictionaryLabel(nexTaskEvent.access, eventAccessLabels) }}
                                </div>
                            </td>
                            <td class="text-left">
                                <i :class="getHeaderIcon('past_date')" :title="'Event is past'" v-if="nexTaskEvent.is_past"></i>
                                {{ momentDatetime( nexTaskEvent.at_time, jsMomentDatetimeFormat ) }} / {{ nexTaskEvent.duration}}
                            </td>
                            <td class="text-left">
                                <i :class="getHeaderIcon('view')" :title="'View event details'"
                                   @click.prevent="showEventDetails(nexTaskEvent.id)" class="view_event_details">
                                </i>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <p class="alert alert-info m-1 p-1 wrapper-for-no-rows-data-listing" role="alert" v-if="!taskRow.events.length">
                    This task has no events yet!
                </p>

            </fieldset>
        </div>


        <!-- TASK_ASSIGNED_TO_USER MODAL START-->

        <modal :height="modalTaskAssignedToUserHeight" :width="modalWidth" name="modal-task-assigned-to-user" transition="pop-out">

            <section class="modal-content p-3 flexbox-parent">
                <p class="modal-header flexbox-item header p-2">
                    <i :class="'pt-1 '+getHeaderIcon('task') "></i><span class="modal-title">Assign yourself to this task</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click.prevent="cancelTaskAssignedToUser()">
                        <span aria-hidden="true">×</span>
                    </button>
                </p>

                <div class="modal-body flexbox-item fill-area-content flexbox-item-grow">

                    <dl class="block_2columns_md p-3">
                        <dt class="horiz_divider_left_13">
                            <label class="col-12 col-sm-4 col-form-label" for="user_task_type_id">You see yourself as <span
                                class="required"> * </span></label>
                        </dt>

                        <dd class="horiz_divider_right_23">
                            <v-select
                                v-model="task_assigned_to_users_selection_user_task_type_id"
                                label="label"
                                :options="userTaskTypesLabels"
                                id="user_task_type_id"
                                name="user_task_type_id"
                                class="form-control editable_field"
                                placeholder="Select option"
                            ></v-select>
                        </dd>

                    </dl>

                    <dl class="block_2columns_md p-3"> <!-- description -->
                        <dt class="horiz_divider_left_13">
                            <label :for="'task_assigned_to_users_description'" class="col-12 col-form-label">&nbsp;
                                Description text
                            </label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <wysiwyg v-model="task_assigned_to_users_description"/>
                        </dd>

                    </dl> <!-- <dl class="block_2columns_md m-0"> description -->

                </div> <!-- <div class="modal-body"> -->

                <section class="modal-footer flexbox-item form-row row_content_right_aligned">
                    <button type="button" class="btn btn-secondary btn-sm m-2" @click.prevent="cancelTaskAssignedToUser()">
                        <i :class="getHeaderIcon('cancel')"></i>Cancel
                    </button>
                    <button @click.prevent="saveTaskAssignedToUser()" type="button" class="btn btn-primary btn-sm m-2 ml-4 mr-4">
                        <i :class="getHeaderIcon('save')"></i>Assign
                    </button>
                </section>

            </section> <!-- <section class="modal-content"> -->


        </modal> <!-- modal-task-assigned-to-user  -->

        <!-- TASK_ASSIGNED_TO_USER MODAL END -->


        <!-- ASSIGNED_USERS_AND_OPERATIONS MODAL START-->
        <modal :height="modalMembersOfTaskHeight" :width="modalWidth" name="modal-members-of-this-task" transition="pop-out">

            <section class="modal-content p-1 flexbox-parent">
                <p class="modal-header flexbox-item header p-2">
                    <i :class="'pt-1 '+getHeaderIcon('member_of_task') "></i><span class="modal-title">Assigned users and operations</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click.prevent="cancelMembersOfThisTask()">
                        <span aria-hidden="true">×</span>
                    </button>
                </p>

                <div class="modal-body flexbox-item fill-area-content flexbox-item-grow">

                    <div class="row_content_left_aligned p-2" style="overflow-y: auto; max-height: 400px; ">
                        <fieldset class="blocks">
                            <legend class="blocks">
                                <p class="m-1 p-1" v-if="usersAssignedToTask.length">
                                    {{ usersAssignedToTask.length }} assigned {{ usersAssignedToTask.length |
                                    pluralize(['user','users'])}} &nbsp;
                                </p>
                            </legend>
                            <p class="alert alert-warn m-1 p-1" role="alert" v-if="!usersAssignedToTask.length">
                                This task has no assigned users yet!
                            </p>

                            <div class="table-responsive table-wrapper-for-data-listing " v-show="usersAssignedToTask.length">
                                <table class="table table-striped">

                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Task</th>
                                        <th>User Role</th>
                                        <th>Status</th>
                                        <th>Team Leader</th>
                                        <th>Assigned</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr v-for="nextUsersAssignedToTask in usersAssignedToTask" :key="nextUsersAssignedToTask.id">
                                        <td class="text-center m-1 pl-5">
                                            <input
                                                class="editable_field custom-control-input"
                                                type="checkbox"
                                                value="1"
                                                style="width: 50px;padding-left: 60px;"
                                                :id="'custom_selected_users_assigned_to_task_id_'+nextUsersAssignedToTask.id"
                                                v-model="nextUsersAssignedToTask.selected"
                                                :checked="nextUsersAssignedToTask.selected"
                                                v-on:change="changeUsersAssignedToTaskItem(nextUsersAssignedToTask)"
                                            >
                                            <label class="custom-control-label"
                                                   :for="'custom_selected_users_assigned_to_task_id_'+nextUsersAssignedToTask.id">{{
                                                nextUsersAssignedToTask.name}}</label>
                                        </td>

                                        <td class="text-left">
                                            <router-link :to="{ name: 'publicProfile', params: { id: nextUsersAssignedToTask.user_id }  }" class="a_link"
                                                         target="_blank">
                                                {{ nextUsersAssignedToTask.user_name }}
                                            </router-link>
                                        </td>
                                        <td class="text-left text-nowrap">
                                            {{ nextUsersAssignedToTask.user_task_type_name }}
                                            <i :class="getHeaderIcon('description')" :title="clearTags(nextUsersAssignedToTask.description)"></i>
                                        </td>
                                        <td class="text-left">
                                            {{ getDictionaryLabel( nextUsersAssignedToTask.status, taskAssignedToUsersStatusLabels ) }}
                                        </td>
                                        <td class="text-left">
                                            {{ getDictionaryLabel( nextUsersAssignedToTask.is_leader, yesNoLabels ) }}
                                        </td>
                                        <td class="text-left text-nowrap">
                                            {{ momentDatetime(nextUsersAssignedToTask.created_at, jsMomentDatetimeFormat) }}
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>

                        </fieldset>

                    </div> <!-- <div class="row_content_left_aligned p-2" style="overflow-y: auto; max-height: 400px; "> -->

                    <div class="column_content_left_aligned m-0 p-1" v-if="usersAssignedToTask.length">
                        <p class="alert alert-info m-0 p-1 text-center row_content_centered" role="alert">
                            Select user and next select accessible action
                        </p>
                    </div>

                    <div class="column_content_left_aligned m-0 p-1" v-show="selected_users_assigned_to_task_id">
                        <div style="border: 0 dotted green" class="row_content">

                            <div class="block_2columns_md">

                                <div class="block_2columns_sm">
                                    <div class="horiz_devider_value_half m-0 mt-2">
                                        Select Action =>
                                    </div>
                                </div>

                                <div class="block_2columns_sm p-1 m-1">
                                    <div class="horiz_devider_value_half">
                                        <v-select
                                            v-model="selection_users_assigned_to_task_action"
                                            :options="filteredUsersAssignedToTaskActionLabels"
                                            id="users_assigned_to_task_action"
                                            name="users_assigned_to_task_action"
                                            class="form-control editable_field"
                                            placeholder="Select action"
                                            :closeOnSelect="true"
                                            @input="changeUsersAssignedToTaskAction()"
                                        ></v-select>
                                    </div>

                                </div>

                            </div> <!-- <div class="block_2columns_md m-0"> -->

                        </div>

                        <p class="alert alert-info m-1 p-1 text-center row_content_centered" role="alert"
                           v-if="selection_users_assigned_to_task_action_info_text">
                            {{ selection_users_assigned_to_task_action_info_text }}
                        </p>

                    </div> <!-- <div class="column_content_left_aligned" > -->

                    <div class="column_content_centered" v-if="selected_users_assigned_to_task_id">
                        <div :style="'border: 0px dotted green; width:'+ ( innerWidth - editorIndent) + 'px; outline-style: outset; outline-color:#eaeaea;' ">
                            <wysiwyg v-model="selection_users_assigned_to_task_action_memo"/>
                        </div>


                        <div style="border: 0px dotted green" class="row_content_right_aligned m-0 p-3">
                            <div class="horiz_devider_label_200_label mb-2">
                                <label class="col-12 col-sm-4 col-form-label " for="users_assigned_to_task_action_memo">
                                    Notes to action<span class="small_size mt-1">&nbsp;<small>(optional)</small></span>
                                </label>
                            </div>
                            <div class="horiz_devider_value_200_label">
                                <button type="submit" class="btn btn-success btn-sm m-2   ml-4 mr-4" @click="usersAssignedToTaskActionSelected()">
                                    <i :class="'i_link '+getHeaderIcon('save')"></i>Run Action
                                </button>
                            </div>
                        </div>

                    </div> <!-- <div class="column_content_left_aligned" > -->

                </div> <!-- <div class="modal-body"> -->

                <section class="modal-footer form-row row_content_right_aligned">
                    <button type="button" class="btn btn-secondary btn-sm m-2" @click.prevent="cancelMembersOfThisTask()">
                        <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                    </button>
                </section>

            </section> <!-- <section class="modal-content"> -->

        </modal> <!-- modal-members-of-this-task  -->

        <!-- ASSIGNED_USERS_AND_OPERATIONS MODAL END -->


        <!-- EVENT DETAILS MODAL START-->

        <modal :height="modalTaskEventDetailsHeight" :width="modalWidth" name="modal-task-event-details" transition="pop-out">

            <section class="modal-content p-2 flexbox-parent">

                <p class="modal-header flexbox-item header p-2">
                    <i :class="'pt-1 '+getHeaderIcon('event') "></i><span class="modal-title">Event Details</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click.prevent="cancelEventDetails()">
                        <span aria-hidden="true">×</span>
                    </button>
                </p>

                <div class="modal-body flexbox-item fill-area-content flexbox-item-grow">

                    <div class="card mb-3">
                        <h3 class="card-header"><i :class="getHeaderIcon('task')"></i>{{ eventDetailsRow.name }}</h3>
                        <div class="card-body">
                            <h5 class="card-title p-1">
                                {{ getDictionaryLabel( eventDetailsRow.access, eventAccessLabels ) }} access
                            </h5>
                            <h5 class="card-title p-1">
                                <i :class="getHeaderIcon('past_date')" :title="'Event is past'" v-if="eventDetailsRow.is_past"></i>
                                Starts at {{ momentDatetime( eventDetailsRow.at_time, jsMomentDatetimeFormat ) }}
                                <small>( duration {{ eventDetailsRow.duration }} minutes)</small>
                            </h5>
                            <p v-html="eventDetailsRow.description" class="pre-formatted description-text"
                               style="overflow-y: auto; max-height: 200px;">
                            </p>

                            <span>
								<i :class="'pt-1 '+getHeaderIcon('published')" title="Published at"></i>
							{{ momentDatetime( eventDetailsRow.created_at, jsMomentDatetimeFormat ) }}
							</span>
                        </div>

                        <div class="card-footer">

                            <div style="overflow-y: auto; max-height: 200px; ">
                                <fieldset class="blocks" v-if="eventDetailsRow.eventUsers">
                                    <legend class="blocks">Invited users</legend>
                                    <ul class="space_between_wraping_cell">
                                        <li class="p-2 m-0" v-for="nexEventUser in eventDetailsRow.eventUsers" :key="nexEventUser.id">
                                            <router-link :to="{ name: 'publicProfile', params: { id: nexEventUser.user_id }  }" class="a_link"
                                                         target="_blank">
                                                {{ nexEventUser.user_name }}
                                            </router-link>
                                        </li>
                                    </ul>
                                </fieldset>
                            </div>

                        </div>

                    </div>

                </div> <!-- <div class="modal-body"> -->

                <section class="modal-footer form-row row_content_right_aligned">
                    <button type="button" class="btn btn-secondary btn-sm m-2" @click.prevent="cancelEventDetails()">
                        <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                    </button>
                </section>

            </section> <!-- <section class="modal-content"> -->

        </modal> <!-- modal-task-event-details  -->

        <!-- EVENT DETAILS MODAL END -->

        <fieldset class="blocks" v-if="demo_version">
            <legend class="blocks"><i :class="getHeaderIcon('demo-info')"></i>Demo info&nbsp;</legend>

            <div class="m-1 p-1 pre-formatted description-text" style="overflow-y: auto; max-height: 200px;">
                <ol class="m-1 p-1">
                    <li>You need to login to join yourself to this task</li>
                    <li>If user is assigned to this task, icon at top right is shown</li>
                    <li>Otherwise, user can create request the task clicking on "Join" button</li>
                    <li>Logged admin can remove, cancel, accept requests of users to the task by clicking by clicking on "Has N members" icon</li>
                    <li>For logged user skill icons are checked if user has this skill filled in his profile</li>
                </ol>
            </div>

        </fieldset>

    </article>

</template>

<script>
    import {bus} from '../../../src/main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import Vue from 'vue'
    import {retrieveAppDictionaries} from "@/commonFuncs"

    import wysiwyg from "vue-wysiwyg"
    import 'vue-wysiwyg/dist/vueWysiwyg.css'

    Vue.use(wysiwyg, {
        maxHeight: "300px",
    })

    import {
        settingsEmptyImg,
        settingsDefaultTaskImg,
        settingsTaskPriorityLabels,
        settingsUserSkillsLabels,
        settingsTaskStatusLabels,
        settingsEventAccessLabels,
        settingsTaskNeedsReportsLabels,
        settingsJsMomentDateFormat,
        settingsJsMomentDatetimeFormat,
        settingsYesNoLabels,
        settingsTaskAssignedToUsersStatusLabels,
        settingsUsersAssignedToTaskActionLabels,
        settingsPriorityAsapRange,
        settingCredentialsConfig

    } from '@/app.settings.js'

    // import contextMenu from 'vue-context-menu'

    Vue.component('editor-header', require('../../../src/components/EditorHeader.vue').default)

    import vSelect from 'vue-select'

    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    import VueHead from 'vue-head' // https://github.com/ktquez/vue-head
    Vue.use(VueHead)

    export default {

        name: 'TaskDetails',
        mixins: [appMixin],

        directives: {focus: focus},
        template: '<input type="text" v-focus="focused" @focus="focused = true" @blur="focused = false">',
        data: function () {
            return {
                site_name: '!!AAA',
                site_description: '???BCD',

                editorIndent: 0,
                innerWidth: window.innerWidth,
                innerHeight: window.innerHeight,
                task_slug: '',
                is_page_loaded: false,
                is_page_updating: false,
                is_manager: false,
                is_admin: false,

                taskRow: {},
                usersAssignedToTask: [],
                task_assigned_to_users_count: 0,
                selected_users_assigned_to_task_id: null,
                selected_users_assigned_to_task_status: null,

                selection_users_assigned_to_task_action_info_text: null,
                selection_users_assigned_to_task_action: null,
                selection_users_assigned_to_task_action_memo: '',
                usersAssignedToTaskActionLabels: settingsUsersAssignedToTaskActionLabels,
                priorityAsapRange: settingsPriorityAsapRange,

                eventDetailsRow: {},
                task_assigned_to_users_description: '',
                task_assigned_to_users_selection_user_task_type_id: null,
                focused: false,
                priorityLabels: settingsTaskPriorityLabels,
                userSkillsLabels: settingsUserSkillsLabels,
                userTaskTypesLabels: [],
                needsReportsLabels: settingsTaskNeedsReportsLabels,
                jsMomentDateFormat: settingsJsMomentDateFormat,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                statusLabels: settingsTaskStatusLabels,
                eventAccessLabels: settingsEventAccessLabels,
                emptyImg: settingsEmptyImg,
                defaultTaskImg: settingsDefaultTaskImg,
                yesNoLabels: settingsYesNoLabels,
                taskAssignedToUsersStatusLabels: settingsTaskAssignedToUsersStatusLabels,
                apiUrl: process.env.VUE_APP_API_URL,
                demo_version: process.env.VUE_APP_DEMO_VERSION

            }
        }, // data: function () {

        head: {
            title: function () {
                return {
                    inner: 'Task details of ' + this.site_name, id: 'app_head',
                    complement: '',
                    separator: '',
                }
            },
            meta: function () {
                return [
                    {
                        name: 'description',
                        content: 'Task details of ' + this.site_name + ' : ' + this.site_description,
                        id: 'description'
                    }
                ]
            },
            link: [
                {rel: 'canonical', href: '/', id: 'canonical'},
            ],
        },  // head: {

        // components: { contextMenu },

        created() {
            this.task_slug = this.$route.params.slug
        }, //  created() {

        mounted() {
            this.setAppTitle('Task', 'Task details', bus)
            this.loadTaskDetails()
            retrieveAppDictionaries('task_details', ['site_name', 'site_description', 'userTaskTypesLabels'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'task_details') {
                    this.site_name = data.site_name
                    this.site_description = data.site_description
                    this.userTaskTypesLabels = data.userTaskTypesLabels
                    this.$emit('updateHead')
                }
            })

            bus.$on('beforeTaskAssignedToUserStore', (/*taskAssignedToUser*/) => {
                this.is_page_updating = true
                bus.$off('beforeTaskAssignedToUserStore')
            })

            bus.$on('onTaskAssignedToUserStoreSuccess', (/*response*/) => {
                this.is_page_updating = false
                this.showPopupMessage("Participation in the task", "Your participation in the task successfully added !", 'success')
                this.cancelTaskAssignedToUser()
                this.task_assigned_to_users_count = this.task_assigned_to_users_count + 1
                bus.$off('onTaskAssignedToUserStoreSuccess')
            })

            bus.$on('onTaskAssignedToUserStoreFailure', (error) => {
                console.error(error)
                this.is_page_updating = false
                this.showPopupMessage("Participation in the task", 'Error setting your participation in the task !', 'warn')
                bus.$off('onTaskAssignedToUserStoreFailure')
            })

            this.calcEditorWidth()
        }, // mounted() {

        beforeDestroy() { // just before a component is destroyed.
            bus.$off('beforeTaskAssignedToUserStore')
            bus.$off('onTaskAssignedToUserStoreSuccess')
            bus.$off('onTaskAssignedToUserStoreFailure')
        },

        methods: {

            changeUsersAssignedToTaskItem(item) {
                if (item.selected) {
                    this.selected_users_assigned_to_task_id = item.id
                    this.selected_users_assigned_to_task_status = item.status
                    this.usersAssignedToTask.map((nextTaskAssignedToUsers, index) => {
                        if (nextTaskAssignedToUsers.id != item.id) {
                            this.usersAssignedToTask[index].selected = false
                        }
                    })
                } else {
                    this.selected_users_assigned_to_task_id = null
                }
            },

            changeUsersAssignedToTaskAction() {
                if (!this.selection_users_assigned_to_task_action) {
                    this.selection_users_assigned_to_task_action_info_text = null
                    return
                }
                this.usersAssignedToTaskActionLabels.map((nextusersAssignedToTaskActionLabel/*, index*/) => {
                    if (nextusersAssignedToTaskActionLabel.code === this.selection_users_assigned_to_task_action.code) {
                        this.selection_users_assigned_to_task_action_info_text = nextusersAssignedToTaskActionLabel.info
                    }
                })
            }, // changeUsersAssignedToTaskAction() {

            loadTaskDetails() {
                this.is_page_loaded = false
                axios({url: this.apiUrl + '/get_task_by_slug/' + this.task_slug, data: {}, method: 'get'})
                    .then(({data}) => {
                        this.taskRow = data.tasks[0]
                        this.task_assigned_to_users_count = data.meta.task_assigned_to_users_count
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        this.showPopupMessage('Tasks', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                        this.$router.push({path: '/'})
                    })
            }, // loadTaskDetails() {

            taskStatusInfo(task_status) {
                if (task_status === 'A') {
                    return 'Task is in <strong>Assigning</strong> status. <p>Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.'
                }
                if (task_status === 'P') {
                    return 'Task is in <strong>Processing</strong> status. <p>Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.'
                }
                if (task_status === 'K') {
                    return 'Task is in <strong>Checking</strong> status. <p>Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.'
                }
            }, // taskStatusInfo(task_status) {

            isTaskAssignedToLoggedUser(task_id) {
                let ret = false
                this.loggedUserTaskAssignedToUsers.map((nextTaskAssignedToUsers) => {
                    if (nextTaskAssignedToUsers.task_id === task_id) {
                        ret = true
                        return
                    }
                })
                return ret
            }, // isTaskAssignedToLoggedUser(task_id) {

            isLoggedUserHasSkill(skill_id) {
                let ret = false
                this.userSkills.map((nextUserSkill) => {
                    if (nextUserSkill.skill_id === skill_id) {
                        ret = true
                    }
                })
                return ret
            }, // isLoggedUserHasSkill(skill_id) {


            // TASK_ASSIGNED_TO_USER MODAL START
            showTaskAssignedToUser() {
                this.$modal.show('modal-task-assigned-to-user')
            }, // showTaskAssignedToUser() {

            saveTaskAssignedToUser() {
                if (this.currentLoggedUser === null || typeof this.currentLoggedUser.id === 'undefined') {
                    this.showPopupMessage('Participation in the task', 'You need to login !', 'warn')
                    return
                }

                if (this.task_assigned_to_users_selection_user_task_type_id === null) {
                    this.showPopupMessage("Participation in the task", 'Selected role', 'warn')
                    return
                }

                if (this.trim(this.task_assigned_to_users_description) < 5) {
                    this.showPopupMessage("Participation in the task", 'Your description text must be at least 5 chars !', 'warn')
                    return
                }
                // let credentials= this.getClone(this.credentialsConfig)
                // credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                let task_assigned_to_users_selection_user_task_type_id_code = null
                if (this.task_assigned_to_users_selection_user_task_type_id != null) {
                    task_assigned_to_users_selection_user_task_type_id_code = this.task_assigned_to_users_selection_user_task_type_id.code
                }
                this.$store.dispatch('taskAssignedToUserStore', {
                    description: this.task_assigned_to_users_description,
                    task_id: this.taskRow.id,
                    user_task_type_id: task_assigned_to_users_selection_user_task_type_id_code
                })
            }, // saveTaskAssignedToUser() {

            cancelTaskAssignedToUser() {
                this.$modal.hide('modal-task-assigned-to-user')
                this.task_assigned_to_users_description = ''
                this.selection_users_assigned_to_task_action = null
                this.selection_users_assigned_to_task_action_info_text = null
                this.selected_users_assigned_to_task_id = null
            }, // cancelTaskAssignedToUser() {

            // TASK_ASSIGNED_TO_USER MODAL END


            // MEMBERS OF THIS TASK MODAL START
            showMembersOfThisTask() {
                if (this.currentLoggedUser === null || typeof this.currentLoggedUser.id === 'undefined') {
                    this.showPopupMessage('Take participation in the task', 'You need to login !', 'warn')
                    return
                }

                if (!this.loggedUserIsManager) {
                    this.showPopupMessage('Take participation in the task', 'You have no access to this functionality !', 'warn')
                    return
                }


                let credentials = this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/manager/users_assigned_to_task/' + this.taskRow.id, credentials)
                    .then((response) => {
                        this.usersAssignedToTask = response.data.usersAssignedToTask
                        this.$modal.show('modal-members-of-this-task')
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Users assigned to task', error.response.data.message, 'warn')
                    })
            }, // showMembersOfThisTask() {

            cancelMembersOfThisTask() {
                this.$modal.hide('modal-members-of-this-task')
                this.selected_users_assigned_to_task_id = null
                this.selection_users_assigned_to_task_action_memo = ''
                this.selection_users_assigned_to_task_action = null
            }, // cancelMembersOfThisTask() {

            // MEMBERS OF THIS TASK MODAL END


            usersAssignedToTaskActionSelected() {
                if (this.currentLoggedUser === null || typeof this.currentLoggedUser.id === 'undefined') {
                    this.showPopupMessage("Participation in the task", 'You need to login !', 'warn')
                    return
                }

                if (this.selected_users_assigned_to_task_id === null) {
                    this.showPopupMessage("Participation in the task", 'Select participation in the task !', 'warn')
                    return
                }

                if (this.selection_users_assigned_to_task_action === null) {
                    this.showPopupMessage("Participation in the task", 'Select action !', 'warn')
                    return
                }

                let credentials = this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                if (this.selection_users_assigned_to_task_action.code === 'A') { // Accept (user starts working in the task)
                    if (!confirm("Do you want to accept  this task participation ?")) {
                        this.selection_users_assigned_to_task_action = null
                        return
                    }

                    axios.post(this.apiUrl + '/manager/accept_task_assigned_to_user', {
                        task_assigned_to_users_id: this.selected_users_assigned_to_task_id,
                        selected_users_assigned_to_task_id: this.selected_users_assigned_to_task_id,
                        task_assigned_to_user_description: this.selection_users_assigned_to_task_action_memo
                    }, credentials).then((/*response*/) => {
                        this.showPopupMessage("User assigned accepting", 'Selected participation was successfully activated !', 'success')
                        this.cancelMembersOfThisTask()
                    }).catch((error) => {
                        console.error(error)
                        this.showPopupMessage("User assigned accepting", error.response.data.message, 'warn')
                    })

                } // if (this.selection_users_assigned_to_task_action.code === 'A') { // Accept (user starts working in the task)

                if (this.selection_users_assigned_to_task_action.code === 'C') {
                    // Cancel (user can not work in the task, but the request is not deleted and can be selected later)

                    if (!confirm("Do you want to cancel this task participation? Later it can be activated...")) {
                        this.selection_users_assigned_to_task_action = null
                        return
                    }

                    axios.post(this.apiUrl + '/manager/cancel_task_assigned_to_user', {
                        task_assigned_to_users_id: this.selected_users_assigned_to_task_id,
                        task_assigned_to_user_description: this.selection_users_assigned_to_task_action_memo
                    }, credentials).then((/*response*/) => {
                        this.showPopupMessage("Participate in task cancelling", 'Selected participation was successfully cancelled !', 'success')
                        this.cancelMembersOfThisTask()
                    }).catch((error) => {
                        console.error(error)
                        this.showPopupMessage("Participate in task cancelling", error.response.data.message, 'warn')
                    })


                }
                if (this.selection_users_assigned_to_task_action.code === 'R') { // Remove (user can not work in the task, and the request is deleted)

                    if (!confirm("Do you want to remove this task participation?")) {
                        this.selection_users_assigned_to_task_action = null
                        return
                    }
                    axios.post(this.apiUrl + '/manager/remove_task_assigned_to_user', {
                        task_assigned_to_users_id:
                        this.selected_users_assigned_to_task_id
                    }, credentials).then((/*response*/) => {
                        this.showPopupMessage("User assigned removing", 'Selected participation was successfully removed !', 'success')
                        this.task_assigned_to_users_count = this.task_assigned_to_users_count - 1
                        this.cancelMembersOfThisTask()
                    }).catch((error) => {
                        console.error(error)
                        this.showPopupMessage("User assigned removing", error.response.data.message, 'warn')
                    })

                } // if (this.selection_users_assigned_to_task_action.code === 'R') { // Remove (user can not work in the task, and the request is deleted)

                this.selection_users_assigned_to_task_action = null
                this.selected_users_assigned_to_task_id = null

            }, // usersAssignedToTaskActionSelected() {

            // MEMBERS OF THIS TASK MODAL END


            showEventDetails(event_id) {
                axios({url: this.apiUrl + '/event/' + event_id, data: {}, method: 'get'})
                    .then(({data}) => {
                        this.eventDetailsRow = data.event[0]
                        this.$modal.show('modal-task-event-details')
                    })
                    .catch(error => {
                        this.showPopupMessage('Tasks', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                        this.$router.push({path: '/'})
                    })

            },
            cancelEventDetails() {
                this.$modal.hide('modal-task-event-details')
                this.eventDetailsRow = {}
            },

            calcEditorWidth() {
                if (this.innerWidth <= 320) {
                    this.editorIndent = 30
                    return
                }
                if (this.innerWidth <= 600) {
                    this.editorIndent = 80
                    return
                }
                if (this.innerWidth <= 768) {
                    this.editorIndent = 180
                    return
                }
                if (this.innerWidth <= 1024) {
                    this.editorIndent = 380
                    return
                }
                if (this.innerWidth <= 1280) {
                    this.editorIndent = 400
                    return
                }
                this.editorIndent = 750
            }

        }, // methods: {


        computed: {
            filteredUsersAssignedToTaskActionLabels() {
                let retArray = []
                this.usersAssignedToTaskActionLabels.map((nextUsersAssignedToTaskActionLabels) => {
                    if (this.selected_users_assigned_to_task_status === 'A' && nextUsersAssignedToTaskActionLabels.code !== 'A') { // A=>Accepted
                        retArray[retArray.length] = nextUsersAssignedToTaskActionLabels
                    }
                    if (this.selected_users_assigned_to_task_status === 'C' && nextUsersAssignedToTaskActionLabels.code === 'R') { // C=>Canceled
                        retArray[retArray.length] = nextUsersAssignedToTaskActionLabels
                    }
                    if (this.selected_users_assigned_to_task_status === 'N' /*&& nextUsersAssignedToTaskActionLabels.code === 'R'*/) { // C=>Canceled
                        retArray[retArray.length] = nextUsersAssignedToTaskActionLabels
                    }
                })
                return retArray
            },

            getHeaderTitle: function () {
                return 'Task details'
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },

            currentLoggedUser() {
                return this.$store.getters.user
            },

            userSkills() {
                return this.$store.getters.userSkills
            },

            loggedUserTaskAssignedToUsers() {
                return this.$store.getters.taskAssignedToUsers
            },

            modalTaskAssignedToUserHeight() {
                return this.innerHeight - 400
            },

            modalMembersOfTaskHeight() {
                return this.innerHeight - 100
            },

            modalTaskEventDetailsHeight() {
                return this.innerHeight - 100
            },

            modalWidth() {
                return this.innerWidth - 200
            },

            loggedUserIsManager: function () {
                return this.$store.getters.is_manager
            },

        }, // computed: {

    }

</script>
