<template>
    <article class="page_content_container">

        <listing-header :show_loading_image=!is_page_loaded :current_page=current_page :itemsList="tasks"
                        :rows_count="tasks_total_count"
                        :header_icon="getHeaderIcon('task')"
                        :header_title="blockTitle"
                        :right_add_button_link="''" :item_title="tasks.length| pluralize(['task', 'tasks'])"
                        :right_add_button_link_title="''"
                        :right_icon="getHeaderIcon('search')"
                        right_icon_class_title="Search"
                        parent_component_key="task_selection">
        </listing-header>
        <p class="alert alert-info m-3 p-1 text-center row_content_centered" role="alert" v-if="tasks_total_count === 0 && is_page_loaded">
            There are no any tasks yet.
        </p>

        <fieldset class="bordered text-muted p-0 m-0" style="width: 100%;" v-show="tasks.length && is_page_loaded">
            <legend class="bordered">Sorting</legend>
            <div class="filter_box_items_row">
                <div class="filter_box_radio_cell">
                    <input name="order_by" id="order_by_price" type="radio" value="price" v-model="order_by"
                           class="filter_box_radio" v-on:change="loadTasksData(true)">
                    <label class="filter_box_radio_label" for="order_by_price">By Price</label>
                </div>

                <div class="filter_box_radio_cell">
                    <input name="order_by" id="order_by_priority" type="radio" value="priority" v-model="order_by"
                           class="filter_box_radio" v-on:change="loadTasksData(true)">
                    <label class="filter_box_radio_label" for="order_by_priority">By Priority</label>
                </div>

                <div class="filter_box_radio_cell">
                    <input name="order_by" id="order_by_name" type="radio" value="name" v-model="order_by"
                           class="filter_box_radio" v-on:change="loadTasksData(true)">
                    <label class="filter_box_radio_label" for="order_by_name">Name</label>
                </div>

                <div class="filter_box_radio_cell">
                    <input name="order_by" id="order_by_date_start" type="radio" value="date_start" v-model="order_by"
                           class="filter_box_radio" v-on:change="loadTasksData(true)">
                    <label class="filter_box_radio_label" for="order_by_date_start">Date start</label>
                </div>
            </div>

        </fieldset>


        <div class="row m-0 p-0" v-show="tasks.length && is_page_loaded">
            <div v-for="(nextActiveTask, index) in tasks" :key="nextActiveTask.id" class="col-sm-12 col-md-6 p-2 m-0">
                <task-list-item
                        :currentLoggedUser="currentLoggedUser"
                        :nextActiveTask="nextActiveTask"
                        :index="index"
                        :is_show_location="true"
                ></task-list-item>
            </div>
        </div>

        <section class="row_content_centered" v-show="tasks.length && is_page_loaded">
            <listing-pagination
                    :current="current_page"
                    :total="tasks_total_count"
                    :items_per_page="tasks_per_page"
                    :show_next_prior_buttons=false
                    @paginationPageChangedEvent="paginationPageClicked"
                    :show_page_number_label="true"
                    :show_rows_label="true"
                    :item_title="tasks.length| pluralize(['task', 'tasks'])"
            >
            </listing-pagination>
        </section>

        <fieldset class="blocks" v-if="demo_version">
            <legend class="blocks"><i :class="getHeaderIcon('demo-info')"></i>Demo info&nbsp;</legend>

            <div class="m-1 p-1 pre-formatted description-text" style="overflow-y: auto; max-height: 200px;">
                <ol class="m-1 p-1">
                    <li>You need to login to see tasks you assigned to and which your skills are required in tasks</li>
                    <li>For description look at details page</li>
                </ol>
            </div>

        </fieldset>

        <!-- TASKS SEARCH START-->

        <modal :height="modalTasksSearchHeight" :width="modalWidth" name="modal-tasks-search" transition="pop-out">

            <section class="modal-content p-3 flexbox-parent">
                <p class="modal-header flexbox-item header p-2">
                    <i :class="'pt-1 '+getHeaderIcon('search') "></i><span class="modal-title">Tasks search</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click.prevent="cancelTasksSearchDialog()">
                        <span aria-hidden="true">×</span>
                    </button>
                </p>

                <div class="modal-body flexbox-item fill-area-content flexbox-item-grow ">

                    <div class="simple_bordered_block p-2">

                        <dl class="block_2columns_md p-3">
                            <dt class="horiz_divider_left_13">
                                <label class="col-12 col-sm-4 col-form-label" for="search_string_input">Search task by name:</label>
                            </dt>
                            <dd class="horiz_divider_right_23">

                                <vue-simple-suggest
                                        id="search_string_input"
                                        v-model="searchFoundItem"
                                        display-attribute="name"
                                        value-attribute="slug"
                                        :list="simpleSuggestionList"
                                        autocomplete=off
                                        mode="select"
                                        @select="taskSuggestionSelected()"
                                        :filter-by-query="true"
                                        :min-length="2"
                                >
                                    <div slot="suggestion-item" slot-scope="{ suggestion/*, query*/ }">
                                        <div>{{ suggestion.name }} with price <strong>{{ moneyFormat(suggestion.price) }}</strong> and <strong>{{
                                            getDictionaryLabel(suggestion.priority, priorityLabels) }}</strong> priority
                                        </div>
                                    </div>
                                </vue-simple-suggest>
                            </dd>
                        </dl>

                        <p class="alert alert-info m-1 p-1 pl-4 pr-4" role="alert">
                            You can narrow search by selecting price range criteria and task categories.
                        </p>

                        <dl class="block_2columns_md p-3">
                            <dd class="horiz_divider_right_23 m-3 pl-5">
                                <input
                                        class="editable_field custom-control-input"
                                        type="checkbox"
                                        value="1"
                                        style="width: 50px;padding-left: 60px;"
                                        id="only_free"
                                        v-model="cbx_only_free"
                                        :checked="cbx_only_free"
                                >
                                <label class="custom-control-label" :for="'only_free'">Only Free</label>
                            </dd>
                        </dl>

                        <dl class="block_2columns_md p-3" v-if="tasksPriceRange && !cbx_only_free">
                            <dt class="horiz_divider_left_13">
                                <label class="col-12 col-sm-4 col-form-label" for="tasks_price_max_range">Price Range:</label>
                            </dt>
                            <dd class="horiz_divider_right_23 pr-3">
                                <vue-slider
                                        :min="tasks_price_min_range"
                                        :max="tasks_price_max_range"
                                        :marks="[tasks_price_min_range, tasks_price_max_range]"
                                        id="tasks_price_max_range"
                                        v-model=" tasksPriceRange"
                                        tooltip="always"
                                        tooltipPlacement="top"
                                />
                            </dd>
                        </dl>

                        <dl class="block_2columns_md p-3" v-if="tasksSearchInfo">
                            <table class="table table-striped">
                                <tbody>
                                <tr v-for="nextCategory in tasksSearchInfo.categoriesLabels" :key="nextCategory.id">
                                    <td class="text-left m-3 pl-5">
                                        <input
                                                class="editable_field custom-control-input"
                                                type="checkbox"
                                                value="1"
                                                style="width: 50px;padding-left: 60px;"
                                                :id="'custom_selected_users_assigned_to_task_id_'+nextCategory.id"
                                                v-model="nextCategory.selected"
                                                :checked="nextCategory.selected"
                                                @change="categoryChanged"
                                        >
                                        <label class="custom-control-label"
                                               :for="'custom_selected_users_assigned_to_task_id_'+nextCategory.id">{{nextCategory.name}}</label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </dl>


                    </div>

                </div> <!-- <div class="modal-body"> -->

                <section class="modal-footer flexbox-item form-row row_content_right_aligned">
                    <button type="button" class="btn btn-secondary btn-sm m-2" @click.prevent="cancelTasksSearchDialog()">
                        <i :class="getHeaderIcon('cancel')"></i>Cancel
                    </button>
                </section>

            </section> <!-- <section class="modal-content"> -->


        </modal> <!-- modal-tasks-search  -->

        <!-- TASKS SEARCH END -->

    </article>
</template>

<script>

    import VueSimpleSuggest from 'vue-simple-suggest' // https://github.com/KazanExpress/vue-simple-suggest
    import 'vue-simple-suggest/dist/styles.css'

    import VueSlider from 'vue-slider-component'
    import 'vue-slider-component/theme/antd.css'


    import {bus} from '../../main'
    import axios from 'axios'

    import {retrieveAppDictionaries} from "@/commonFuncs"

    import Vue from 'vue'

    import appMixin from '@/appMixin'
    import {settingsTaskPriorityLabels, settingsTaskStatusLabels, settingsJsMomentDateFormat, settingCredentialsConfig} from '@/app.settings.js'

    Vue.component('listing-header', require('../../../src/components/ListingHeader.vue').default)
    Vue.component('listing-pagination', require('../../../src/components/ListingPagination.vue').default)
    Vue.component('task-list-item', require('@/views/tasks/TaskListItem.vue').default)
    export default {

        mixins: [appMixin],

        data: function () {
            return {
                innerWidth: window.innerWidth,
                innerHeight: window.innerHeight,
                count: 0,
                searchFoundItem: '',
                cbx_only_free: 0,
                tasks_price_min_range: 0,
                tasks_price_max_range: 1,
                tasksPriceRange: [0, 1],
                // chosen: '',
                tasksSearchInfo: {},
                is_page_loaded: false,
                current_page: 1,
                tasks: [],
                tasks_total_count: 0,
                tasks_per_page: 20,
                order_by: 'date_start',
                priorityLabels: settingsTaskPriorityLabels,
                statusLabels: settingsTaskStatusLabels,
                jsMomentDateFormat: settingsJsMomentDateFormat,
                credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL,
                demo_version: process.env.VUE_APP_DEMO_VERSION,
                app_version: process.env.VUE_APP_VERSION

            }
        }, // data: function () {

        components: {
            VueSlider,
            VueSimpleSuggest
        },

        mounted() {
            this.setAppTitle('Task', 'Tasks selection', bus)
            retrieveAppDictionaries('TasksSelection', ['tasks_per_page', 'tasks_search_info'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'TasksSelection') {
                    // console.log('++data::')
                    // console.log(data)
                    this.tasks_per_page = data.tasks_per_page
                    this.tasksSearchInfo = data.tasksSearchInfo
                    this.tasks_price_min_range = parseInt(this.tasksSearchInfo.min_tasks_price)
                    this.tasks_price_max_range = parseInt(this.tasksSearchInfo.max_tasks_price)
                    this.tasksPriceRange = [parseInt(this.tasksSearchInfo.min_tasks_price), parseInt(this.tasksSearchInfo.max_tasks_price)]
                }
            })

            this.loadTasksData(false)

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                console.log('listingHeaderRightButtonClickedEvent parent_component_key::')
                console.log(parent_component_key)
                
                if (parent_component_key == 'task_selection') {
                    console.log('listingHeaderRightButtonClickedEvent INSIDE::')
                    console.log('INSIDE')
                    this.$modal.show('modal-tasks-search')
                }
            })

        }, // mounted() {

        methods: {
            loadTasksData(current_page_to_1) {
                this.is_page_loaded = false
                if (current_page_to_1) {
                    this.current_page = 1
                }

                axios({
                    url: this.apiUrl + '/tasks/' + this.current_page + '/order_by/' + this.order_by + '/filter/' + this.filter_type,
                    data: {},
                    method: 'get',
                    config:
                    this.credentialsConfig
                })
                    .then(({data}) => {
                        this.tasks = data.tasks
                        this.tasks_total_count = data.meta.tasks_total_count
                        this.is_page_loaded = true

                    })
                    .catch(error => {
                        this.showPopupMessage('Tasks', error.response.tasks.message, 'warn')
                        this.$router.push({path: '/'})
                        this.is_page_loaded = true
                    })
            }, // loadTasksData () {

            paginationPageClicked(par1) {
                this.current_page = par1
                this.loadTasksData(false)
            },

            isTaskAssignedToLoggedUser(task_id) {
                let ret = false
                this.taskAssignedToUsers.map((nextTaskAssignedToUsers) => {
                    if (nextTaskAssignedToUsers.task_id === task_id) {
                        ret = true
                        return
                    }
                })
                return ret
            }, // isTaskAssignedToLoggedUser(task_id) {

            taskEventsInfo(task) {
                return 'Task has ' + task.events_count + ' events'
            }, // taskStatusInfo(task) {

            taskStatusInfo(task_status) {
                if (task_status === 'A') {
                    return 'Task is in Assigning status. Lorem ipsum dolor sit amet'
                }
                if (task_status === 'P') {
                    return 'Task is in Processing status. Lorem ipsum dolor sit amet'
                }
                if (task_status === 'K') {
                    return 'Task is in Checking status. Lorem ipsum dolor sit amet'
                }
            }, // taskStatusInfo(task_status) {

            cancelTasksSearchDialog() {
                this.$modal.hide('modal-tasks-search')
                // this.viewActivityLogRow = null
            }, // cancelTasksSearchDialog() {

            simpleSuggestionList() {
                let filters = {
                    only_free: (this.cbx_only_free ? 1 : 0),
                    price_min: null,
                    price_max: null,
                    selectedCategories: this.getSelectedCategories
                }
                if (!this.cbx_only_free) {
                    filters.price_min = this.tasksPriceRange[0]
                    filters.price_max = this.tasksPriceRange[1]
                }
                return axios.post(this.apiUrl + '/tasks-search', filters, this.credentialsConfig)
                    .then(({data}) => {
                        return data.tasks
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Tasks search', error.response.data.message, 'warn')
                    })

                // return this.retArray
            },

            taskSuggestionSelected() {
                if (this.isEmpty(this.searchFoundItem)) return
                this.$router.push({path: '/task-details/' + this.searchFoundItem.slug})
            },
            categoryChanged() {
                this.searchFoundItem = ''
            }
        }, // methods: {

        computed: {
            currentLoggedUser() {
                return this.$store.getters.user
            },

            taskAssignedToUsers() {
                return this.$store.getters.taskAssignedToUsers
            },

            userSkills() {
                return this.$store.getters.userSkills
            },

            modalTasksSearchHeight() {
                return this.innerHeight - 100
            },
            modalWidth() {
                return this.innerWidth - 100
            },

            getSelectedCategories() {
                let retArray = []
                //tasksSearchInfo.categoriesLabels
                // console.log('typeof this.tasksSearchInfo.categoriesLabels::')
                // console.log( this.tasksSearchInfo.categoriesLabels)
                // console.log(typeof this.tasksSearchInfo.categoriesLabels)

                // if (this.isEmpty(this.tasksSearchInfo)  ) return []
                if (this.isEmpty(this.tasksSearchInfo) || (typeof this.tasksSearchInfo.categoriesLabels == 'undefined')) return []
                this.tasksSearchInfo.categoriesLabels.map((nextCategoryLabel) => {
                    // console.log('nextCategoryLabel::')
                    // console.log(nextCategoryLabel)
                    if (nextCategoryLabel.selected) { // A=>Accepted
                        retArray[retArray.length] = nextCategoryLabel.id
                    }
                })
                return retArray
            },


        }, // computed: {


        props: {
            blockTitle: {
                type: String,
                required: true
            },
            filter_type: {
                type: String,
                required: false,
                default: '-'
            },
        },


    }

</script>
