<template>

    <article class="column_content_centered">
<!--        todos_count:{{ todos_count }}<br>-->
<!--        weather_locations_count:{{ weather_locations_count }}<br>-->

        <div class="p-2 column_content_centered">
            <editor-header :show_loading_image="!is_page_loaded" :header_icon="getHeaderIcon('profile')" :header_title="getHeaderTitle"
                           :message="''"></editor-header>
        </div>

        <div class="page_content col-sm-12 p-2 m-0 mx-auto">

            <div class="card">
                <h4 class="card-header"><i :class="'i_link '+getHeaderIcon('profile')"></i>Click "Edit" to move Profile editor</h4>

                <div class="card-body card-block">

                    <dl class="block_2columns_md m-3"> <!-- id -->

                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="id">Id:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="userProfileRow.id"
                                    name="id"
                                    id="id"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> id -->

                    <dl class="block_2columns_md m-3"> <!-- name -->

                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="name">Name:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i :class="'i_link '+getHeaderIcon('users')"></i>
                                </div>
                                <input
                                        type='text'
                                        v-model="userProfileRow.name"
                                        name="name"
                                        id="name"
                                        class="form-control"
                                        readonly="readonly"
                                >
                            </div>

                        </dd>

                    </dl> <!-- <dl class="block_2columns_md m-0"> name -->


                    <dl class="block_2columns_md m-3"> <!-- email -->

                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="email">Email:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i :class="'i_link '+getHeaderIcon('email')"></i>
                                </div>
                                <input
                                        type='email'
                                        v-model="userProfileRow.email"
                                        name="email"
                                        id="email"
                                        class="form-control"
                                        readonly="readonly"
                                >
                            </div>

                        </dd>

                    </dl> <!-- <dl class="block_2columns_md m-0"> email -->

                    <dl class="block_2columns_md m-3"> <!-- userGroups -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label">Access groups:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i :class="'i_link '+getHeaderIcon('has_access')"></i>
                                </div>

                                <ul v-if="userGroups.length">
                                    <li v-for="nextUserGroup in userGroups" :key="nextUserGroup.group_id">
                                        {{ nextUserGroup.group_name }}
                                    </li>
                                </ul>
                            </div>

                        </dd>

                    </dl> <!-- <dl class="block_2columns_md m-0"> userGroups -->

                    <dl class="block_2columns_md m-3"> <!-- first_name -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="first_name">First name:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="userProfileRow.first_name"
                                    name="first_name"
                                    id="first_name"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> first_name -->


                    <dl class="block_2columns_md m-3"> <!-- last_name -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="last_name">Last name:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="userProfileRow.last_name"
                                    name="last_name"
                                    id="last_name"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> last_name -->


                    <dl class="block_2columns_md m-3"> <!-- status -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="status">Status:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="status_label"
                                    name="status"
                                    id="status"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> status -->


                    <dl class="block_2columns_md m-3"> <!-- phone -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="phone">Phone:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="userProfileRow.phone"
                                    name="phone"
                                    id="phone"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> phone -->

                    <dl class="block_2columns_md m-3" v-if="userHasAvatar(userProfileRow)"> <!-- avatar -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="avatar">Avatar:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <img v-if="userHasAvatar(userProfileRow)" class="m-1 p-1 img-preview-wrapper img_full_width_wrapper"
                                 :src="userProfileRow.filenameData.avatar_url"
                                 alt="User's avatar"/>
                            <div class="alert alert-info m-1 p-1 row_content_left_aligned" role="alert" v-if="userHasAvatar(userProfileRow)">
                                <div class="alert alert-info m-1 p-1 row_content_left_aligned" role="alert" v-if="userHasAvatar(userProfileRow)">

                                    <ul class="ul_horiz_lis">
                                        <li class="ul_horiz_lis_left_aligned m-1 p-1">
                                            <div class="pre-formatted" v-html="userProfileRow.filenameData.file_info"></div>
                                        </li>
                                    </ul>


                                </div>
                            </div>

                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> avatar -->


                    <dl class="block_2columns_md m-3"> <!-- website -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="website">Website:</label>
                        </dt>
                        <dt class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="userProfileRow.website"
                                    name="website"
                                    id="website"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dt>
                    </dl> <!-- <dl class="block_2columns_md m-0"> website -->


                    <dl class="block_2columns_md m-3"> <!-- contract_start -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="contract_start">Contract start:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="contract_start_label"
                                    name="contract_start"
                                    id="contract_start"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> contract_start -->


                    <dl class="block_2columns_md m-3"> <!-- contract_end -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="contract_end">Contract end:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="contract_end_label"
                                    name="contract_end"
                                    id="contract_end"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> contract_end -->


                    <dl class="block_2columns_md m-3"> <!-- created_at -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="created_at">Created at:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="created_at_label"
                                    name="created_at"
                                    id="created_at"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> created_at -->


                    <dl class="block_2columns_md m-3" v-if="updated_at_label"> <!-- updated_at -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="updated_at">Updated at:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="updated_at_label"
                                    name="updated_at"
                                    id="updated_at"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> updated_at -->

                    <dl class="block_2columns_md m-3" v-if="last_logged_label"> <!-- last_logged -->
                        <dt class="horiz_divider_left_13">
                            <label class="col-form-label" for="last_logged">Last logged:</label>
                        </dt>
                        <dd class="horiz_divider_right_23">
                            <input
                                    type='text'
                                    v-model="last_logged_label"
                                    name="last_logged"
                                    id="last_logged"
                                    class="form-control"
                                    readonly="readonly"
                            >
                        </dd>
                    </dl> <!-- <dl class="block_2columns_md m-0"> last_logged -->

                </div> <!-- <div class="card-body card-block"> -->


                <fieldset class="blocks p-3">
                    <legend class="blocks">Skills&nbsp;</legend>

                    <div class="table-responsive table-wrapper-for-data-listing" v-if="userSkills.length">
                        <table class="table table-striped table-data-listing">
                            <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Rating</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="nextUserSkill in userSkills" :key="nextUserSkill.skill_id" v-show="nextUserSkill.rating">
                                <td class="text-left">
                                    {{ nextUserSkill.skill_name }}
                                </td>
                                <td class="text-left">{{ getDictionaryLabel(nextUserSkill.rating, userSkillsLabels) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <p class="alert alert-info m-3 p-1 text-center row_content_centered" role="alert" v-if="!userSkills.length">
                        You have no user skills yet.
                    </p>

                </fieldset>


                <fieldset class="blocks p-3 mt-4">
                    <legend class="blocks">Assigned tasks&nbsp;</legend>
                    <div class="table-responsive table-wrapper-for-data-listing " v-if="tasksAssignedToUser.length">
                        <table class="table table-striped table-data-listing">

                            <thead>
                            <tr>
                                <th>Task</th>
                                <th>Your Role</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="nextTaskAssignedToUser in tasksAssignedToUser" :key="nextTaskAssignedToUser.id">
                                <td class="text-left">
                                    <router-link :to="{ name: 'taskDetails', params: { slug: nextTaskAssignedToUser.task_slug }  }" class="a_link"
                                                 target="_blank">
                                        {{ nextTaskAssignedToUser.task_name }}
                                    </router-link>
                                </td>
                                <td class="text-left">
                                    <i :class="'i_link '+getHeaderIcon('description')" :title="clearTags(nextTaskAssignedToUser.description)"></i>{{
                                    nextTaskAssignedToUser.user_task_type_name }}
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                    <p class="alert alert-info m-3 p-1 text-center row_content_centered" role="alert" v-if="!tasksAssignedToUser.length">
                        You have no assigned tasks yet.
                    </p>

                </fieldset>

                <fieldset class="blocks p-3 mt-4" v-if="weather_locations_count > 0">
                    <legend class="blocks">Miscellaneous&nbsp;</legend>

                    <span class="nowrap_block">
                        <router-link to="/weather-viewer" class="a_link"  >
                            <i :class="'i_link '+getHeaderIcon('weather')" title="Your weather locations"></i>
                            You have {{ weather_locations_count }} weather location{{ weather_locations_count | pluralize(['','s'])}}
                        </router-link>
                    </span>

                </fieldset>



                <section class="card-footer row_content_right_aligned">
                    <button type="button" class="btn btn-danger btn-sm m-3" @click.prevent="$router.push('/')">
                        <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                    </button>
                    <router-link :to="{ name: 'profileEditor' }" class="btn btn-success btn-sm m-3 ml-4 mr-4">
                        <i :class="'i_link '+getHeaderIcon('edit')"></i>Edit
                    </router-link>
                </section>

            </div> <!-- <div class="card"> -->

        </div> <!-- page_content -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../src/main'
    import appMixin from '@/appMixin'
    import axios from 'axios'

    import Vue from 'vue'

    Vue.component('editor-header', require('../../../src/components/EditorHeader.vue').default)

    import {
        settingsUserStatusLabels,
        settingsUserSkillsLabels,
        settingsJsMomentDatetimeFormat,
        settingCredentialsConfig
    } from '@/app.settings.js'

    export default {
        name: 'profilePage',

        mixins: [appMixin],

        components: {},

        data() {
            return {
                // user_profile_id: 1,  // FIX
                userProfileRow: {},
                userSkills: [],
                userGroups: [],
                tasksAssignedToUser: [],
                todos_count: 0,
                weather_locations_count: 0,
                is_page_loaded: false,
                userSkillsLabels: settingsUserSkillsLabels,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                userStatusLabels: settingsUserStatusLabels,
                credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        created() {
            if (!this.userProfileRow) {
                this.showPopupMessage('Access', 'Not authorized !', 'warn')
                this.$router.push('/login')
            }

        }, //  created() {

        mounted() {
            this.setAppTitle('Profile', 'Profile', bus)
            this.loadUserProfile()
        }, // mounted() {


        methods: {
            loadUserProfile() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/personal/profile', credentials)
                    .then((response) => {
                        this.userProfileRow = response.data.user
                        this.userSkills = response.data.userSkills
                        this.userGroups = response.data.userGroups
                        this.tasksAssignedToUser = response.data.tasksAssignedToUser
                        this.is_page_loaded = true
                        this.todos_count = response.data.todos_count
                        this.weather_locations_count = response.data.weather_locations_count
                        // this.showTaskAssignedToUser()
                    })
                    .catch(error => {
                        console.error(error)
                        this.is_page_loaded = true
                        this.$router.push({path: '/'})
                    })

            }, // loadUserProfile() {
        }, // methods: {

        computed: {
            getHeaderTitle: function () {
                if (this.userProfileRow) {
                    return "Profile of " + this.userProfileRow.name
                } else {
                    return "Profile"
                }
            },

            created_at_label: function () {
                return this.momentDatetime(this.userProfileRow.created_at, this.jsMomentDatetimeFormat)
            },
            updated_at_label: function () {
                return this.momentDatetime(this.userProfileRow.updated_at, this.jsMomentDatetimeFormat)
            },
            last_logged_label: function () {
                return this.momentDatetime(this.userProfileRow.last_logged, this.jsMomentDatetimeFormat)
            },


            contract_start_label: function () {
                return this.momentDatetime(this.userProfileRow.contract_start, this.jsMomentDatetimeFormat)
            },
            contract_end_label: function () {
                return this.momentDatetime(this.userProfileRow.contract_end, this.jsMomentDatetimeFormat)
            },

            status_label: function () {
                return this.getDictionaryLabel(this.userProfileRow.status, this.userStatusLabels)
            },
            currentLoggedUserToken() {
                return this.$store.getters.token
            }

        }

    }
</script>
