<template>
    <article class="column_content_centered">

        <div class="p-3 pl-5 column_content_centered">
            <h3>
                {{ getHeaderTitle }}
            </h3>
        </div>

<!--        userSkills::{{ userSkills }}-->
        <div class="page_content col-sm-12 p-2 m-0 mx-auto">

            <vue-tabs
                    active-tab-color="#224A37"
                    active-text-color="white"
                    v-model="active_tab"
            >

                <v-tab title="Details">

                    <ValidationObserver
                            ref="profileEditorObserverForm"
                            v-slot="{handleSubmit}"
                    >
                        <form class="profileEditor" @submit.prevent="handleSubmit(onSubmit)">

                            <div class="card">
                                <h4 class="card-header"><i :class="'i_link '+getHeaderIcon('profile')"></i>You can edit only some fields</h4>

                                <div class="card-body card-block">

                                    <dl class="block_2columns_md m-3"> <!-- id -->

                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="id">Id:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="userProfileRow.id"
                                                    name="id"
                                                    id="id"
                                                    class="form-control"
                                                    readonly="readonly"
                                            >
                                        </dd>

                                    </dl> <!-- <dl class="block_2columns_md m-0"> id -->

                                    <dl class="block_2columns_md m-3"> <!-- name -->

                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="name">Name:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">

                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i :class="'i_link '+getHeaderIcon('users')"></i>
                                                </div>
                                                <input
                                                        type='text'
                                                        v-model="userProfileRow.name"
                                                        name="name"
                                                        id="name"
                                                        class="form-control"
                                                        readonly="readonly"
                                                >
                                            </div>

                                        </dd>

                                    </dl> <!-- <dl class="block_2columns_md m-0"> name -->

                                    <dl class="block_2columns_md m-3"> <!-- email -->

                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="email">Email:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">

                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i :class="'i_link '+getHeaderIcon('email')"></i>
                                                </div>
                                                <input
                                                        type='email'
                                                        v-model="userProfileRow.email"
                                                        name="email"
                                                        id="email"
                                                        class="form-control"
                                                        readonly="readonly"
                                                >
                                            </div>

                                        </dd>

                                    </dl> <!-- <dl class="block_2columns_md m-0"> email -->


                                    <dl class="block_2columns_md m-3"> <!-- userGroups -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label">Access groups:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">

                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i :class="'i_link '+getHeaderIcon('has_access')"></i>
                                                </div>

                                                <ul>
                                                    <li v-for="nextUserGroup in userGroups" :key="nextUserGroup.group_id">
                                                        <td class="text-left">
                                                            {{ nextUserGroup.group_name }}
                                                        </td>
                                                    </li>
                                                </ul>

                                            </div>

                                        </dd>

                                    </dl> <!-- <dl class="block_2columns_md m-0"> userGroups -->


                                    <dl class="block_2columns_md m-3"> <!-- first_name -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="first_name">First name:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">

                                            <ValidationProvider
                                                    name="first_name"
                                                    :rules="{ required : true, alpha : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="userProfileRow.first_name"
                                                        name="first_name"
                                                        id="first_name"
                                                        class="form-control"
                                                        placeholder="Enter your first name"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>

                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> first_name -->


                                    <dl class="block_2columns_md m-3"> <!-- last_name -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="last_name">Last name:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">

                                            <ValidationProvider
                                                    name="last_name"
                                                    :rules="{ required : true, alpha : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="userProfileRow.last_name"
                                                        name="last_name"
                                                        id="last_name"
                                                        class="form-control"
                                                        placeholder="Enter your last name"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>

                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> last_name -->


                                    <dl class="block_2columns_md m-3"> <!-- status -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="status">Status:</label>
                                        </dt>
                                        <dt class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="status_label"
                                                    name="status"
                                                    id="status"
                                                    class="form-control"
                                                    readonly="readonly"
                                            >
                                        </dt>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> status -->


                                    <dl class="block_2columns_md m-3"> <!-- phone -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="phone">Phone:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">


                                            <ValidationProvider
                                                    name="phone"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="userProfileRow.phone"
                                                        name="phone"
                                                        id="phone"
                                                        class="form-control"
                                                        placeholder="Enter your phone"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>


                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> phone -->


                                    <dl class="block_2columns_md m-3"> <!-- website -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="website">Website:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">

                                            <ValidationProvider
                                                    name="website"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="userProfileRow.website"
                                                        data-vv-as="website"
                                                        name="website"
                                                        id="website"
                                                        class="form-control"
                                                        placeholder="Enter your website"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>

                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> website -->


                                    <dl class="block_2columns_md m-3"> <!-- contract_start -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="contract_start">Contract start:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="contract_start_label"
                                                    name="contract_start"
                                                    id="contract_start"
                                                    class="form-control"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> contract_start -->


                                    <dl class="block_2columns_md m-3"> <!-- contract_end -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="contract_end">Contract end:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="contract_end_label"
                                                    name="contract_end"
                                                    id="contract_end"
                                                    class="form-control"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> contract_end -->


                                    <dl class="block_2columns_md m-3"> <!-- created_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="created_at">Created at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="created_at_label"
                                                    name="created_at"
                                                    id="created_at"
                                                    class="form-control"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> created_at -->


                                    <dl class="block_2columns_md m-3"> <!-- last_logged -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="last_logged">Last logged:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="last_logged_label"
                                                    name="last_logged"
                                                    id="last_logged"
                                                    class="form-control"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> last_logged -->


                                    <dl class="block_2columns_md m-3" v-if="updated_at_label"> <!-- updated_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="updated_at">Updated at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="updated_at_label"
                                                    name="updated_at"
                                                    id="updated_at"
                                                    class="form-control"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> updated_at -->

                                    <section class="card-footer row_content_right_aligned">
                                        <button type="reset" class="btn btn-danger btn-sm m-3" @click.prevent="$router.push('/')">
                                            <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                                        </button>
                                        <button type="submit" class="btn btn-success btn-sm m-3 ml-4 mr-4">
                                            <i :class="'i_link '+getHeaderIcon('save')"></i>Save Details
                                        </button>
                                    </section>

                                </div> <!-- <div class="card-body card-block"> -->

                            </div> <!-- <div class="card"> -->

                        </form>

                    </ValidationObserver>

                </v-tab> <!-- <v-tab title="Details"> -->


                <v-tab title="Skills">
                    <dl class="block_2columns_md m-0" v-for="nextSkillsLabel in skillsLabels" :key="nextSkillsLabel.code">
                        <dt class="block_2columns_sm p-3 " style="text-align: right !important; ">
                            <label class="col-form-label" style="text-align: right !important; ">&nbsp;
                                {{ nextSkillsLabel.label }}:
                            </label>
                        </dt>

                        <dd class="block_2columns_sm p-3 m-1">
                            <v-select
                                    v-model="nextSkillsLabel.selected_rating"
                                    label="label"
                                    :reduce="label => label.code"
                                    :options="userSkillsLabels"
                                    :id="'user_skills_labels_for_selection_' + nextSkillsLabel.code"
                                    :name="'user_skills_labels_for_selection_' + nextSkillsLabel.code"
                                    class="form-control editable_field"
                                    placeholder="Select User Skill"
                            ></v-select>

                        </dd>
                    </dl>

                    <section class="card-footer row_content_right_aligned">
                        <button type="reset" class="btn btn-danger btn-sm m-3" @click.prevent="$router.push('/')">
                            <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                        </button>
                        <button type="button" class="btn btn-success btn-sm m-3 ml-4 mr-4" @click.prevent="saveUserSkills()">
                            <i :class="'i_link '+getHeaderIcon('save')"></i>Save Skills
                        </button>
                    </section>


                </v-tab> <!-- <v-tab title="Skills"> -->


                <v-tab title="Assigned tasks">

                    <listing-header :show_loading_image=!is_page_loaded
                                    :itemsList="tasksAssignedToUser"
                                    :rows_count="tasksAssignedToUser.length"
                                    :header_icon="getHeaderIcon('task')"
                                    :header_title="tasksAssignedToUser.length| pluralize(['Assigned task', 'Assigned tasks'])"
                                    parent_component_key="assigned_tasks"
                                    :right_icon="'fa fa-refresh'"
                                    :show_no_data_found_label="false"
                    >
                    </listing-header>

                    <p class="alert alert-info m-3 p-1 text-center row_content_centered" role="alert" v-if="!tasksAssignedToUser.length">
                        You have no assigned tasks yet.
                    </p>

                    <div class="table-responsive table-wrapper-for-data-listing " v-show="tasksAssignedToUser.length">
                        <table class="table table-striped table-data-listing">

                            <thead>
                            <tr>
                                <th>Task</th>
                                <th>Task Status</th>
                                <th>Your Role</th>
                                <th>Your Status</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="(nextTaskAssignedToUser, index) in tasksAssignedToUser" :key="nextTaskAssignedToUser.id">
                                <td class="text-left">
                                    <router-link :to="{ name: 'taskDetails', params: { slug: nextTaskAssignedToUser.task_slug }  }" class="a_link"
                                                 target="_blank">
                                        {{ nextTaskAssignedToUser.task_name }}
                                    </router-link>
                                </td>
                                <td class="text-left">
                                    {{ getDictionaryLabel(nextTaskAssignedToUser.task_status, taskStatusLabels) }}
                                </td>
                                <td class="text-left">
                                    <i :class="'i_link '+getHeaderIcon('description')" :title="clearTags(nextTaskAssignedToUser.description)"></i>{{
                                    nextTaskAssignedToUser.user_task_type_name }}
                                </td>
                                <td class="text-left">
                                    {{ getDictionaryLabel(nextTaskAssignedToUser.status, taskAssignedToUsersStatusLabels) }}
                                </td>
                                <td class="text-left">
                                    <i :class="'i_link '+getHeaderIcon('remove')" :title="'You can remove this request to participate in task'"
                                       v-if="nextTaskAssignedToUser.status === 'C' || nextTaskAssignedToUser.status === 'N'"
                                       @click.prevent="deleteTasksAssignedToUser(nextTaskAssignedToUser.id, index)">
                                    </i>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                </v-tab> <!-- <v-tab title="Assigned tasks"> -->

                <v-tab title="Avatar">

                    <fieldset class="blocks">
                        <legend class="blocks p-3"><i :class="getHeaderIcon('upload')"></i>Avatar Preview/Upload</legend>

                        <img v-if="userHasAvatar(userProfileRow)" class="m-1 p-1 img-preview-wrapper img_full_width_wrapper"
                             :src="userProfileRow.filenameData.avatar_url"
                             alt="User's avatar"/>
                        <div class="alert alert-info m-1 p-1 row_content_left_aligned" role="alert" v-if="userHasAvatar(userProfileRow)">
                            <ul class="ul_horiz_lis">
                                <li class="ul_horiz_lis_left_aligned m-1 p-1">
                                    <div class="pre-formatted" v-html="userProfileRow.filenameData.file_info"></div>
                                </li>
                                <li class="ul_horiz_lis_right_aligned">
                                    <a v-on:click="removeUserAvatar()" class="btn btn-sm m-2 btn_right_aligned">
                                        <i class="fa fa-remove a_link" title="Delete task"></i>Remove
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <file-upload
                                ref="upload"
                                v-model="imageFiles"
                                post-action="/post.method"
                                put-action="/put.method"
                                @input-file="inputFile"
                                @input-filter="inputFilter"
                                :multiple="false"
                                class="btn btn-outline-secondary btn-sm m-2"
                        >
                            <i :class="'action_link '+getHeaderIcon('upload')"></i>Upload avatar
                        </file-upload>

                        <table class="m-2 p-0">
                            <tr v-for="nextFile in imageFiles" :key="nextFile.name">
                                <img :src="nextFile.blob" class="img-preview-wrapper img_full_width_wrapper" id="uploaded_image_file"/>
                                <div class="row_content_centered p-3">
                                    <div class="p-2">
                                        Name : <strong>{{ nextFile.name }}</strong>
                                    </div>
                                    <div class="p-2">
                                        Size : <strong>{{ getFileSizeAsString(nextFile.size) }}</strong>
                                    </div>

                                    <div v-show="uploaded_image_width" class="p-2">
                                        Width : <strong>{{ uploaded_image_width }}px</strong>
                                    </div>

                                    <div v-show="uploaded_image_height" class="p-2">
                                        Height : <strong>{{ uploaded_image_height }}</strong>
                                    </div>
                                </div>
                            </tr>

                        </table>

                        <div class="row_content_right_aligned" v-show="imageFiles.length">
                            <button type="reset" class="btn btn-danger btn-sm m-3" @click.prevent="cancelUserAvatar()">
                                <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                            </button>
                            <button type="button" class="btn btn-success btn-sm m-3 ml-4 mr-4" @click.prevent="uploadUserAvatar()">
                                <i :class="'i_link '+getHeaderIcon('save')"></i>Upload
                            </button>
                        </div>
                    </fieldset>


                </v-tab> <!-- <v-tab title="Avatar  "> -->

                <v-tab title="Delete account">

                    <button type="button" class="btn btn-primary btn-lg m-5" @click.prevent="deleteAccount()"
                            title="Delete account with all related data">
                        <i :class="'i_link '+getHeaderIcon('remove')" title="Delete account with all related data"></i>&nbsp; Delete account
                    </button>

                </v-tab> <!-- <v-tab title="Delete account  "> -->

            </vue-tabs>

            <fieldset class="blocks" v-if="demo_version">
                <legend class="blocks">
                    <i :class="getHeaderIcon('demo-info')"></i>Demo info&nbsp;
                </legend>

                <div class="pre-formatted description-text" style="overflow-y: auto; max-height: 200px; ">
                    <ol>
                        <li>You can edit several fields on "Details" tab</li>
                        <li>You can select rating of your skills on "Skills" tab</li>
                        <li>On "Assigned tasks" tab You can delete only New(Waiting for acception) and cancelled assigned tasks</li>
                    </ol>
                </div>
            </fieldset>

        </div> <!-- page_content -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../src/main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import Vue from 'vue'

    import Tabs from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(Tabs)
    import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(VueTabs)
    Vue.use(VTab)
    import 'vue-nav-tabs/themes/vue-tabs.css'

    import {
        ValidationProvider,
        ValidationObserver
    } from 'vee-validate/dist/vee-validate.full'

    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    import {retrieveAppDictionaries} from "@/commonFuncs"

    const VueUploadComponent = require('vue-upload-component')
    Vue.component('file-upload', VueUploadComponent)

    import {
        settingsUserStatusLabels,
        settingsUserSkillsLabels,
        settingsTaskStatusLabels,
        settingsTaskAssignedToUsersStatusLabels,
        settingsJsMomentDatetimeFormat,
        settingCredentialsConfig
    } from '@/app.settings.js'

    export default {
        name: 'profileEditorPage',

        mixins: [appMixin],

        components: {
            VueTabs,
            VTab,
            ValidationObserver,
            ValidationProvider
        },


        data() {
            return {
                user_profile_id: 1,
                userProfileRow: {},
                userSkills: [],
                userGroups: [],
                tasksAssignedToUser: [],
                skillsLabels: [],
                UserSkillsLabelsForSelection: [],
                is_page_loaded: false,
                is_page_updating: false,
                userSkillsLabels: settingsUserSkillsLabels,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                userStatusLabels: settingsUserStatusLabels,
                taskStatusLabels: settingsTaskStatusLabels,
                taskAssignedToUsersStatusLabels: settingsTaskAssignedToUsersStatusLabels,
                active_tab: "",
                // active_tab: "Skills",
                imageFiles: [],
                uploaded_image_width: null,
                uploaded_image_height: null,

                credentialsConfig: settingCredentialsConfig,
                demo_version: process.env.VUE_APP_DEMO_VERSION,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        watch: {

            imageFiles(theFile) {
                if (typeof theFile[0] === 'undefined') return
                var image = new Image()
                image.src = theFile[0].blob
                image.onload = function () {
                    bus.$emit('imageUploadedEvent', this.width, this.height)
                }
            }

        },


        created() {
            if (!this.userProfileRow) {
                this.showPopupMessage('Access', 'Not authorized !', 'warn')
                this.$router.push('/login')
            }
        }, //  created() {

        mounted() {
            this.setAppTitle('Profile', 'Profile editor', bus)
            this.loadUserProfile()
            retrieveAppDictionaries('profileEditor', ['skillsLabels'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'profileEditor') {
                    this.skillsLabels = data.skillsLabels
                }
            })

        }, // mounted() {

        beforeDestroy() { // just before a component is destroyed.
            bus.$off('appDictionariesRetrieved') // stop listening.
        },


        methods: {
            loadUserProfile() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/personal/profile', credentials)
                    .then((response) => {
                        this.userProfileRow = response.data.user
                        this.userSkills = response.data.userSkills
                        this.userGroups = response.data.userGroups
                        this.tasksAssignedToUser = response.data.tasksAssignedToUser
                        this.makeUserSkillsLabelsForSelection()
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        this.is_page_loaded = true
                        this.$router.push({path: '/'})
                    })

            }, // loadUserProfile() {


            onSubmit() {
                this.$refs.profileEditorObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('Profile', 'Validations Failed !', 'warn')
                        return
                    }

                    let credentials= this.getClone(this.credentialsConfig)
                    credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                    axios.put(this.apiUrl + '/personal/profile/' + this.userProfileRow.id, {
                        first_name: this.userProfileRow.first_name,
                        last_name: this.userProfileRow.last_name,
                        phone: this.userProfileRow.phone,
                        website: this.userProfileRow.website
                    }, credentials).then((/*response*/) => {
                        this.showPopupMessage("Profile", 'Your profile was successfully modified !', 'success')
                    }).catch((error) => {
                        console.error(error)
                        this.showPopupMessage("Profile", error.response.data.message, 'warn')
                    })

                })
            }, // onSubmit

            deleteTasksAssignedToUser(task_assigned_to_user_id, index) {
                if (!confirm("Do you want to delete this participation in task ?")) {
                    return
                }

                axios.delete(this.apiUrl + '/personal/delete_tasks_assigned_to_user', {
                    headers: {
                        Authorization: 'Bearer ' + this.currentLoggedUserToken,
                        'Content-Type': 'application/json'
                    },
                    data: {
                        task_assigned_to_user_id: task_assigned_to_user_id
                    }
                })
                    .then((/*response*/) => {
                        if (this.tasksAssignedToUser.length === 1) {
                            this.tasksAssignedToUser = []
                        } else {
                            this.tasksAssignedToUser.splice(index, 1)
                        }

                        this.showPopupMessage('Request to participate in task', 'Your request to participate in task was successfully deleted', 'success')
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Request to participate in task', error.response.data.message, 'warn')
                    })

            }, // deleteTasksAssignedToUser

            saveUserSkills() {
                let personalSkillsLabels = []
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                this.skillsLabels.map((nextSkillsLabel/*, index*/) => {
                    if (nextSkillsLabel.selected_rating != null) {
                        personalSkillsLabels[personalSkillsLabels.length] = {skill_id: nextSkillsLabel.code, rating: nextSkillsLabel.selected_rating}
                    }
                })

                axios.post(this.apiUrl + '/personal/save_user_skills', {
                    skills: personalSkillsLabels,
                }, credentials).then((/*response*/) => {
                    this.$store.dispatch('retrieveUserSkills')
                    this.showPopupMessage("User skills", 'User skills were successfully saved !', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage("User skills", error.response.data.message, 'warn')
                })

            },

            makeUserSkillsLabelsForSelection() {
                var self = this
                this.skillsLabels.map((nextUserSkillsLabel, index) => {
                    let l = self.userSkills.length
                    for (let i = 0; i < l; i++) {
                        if (self.userSkills[i].skill_id === nextUserSkillsLabel.code) {
                            self.skillsLabels[index].selected_rating = self.userSkills[i].rating
                            break
                        }
                    }
                })
            }, // makeUserSkillsLabelsForSelection() {


            deleteAccount() {
                if (!confirm("Do you want to delete your account with all related information ?")) {
                    return
                }

                axios.delete(this.apiUrl + '/personal/profile/' + this.userProfileRow.id, {
                    headers: {
                        Authorization: 'Bearer ' + this.currentLoggedUserToken,
                        'Content-Type': 'application/json'
                    },
                    data: {}
                })
                    .then((/*response*/) => {
                        this.showPopupMessage('Account Deletion', 'Your account task was successfully deleted', 'success')
                        this.$store.dispatch('logout')
                        this.$router.push('/')
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Account Deletion', error.response.data.message, 'warn')
                    })

            }, // deleteAccount

            cancelUserAvatar() {
                this.imageFiles = []
                this.uploaded_image_width = null
                this.uploaded_image_height = null
            },

            uploadUserAvatar() {
                var self = this
                fetch(this.userProfileRow.imageFile.blob).then(function (response) {
                    if (response.ok) {
                        return response.blob().then(function (imageBlob) {
                            let imageUploadData = new FormData()
                            imageUploadData.append('id', self.userProfileRow.id)
                            imageUploadData.append('image', imageBlob)
                            imageUploadData.append('image_filename', self.userProfileRow.imageFile.name)

                            self.credentialsConfig.headers.Authorization = 'Bearer ' + self.currentLoggedUserToken
                            self.is_page_updating = true
                            axios.post(self.apiUrl + '/personal/upload_avatar', imageUploadData, self.credentialsConfig).then(({data}) => {
                                self.is_page_updating = false
                                self.showPopupMessage('Image upload', 'Image uploaded successfully !', 'success')
                                self.userProfileRow.avatar = self.userProfileRow.imageFile.name
                                if (typeof data.user[0].avatar != 'undefined') {
                                    self.userProfileRow.filenameData = data.user[0].filenameData
                                }
                                self.cancelUserAvatar()
                            }).catch((error) => {
                                console.error(error)
                                self.is_page_updating = false
                                self.showPopupMessage('Image upload', 'Image uploading error : ' + error.response.data.message + ' !', 'warn')
                            })
                        })
                    } else {
                        return response.json().then(function (jsonError) {
                            console.error(jsonError)
                        })
                    }
                }).catch(function (error) {
                    console.error(error)
                    console.log('There has been a problem with your fetch operation: ', error.message)
                }) // fetch(this.userProfileRow.imageFile.blob).then(function (response) {


            },
            removeUserAvatar() {
                if (!confirm("Do you want to delete user avatar ?")) {
                    return
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/personal/' + this.userProfileRow.id + '/delete_avatar', credentials).then((/*response*/) => {
                    this.userProfileRow.avatar = null
                    this.userProfileRow.filenameData = null
                    this.showPopupMessage('User\'s Avatar', 'User\'s Avatar was deleted successfully', 'success')

                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('User\'s Avatar', 'Error deleting User\'s Avatar !', 'error')
                })

            }, //removeUserAvatar() {

            inputFile(newFile, oldFile) {
                this.userProfileRow.imageFile = newFile

                if (newFile && oldFile && !newFile.active && oldFile.active) {
                    if (newFile.xhr) {
                        //  Get the response status code
                        console.log('status', newFile.xhr.status)
                    }
                }
            },
            /**
             * Pretreatment
             * @param  Object|undefined   newFile   Read and write
             * @param  Object|undefined   oldFile   Read only
             * @param  Function           prevent   Prevent changing
             * @return undefined
             */
            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    // Filter non-image file
                    if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
                        return prevent()
                    }
                }
                newFile.blob = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.blob = URL.createObjectURL(newFile.file)
                }
            },


        }, // methods: {

        computed: {

            getHeaderTitle: function () {
                if (this.userProfileRow) {
                    return "Profile Editor of " + this.userProfileRow.name
                } else {
                    return "Profile Editor"
                }
            },

            created_at_label: function () {
                return this.momentDatetime(this.userProfileRow.created_at, this.jsMomentDatetimeFormat)
            },
            last_logged_label: function () {
                return this.momentDatetime(this.userProfileRow.last_logged, this.jsMomentDatetimeFormat)
            },
            updated_at_label: function () {
                return this.momentDatetime(this.userProfileRow.updated_at, this.jsMomentDatetimeFormat)
            },


            contract_start_label: function () {
                return this.momentDatetime(this.userProfileRow.contract_start, this.jsMomentDatetimeFormat)
            },
            contract_end_label: function () {
                return this.momentDatetime(this.userProfileRow.contract_end, this.jsMomentDatetimeFormat)
            },

            status_label: function () {
                return this.getDictionaryLabel(this.userProfileRow.status, this.userStatusLabels)
            },
            currentLoggedUserToken() {
                return this.$store.getters.token
            },


        }

    }
</script>
