<template>

    <article class="column_content_centered">

        <div class="p-2 column_content_centered">
            <editor-header :show_loading_image="!is_page_loaded" :header_icon="getHeaderIcon('todo')" :header_title="getHeaderTitle"
                           :message="''"></editor-header>
        </div>

        userTodos::{{ userTodos }}
        <div class="page_content col-sm-12 p-2 m-0 mx-auto">

            <div class="card">
                <h4 class="card-header"><i :class="'i_link '+getHeaderIcon('todo')"></i>You can manage your todo</h4>

                <div class="card-body card-block">
                    <div class="form-row mb-3">
                        <label class="col-xs-12 col-sm-4 control-label" for="new_user_todo_input">New user todo:</label>
                        <div class="col-xs-12 col-sm-8">
                            <input class="new-new-user-todo form-control" autofocus autocomplete="off"
                                   placeholder="Add new location(city, country)"
                                   v-model="newUserTodo.location" id="new_user_todo_input" @keyup.enter="addUserTodo">
                        </div>
                    </div>

                </div> <!-- <div class="card-body card-block"> -->


                <section class="card-footer row_content_right_aligned">
                    <button type="button" class="btn btn-danger btn-sm m-3" @click.prevent="$router.push('/')">
                        <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                    </button>
                </section>

            </div> <!-- <div class="card"> -->

        </div> <!-- page_content -->

        <!--USER'S TOOO MODAL START-->
        <modal :height="modalUserToDoHeight" :width="modalWidth" :name="'user-todo-editor'" transition="pop-out">


            <section class="modal-content p-3 flexbox-parent">
                USER'S TOOO
<!--
                <p class="modal-header flexbox-item header p-2">
                    <i :class="'i_link pt-1 '+getHeaderIcon('todo') "></i>
                    <span class="modal-title">
                        Weather forecast
                    </span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click.prevent="cancelUserTodo()">
                        <span aria-hidden="true">×</span>
                    </button>
                </p>
-->

<!--
                <div class="modal-body flexbox-item fill-area content flexbox-item-grow">
                    <div class="fill-area-content flexbox-item-grow" style="overflow-y: auto; max-height: 800px; ">
                        <div class="card-title p-1 m-1">
                            <h3>
                                {{ cityInfoArray.city_name }}, {{ cityInfoArray.country_label }}<br>
                                <small>lat: {{ cityInfoArray.lat }}, lon: {{ cityInfoArray.lon }}</small>
                            </h3>
                        </div>

                        <div class="card-body">
                            <h4 class="p-2">
                                <i :class="'i_link '+getHeaderIcon('today')"></i>
                                Today, {{ today_date_label }}
                            </h4>
                            <ul class="p-0 m-0">
                                <li v-for="nextWeatherData in weatherDataArray" :key="nextWeatherData.time_label">
                                    <div class="p-0 m-0" v-if="nextWeatherData.day_number == 0">
                                        <b>
                                            <i :class="'i_link '+getHeaderIcon('today')"></i>
                                            {{ nextWeatherData.time_label}}:
                                        </b>
                                        <p class="card-text pb-4 m-1">
                                            <img :src="nextWeatherData.icon_url" :alt="nextWeatherData.main_description">
                                            {{ nextWeatherData.main_description}},
                                            {{ nextWeatherData.temp}}&deg;C<br>
                                            {{ concatWeatherDataInfo(nextWeatherData) }}
                                        </p>
                                    </div>
                                </li>
                            </ul>

                        </div>

                        <div id="accordion">
                            <div class="p-0 m-0">
                                <div id="heading_next_days">
                                    <h5 class="m-1 p-1">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_next_days" aria-expanded="true"
                                                aria-controls="collapse_next_days">
                                            <h4>
                                                <i :class="'action_link '+getHeaderIcon('next_days')"></i>Next Days :
                                                {{ nextDaysItemsCount}} {{ nextDaysItemsCount | pluralize(['item','items']) }}
                                            </h4>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapse_next_days" class="collapse hide" aria-labelledby="heading_next_days"
                                     data-parent="#accordion">
                                    <div class="">
                                        <ul class="">
                                            <li v-for="nextWeatherData in weatherDataArray" :key="nextWeatherData.time_label">
                                                <div v-if="nextWeatherData.day_number > 0">
                                                    <b>
                                                        <i :class="'i_link '+getHeaderIcon('today')" title="Forecast for next days"></i>
                                                        {{ nextWeatherData.time_label}}:
                                                    </b>
                                                    <p class="pb-4 m-1">
                                                        <img :src="nextWeatherData.icon_url" :alt="nextWeatherData.main_description">
                                                        {{ nextWeatherData.main_description}},
                                                        {{ nextWeatherData.temp}}&deg;C<br>
                                                        {{ concatWeatherDataInfo(nextWeatherData) }}
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
-->


                <section class="modal-footer form-row row_content_right_aligned">
                    <button type="button" class="btn btn-secondary btn-sm m-2" @click.prevent="cancelUserTodo()">
                        <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                    </button>
                </section>

            </section> <!-- <section class="modal-content"> -->

        </modal> <!-- modal-members-of-this-event  -->

        <!--USER'S TOOO MODAL END -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../src/main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import {settingsJsMomentDatetimeFormat, settingCredentialsConfig} from '@/app.settings.js'

    import Vue from 'vue'

    Vue.component('editor-header', require('../../../src/components/EditorHeader.vue').default)

    export default {
        name: 'todoPage',

        mixins: [appMixin],

        components: {},

        data() {
            return {
                innerWidth,
                innerHeight,

                userTodos: [],
                today_date_label: '',
                todoDataArray: {},
                cityInfoArray: {},
                newUserTodo: {location: '', location_type: 'C'},
                editedUserTodo: null,
                editable_user_todo_text: '',
                is_page_loaded: false,
                is_page_updating: false,
                is_insert: true,

                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        created() {
            if (!this.currentLoggedUser) {
                this.showPopupMessage('Access', 'Not authorized !', 'warn')
                this.$router.push('/login')
            }
        }, //  created() {

        mounted() {
            this.setAppTitle('Personal', 'User\'s todo', bus)
            this.loadUserTodos()
        }, // mounted() {


        methods: {
            loadUserTodos() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/personal/user_todos', credentials)
                    .then((response) => {
                        this.userTodos = response.data.user_todos
                        this.is_page_loaded = true
                        // this.showTaskAssignedToUser()
                    })
                    .catch(error => {
                        console.error(error)
                        this.is_page_loaded = true
                    })
            }, // loadUserTodos() {

            cancelUserTodo() {
                this.$modal.hide('user-todo-editor')
            }, // cancelUserTodo() {

/*
            concatWeatherDataInfo(nextWeatherData) {
                var dataArray = []
                if (typeof nextWeatherData.clouds != "undefined") {
                    dataArray[dataArray.length] = 'clouds: ' + nextWeatherData.clouds
                }
                if (typeof nextWeatherData.humidity != "undefined") {
                    dataArray[dataArray.length] = 'humidity: ' + nextWeatherData.humidity
                }
                if (typeof nextWeatherData.pressure != "undefined") {
                    dataArray[dataArray.length] = 'pressure: ' + nextWeatherData.pressure
                }
                var ret = this.concatStrings(dataArray, ', ')
                return ret
            },
*/

            addUserTodo: function () {
                if (this.newUserTodo.location.trim() == '') {
                    return
                }
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.post(this.apiUrl + '/personal/user_todos', this.newUserTodo, credentials).then((/*response*/) => {
                    this.showPopupMessage('User\'s todo', 'User\'s user todo added successfully . ', 'success')
                    this.loadUserTodos()
                    this.newUserTodo = {location: '', location_type: 'C', id: null}
                    this.is_page_loaded = true
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('User\'s todo', error.response.data.message, 'warn')
                    this.is_page_loaded = true
                })
            },

            removeUserTodo: function (userTodo) {
                if (!confirm("Do you want to delete this user todo ?")) {
                    return
                }
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/personal/user_todos/' + userTodo.id, credentials).then((/*response*/) => {
                    this.loadUserTodos()
                    this.is_page_loaded = true
                    this.showPopupMessage('User\'s todo', 'User\'s user todo deleted successfully. ', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('User\'s todo', error.response.data.message, 'error')
                    this.is_page_loaded = true
                })
            },


        }, // methods: {

        computed: {
            getHeaderTitle: function () {
                return "Your user todo's"
            },

            currentLoggedUser() {
                return this.$store.getters.user
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },

            modalUserToDoHeight() {
                return this.innerHeight - 200
            },

            modalWidth() {
                return this.innerWidth - 100
            },


        }

    }
</script>
