<template>

    <article class="column_content_centered">

        <div class="p-2 column_content_centered">
            <editor-header :show_loading_image="!is_page_loaded" :header_icon="getHeaderIcon('weather')" :header_title="getHeaderTitle"
                           :message="''"></editor-header>
        </div>

        <div class="page_content col-sm-12 p-2 m-0 mx-auto">

            <div class="card">
                <h4 class="card-header"><i :class="'i_link '+getHeaderIcon('weather')"></i>You can add weather locations you are interested</h4>

                <div class="card-body card-block">
                    <div class="form-row mb-3">
                        <label class="col-xs-12 col-sm-4 control-label" for="new_user_weather_location_input">New weather location:</label>
                        <div class="col-xs-12 col-sm-8">
                            <input class="new-new-user-weather-location form-control" autofocus autocomplete="off"
                                   placeholder="Add new location(city, country)"
                                   v-model="newUserWeatherLocation.location" id="new_user_weather_location_input" @keyup.enter="addUserWeatherLocation">
                        </div>
                    </div>

                    <div>
                        <ul class=" p-2" v-if="userWeatherLocations.length > 0">
                            <li v-for="nextWeather in userWeatherLocations" :key="nextWeather.id" class="m-3">
                                <i :class="'action_link '+getHeaderIcon('weather')" title="View weather info" @click="viewWeatherInfo(nextWeather)"></i>&nbsp;&nbsp;
                                {{ nextWeather.location }}
                                <i class="fa fa-remove action_link" title="Remove weather" @click="removeUserWeatherLocation(nextWeather)"></i>&nbsp;&nbsp;
                            </li>
                        </ul>
                    </div>
                </div> <!-- <div class="card-body card-block"> -->


                <section class="card-footer row_content_right_aligned">
                    <button type="button" class="btn btn-danger btn-sm m-3" @click.prevent="$router.push('/')">
                        <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                    </button>
                </section>

            </div> <!-- <div class="card"> -->

        </div> <!-- page_content -->

        <!-- WEATHER_INFO_BY_LOCATION MODAL START-->
        <modal :height="modalGetWeatherInfoByLocationHeight" :width="modalWidth" :name="'weather-info-by-location'" transition="pop-out">

            <section class="modal-content p-3 flexbox-parent">

                <p class="modal-header flexbox-item header p-2">
                    <i :class="'i_link pt-1 '+getHeaderIcon('weather') "></i>
                    <span class="modal-title">
                        Weather forecast
                    </span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click.prevent="cancelWeatherInfoByLocation()">
                        <span aria-hidden="true">×</span>
                    </button>
                </p>

                <div class="modal-body flexbox-item fill-area content flexbox-item-grow">
                    <div class="fill-area-content flexbox-item-grow" style="overflow-y: auto; max-height: 800px; ">
                        <div class="card-title p-1 m-1">
                            <h3>
                                {{ cityInfoArray.city_name }}, {{ cityInfoArray.country_label }}<br>
                                <small><i :class="'i_link '+getHeaderIcon('lat_lan')"></i>
                                    lat: {{ cityInfoArray.lat }}, lon: {{ cityInfoArray.lon }}</small>
                            </h3>
                        </div>

                        <div class="card-body weather_today_container" >
                            <h4 class="p-2">
                                <i :class="'i_link '+getHeaderIcon('today')"></i>
                                Today, {{ today_date_label }}
                            </h4>
                            <ul class="p-0 m-0">
                                <li v-for="nextWeatherData in filteredWeatherDataArrayEqualZero" :key="nextWeatherData.time_label">
                                    <b>
                                        <i :class="'i_link '+getHeaderIcon('today')"></i>
                                        {{ nextWeatherData.time_label}}:
                                    </b>
                                    <p class="card-text pb-4 m-1">
                                        <img :src="nextWeatherData.icon_url" :alt="nextWeatherData.main_description">
                                        {{ nextWeatherData.main_description}},
                                        {{ nextWeatherData.temp}}&deg;C<br>
                                        {{ concatWeatherDataInfo(nextWeatherData) }}
                                    </p>
                                </li>
                            </ul>

                        </div>

                        <div id="accordion">
                            <div class="p-0 m-0">
                                <div id="heading_next_days">
                                    <h5 class="m-1 p-1">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_next_days" aria-expanded="true"
                                                aria-controls="collapse_next_days">
                                            <h4>
                                                <i :class="'action_link '+getHeaderIcon('next_days')"></i>Next Days :
                                                {{ nextDaysItemsCount}} {{ nextDaysItemsCount | pluralize(['item','items']) }}
                                            </h4>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapse_next_days" class="collapse hide" aria-labelledby="heading_next_days"
                                     data-parent="#accordion">
                                    <div class="">
                                        <ul >
                                            <li v-for="(nextWeatherData,index) in filteredWeatherDataArrayBiggerZero" :key="nextWeatherData.time_label"
                                                :class=" nextWeatherData.first_time_of_day && index > 0 ? 'top_split_border pt-4 p-0 m-0' : 'p-0 m-0' ">
                                                <b>
                                                    <i :class="'i_link '+getHeaderIcon('today')" title="Forecast for next days"></i>
                                                    {{ nextWeatherData.time_label}}:
                                                </b>
                                                <p class="pb-4 m-1">
                                                    <img :src="nextWeatherData.icon_url" :alt="nextWeatherData.main_description">
                                                    {{ nextWeatherData.main_description}},
                                                    {{ nextWeatherData.temp}}&deg;C<br>
                                                   {{ concatWeatherDataInfo(nextWeatherData) }}
                                                </p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


                <section class="modal-footer form-row row_content_right_aligned">
                    <button type="button" class="btn btn-secondary btn-sm m-2" @click.prevent="cancelWeatherInfoByLocation()">
                        <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                    </button>
                </section>

            </section> <!-- <section class="modal-content"> -->

        </modal> <!-- modal-members-of-this-event  -->

        <!--WEATHER_INFO_BY_LOCATION MODAL END -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../src/main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import {settingsJsMomentDatetimeFormat, settingCredentialsConfig} from '@/app.settings.js'

    import Vue from 'vue'

    Vue.component('editor-header', require('../../../src/components/EditorHeader.vue').default)

    export default {
        name: 'weatherPage',

        mixins: [appMixin],

        components: {},

        data() {
            return {
                innerWidth,
                innerHeight,

                userWeatherLocations: [],
                dayNumbersArray: [],
                today_date_label: '',
                weatherDataArray: [],
                cityInfoArray: {},
                newUserWeatherLocation: {location: '', location_type: 'C'},
                editedUserWeatherLocation: null,
                editable_user_weather_location_text: '',
                is_page_loaded: false,
                is_page_updating: false,
                is_insert: true,

                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        created() {
            if (!this.currentLoggedUser) {
                this.showPopupMessage('Access', 'Not authorized !', 'warn')
                this.$router.push('/login')
            }
        }, //  created() {

        mounted() {
            this.setAppTitle('Weather Locations', 'Weather Locations', bus)
            this.loadUserWeatherLocations()
        }, // mounted() {


        methods: {
            loadUserWeatherLocations() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/personal/weather_locations', credentials)
                    .then((response) => {
                        this.userWeatherLocations = response.data.user_weather_locations
                        this.is_page_loaded = true
                        // this.showTaskAssignedToUser()
                    })
                    .catch(error => {
                        console.error(error)
                        this.is_page_loaded = true
                    })
            }, // loadUserWeatherLocations() {

            viewWeatherInfo: function (userWeatherLocation) {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/personal/get_weather_info_by_location/' + userWeatherLocation.location, credentials).then((response) => {
                    this.weatherDataArray = response.data.weatherDataArray
                    this.cityInfoArray = response.data.cityInfoArray
                    this.dayNumbersArray = response.data.dayNumbersArray
                    this.today_date_label = response.data.today_date_label
                    this.$modal.show('weather-info-by-location')
                    this.is_page_loaded = true
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('User\'s weather', error.response.data.message + ' : Invalid location ?', 'error')
                    this.is_page_loaded = true
                })

            },

            cancelWeatherInfoByLocation() {
                this.$modal.hide('weather-info-by-location')
            }, // cancelWeatherInfoByLocation() {

            concatWeatherDataInfo(nextWeatherData) {
                var dataArray = []
                if (typeof nextWeatherData.clouds != "undefined") {
                    dataArray[dataArray.length] = 'clouds: ' + nextWeatherData.clouds
                }
                if (typeof nextWeatherData.humidity != "undefined") {
                    dataArray[dataArray.length] = 'humidity: ' + nextWeatherData.humidity
                }
                if (typeof nextWeatherData.pressure != "undefined") {
                    dataArray[dataArray.length] = 'pressure: ' + nextWeatherData.pressure
                }
                var ret = this.concatStrings(dataArray, ', ')
                return ret
            },

            addUserWeatherLocation: function () {
                if (this.newUserWeatherLocation.location.trim() == '') {
                    return
                }
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.post(this.apiUrl + '/personal/weather_locations', this.newUserWeatherLocation, credentials).then((/*response*/) => {
                    this.showPopupMessage('User\'s weather', 'User\'s weather location added successfully . ', 'success')
                    this.loadUserWeatherLocations()
                    this.newUserWeatherLocation = {location: '', location_type: 'C', id: null}
                    this.is_page_loaded = true
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('User\'s weather', error.response.data.message, 'warn')
                    this.is_page_loaded = true
                })
            },

            removeUserWeatherLocation: function (userWeatherLocation) {
                if (!confirm("Do you want to delete this weather location ?")) {
                    return
                }
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/personal/weather_locations/' + userWeatherLocation.id, credentials).then((/*response*/) => {
                    this.loadUserWeatherLocations()
                    this.is_page_loaded = true
                    this.showPopupMessage('User\'s weather', 'User\'s weather location deleted successfully. ', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('User\'s weather', error.response.data.message, 'error')
                    this.is_page_loaded = true
                })
            },


        }, // methods: {

        computed: {
            filteredWeatherDataArrayBiggerZero() {
                let retArray = []
                this.weatherDataArray.map((nextWeatherData) => {
                    if (nextWeatherData.day_number  > 0) {
                        retArray[retArray.length] = nextWeatherData
                    }
                })
                return retArray
            }, // filteredWeatherDataArrayBiggerZero() {


            filteredWeatherDataArrayEqualZero() {
                let retArray = []
                this.weatherDataArray.map((nextWeatherData) => {
                    if (nextWeatherData.day_number  === 0) {
                        retArray[retArray.length] = nextWeatherData
                    }
                })
                return retArray
            }, // filteredWeatherDataArrayEqualZero() {


            nextDaysItemsCount() {
                let ret = 0
                for (let i = 0; i < this.weatherDataArray.length; i++) {
                    if (this.weatherDataArray[i].day_number > 0) ret++
                }
                return ret
            },

            getHeaderTitle: function () {
                return "Your weather location's"
            },

            currentLoggedUser() {
                return this.$store.getters.user
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },

            modalGetWeatherInfoByLocationHeight() {
                return this.innerHeight - 200
            },

            modalWidth() {
                return this.innerWidth - 100
            },


        }

    }
</script>
