<template>
    <article class="page_content_container">
        <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('event')" :header_title="getHeaderTitle">
        </editor-header>
        <div class="page_content" v-show="is_page_loaded">
            <vue-tabs
                active-tab-color="#224A37"
                active-text-color="white"
                v-model="active_tab"
            >
                
                <v-tab title="Details">
                    
                    <ValidationObserver
                        ref="eventEditorObserverForm"
                        v-slot="{handleSubmit}"
                    >
                        <form class="admin_page_container event_editor_form" @submit.prevent="handleSubmit(onSubmit)">
                            
                            <div class="card">
                                <div class="card-body card-block">
                                    
                                    
                                    <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- id -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="id">Id:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                type='text'
                                                v-model="eventRow.id"
                                                name="id"
                                                id="id"
                                                class="form-control text-right admin_control_input"
                                                autocomplete=off
                                                readonly="readonly"
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> id -->
                                    
                                    <dl class="block_2columns_md m-3"> <!-- name -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="name">Name:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="name"
                                                :rules="{ required : true, max:50 }"
                                                v-slot="{ errors }"
                                            >
                                                <input
                                                    type='text'
                                                    v-model="eventRow.name"
                                                    name="name"
                                                    id="name"
                                                    class="form-control admin_control_input"
                                                    placeholder="Enter name"
                                                    autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> name -->
                                    
                                    
                                    <dl class="block_2columns_md m-3"> <!-- access -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="access">Access:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="access"
                                                :rules="{ required : true }"
                                                v-slot="{ errors }"
                                            >
                                                <v-select
                                                    v-model="selection_access"
                                                    label="label"
                                                    :options="eventAccessLabels"
                                                    id="access"
                                                    name="access"
                                                    class="form-control editable_field admin_control_input"
                                                    placeholder="Select option"
                                                ></v-select>
                                                
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> access -->
                                    
                                    
                                    <dl class="block_2columns_md m-3"> <!-- at_time -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="at_time">
                                                At time:
                                            </label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="at_time"
                                                :rules="{ required : true }"
                                                v-slot="{ errors }"
                                            >
                                                
                                                <date-picker
                                                    :class="{ 'form-control':true, 'admin_control_input':true, 'editable_field':true, 'input':true, 'date_picker_control' : true }"
                                                    :first-day-of-week="1"
                                                    v-model="eventRow.at_time_formatted"
                                                    :time-picker-options="timePickerOptions"
                                                    id="at_time"
                                                    :lang="'en'"
                                                    :type="'datetime'"
                                                    :format="'DD MMM YYYY HH:mm'"
                                                    :placeholder="'Select date/time from picker'"
                                                ></date-picker>
                                                
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> at_time -->
                                    
                                    <dl class="block_2columns_md m-3"> <!-- duration -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="duration">
                                                <ul>
                                                    <li>
                                                        Duration:
                                                    </li>
                                                    <li>
                                                        <small>(optional, in minutes)</small>
                                                    </li>
                                                </ul>
                                            </label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="duration"
                                                :rules="{ required : true, integer:true }"
                                                v-slot="{ errors }"
                                            >
                                                <input
                                                    type='text'
                                                    v-model="eventRow.duration"
                                                    name="duration"
                                                    id="duration"
                                                    class="form-control text-right admin_control_input"
                                                    placeholder="Enter duration"
                                                    autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> duration -->
                                    
                                    
                                    <dl class="block_2columns_md m-3"> <!-- task_id -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="task_id">
                                                <ul>
                                                    <li>
                                                        Task:
                                                    </li>
                                                    <li>
                                                        <small>(optional)</small>
                                                    </li>
                                                </ul>
                                            
                                            </label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="task_id"
                                                :rules="{ required : false }"
                                                v-slot="{ errors }"
                                            >
                                                
                                                <v-select
                                                    v-model="selection_task_id"
                                                    label="label"
                                                    :options="tasksLabels"
                                                    id="task_id"
                                                    name="task_id"
                                                    class="form-control editable_field admin_control_input"
                                                    placeholder="Select option"
                                                ></v-select>
                                                
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> task_id -->
                                    
                                    
                                    <dl class="block_2columns_md m-3"> <!-- description -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="description">Description:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="description"
                                                :rules="{ required : true }"
                                                v-slot="{ errors }"
                                            >
                                                <wysiwyg v-model="eventRow.description"/>
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> description -->
                                    
                                    
                                    <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- created_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="created_at">Created at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                type='text'
                                                v-model="created_at_label"
                                                name="created_at"
                                                id="created_at"
                                                class="form-control admin_control_input"
                                                readonly="readonly"
                                                autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> created_at -->
                                    
                                    
                                    <dl class="block_2columns_md m-3" v-if="!is_insert && updated_at_label"> <!-- updated_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="updated_at">Updated at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                type='text'
                                                v-model="updated_at_label"
                                                name="updated_at"
                                                id="updated_at"
                                                class="form-control admin_control_input"
                                                readonly="readonly"
                                                autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> updated_at -->
                                
                                
                                </div> <!-- <div class="card-body card-block"> -->
                                <section class="card-footer admin_footer row_content_right_aligned">
                                    <dl class="block_2columns_md m-0 p-0">
                                        <dt class="horiz_devider_label_half m-0 p-0" v-if="is_insert">
                                            <p class="alert alert-info m-1 p-1 row_content_left_aligned" role="alert" v-if="is_insert">
                                                After inserting new event you can<br> edit the rest of data on the opened tabs.
                                            </p>
                                        </dt>
                                        
                                        <dd class="horiz_devider_value_half m-0 p-0">
                                            <editor-buttons
                                                :is_admin="true"
                                                :submit_label="submit_label"
                                                :cancel_label="'Cancel'"
                                                :cancel_link="'adminEventsListing'"
                                                :is_page_updating="is_page_updating"
                                                parent_component_key="event"
                                            ></editor-buttons>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> -->
                                
                                </section>
                            
                            </div> <!-- <div class="card"> -->
                        
                        </form>
                    
                    </ValidationObserver>
                </v-tab> <!-- <v-tab title="Details"> -->
                
                
                <!--
                                <v-tab title="Joined users" v-if="!is_insert">

                                    <fieldset class="blocks">
                                        <legend class="blocks p-3"><i :class="getHeaderIcon('upload')"></i>Joined</legend>


                                        <div class="row_content_right_aligned" v-show="1">
                                            <button type="reset" class="btn btn-danger btn-sm m-3" @click.prevent="cancelEventImage()">
                                                <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                                            </button>
                                            <button type="button" class="btn btn-success btn-sm m-3 ml-4 mr-4" @click.prevent="uploadEventImage()">
                                                <i :class="'i_link '+getHeaderIcon('save')"></i>Upload
                                            </button>
                                        </div>
                                    </fieldset>

                                </v-tab> &lt;!&ndash; <v-tab title="Joined users"> &ndash;&gt;
                -->
                
                
                <v-tab title="Tags" v-if="!is_insert">
                    
                    <listing-header :show_loading_image=!is_page_loaded
                                    :itemsList="selectedEventTags"
                                    :rows_count="selectedEventTags.length"
                                    :header_icon="getHeaderIcon('tag')"
                                    :header_title="'Event tags'"
                                    :item_title="selectedEventTags.length| pluralize(['Tag', 'Tags'])"
                                    parent_component_key="event_tags"
                                    :right_icon="'fa fa-refresh'"
                    >
                    </listing-header>
                    
                    <fieldset class="blocks">
                        <legend class="blocks p-3"><i :class="getHeaderIcon('tags')"></i>Tags</legend>
                        
                        <tags-input element-id="tags"
                                    v-model="selectedEventTags"
                                    :existing-tags="tags"
                                    :typeahead="true"
                                    :typeahead-style="'badges'"
                                    :typeahead-always-show="true"
                                    :typeahead-activation-threshold="0"
                        >
                        </tags-input>
                        
                        <button type="submit" class="btn btn-success btn-sm m-4 p-2" title="Save event tags" @click="saveEventTags">
                            <i :class="'i_link '+getHeaderIcon('save')" title="Save event tags"></i>Save
                        </button>
                    
                    </fieldset>
                
                </v-tab> <!-- <v-tab title="Tags"> -->
            
            
            </vue-tabs>
        
        </div> <!-- page_content -->
    
    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import Vue from 'vue'
    import {settingCredentialsConfig, settingsJsMomentDatetimeFormat, settingsEventAccessLabels} from '@/app.settings.js'

    Vue.component('editor-header', require('../../../../src/components/EditorHeader.vue').default)
    Vue.component('editor-buttons', require('../../../../src/components/EditorButtons.vue').default)

    import wysiwyg from "vue-wysiwyg"
    import 'vue-wysiwyg/dist/vueWysiwyg.css'

    Vue.use(wysiwyg, {
        maxHeight: "300px",
    })

    import Tabs from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(Tabs)
    import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(VueTabs)
    Vue.use(VTab)
    import 'vue-nav-tabs/themes/vue-tabs.css'

    import VoerroTagsInput from '@voerro/vue-tagsinput' // https://github.com/voerro/vue-tagsinput
    Vue.component('tags-input', VoerroTagsInput)

    import {ValidationObserver, ValidationProvider, extend} from 'vee-validate'
    import * as rules from 'vee-validate/dist/rules'

    Object.keys(rules).forEach(rule => {
        extend(rule, rules[rule])
    })
    import {localize} from 'vee-validate'

    localize({
        en: {
            messages: {
                required: (field) => field + ' is required',
                min: 'Must have no less than {length} characters',
                max: 'Must have no more than {length} characters',
                email: 'Invalid email format',
                integer: 'Invalid integer format',
                confirmed: 'Password and password confirmation must be equal',
            }
        }
    })

    import vSelect from 'vue-select'

    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    import {retrieveAppDictionaries} from "@/commonFuncs"

    import DatePicker from 'vue2-datepicker'      //  https://github.com/mengxiong10/vue2-datepicker
    import 'vue2-datepicker/index.css'
    import moment from 'moment-timezone'

    const VueUploadComponent = require('vue-upload-component')
    Vue.component('file-upload', VueUploadComponent)

    export default {
        name: 'eventEditorPage',

        mixins: [appMixin],

        components: {
            VueTabs,
            VTab,
            ValidationObserver,
            ValidationProvider,
            DatePicker
        },

        data() {
            return {
                event_id: null,
                eventRow: {
                    name: '',
                    access: '',
                    at_time: '',
                    duration: 0,
                    task_id: null,
                    description: '',
                },

                selectedEventTags: [],

                tags: [],


                selection_task_id: null,
                selection_access: null,
                active_tab: '',

                timePickerOptions: {
                    start: '00:00',
                    step: '00:30',
                    end: '23:30'
                },

                is_insert: false,

                tasksLabels: [],
                is_page_loaded: false,
                is_page_updating: false,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                eventAccessLabels: settingsEventAccessLabels,
                demo_version: process.env.VUE_APP_DEMO_VERSION,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        created() {
            if (this.$route.params.id == 'new') {
                this.event_id = 'new'
                this.is_page_loaded = true
                this.is_insert = true
            } else {
                this.event_id = this.$route.params.id
            }
        },  //  created() {

        mounted() {
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
            this.setAppTitle('Event', 'Event editor', bus)
            if (!this.is_insert) { // retrieve row for editing
                this.loadEvent()
            }

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key === 'event_tags') {
                    this.loadEventTags()
                }
            })

            retrieveAppDictionaries('event_details', ['tasksLabels', 'tags_keyed'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'event_details') {
                    this.tasksLabels = data.tasksLabels
                    this.tags = data.tags
                }
            })
        }
        , // mounted() {

        beforeDestroy() { // just before a component is destroyed.
            bus.$off('appDictionariesRetrieved') // stop listening.
            bus.$off('listingHeaderRightButtonClickedEvent') // stop listening.
        }
        ,

        methods: {

            loadEvent() {
                this.is_page_loaded = false
                let credentials = this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/events/' + this.event_id, credentials)
                    .then(({data}) => {
                        this.eventRow = data.events[0]
                        this.eventRow.at_time_formatted = this.formatEventDateStart(this.eventRow.at_time)

                        this.eventAccessLabels.map((nextEventAccessLabel/*, index*/) => {
                            if (nextEventAccessLabel.code === this.eventRow.access) {
                                this.selection_access = {code: this.eventRow.access, label: nextEventAccessLabel.label}
                            }
                        })

                        this.tasksLabels.map((nextTaskLabel/*, index*/) => {
                            if (nextTaskLabel.code === this.eventRow.task_id) {
                                this.selection_task_id = {code: this.eventRow.task_id, label: nextTaskLabel.label}
                            }
                        })

                        this.loadEventTags()
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        if (error.response.status == 404) {
                            this.showPopupMessage("Events editor", "Event # " + this.event_id + " not found !", 'warn')
                            this.$router.push({path: '/admin/events'})
                        }

                        console.error(error)
                        this.showPopupMessage('Events Editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadEvent() {

            loadEventTags() {
                this.is_page_loaded = false
                let credentials = this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/events/' + this.event_id + '/tags', credentials)
                    .then(({data}) => {
                        // console.log('data::')
                        // console.log(data)

                        this.selectedEventTags = data.tag_events
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        if (error.response.status == 404) {
                            this.showPopupMessage("Event Tags", "Event # " + this.event_id + " not found !", 'warn')
                            // this.$router.push({path: '/admin/events'})
                        }

                        console.error(error)
                        this.showPopupMessage('Event Tags', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadEventTags() {

            saveEventTags() {
                // console.log('saveEventTags this.selectedEventTags::')
                // console.log(this.selectedEventTags)
                this.is_page_updating = true
                axios.post(this.apiUrl + '/adminarea/events/save_event_tags', {event_id: this.event_id, event_tags: this.selectedEventTags},
                    this.credentialsConfig).then((/*{data}*/) => {
                    // console.log('data::')
                    // console.log(data)

                    this.is_page_updating = false
                    this.showPopupMessage('Event Tags', 'Event Tags updated successfully !', 'success')
                }).catch((error) => {
                    // console.log('++++INSERT error.response.data.errors::')
                    // console.log(error.response.data.errors)
                    this.$refs.eventEditorObserverForm.setErrors(error.response.data.errors)
                    this.is_page_updating = false
                    this.showPopupMessage('Event Tags', 'Error updating events tags !', 'warn')
                })

            },


            onSubmit() {

                this.$refs.eventEditorObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('Events Editor', 'Validations Failed !', 'warn')
                        return
                    }

                    let event = this.getClone(this.eventRow)
                    if (this.selection_task_id != null) {
                        event.task_id = this.selection_task_id.code
                    }
                    if (this.selection_access != null) {
                        event.access = this.selection_access.code
                    }

                    /*
                                        console.log('event.at_time_formatted::')
                                        console.log(event.at_time_formatted)
                                        console.log(typeof event.at_time_formatted)
                    */

                    event.at_time = this.dateTimeToMySqlFormat(event.at_time_formatted)
                    /*
                                        console.log('event.at_time::')
                                        console.log(event.at_time)
                    */


                    let credentials = this.getClone(this.credentialsConfig)
                    credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                    this.is_page_updating = true
                    if (this.is_insert) {
                        axios.post(this.apiUrl + '/adminarea/events', event, credentials).then(({data}) => {
                            this.is_page_updating = false
                            this.showPopupMessage('Events Editor', 'Event added successfully !', 'success')
                            // console.log('data.events::')
                            // console.log(data.events)
                            this.eventRow = data.events[0]
                            this.eventRow.at_time_formatted = this.formatEventDateStart(this.eventRow.at_time)
                            this.is_insert = false
                            // this.eventRow.at_time = this.dateToMySqlFormat(this.eventRow.at_time_formatted)
                            this.$router.push({path: '/admin/events/edit/' + this.eventRow.id})
                        }).catch((error) => {
                            // console.log('++++INSERT error.response.data.errors::')
                            // console.log(error.response.data.errors)
                            this.$refs.eventEditorObserverForm.setErrors(error.response.data.errors)
                            this.is_page_updating = false
                            this.showPopupMessage('Events Editor', 'Error adding event !', 'warn')
                        })

                    } // inserting new event

                    if (!this.is_insert) {
                        axios.put(this.apiUrl + '/adminarea/events/' + this.event_id, event, credentials).then(({data}) => {
                            this.is_page_updating = false
                            this.eventRow = data.events[0]

                            this.showPopupMessage('Events Editor', 'Event updated successfully !', 'success')
                            this.$router.push({path: '/admin/events'})
                        }).catch((error) => {
                            // console.log('==UPDTATE error.response.data.errors::')
                            // console.log(error.response.data.errors)
                            // debugger // eslint-disable-line
                            this.$refs.eventEditorObserverForm.setErrors(error.response.data.errors)
                            console.error(error)
                            this.is_page_updating = false
                            this.showPopupMessage('Events Editor', 'Error updating event !', 'warn')
                        })

                    } // editing existing event

                })
            },  // onSubmit

            formatEventDateStart: function (date_value) {
                if (typeof date_value != 'undefined') {
                    // console.log('moment(date_value).toDate()::')
                    // console.log(moment(date_value).toDate())
                    return moment(date_value).toDate()
                }
                return null
            }
            ,

        }
        ,

        // methods: {

        computed: {
            submit_label: function () {
                return (!this.is_insert ? 'Update' : 'Insert')
            }
            ,

            getHeaderTitle: function () {
                if (!this.is_insert) return 'Edit event'
                return 'Add event'
            }
            ,

            created_at_label: function () {
                return this.momentDatetime(this.eventRow.created_at, this.jsMomentDatetimeFormat)
            }
            ,

            updated_at_label: function () {
                return this.momentDatetime(this.eventRow.updated_at, this.jsMomentDatetimeFormat)
            }
            ,

            status_label: function () {
                return this.getDictionaryLabel(this.eventRow.status, this.eventStatusLabels)
            }
            ,

            currentLoggedUserToken() {
                return this.$store.getters.token
            }
            ,

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            }
            ,

        }

    }
</script>

<style lang="scss">
    /* The input */
    .tags-input {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .tags-input input {
        flex: 1;
        background: transparent;
        border: none;
    }
    
    .tags-input input:focus {
        outline: none;
    }
    
    .tags-input input[type="text"] {
        color: #495057;
        padding: .5em .25em;
        /*background:red;*/
    }
    
    .tags-input-wrapper-default {
        padding: .5em .25em;
        
        background: #fff;
        
        border: 1px solid transparent;
        border-radius: .25em;
        border-color: #dbdbdb;
    }
    
    .tags-input-wrapper-default.active {
        border: 1px solid #8bbafe;
        box-shadow: 0 0 0 0.2em rgba(13, 110, 253, 0.25);
        outline: 0 none;
    }
    
    /* The tag badges & the remove icon */
    .tags-input span {
        margin-right: 0.3em;
    }
    
    .tags-input-remove {
        cursor: pointer;
        position: absolute;
        display: inline-block;
        right: 0.3em;
        top: 0.3em;
        padding: 0.5em;
        overflow: hidden;
    }
    
    .tags-input-remove:focus {
        outline: none;
    }
    
    .tags-input-remove:before, .tags-input-remove:after {
        content: '';
        position: absolute;
        width: 75%;
        left: 0.15em;
        background: #5dc282;
        
        height: 2px;
        margin-top: -1px;
    }
    
    .tags-input-remove:before {
        transform: rotate(45deg);
    }
    
    .tags-input-remove:after {
        transform: rotate(-45deg);
    }
    
    /* Tag badge styles */
    .tags-input-badge {
        position: relative;
        display: inline-block;
        padding: 1.1em 1.8em;
        font-size: 90%;
        font-weight: 900;
        line-height: 1.2;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.5em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .tags-input-badge-pill {
        padding-right: 1.25em;
        padding-left: 0.6em;
        border-radius: 10em;
    }
    
    .tags-input-badge-selected-default {
        color: #212529;
        background-color: #f0f1f2;
    }
    
    /* Typeahead */
    .typeahead-hide-btn {
        color: #999 !important;
        font-style: italic;
    }
    
    /* Typeahead - badges */
    .typeahead-badges > span {
        cursor: pointer;
        margin-right: 0.3em;
    }
    
    /* Typeahead - dropdown */
    .typeahead-dropdown {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        width: 100%;
        z-index: 1000;
    }
    
    .typeahead-dropdown li {
        padding: .25em 1em;
        cursor: pointer;
    }
    
    /* Typeahead elements style/theme */
    .tags-input-typeahead-item-default {
        color: #fff;
        background-color: #343a40;
    }
    
    .tags-input-typeahead-item-highlighted-default {
        color: #fff;
        background-color: #007bff;
    }
</style>
