<template>
    <article class="page_content_container">
        <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('task_category')" :header_title="getHeaderTitle">
        </editor-header>

        <div class="page_content" v-show="is_page_loaded">

            <vue-tabs
                    active-tab-color="#224A37"
                    active-text-color="white"
                    v-model="active_tab"
            >

                <v-tab title="Details">

                    <ValidationObserver
                            ref="categoryEditorObserverForm"
                            v-slot="{handleSubmit}"
                    >
                        <form class="admin_page_container category_editor_form" @submit.prevent="handleSubmit(onSubmit)">

                            <div class="card">
                                <div class="card-body card-block">


                                    <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- id -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="id">Id:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="categoryRow.id"
                                                    name="id"
                                                    id="id"
                                                    class="form-control admin_control_input text-right"
                                                    autocomplete=off
                                                    readonly="readonly"
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> id -->

                                    <dl class="block_2columns_md m-3"> <!-- name -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="name">Name:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="name"
                                                    :rules="{ required : true, max:50 }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="categoryRow.name"
                                                        name="name"
                                                        id="name"
                                                        class="form-control admin_control_input"
                                                        placeholder="Enter name"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> name -->


                                    <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- slug -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="slug">Slug:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="categoryRow.slug"
                                                    name="slug"
                                                    id="slug"
                                                    class="form-control admin_control_input"
                                                    autocomplete=off
                                                    readonly="readonly"
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> slug -->


                                    <dl class="block_2columns_md m-3"> <!-- description -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="description">Description:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="description"
                                                    :rules="{ required : true, max:10000  }"
                                                    v-slot="{ errors }"
                                            >
                                                <wysiwyg v-model="categoryRow.description"/>
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> description -->




                                    <dl class="block_2columns_md m-3"> <!-- parent_id -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="parent_id">Parent Category:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="parent_id"
                                                    :rules="{ required : false }"
                                                    v-slot="{ errors }"
                                            >
                                                <v-select
                                                        v-model="selection_parent_id"
                                                        label="label"
                                                        :options="categoriesLabels"
                                                        id="parent_id"
                                                        name="parent_id"
                                                        class="form-control admin_control_input editable_field"
                                                        placeholder="Select option"
                                                        data-cy='select-input'
                                                ></v-select>

                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> parent_id -->


                                    <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- created_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="created_at">Created at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="created_at_label"
                                                    name="created_at"
                                                    id="created_at"
                                                    class="form-control admin_control_input"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> created_at -->


                                    <dl class="block_2columns_md m-3" v-if="!is_insert && updated_at_label"> <!-- updated_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="updated_at">Updated at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="updated_at_label"
                                                    name="updated_at"
                                                    id="updated_at"
                                                    class="form-control admin_control_input"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> updated_at -->


                                </div> <!-- <div class="card-body card-block"> -->

                                <section class="card-footer admin_footer row_content_right_aligned">
                                    <dl class="block_2columns_md m-0 p-0" >
                                        <dt class="horiz_devider_label_half m-0 p-0">

                                            <p class="alert alert-info m-1 p-1 row_content_left_aligned" role="alert" v-if="is_insert">
                                                After inserting new category you can<br> edit the rest of data on the opened tabs.
                                            </p>
                                        </dt>

                                        <dd class="horiz_devider_value_half m-0 p-0">
                                            <editor-buttons
                                                    :is_admin="true"
                                                    :submit_label="submit_label"
                                                    :cancel_label="'Cancel'"
                                                    :cancel_link="'adminCategoriesListing'"
                                                    :is_page_updating="is_page_updating"
                                                    parent_component_key="category"
                                            ></editor-buttons>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> -->

                                </section>

                            </div> <!-- <div class="card"> -->

                        </form>

                    </ValidationObserver>
                </v-tab> <!-- <v-tab title="Details"> -->


                <v-tab title="Image" v-if="!is_insert">

                    <fieldset class="blocks">
                        <legend class="blocks p-3"><i :class="getHeaderIcon('upload')"></i>Image Preview/Upload</legend>

                        <img v-if="categoryHasImage(categoryRow)" class="m-1 p-1 img-preview-wrapper img_full_width_wrapper" :src="categoryRow.filenameData.image_url"
                             alt="Category Image"/>
                        <div class="alert alert-info m-1 p-1 row_content_left_aligned" role="alert" v-if="categoryHasImage(categoryRow)">

                            <ul class="ul_horiz_lis">
                                <li class="ul_horiz_lis_left_aligned m-1 p-1">
                                    <div class="pre-formatted uploded_file_info" v-html="categoryRow.filenameData.file_info"></div>
                                </li>
                                <li class="ul_horiz_lis_right_aligned">
                                    <a v-on:click="removeCategoryImage()" class="btn btn-sm m-2 btn_right_aligned">
                                        <i class="fa fa-remove a_link" title="Delete category"></i>Remove
                                    </a>
                                </li>
                            </ul>

                        </div>

                        <file-upload
                                ref="upload"
                                v-model="imageFiles"
                                post-action="/post.method"
                                put-action="/put.method"
                                @input-file="inputFile"
                                @input-filter="inputFilter"
                                :multiple="false"
                                class="btn btn-outline-secondary btn-sm m-2 file-input-class"
                                data-cy="file-input"
                        >
                            <i :class="'action_link '+getHeaderIcon('upload')"></i>Upload image
                        </file-upload>

                        <table class="m-2 p-0">
                            <tr v-for="nextFile in imageFiles" :key="nextFile.name">
                                <img :src="nextFile.blob" class="img-preview-wrapper img_full_width_wrapper" id="uploaded_image_file"/>
                                <div class="row_content_centered p-3">
                                    <div class="p-2">
                                        Name : <strong>{{ nextFile.name }}</strong>
                                    </div>
                                    <div class="p-2">
                                        Size : <strong>{{ getFileSizeAsString(nextFile.size) }}</strong>
                                    </div>

                                    <div v-show="uploaded_image_width" class="p-2">
                                        Width : <strong>{{ uploaded_image_width }}px</strong>
                                    </div>

                                    <div v-show="uploaded_image_height" class="p-2">
                                        Height : <strong>{{ uploaded_image_height }}</strong>
                                    </div>
                                </div>
                            </tr>

                        </table>

                        <div class="row_content_right_aligned" v-show="imageFiles.length">
                            <button type="reset" class="btn btn-danger btn-sm m-3" @click.prevent="cancelCategoryImage()">
                                <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                            </button>
                            <button type="button" class="btn btn-success btn-sm m-3 ml-4 mr-4" @click.prevent="uploadCategoryImage()">
                                <i :class="'i_link '+getHeaderIcon('save')"></i>Upload
                            </button>
                        </div>
                    </fieldset>

                </v-tab> <!-- <v-tab title="Image"> -->



            </vue-tabs>

        </div> <!-- page_content -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import Vue from 'vue'
    import {settingCredentialsConfig, settingsJsMomentDatetimeFormat} from '@/app.settings.js'

    Vue.component('editor-header', require('../../../../src/components/EditorHeader.vue').default)
    Vue.component('editor-buttons', require('../../../../src/components/EditorButtons.vue').default)

    import wysiwyg from "vue-wysiwyg"
    import 'vue-wysiwyg/dist/vueWysiwyg.css'       //
    Vue.use(wysiwyg, {
        maxHeight: "300px",
    })

    import Tabs from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(Tabs)
    import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(VueTabs)
    Vue.use(VTab)
    import 'vue-nav-tabs/themes/vue-tabs.css'

    import {ValidationObserver, ValidationProvider, extend} from 'vee-validate'
    import * as rules from 'vee-validate/dist/rules'

    Object.keys(rules).forEach(rule => {
        extend(rule, rules[rule])
    })
    import {localize} from 'vee-validate'

    localize({
        en: {
            messages: {
                required: (field) => field + ' is required',
                min: 'Must have no less than {length} characters',
                max: 'Must have no more than {length} characters',
                email: 'Invalid email format',
                confirmed: 'Password and password confirmation must be equal',
            }
        }
    })

    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    import {retrieveAppDictionaries} from "@/commonFuncs"

    import moment from 'moment-timezone'

    const VueUploadComponent = require('vue-upload-component')
    Vue.component('file-upload', VueUploadComponent)

    export default {
        name: 'categoryEditorPage',

        mixins: [appMixin],

        components: {
            VueTabs,
            VTab,
            ValidationObserver,
            ValidationProvider,
        },

        data() {
            return {
                category_id: null,
                categoryRow: {
                    name: '',
                    description: '',
                },
                selection_parent_id: null,
                active_tab: '',

                is_insert: false,

                imageFiles: [],
                uploaded_image_width: null,
                uploaded_image_height: null,

                categoriesLabels: [],
                is_page_loaded: false,
                is_page_updating: false,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                demo_version: process.env.VUE_APP_DEMO_VERSION,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        watch: {
            imageFiles(theFile) {
                if (typeof theFile[0] === 'undefined') return
                var image = new Image()
                image.src = theFile[0].blob
                image.onload = function () {
                    bus.$emit('imageUploadedEvent', this.width, this.height)
                }
            }
        },

        created() {
            if (this.$route.params.id == 'new') {
                this.category_id = 'new'
                this.is_page_loaded = true
                this.is_insert = true
            } else {
                this.category_id = this.$route.params.id
            }

            bus.$on('imageUploadedEvent', (uploaded_image_width, uploaded_image_height) => {
                this.uploaded_image_width = uploaded_image_width
                this.uploaded_image_height = uploaded_image_height
            })

        },  //  created() {

        mounted() {

            let res= this.getFilenameOfPath('/sample_images/sample.png')
            console.log('!!!!!!res::')
            console.log(res)

                /*
                            let res= this.getSplitted('/sample_images/sample.png','/', 2)
                            console.log('res::')
                            console.log(res)
                            var valuesArray = '/sample_images/sample.png'.split('/')
                            console.log('valuesArray::')
                            console.log(valuesArray)
                            console.log(typeof valuesArray)

                            if (typeof valuesArray[valuesArray.length-1] != "undefined") {
                                res = valuesArray[valuesArray.length-1]
                                console.log('res++::')
                                console.log(res)
                            }
                */


            /*         getSplitted(str, splitter, index) {
            if (typeof str == "undefined") return ""
            var valuesArray = str.split(splitter)
            if (typeof valuesArray[index] != "undefined") {
                return valuesArray[index]
            }
            return ''
        },
 */
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
            this.setAppTitle('Category', 'Category editor', bus)
            if (!this.is_insert) { // retrieve row for editing
                this.loadCategory()
            }

            retrieveAppDictionaries('category_details', ['categoriesLabels'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'category_details') {
                    this.categoriesLabels = data.categoriesLabels
                }
            })

        }
        , // mounted() {

        beforeDestroy() { // just before a component is destroyed.
            bus.$off('appDictionariesRetrieved') // stop listening.
            bus.$off('listingHeaderRightButtonClickedEvent') // stop listening.
        }
        ,

        methods: {
            loadCategory() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/categories/' + this.category_id, credentials)
                    .then(({ data }) => {
                        this.categoryRow = data.categories[0]
                        this.categoriesLabels.map((nextCategoryLabel/*, index*/) => {
                            if (nextCategoryLabel.code === this.categoryRow.parent_id) {
                                this.selection_parent_id = {code: this.categoryRow.parent_id, label: nextCategoryLabel.label}
                            }
                        })

                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        if (error.response.status == 404) {
                            this.showPopupMessage("Categories editor", "Category # "+this.category_id+" not found !", 'warn')
                            this.$router.push({path: '/admin/categories'})
                        }
                        console.error(error)
                        this.showPopupMessage('Categories Editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadCategory() {


            onSubmit() {

                this.$refs.categoryEditorObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('Categories Editor', 'Validations Failed !', 'warn')
                        return
                    }

                    let category = this.getClone(this.categoryRow)
                    let credentials= this.getClone(this.credentialsConfig)
                    credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                    this.is_page_updating = true
                    if (this.selection_parent_id != null) {
                        category.parent_id = this.selection_parent_id.code
                    }

                    // console.log('++ categoryvar::')
                    // console.log(category)

                    if (this.is_insert) {
                        axios.post(this.apiUrl + '/adminarea/categories', category, credentials).then(({ data }) => {
                            this.is_page_updating = false
                            this.showPopupMessage('Categories Editor', 'Category added successfully !', 'success')
                            this.is_insert= false
                            this.categoryRow= data.categories[0]

                            this.$router.push({path: '/admin/categories/edit/'+this.categoryRow.id})
                        }).catch((error) => {
                            this.$refs.categoryEditorObserverForm.setErrors(error.response.data.errors)
                            console.error(error)
                            this.is_page_updating = false
                            this.showPopupMessage('Categories Editor', 'Error adding category !', 'warn')
                        })

                    } // inserting new category

                    if (!this.is_insert) {
                        axios.put(this.apiUrl + '/adminarea/categories/' + this.category_id, category, credentials).then(({ data}) => {
                            this.is_page_updating = false
                            this.categoryRow= data.categories[0]
                            this.showPopupMessage('Categories Editor', 'Category updated successfully !', 'success')
                            this.$router.push({path: '/admin/categories'})
                        }).catch((error) => {
                            this.$refs.categoryEditorObserverForm.setErrors(error.response.data.errors)
                            console.error(error)
                            this.is_page_updating = false
                            this.showPopupMessage('Categories Editor', 'Error updating category !', 'warn')
                        })

                    } // editing existing category

                })
            },  // onSubmit

            inputFile(newFile, oldFile) {
                this.categoryRow.imageFile = newFile

                if (newFile && oldFile && !newFile.active && oldFile.active) {
                    if (newFile.xhr) {
                        console.log('status', newFile.xhr.status)
                    }
                }
            },

            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
                        return prevent()
                    }
                }

                newFile.blob = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.blob = URL.createObjectURL(newFile.file)
                }
            },

            cancelCategoryImage() {
                this.imageFiles = []
                this.uploaded_image_width = null
                this.uploaded_image_height = null
            },

            uploadCategoryImage() {
                var self = this

                fetch(this.categoryRow.imageFile.blob).then(function (response) {
                    if (response.ok) {
                        return response.blob().then(function (imageBlob) {
                            let imageUploadData = new FormData()
                            imageUploadData.append('id', self.categoryRow.id)
                            imageUploadData.append('image', imageBlob)
                            imageUploadData.append('image_filename', self.categoryRow.imageFile.name)

                            self.credentialsConfig.headers.Authorization = 'Bearer ' + self.currentLoggedUserToken
                            self.is_page_updating = true
                            axios.post(self.apiUrl + '/adminarea/categories/upload_image', imageUploadData, self.credentialsConfig).then(({data}) => {
                                // console.log('data::')
                                // console.log(data)

                                self.is_page_updating = false
                                self.showPopupMessage('Image upload', 'Image uploaded successfully !', 'success')
                                // self.categoryRow.image = self.categoryRow.imageFile.name
                                //                             debugger // eslint-disable-line
                                if (typeof data.category[0] != 'undefined') {
                                    self.categoryRow = data.category[0]
                                }
                                self.cancelCategoryImage()
                            }).catch((error) => {
                                console.error(error)
                                self.is_page_updating = false
                                self.showPopupMessage('Image upload', 'Image uploading error : ' + error.response.data.message + ' !', 'warn')
                            })
                        })
                    } else {
                        return response.json().then(function (jsonError) {
                            console.error(jsonError)
                        })
                    }
                }).catch(function (error) {
                    console.error(error)
                    console.log('There has been a problem with your fetch operation: ', error.message)
                }) // fetch(this.categoryRow.imageFile.blob).then(function (response) {


            },
            removeCategoryImage() {
                if (!confirm("Do you want to delete category image ?")) {
                    return
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/adminarea/categories/' + this.categoryRow.id + '/delete_image', credentials).then((/*response*/) => {
                    this.categoryRow.image = null
                    this.categoryRow.filenameData = null
                    this.showPopupMessage('Categories Image', 'Category was deleted successfully', 'success')

                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('Categories Image', 'Error deleting category !', 'error')
                })

            }, //removeCategory(id, category_name, index) {

            formatCategoryDateStart: function (date_value) {
                if (typeof date_value != 'undefined') {
                    return moment(date_value).toDate()
                }
                return null
            }
            ,

        }
        , // methods: {

        computed: {
            submit_label: function () {
                return (!this.is_insert ?'Update' : 'Insert' )
            },

            getHeaderTitle: function () {
                if (!this.is_insert) return 'Edit category'
                return 'Add category'
            }
            ,

            created_at_label: function () {
                return this.momentDatetime(this.categoryRow.created_at, this.jsMomentDatetimeFormat)
            }
            ,

            updated_at_label: function () {
                return this.momentDatetime(this.categoryRow.updated_at, this.jsMomentDatetimeFormat)
            }
            ,

            status_label: function () {
                return this.getDictionaryLabel(this.categoryRow.status, this.categoryStatusLabels)
            }
            ,

            currentLoggedUserToken() {
                return this.$store.getters.token
            }
            ,

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            }
            ,

        }

    }
</script>
