<template>
    <div class="test" style="width: 100% !important;">
        <h1>design Blocks</h1>


        <fieldset class="content_container bordered" >
            <legend class="blocks">ul : 1 col splitted : 1:1 and 2/3:1/3 </legend>
    
    
    
            <ul class="ul_horiz_lis m-0 p-0" style="min-height: 200px!important;">
                <li class="ul_horiz_lis_left_aligned_23 m-0 p-0">
            
                    <ul class="ul_horiz_lis m-0 p-0">
                        <li class="ul_horiz_lis_left_aligned_half m-0 p-0">
                            <div class="block_vert">
                                <div class="block_vert_half_top m-0 p-0">col1:1 Top</div>
                                <div class="block_vert_half_bottom m-0 p-0">col1:1 Bottom</div>
                            </div>
                
                
                        </li>
                        <li class="ul_horiz_lis_right_aligned_half">
                            <div class="block_vert">
                                <div class="block_vert_half_top m-0 p-0">col1:2 Top</div>
                                <div class="block_vert_half_bottom m-0 p-0">col1:2 Bottom</div>
                            </div>
                        </li>
                    </ul>
        
        
                </li>
                <li class="ul_horiz_lis_right_aligned_13">
                    col2
                </li>
            </ul>



        </fieldset>

        <fieldset class="content_container bordered" >
            <legend class="blocks">ul : 1 col splitted : 1:1 and 2/3:1/3 </legend>

            <div>
                <ul class="ul_horiz_lis m-0 p-0">
                    <li class="ul_horiz_lis_left_aligned_half m-0 p-0">
                        ul_horiz_lis_left_aligned_half:
                    </li>
                    <li class="ul_horiz_lis_right_aligned_half">
                        ul_horiz_lis_right_aligned_half
                    </li>
                </ul>

                <hr>
                <hr>
                <ul class="ul_horiz_lis m-0 p-0">
                    <li class="ul_horiz_lis_left_aligned_23 m-0 p-0">
                        ul_horiz_lis_left_aligned_23:
                    </li>
                    <li class="ul_horiz_lis_right_aligned_13">
                        ul_horiz_lis_right_aligned_13
                    </li>
                </ul>
            </div>

        </fieldset>


        <fieldset class="content_container bordered" >
            <legend class="blocks">block_vert : rows top and Bottom with half height</legend>
            <div class="block_vert">
                <div class="block_vert_half_top m-0 p-0">Top</div>
                <div class="block_vert_half_bottom m-0 p-0">Bottom</div>
            </div>
        </fieldset>

    </div>
</template>

<script>
    import {bus} from '../../src/main'
    import appMixin from '@/appMixin'
    // import axios from 'axios'
    // import Vue from 'vue'

    export default {
        name: 'designBlocks',

        mixins: [appMixin],

        components: {},


        data() {
            return {
                price: 123.45,

            }
        }, // data () {

        created() {
        }, //  created() {

        mounted() {
            this.setAppTitle('Test2', 'Test2', bus)

        }, // mounted() {

        methods: {}, // methods: {

        computed: {
            currentLoggedUserToken() {
                return this.$store.getters.token
            },


        }

    }
</script>

<style lang="scss" scoped>
    @import '../variables.scss';

    .ul_horiz_lis_left_aligned_half {
        display: flex;
        margin: 0 10px;
        justify-content: space-between;
        width: 50%;
        flex-wrap: nowrap;
        white-space: nowrap;
        //border: 2px dotted green;
    }
    .ul_horiz_lis_right_aligned_half {
        justify-content: flex-start;
        text-align: left;
        width: 50%;
        //border: 2px dotted red;
        display: flex;
        margin: 0 10px;
        flex-wrap: nowrap;
        white-space: nowrap;
    }


    .ul_horiz_lis_left_aligned_23 {
        display: flex;
        margin: 0 10px;
        justify-content: space-between;
        width: 67%;
        flex-wrap: nowrap;
        white-space: nowrap;
        //border: 2px dotted green;
    }

    .ul_horiz_lis_right_aligned_13 {
        justify-content: flex-end;
        text-align: left;
        width: 33%;
        //border: 2px dotted red;
        display: flex;
        margin: 0 10px;
        flex-wrap: nowrap;
        white-space: nowrap;
        //background-color: red !important;
    }

    .block_vert {
        flex-direction: column;
        width: 100% !important;
        height: 100% !important;
        border: 2px dotted red !important;
    }

    .block_vert_half_top {
        display: flex;
        justify-content: flex-start;
        height: 50%;
        width: 100%;
        border: 2px dotted blue !important;
        min-height: 200px !important;;
    }

    .block_vert_half_bottom {
        display: flex;
        justify-content: flex-start;
        border: 2px dotted green !important;
        height: 50%;
        width: 100%;
        min-height: 200px !important;;
    }

</style>
