<template>
    <article class="column_content_centered">
<!--        site_name::{{ site_name}}<br>-->
<!--        site_description::{{ site_description}}<br>-->

        <TasksSelection
                :blockTitle="site_name+': Select task you want to take participation'"
                filter_type="is_homepage"
        />

    </article>
</template>

<script>

    import {bus} from '../../src/main'
    import appMixin from '@/appMixin'

    import TasksSelection from '@/views/tasks/TasksSelection.vue'

    import Vue from 'vue'
    import VueHead from 'vue-head' // https://github.com/ktquez/vue-head
    Vue.use(VueHead)
    import {retrieveAppDictionaries} from "@/commonFuncs"


    export default {
        name: 'homePage',
        mixins: [appMixin],

        components: {
            TasksSelection
        },

        data: function () {
            return {
                site_name: '!!123',
                site_description: '???456',
            }
        },


        mounted() {
            retrieveAppDictionaries('home', ['site_name', 'site_description'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'home') {
                    this.site_name = data.site_name
                    this.site_description = data.site_description
                    this.$emit('updateHead')
                }
            })

        }, // mounted() {


        head: {
            title: function () {
                return {
                    inner: 'Home of ' + this.site_name, id: 'app_head',
                    complement: '',
                    separator: '',
                }
            },

            meta: function () {
                return [
                    {
                        name: 'description',
                        content: 'Home of ' + this.site_name + ' : ' + this.site_description,
                        id: 'description'
                    }
                ]
            },
            link: [
                {rel: 'canonical', href: '/', id: 'canonical'},
            ],
        },  // head: {


    }
</script>
