<template>
    <section class="task_item_container page_content_container">

        <h3 class="card-title p-2">
            <i :class="'info_link '+getHeaderIcon('maintenance')"></i>
            Site is under Maintenance now.
        </h3>

        <h4 class="card-body p-2">
            Please, return later...
        </h4>

        <h5 class="card-footer p-2 page_content_footer">
            <router-link :to="{ name: '/' }">Home</router-link>
        </h5>

    </section>


    <!--<b-card>

        <b-card-header>
            <h3>
                <i :class="'info_link '+getHeaderIcon('maintenance')"></i>O-o-ops...
            </h3>
        </b-card-header>

        <b-row>

            <b-col md="12 m-2">

                <b-card-body >
                    <b-card-header>
                        <h4><center>Site is under Maintenance now.</center></h4>
                    </b-card-header>
                    <b-card-text>
                        <h5><center>Please, return later...</center></h5>
                    </b-card-text>
                </b-card-body>

            </b-col>

        </b-row>

    </b-card>-->
</template>

<script>

    import {bus} from '../../src/main'
    import appMixin from '@/appMixin'

    export default {
        name: 'page',
        mixins: [appMixin],

        components: {},

        data: () => ({
        }),

        created() {
        }, //  created() {

        mounted() {
            this.setAppTitle('Maintenance', 'Maintenance', bus)

        }, // mounted() {

    }
</script>
