<template>
    <li class="node-tree">
        <span class="label" v-if="node">
            <i :class="'i_link p-1 '+getHeaderIcon('tree_has_items')" :title="showNodeIconTitle(node)" :v-if="showNodeIconTitle(node)"></i>
            <!--            v-show="node.children.length" comment -->


                <div class="block_tree_item_content">
                   <div class="block_tree_item_content_top m-0 p-0">
                       <strong>{{ node.id }}::{{ node.label }}</strong>
                   </div>
                   <div class="block_tree_item_content_bottom m-0 p-0" style="" >
                   <div class=" m-0 p-0" style="" v-html="node.comment ">
<!--                      <strong>{{ node.comment }}</strong>-->
                   </div>
                   </div>
               </div>

        </span>

        <ul v-if="node.children && node.children.length">
            <node v-for="child in node.children" :node="child" :key="child.id"></node>
        </ul>
    </li>
</template>

<!--
<div style="display: inherit; width: 100%; overflow-y: scroll; max-height: 200px; border: 2px dotted red; " @click.ctrl="customItemClickWithCtrl">
    &lt;!&ndash;                        <i :class="_.vm.themeIconClasses" role="presentation" v-if="!_.model.loading"></i>&ndash;&gt;
    <div class="pre-formatted" v-html="'<p>123:</p>'+_.model.text"
         style="border: 2px dotted blue; max-height: 200px !important; display: inline;">
    </div>
    &lt;!&ndash;                                            {{_.model.text }}&ndash;&gt;
    <button style="border: 2px; background-color: transparent; cursor: pointer;" @click="customItemClick(_.vm, _.model, $event)"><i
        class="fa fa-remove"></i></button>
</div>
-->


<script>
    // import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    /*
        import axios from 'axios'
        import Vue from 'vue'
        import {settingCredentialsConfig, settingsJsMomentDatetimeFormat} from '@/app.settings.js'
    */

    export default {
        name: "node",
        mixins: [appMixin],
        props: {
            node: Object
        },
        methods: {
            showNodeIconTitle(node) {
                if (typeof node == "undefined") {
                    return false
                }
                if (typeof node.children != "undefined") {
                    return 'Has ' + node.children.length + ' subitems'
                }
                return false
            }
        }
    }
</script>
<style lang="scss" scoped>
    .block_tree_item_content {
        display: flex;
        flex-direction: column;
        border: 0px dotted yellow !important;
    }

    .block_tree_item_content_top {
        display: flex;
        flex: 0 0 50px;
        border: 0px dotted blue !important;
    }

    .block_tree_item_content_bottom {
        display: flex;
        /*flex: 0 1 50px;*/
        justify-content: flex-start;
        overflow-y: auto;
        max-height: 200px;
        border: 0px dotted green !important;
    }

</style>
