<template>
	<section class="task_item_container page_content_container">

		<h3 class="card-title p-2">
			<i class="fa fa-bug">Error.</i>
		</h3>

		<h4 class="card-body p-2">
			The requested "{{ invalid_url }}" page not found.
		</h4>

		<h5 class="card-footer p-2 page_content_footer">
			<router-link :to="{ name: '/' }">Home</router-link>
		</h5>

	</section>

</template>

<script>

    import appMixin from '@/appMixin'

    export default {
        mixins: [appMixin],

        data: () => ({
            invalid_url: "",
        }),

        created() {
            this.invalid_url = this.$route.params.invalid_url
        }, // created() {

        mounted() {
        },
    }

</script>
