<template>
    <article class="column_content_centered">

        <div class="p-3 pl-5 column_content_centered">
            <h3>
                <i :class="'i_link '+getHeaderIcon('profile')"></i> {{ getHeaderTitle }}
            </h3>
        </div>

        <div class="page_content col-sm-12 mx-auto">

            <section class="p-2 column_content_centered">

                <ul class="column_content_centered">
                    <li class="p-3" v-if="!userHasAvatar(userProfileRow)">
                        <img src="/images/user-profile.png" alt="User's avatar">
                    </li>

                    <li class="p-3" v-if="userHasAvatar(userProfileRow)">

                        <img v-if="userHasAvatar(userProfileRow)" class="m-1 p-1 img-preview-wrapper img_full_width_wrapper"
                             :src="userProfileRow.filenameData.avatar_url" alt="User's avatar"/>

                    </li>

                    <li class="p-3">
                        {{ userProfileRow.name }}
                        <span class="small_size">( {{ userProfileRow.first_name }} / {{ userProfileRow.last_name }} )</span>
                    </li>

<!--
                    <li class="p-3">
                        {{ userProfileRow.email }}
                    </li>
-->

                    <fieldset class="content_container bordered" v-if="userGroups.length">
                        <legend class="blocks">Access</legend>
                        <ul class="column_content_centered">
                            <li class="p-3">
                                <strong>{{ concatStrings(getArrayKeyValues(userGroups,'group_name'), ', ') }}</strong>
                            </li>
                        </ul>
                    </fieldset>

                    <li class="content_container m-0 p-0 pt-3">

                        <fieldset class="bordered" v-if="userProfileRow.phone || userProfileRow.website">
                            <legend class="blocks">Contacts</legend>
                            <ul class="column_content_centered">
                                
                                <li class="p-3">
                                    Email: <strong>{{ userProfileRow.email }}</strong>
                                </li>
                                <li class="p-3">
                                    Phone: <strong>{{ userProfileRow.phone }}</strong>
                                </li>

                                <li class="p-3">
                                    Website: <strong>{{ userProfileRow.website }}</strong>
                                </li>
                            </ul>
                        </fieldset>

                    </li>

                    <li class="content_container m-2">
                        <fieldset class="bordered" v-if="contract_start_label || contract_end_label">
                            <legend class="blocks">Contract</legend>
                            <ul class="column_content_centered">
                                <li class="p-3">
                                    From <strong>{{ contract_start_label }}</strong> till <strong>{{ contract_end_label }}</strong>
                                </li>

                                <li class="p-3">
                                    <i :class="'i_link pt-1 '+getHeaderIcon('published')" title="Joined at"></i>{{ created_at_label }}
                                </li>
                            </ul>
                        </fieldset>
                    </li>

                </ul>

                <fieldset class="content_container bordered" v-if="userSkills.length">
                    <legend class="blocks">Skills</legend>

                    <ul class="space_between_wraping_cell">
                        <li class="p-3 m-0" v-for="nextUserSkill in userSkills" :key="nextUserSkill.id" >
                            <button type="button" class="btn text-nowrap" v-if="nextUserSkill.rating">
								<span class="badge badge-info p-1" :title="'Skill rated : ' + getDictionaryLabel(nextUserSkill.rating,userSkillsLabels) ">
									<i :class="'badge-success i_link '+getHeaderIcon('check')"></i>
									{{ nextUserSkill.skill_name }}
								</span>
                            </button>
                        </li>
                    </ul>

                </fieldset>

                <fieldset class="content_container bordered" v-if="tasksAssignedToUser.length">
                    <legend class="blocks p-3 m-0">Participation in tasks</legend>

                    <div class="table-responsive table-wrapper-for-data-listing ">
                        <table class="table table-striped table-data-listing">

                            <thead>
                            <tr>
                                <th>Task</th>
                                <th>User's Role</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="nextTaskAssignedToUser in tasksAssignedToUser" :key="nextTaskAssignedToUser.id">
                                <td class="text-left">
                                    <router-link :to="{ name: 'taskDetails', params: { slug: nextTaskAssignedToUser.task_slug }  }" class="a_link"
                                                 target="_blank">
                                        {{ nextTaskAssignedToUser.task_name }}
                                    </router-link>
                                </td>
                                <td class="text-left">
                                    <i :class="'i_link '+getHeaderIcon('description')" :title="clearTags(nextTaskAssignedToUser.description)"></i>{{
                                    nextTaskAssignedToUser.user_task_type_name }}
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                </fieldset>

            </section>
        </div> <!-- page_content -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../src/main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    // import Vue from 'vue'

    import {
        settingsUserStatusLabels,
        settingsUserSkillsLabels,
        settingsJsMomentDatetimeFormat,
        settingCredentialsConfig
    } from '@/app.settings.js'

    export default {
        name: 'publicProfilePage',

        mixins: [appMixin],

        components: {},

        data() {
            return {
                user_profile_id: null,
                userProfileRow: {},
                userSkills: [],
                userGroups: [],
                tasksAssignedToUser: [],
                is_page_loaded: false,
                userSkillsLabels: settingsUserSkillsLabels,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                userStatusLabels: settingsUserStatusLabels,
                credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL,
                demo_version: process.env.VUE_APP_DEMO_VERSION

            }
        }, // data () {


        created() {
            this.user_profile_id = this.$route.params.id
        }, //  created() {

        mounted() {
            this.setAppTitle('Profile', 'Profile', bus)
            this.loadUserProfile()
        }, // mounted() {


        methods: {
            loadUserProfile() {
                this.is_page_loaded = false
                axios.get(this.apiUrl + '/public_profile/' + this.user_profile_id, this.credentialsConfig)
                    .then(({data}) => {
                        this.userProfileRow = data.user[0]
                        this.userSkills = data.userSkills
                        this.userGroups = data.userGroups
                        this.tasksAssignedToUser = data.tasksAssignedToUser
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        this.is_page_loaded = true
                        this.$router.push({path: '/'})
                    })

            }, // loadUserProfile() {
        }, // methods: {

        computed: {
            getHeaderTitle: function () {
                if (this.userProfileRow) {
                    return "Profile of " + this.userProfileRow.name
                } else {
                    return "Profile"
                }
            },

            created_at_label: function () {
                return this.momentDatetime(this.userProfileRow.created_at, this.jsMomentDatetimeFormat)
            },

            contract_start_label: function () {
                return this.momentDatetime(this.userProfileRow.contract_start, this.jsMomentDatetimeFormat)
            },
            contract_end_label: function () {
                return this.momentDatetime(this.userProfileRow.contract_end, this.jsMomentDatetimeFormat)
            },
        }

    }
</script>
