<template>
    <div class="test" style="width: 100% !important;">
        <h1>This is a test2 page</h1>
        
<!--        00 date_start_formatted::{{ date_start_formatted}}<br>-->
<!--        currentPollingNotification::{{ currentPollingNotification}}-->
        
        <date-picker
            :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'date_picker_control' : true }"
            :first-day-of-week="1"
            :format="'DD MMM YYYY'"
            v-model="date_start_formatted"
            :lang="'en'"
            id="date_start"
            :placeholder="'Select date start'"
        ></date-picker>
        
        
        <notifications
            group="vtasks_popup_dialog"
            position="bottom center"
            :ignoreDuplicates="true"
            :closeOnClick="false"
            width="100%"
            height="100%"
        >
            <template slot="body" slot-scope="props">
                
                <div class="polling_notification_wrapper">
                    
                    <div class="polling_notification_category_wrapper">
                        <h3 class="polling_notification_category">{{currentPollingNotification.pollingNotificationCategory.name}}</h3>
                        <a class="close polling_notification_content" @click="props.close">
                            <i class="fa fa-fw fa-close "></i>
                        </a>
                    </div>
                    
                    
                    <ul class="ul_horiz_lis polling_notification_content">
                        <!--                        currentPollingNotification::{{ currentPollingNotification}}-->
                        <li class="ul_horiz_lis_left_aligned_13 ">
                            <img class="m-1 p-1 polling_notification_image" :src="defaultPollingNotificationImg" alt="Task Image"
                                 v-if="!pollingNotificationHasImage(currentPollingNotification)"/>
                            <img v-if="pollingNotificationHasImage(currentPollingNotification)" class="pull-left m-1 p-1 polling_notification_image"
                                 :src="currentPollingNotification.filenameData.image_url" alt="Polling notification Image"/>
                        </li>
                        <li class="ul_horiz_lis_right_aligned_23 p-0 m-0 ">
                            <div class="title "
                                 :style="'color: '+getPollingNotificationColorByStyle(currentPollingNotification.style)">
<!--                                                                Array('O => Show once', 'C' => 'Show once and confirmed', 'R' => 'Repeatedly')<br>-->
<!--                                                                id:{{ currentPollingNotification.id}}=>style:{{ currentPollingNotification.style}}=>type:{{ currentPollingNotification.type}}<br>-->
                                <h3 style="text-align: left">
                                    <i :class="'i_link p-1 '+getHeaderIcon('notification')"
                                       title="You have notification"></i>
                                    {{props.item.title}}
                                </h3>
                            </div>
                            <div v-html="props.item.text" style="overflow-y: auto; max-height: 300px; padding: 10px;">
                            </div>
                        </li>
                    </ul>
                    
                    
                    <section class="card-footer row_content_right_aligned">
                        <button type="reset" class="btn btn-danger btn-sm m-2" @click.prevent="ctasksPopupDialogDismiss()"
                                v-show="currentPollingNotification.type=='C'">
                            <i :class="'i_link '+getHeaderIcon('cancel')"></i>Dismiss
                        </button>
                        <button type="submit" class="btn btn-polling-notification btn-sm m-2 ml-4 mr-4 a_link" @click.prevent="ctasksPopupDialogIGotIt()"
                                v-show="currentPollingNotification.type=='C'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>I got it!
                        </button>
                    </section>
                </div>
            
            </template>
        </notifications>
    
    
    </div>
</template>

<script>
    import {bus} from '../../src/main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    // import Vue from 'vue'
    import moment from 'moment-timezone'

    import DatePicker from 'vue2-datepicker'
    import 'vue2-datepicker/index.css'

    import {
        settingCredentialsConfig,
        settingsDefaultPollingNotificationImg,

    } from '@/app.settings.js'
    // import {retrieveAppDictionaries} from "../commonFuncs"        // src/app.settings.js

    export default {
        name: 'test2Page',

        mixins: [appMixin],


        components: {
            DatePicker
        },


        data() {
            return {
                credentialsConfig: settingCredentialsConfig,
                currentPollingNotification: [

                    {
                        "id": 3,
                        "title": "You have Security Break in your account",
                        "style": "D",
                        "message":
                            "<p><strong>Security Break</strong>  in your account </p><p>Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla... <ul>\n <li>1st point lorem ipsum</li>\n <li>2nd point lorem ipsum</li>\n <li>3rd point lorem ipsum</li>\n</ul></p> <p>Lorem 222222 ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. <i>Excepteur sint  occaecat</i> cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                            "</p><p>Lorem 333333 ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. <i>Excepteur sint  occaecat</i> cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                            "</p><p>Lorem 4444 ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. <i>Excepteur sint  occaecat</i> cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                            "</p><p>Lorem 5555 ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. <i>Excepteur sint  occaecat</i> cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                            "</p>",
                        "type": "C",  // C=>Show once and confirmed
                        "expire_date": "2021-07-09",
                        "target_user_id": 1
                    }

                ],

                price: 123.45,
                apiUrl: process.env.VUE_APP_API_URL,
                // date_start_formatted: '25 Dec 2019',
                // date_start_formatted: this.addDaysToDate(1),
                date_start_formatted: '2020-02-27',
                defaultPollingNotificationImg: settingsDefaultPollingNotificationImg,

            }
        }, // data () {

        created() {
        }, //  created() {

        mounted() {
            this.setAppTitle('Test2', 'Test2', bus)
            this.date_start_formatted = this.formatTaskDateStart(this.date_start_formatted)
            // this.taskRow.date_end_formatted = this.formatTaskDateStart(this.taskRow.date_end)
            this.showCurrentPollingNotification()

        }, // mounted() {


        methods: {
            showCurrentPollingNotification() {

                let credentials = this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/personal/polling_notifications', credentials)
                    .then((response) => {
                        console.log('showCurrentPollingNotification response::')
                        console.log(response)
                        if (response.data.polling_notifications.length > 0) {
                            this.currentPollingNotification = response.data.polling_notifications[0]
                            console.log('this.currentPollingNotification::')
                            console.log(this.currentPollingNotification)

                            if (typeof this.currentPollingNotification.title != "undefined") {
                                this.showPopupDialog(this.currentPollingNotification.title, this.currentPollingNotification.message, 'success')
                                //// https://github.com/euvl/vue-notification
                            }
                        }
                        /*
                                                    this.userProfileRow = response.data.user
                                                    this.userSkills = response.data.userSkills
                                                    this.userGroups = response.data.userGroups
                                                    this.tasksAssignedToUser = response.data.tasksAssignedToUser
                                                    this.makeUserSkillsLabelsForSelection()
                                                    this.is_page_loaded = true
                                                    
                        */
                    })
                    .catch(error => {
                        console.error(error)
                        this.is_page_loaded = true
                    })


                /*
                                console.log('showcurrentPollingNotification this.currentPollingNotification::')
                                console.log(this.currentPollingNotification)
                
                                if (typeof this.currentPollingNotification != "undefined") {
                                    this.showPopupDialog(this.currentPollingNotification.title, this.currentPollingNotification.message, 'success')
                                    //// https://github.com/euvl/vue-notification
                                }
                */
            },


            formatTaskDateStart: function (date_value) {
                console.log('formatTaskDateStart date_value::')
                console.log(date_value)

                if (typeof date_value != 'undefined') {
                    console.log('INSIDE moment(date_value)::')
                    console.log(moment(date_value))

                    return moment(date_value).toDate()
                }
                return null
            }
            ,


            ctasksPopupDialogIGotIt() {

                // console.log('ctasksPopupDialogIGotIt e::')
                // this.$notify('clean', 'vtasks_popup_dialog')
                let credentials = this.getClone(this.credentialsConfig)

                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                let pollingNotificationFeedback = {
                    polling_notification_id: this.currentPollingNotification.id,
                    feedback: 1
                }
                axios.post(this.apiUrl + '/personal/polling_notification_feedbacks', pollingNotificationFeedback, credentials).then((/*{data}*/) => {
                    this.is_page_updating = false
                    this.showPopupMessage('Notifications', 'Polling notification feedback was set successfully !', 'success')
                }).catch((error) => {
                    this.showPopupMessage('Notifications', error.response.data.errors, 'warn')
                })

                this.$notify({group: 'vtasks_popup_dialog', clean: true})

            },


            ctasksPopupDialogDismiss() {
                // console.log('ctasksPopupDialogDismiss e::')
                this.$notify({group: 'vtasks_popup_dialog', clean: true})
            },

            getPollingNotificationColorByStyle(style) {
                if (style == 'D') {
                    return 'red'
                }
                if (style == 'W') {
                    return 'pink'
                }
                return 'green'
            }
        }, // methods: {

        computed: {

            currentLoggedUserToken() {
                return this.$store.getters.token
            },


        }

    }
</script>

<style lang="scss">
    @import '../variables.scss';
    
    .simple_bordered_block {
        border: $item-border;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin: 6px;
        background-color: rgb(252, 255, 252);
        padding: 6px;
        
    }
    
    
    .btn-polling-notification {
        color: $polling_notification_background_color;
        background-color: $polling_notification_color;
        border-color: $polling_notification_background_color;
    }
    
    .polling_notification_wrapper {
        background-color: $polling_notification_background_color;
        max-height: 60%; // to for devices
        @extend .simple_bordered_block;
        
    }
    
    .polling_notification_content {
        border-bottom: 4px solid $polling_notification_color;
        padding: 0;
        margin: 0;
        background-color: $polling_notification_background_color;
        color: $polling_notification_color !important;
        text-align: left;
    }
    
    .polling_notification_category_wrapper {
        border-bottom: 4px solid $polling_notification_color;
        padding: 0;
        margin: 0;
        color: $polling_notification_background_color;
        text-align: left;
    }
    
    .polling_notification_category {
        font-weight: 700;
        text-transform: uppercase;
        background-color: $polling_notification_color !important;
        border-top-right-radius: 10px;
        border-top-left-radius: 3px;
        /*border-bottom: 4px solid red;*/
        display: inline-block;
        padding: 10px 10px 10px 7px;
        margin: 0;
        color: $polling_notification_background_color;
        text-align: left;
        /*align-content: flex-start;*/
    }
    
    .vue-notification {
        padding: 10px;
        margin: 0 5px 5px;
        
        font-size: 12px;
        
        color: $polling_notification_background_color;
        background: #44A4FC;
        border-left: 5px solid #187FE7;
        
        &.warn {
            background: #ffb648;
            border-left-color: #f48a06;
        }
        
        &.error {
            background: #E54D42;
            border-left-color: #B82E24;
        }
        
        &.success {
            background: #68CD86;
            border-left-color: #42A85F;
        }
    }
    
    .raisedbox {
        padding: 10px !important;
        border: 1px solid #77aaff !important;
        box-shadow: -1px 1px #77aaff !important,
    - 2 px 2 px #77aaff !important,
    - 3 px 3 px #77aaff !important,
    - 4 px 4 px #77aaff !important,
    - 5 px 5 px #77aaff !important;
    }

</style>
