<template>
    <div class="test" style="width: 100% !important;">
        https://alligator.io/vuejs/recursive-components/
        <h1>This is a test4(custom treeview) page</h1>
        
        <hr>
        <div>
            <tree :tree-data="tree"></tree>
        </div>
        
    </div>
</template>

<script>
    import {bus} from '../../src/main'
    import appMixin from '@/appMixin'
    // import moment from 'moment-timezone'

    // import Vue from 'vue'
    import axios from 'axios'

    import Tree from "./Tree"

    // import {retrieveAppDictionaries} from "@/commonFuncs"
    // import {        settingsJsMomentDatetimeFormat,   settingCredentialsConfig} from '@/app.settings.js'
    
    export default {
        name: 'testPage',

        mixins: [appMixin],

        components: {
            Tree
        },


        mounted() {
            this.setAppTitle('Test', 'Test', bus)

            /*            retrieveAppDictionaries('testPage', ['events_demo_month'])
                        bus.$on('appDictionariesRetrieved', (data) => {
            
                            if (data.request_key === 'testPage') {
                                this.events_demo_month = data.events_demo_month
                                this.eventsDemoPeriodStart = moment( this.events_demo_month )
                                // console.log('this.eventsDemoPeriodStart::')
                                // console.log(this.eventsDemoPeriodStart)
                            }
                        })
            */
            // this.loadEventsTimeline()
        },

        data() {
            return {
                tree: {
                    id:1,
                    label: "1:A cool folder",
                    comment:
                        "<p>1 Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                        "</p>\n",
                    children: [
                        {
                            id:2,
                            label: "2:A cool sub-folder 1",
                            comment:
                                "<p>2 Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                                "</p>\n" +
                                "<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. <i>Excepteur sint  occaecat</i> cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                                "</p>\n" +
                                "<ul>\n" +
                                "    <li>Lorem 1st point </li>\n" +
                                "    <li>Lorem 2nd point </li>\n" +
                                "    <li>Lorem 3rd point </li>\n" +
                                "</ul>\n" +
                                "<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. <i>Excepteur sint  occaecat</i> cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                                "</p>\n",
                            children: [
                                {
                                    id:3,
                                    label: "3:A cool sub-sub-folder 1",
                                    comment:
                                        "<p>3 Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                                        "</p>\n" +
                                        "<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. <i>Excepteur sint  occaecat</i> cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                                        "</p>\n" +
                                        "<ul>\n" +
                                        "    <li>Lorem 1st point </li>\n" +
                                        "    <li>Lorem 2nd point </li>\n" +
                                        "    <li>Lorem 3rd point </li>\n" +
                                        "</ul>\n" +
                                        "<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. <i>Excepteur sint  occaecat</i> cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                                        "</p>\n",
                                },
                                {
                                    id:4,
                                    label: "4:A cool sub-sub-folder 2",
                                    comment:
                                        "<p>4 Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                                        "</p>\n" +
                                        "<ul>\n" +
                                        "    <li>Lorem 1st point </li>\n" +
                                        "    <li>Lorem 2nd point </li>\n" +
                                        "    <li>Lorem 3rd point </li>\n" +
                                        "</ul>\n" +
                                        "<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. <i>Excepteur sint  occaecat</i> cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                                        "</p>\n",
                                }
                            ]
                        },
                        {
                            id:5,
                            label: "5:This one is not that cool",
                            comment:
                                "<p>5 Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n" +
                                "</p>\n"


                        }
                    ]
                }, // tree

                /*
                                events_demo_month : '',
                                eventsDemoPeriodStart:new Date(),
                                // jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                                events: [],
                                events_total_count: 0,
                */
                // credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL,
            }
        }, // data () {

        created() {
            // this.eventsDemoPeriodStart = new Date(2018, 1, 1)
        }, //  created() {


        beforeDestroy() { // just before a component is destroyed.
        },


        methods: {
            loadEventsTimeline() {
                this.is_page_loaded = false
                let credentials = this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                let filters = []
                axios.post(this.apiUrl + '/adminarea/events-calendar-filter', filters, credentials)
                    .then((response) => {
                        // console.log('response::')
                        // console.log(response)

                        this.events = response.data
                        this.events_total_count = response.data.length
                        // this.events = response.data.events
                        // this.events_total_count = response.data.events_total_count
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Tasks Editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
                /*
                
                                axios({url: this.apiUrl + '/adminarea/events-calendar', data: {}, method: 'get', config: this.credentialsConfig})
                                    .then(response => {
                                        console.log('response::')
                                        console.log(response)
                
                                        this.events = response.data.events
                                        this.events_total_count = response.data.events_total_count
                                        this.is_page_loaded = true
                                    })
                                    .catch(error => {
                                        this.showPopupMessage('Events Timeline', error.response.data.message, 'warn')
                                        this.is_page_loaded = true
                                        // this.$router.push({path: '/'})
                                    })
                */

            }, // loadEventsTimeline() {

            showDateChange(d) {
                console.log("showDateChange d::")
                console.log(d)
            },

            setShowDate(d) {
                console.log("setShowDate d::")
                console.log(d)
                this.showDate = d
            },

            displayPeriodUom(d) {
                console.log("displayPeriodUom d::")
                console.log(d)
                return 'displayPeriodUom'
            },

            clickDate(date, windowEvent) {  // when current month is changed
                console.log("clickDate() windowEvent::")
                console.log(windowEvent)

                console.log("clickDate() date::")
                console.log(date)

            }, // clickDate(date, windowEvent) {  // when current month is changed

            themeClasses(date, windowEvent) {  //
                console.log("themeClasses() windowEvent::")
                console.log(windowEvent)
                console.log("themeClasses() date::")
                console.log(date)
                return 'SSS'
            },

            clickEvent(date, windowEvent) {  //
                console.log("clickEvent() windowEvent::")
                console.log(windowEvent)

                console.log("clickEvent() date::")
                console.log(date)
                console.log("date.originalEvent::")
                console.log(date.originalEvent)

                // http://localhost:8080/admin/events/edit/16
                let routeData = this.$router.resolve({path: '/admin/events/edit/' + date.id})
                window.open(routeData.href, '_blank') //https://stackoverflow.com/questions/40015037/can-vue-router-open-a-link-in-a-new-tab
            },

            showFormattedEvent(event) {
                console.log('++showFormattedEvent(event)::')
                console.log(event.originalEvent)
                let retLine = ''
                if (this.isSameDay(event.startDate, event.endDate)) {
                    // retLine= event.id+':S:'+this.momentDatetime(event.startDate, this.jsMomentDatetimeFormat)
                } else {
                    retLine = event.id + ':D:' + this.momentDatetime(event.startDate, this.jsMomentDatetimeFormat) + this.momentDatetime(event.endDate,
                        this.jsMomentDatetimeFormat)
                    retLine =
                        '<div draggable="false" title="' + this.escapeHtml(event.originalEvent.title) + '" class="cv-event past offset3 hasUrl span1" style="top: calc(1.4em + 0px);"><span class="startTime">17:30:00</span><span class="endTime">18:50:00</span>' + this.escapeHtml(event.originalEvent.title) + '</div>'

                }
                // return '<div draggable="false" title="Members of &quot;Mastering Laravel/vue.js&quot; task would discuss how to start the task, 2018-02-08 17:30:00-2018-02-08 18:50(80)" class="cv-event past offset3 span1" style="top: calc(1.4em + 0px);"><span class="startTime">17:30:00</span><span class="endTime">18:50:00</span> Members of "Mastering Laravel/vue.js" task would discuss how to start the task, 2018-02-08 17:30:00-2018-02-08 18:50(80)</div>'
                return retLine
            },

            onUpdate(event) {
                console.log("onUpdate.event::")
                console.log(event)
            }


        }, // methods: {

        computed: {

            currentLoggedUserToken() {
                return this.$store.getters.token
            },


        }

    }
</script>
