<template>
    <div class="test" style="width: 100% !important;">
        <h1>This is a test page</h1>
        events_demo_month::{{ events_demo_month }}<br>
        eventsDemoPeriodStart::{{ eventsDemoPeriodStart }}<br>
        events_total_count::{{ events_total_count }}<br>
        events::{{ events }}<br>
        <h1>My Calendar</h1>
<!--        @click-date="onClickDate"-->
<!--        @click-event="onClickEvent(calendarItem, windowEvent)"  <&#45;&#45; Issue right here-->

<!--        @show-date-change="showDateChange"-->

        <calendar-view
                class="theme-default holiday-us-traditional holiday-us-official"
                :show-date="eventsDemoPeriodStart"
                @click-date="clickDate"
                @click-event="clickEvent"
                :showEventTimes=true
                :startingDayOfWeek=1
                :class="themeClasses"
                :events="events"
                :disablePast="false"
                :height="'22em'"
                :eventContentHeight="'5.4em'"
        >

            <calendar-view-header
                    slot="header"
                    slot-scope="t"
                    :header-props="t.headerProps"
                    @input="setShowDate"/>

<!--            <div slot="event" slot-scope="{ event }">-->
<!--                <span v-html="showFormattedEvent(event)"></span>-->
<!--            </div>-->

        </calendar-view>

    </div>
</template>

<script>
    import {bus} from '../../src/main'
    import appMixin from '@/appMixin'
    import moment from 'moment-timezone'

    // import Vue from 'vue'
    import axios from 'axios'

    import {retrieveAppDictionaries} from "@/commonFuncs"

    import {CalendarView, CalendarViewHeader} from "vue-simple-calendar" // https://github.com/richardtallent/vue-simple-calendar
    // The next two lines are processed by webpack. If you're using the component without webpack compilation,
    // you should just create <link> elements for these. Both are optional, you can create your own theme if you prefer.
    require("vue-simple-calendar/static/css/default.css")
    require("vue-simple-calendar/static/css/holidays-us.css")


    import {        settingsJsMomentDatetimeFormat,   settingCredentialsConfig} from '@/app.settings.js'

    export default {
        name: 'testPage',

        mixins: [appMixin],

        mounted() {
            this.setAppTitle('Test', 'Test', bus)

            retrieveAppDictionaries('testPage', ['events_demo_month'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'testPage') {
                    this.events_demo_month = data.events_demo_month
                    this.eventsDemoPeriodStart = moment( this.events_demo_month )
                    // console.log('this.eventsDemoPeriodStart::')
                    // console.log(this.eventsDemoPeriodStart)
                }
            })
            this.loadEventsTimeline()
        },
        components: {
            CalendarView,
            CalendarViewHeader
        },

        data() {
            return {

                events_demo_month : '',
                eventsDemoPeriodStart:new Date(),
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                events: [],
                events_total_count: 0,
                activityLogs: [],
                activity_logs_total_count: 0,
                activity_logs_per_page: 5,
                credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL,

                el: "#people",
                columns: ['id', 'log_name', 'causer_id', 'causer_type', 'created_at', 'edit'],

                // {{ momentDatetime(nextActivityLog.created_at, jsMomentDatetimeFormat) }}


                /*  { "id": 1, "log_name": "admin@site.com", "description": "Successful login from ip 127.0.0.1 with 'admin@site.com' email ", "subject_id": null, "subject_type": null, "causer_id": 1, "causer_type": "Successful login", "properties": { "email": "admin@site.com", "request_ip": "127.0.0.1" }, "properties_text": "email = admin@site.com\rrequest_ip = 127.0.0.1\r", "created_at": "2019-12-01 13:00:07", "updated_at": null }, { "id": 2, "log_name": "admin@site.com", "description": "Successful login from ip 127.0.0.1 with 'admin@site.com' email ", "subject_id": null, "subject_type": null, "causer_id": 1, "causer_type": "Successful login", "properties": { "email": "admin@site.com", "request_ip": "127.0.0.1" }, "properties_text": "email = admin@site.com\rrequest_ip = 127.0.0.1\r", "created_at": "2019-12-01 13:00:26", "updated_at": null }, { "id": 3, "log_name": "admin@site.com", "description": "Successful login from ip 127.0.0.1 with 'admin@site.com' email ", "subject_id": null, "subject_type": null, "ca */
                options: {
                    // see the options API
                    templates: {
                        erase: function (h, row, index) {
                            console.log('erase h::')
                            console.log(h)
                            console.log('erase row::')
                            console.log(row)
                            console.log('erase index::')
                            console.log(index)

                            return '<delete id={row.id}/>'
                        }
                    }
                }

            }
        }, // data () {

        created() {
            // this.eventsDemoPeriodStart = new Date(2018, 1, 1)
        }, //  created() {


        beforeDestroy() { // just before a component is destroyed.
        },


        methods: {
            loadEventsTimeline() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                let filters= []
                axios.post(this.apiUrl + '/adminarea/events-calendar-filter', filters, credentials)
                    .then((response) => {
                        // console.log('response::')
                        // console.log(response)

                        this.events = response.data
                        this.events_total_count = response.data.length
                        // this.events = response.data.events
                        // this.events_total_count = response.data.events_total_count
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Tasks Editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
/*

                axios({url: this.apiUrl + '/adminarea/events-calendar', data: {}, method: 'get', config: this.credentialsConfig})
                    .then(response => {
                        console.log('response::')
                        console.log(response)

                        this.events = response.data.events
                        this.events_total_count = response.data.events_total_count
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        this.showPopupMessage('Events Timeline', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                        // this.$router.push({path: '/'})
                    })
*/

            }, // loadEventsTimeline() {

            showDateChange(d) {
                console.log("showDateChange d::")
                console.log(d)
            },

            setShowDate(d) {
                console.log("setShowDate d::")
                console.log(d)
                this.showDate = d
            },

            displayPeriodUom(d) {
                console.log("displayPeriodUom d::")
                console.log(d)
                return 'displayPeriodUom'
            },

            clickDate(date, windowEvent) {  // when current month is changed
                console.log("clickDate() windowEvent::")
                console.log(windowEvent)

                console.log("clickDate() date::")
                console.log(date)

            }, // clickDate(date, windowEvent) {  // when current month is changed

            themeClasses(date, windowEvent) {  //
                console.log("themeClasses() windowEvent::")
                console.log(windowEvent)
                console.log("themeClasses() date::")
                console.log(date)
                return 'SSS'
            },

            clickEvent(date, windowEvent) {  //
                console.log("clickEvent() windowEvent::")
                console.log(windowEvent)

                console.log("clickEvent() date::")
                console.log(date)
                console.log("date.originalEvent::")
                console.log(date.originalEvent)

                // http://localhost:8080/admin/events/edit/16
                let routeData = this.$router.resolve({path: '/admin/events/edit/' + date.id})
                window.open(routeData.href, '_blank') //https://stackoverflow.com/questions/40015037/can-vue-router-open-a-link-in-a-new-tab
            },

            showFormattedEvent(event) {
                console.log('++showFormattedEvent(event)::')
                console.log(event.originalEvent)
                let retLine= ''
                if (this.isSameDay(event.startDate, event.endDate)) {
                    // retLine= event.id+':S:'+this.momentDatetime(event.startDate, this.jsMomentDatetimeFormat)
                } else {
                    retLine= event.id+':D:'+this.momentDatetime(event.startDate, this.jsMomentDatetimeFormat) + this.momentDatetime(event.endDate,
                        this.jsMomentDatetimeFormat)
                    retLine=
                        '<div draggable="false" title="'+this.escapeHtml(event.originalEvent.title)+'" class="cv-event past offset3 hasUrl span1" style="top: calc(1.4em + 0px);"><span class="startTime">17:30:00</span><span class="endTime">18:50:00</span>'+this.escapeHtml(event.originalEvent.title)+'</div>'

                }
                // return '<div draggable="false" title="Members of &quot;Mastering Laravel/vue.js&quot; task would discuss how to start the task, 2018-02-08 17:30:00-2018-02-08 18:50(80)" class="cv-event past offset3 span1" style="top: calc(1.4em + 0px);"><span class="startTime">17:30:00</span><span class="endTime">18:50:00</span> Members of "Mastering Laravel/vue.js" task would discuss how to start the task, 2018-02-08 17:30:00-2018-02-08 18:50(80)</div>'
                return retLine
            }

        }, // methods: {

        computed: {

            currentLoggedUserToken() {
                return this.$store.getters.token
            },


        }

    }
</script>
