<template>
    <article class="page_content_container">

        <div class="p-2 column_content_centered">
            <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('tag')" :header_title="getHeaderTitle">
            </editor-header>
        </div>

        <div class="page_content col-sm-12 p-2 m-0 mx-auto" v-show="is_page_loaded">

            <ValidationObserver
                    ref="tagEditorObserverForm"
                    v-slot="{handleSubmit}"
            >
                <form class="tagEditor" @submit.prevent="handleSubmit(onSubmit)">

                    <div class="card">
                        <div class="card-body card-block admin_page_container tag_editor_form">


                            <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- id -->
                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="id">Id:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">
                                    <input
                                            type='text'
                                            v-model="tagRow.id"
                                            name="id"
                                            id="id"
                                            class="form-control admin_control_input text-right"
                                            autocomplete=off
                                            readonly="readonly"
                                    >
                                </dd>
                            </dl> <!-- <dl class="block_2columns_md m-0"> id -->


                            <dl class="block_2columns_md m-3"> <!-- name -->
                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="name">Name:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">
                                    <ValidationProvider
                                            name="name"
                                            :rules="{ required : true, max:50  }"
                                            v-slot="{ errors }"
                                    >
                                        <input
                                                type='text'
                                                v-model="tagRow.name"
                                                name="name"
                                                id="name"
                                                class="form-control admin_control_input"
                                                placeholder="Enter name"
                                                autocomplete=off
                                        >
                                        <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                    </ValidationProvider>
                                </dd>
                            </dl> <!-- <dl class="block_2columns_md m-0"> name -->




                            <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- slug -->
                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="slug">Slug:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">
                                    <input
                                            type='text'
                                            v-model="tagRow.slug"
                                            name="slug"
                                            id="slug"
                                            class="form-control admin_control_input"
                                            autocomplete=off
                                            readonly="readonly"
                                    >
                                </dd>
                            </dl> <!-- <dl class="block_2columns_md m-0"> slug -->




                            <dl class="block_2columns_md m-3"> <!-- type -->
                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="type">Type:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">
                                    <ValidationProvider
                                            name="type"
                                            :rules="{ required : true }"
                                            v-slot="{ errors }"
                                    >
                                        <v-select
                                                v-model="selection_type"
                                                label="label"
                                                :options="tagTypeLabels"
                                                id="type"
                                                name="type"
                                                class="form-control admin_control_input editable_field"
                                                placeholder="Select option"
                                        ></v-select>

                                        <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                    </ValidationProvider>
                                </dd>
                            </dl> <!-- <dl class="block_2columns_md m-0"> type -->



                            <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- created_at -->
                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="created_at">Created at:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">
                                    <input
                                            type='text'
                                            v-model="created_at_label"
                                            name="created_at"
                                            id="created_at"
                                            class="form-control admin_control_input"
                                            readonly="readonly"
                                            autocomplete=off
                                    >
                                </dd>
                            </dl> <!-- <dl class="block_2columns_md m-0"> created_at -->
                        </div> <!-- <div class="card-body card-block"> -->


                        <section class="card-footer admin_footer row_content_right_aligned">
                            <editor-buttons
                                    :is_admin="true"
                                    :submit_label="submit_label"
                                    :cancel_label="'Cancel'"
                                    :cancel_link="'adminTagsListing'"
                                    :is_page_updating="is_page_updating"
                                    parent_component_key="tag"
                            ></editor-buttons>
                        </section>

                    </div> <!-- <div class="card"> -->

                </form>

            </ValidationObserver>


        </div> <!-- page_content -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import Vue from 'vue'
    import {settingCredentialsConfig, settingsTagTypeLabels, settingsJsMomentDatetimeFormat} from '@/app.settings.js'

    Vue.component('editor-header', require('../../../../src/components/EditorHeader.vue').default)
    Vue.component('editor-buttons', require('../../../../src/components/EditorButtons.vue').default)


    import {ValidationObserver, ValidationProvider, extend} from 'vee-validate'
    import * as rules from 'vee-validate/dist/rules'

    Object.keys(rules).forEach(rule => {
        extend(rule, rules[rule])
    })
    import {localize} from 'vee-validate'

    localize({
        en: {
            messages: {
                required: (field) => field + ' is required',
                min: 'Must have no less than {length} characters',
                max: 'Must have no more than {length} characters',
                email: 'Invalid email format',
                confirmed: 'Password and password confirmation must be equal',
            }
        }
    })

    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    export default {
        name: 'tagEditorPage',

        mixins: [appMixin],

        components: {
            ValidationObserver,
            ValidationProvider
        },

        data() {
            return {
                tag_id: 1,
                tagRow: {},
                selection_type: null,
                is_insert: false,
                is_page_loaded: false,
                is_page_updating: false,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                tagTypeLabels: settingsTagTypeLabels,
                demo_version: process.env.VUE_APP_DEMO_VERSION,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        created() {
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }

            if (this.$route.params.id == 'new') {
                this.tag_id = 'new'
                this.is_page_loaded = true
                this.is_insert = true
            } else {
                this.tag_id = this.$route.params.id
            }
        }, //  created() {

        mounted() {
            this.setAppTitle('Tag', 'Tag editor', bus)
            if (!this.is_insert) { // retrieve row for editing
                this.loadTag()
            }
        }, // mounted() {

        methods: {
            loadTag() {
                axios.get(this.apiUrl + '/adminarea/tags/' + this.tag_id, this.credentialsConfig)
                    .then(({data}) => {
                        this.tagRow = data.tags[0]
                        this.tagTypeLabels.map((nextTagTypeLabel/*, index*/) => {
                            if (nextTagTypeLabel.code === this.tagRow.type) {
                                this.selection_type = {code: this.tagRow.type, label: nextTagTypeLabel.label}
                            }
                        })

                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        // console.log('error::')
                        // console.log(error)
                        //
                        if (error.response.status == 404) {
                            this.showPopupMessage("Tags editor", "Tag # " + this.tag_id + " not found !", 'warn')
                            this.$router.push({path: '/admin/tags'})
                        }

                        console.error(error)
                        this.showPopupMessage('Tags Editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })

            }, // loadTag() {

            onSubmit() {

                this.$refs.tagEditorObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('Tags Editor', 'Validations Failed !', 'warn')
                        return
                    }

                    let tag = this.getClone(this.tagRow)
                    let credentials= this.getClone(this.credentialsConfig)
                    credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                    if (this.selection_type != null) {
                        tag.type = this.selection_type.code
                    }

                    this.is_page_updating = true
                    if (this.is_insert) {
                        axios.post(this.apiUrl + '/adminarea/tags', tag, credentials).then((/*response*/) => {
                            this.is_page_updating = false
                            this.showPopupMessage('Tags Editor', 'Tag added successfully !', 'success')
                            this.$router.push({path: '/admin/tags'})
                        }).catch((error) => {
                            console.error(error)
                            this.$refs.tagEditorObserverForm.setErrors(error.response.data.errors)
                            this.is_page_updating = false
                            this.showPopupMessage('Tags Editor', 'Error adding tag !', 'warn')
                        })

                    } // inserting new tag

                    if (!this.is_insert) {
                        axios.put(this.apiUrl + '/adminarea/tags/' + this.tag_id, tag, this.credentialsConfig).then((/*response*/) => {
                            this.is_page_updating = false
                            this.showPopupMessage('Tags Editor', 'Tag updated successfully !', 'success')
                            this.$router.push({path: '/admin/tags'})
                        }).catch((error) => {
                            console.error(error)
                            this.$refs.tagEditorObserverForm.setErrors(error.response.data.errors)
                            this.is_page_updating = false
                            this.showPopupMessage('Tags Editor', 'Error updating tag !', 'warn')
                        })


                    } // editing existing tag

                })
            } // onSubmit

        }, // methods: {

        computed: {
            submit_label: function () {
                return (!this.is_insert ? 'Update' : 'Insert')
            },

            getHeaderTitle: function () {
                if (!this.is_insert) return 'Edit tag'
                return 'Add tag'
            },

            created_at_label: function () {
                return this.momentDatetime(this.tagRow.created_at, this.jsMomentDatetimeFormat)
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            },

        }

    }
</script>
