<template>
    <article class="page_content_container">
        <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('polling_notification')"
                       :header_title="getHeaderTitle">
        </editor-header>
        
        <div class="page_content" v-show="is_page_loaded">
            
            <vue-tabs
                active-tab-color="#224A37"
                active-text-color="white"
                v-model="active_tab"
            >
                
                <v-tab title="Details">
                    
                    <ValidationObserver
                        ref="pollingNotificationEditorObserverForm"
                        v-slot="{handleSubmit}"
                    >
                        <form class="admin_page_container polling_notification_editor_form" @submit.prevent="handleSubmit(onSubmit)">
                            
                            <div class="card">
                                <div class="card-body card-block">
                                    
                                    
                                    <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- id -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="id">Id:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                type='text'
                                                v-model="pollingNotificationRow.id"
                                                name="id"
                                                id="id"
                                                class="form-control admin_control_input text-right"
                                                autocomplete=off
                                                readonly="readonly"
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> id -->
                                    
                                    <dl class="block_2columns_md m-3"> <!-- title -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="title">Title:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="title"
                                                :rules="{ required : true, max:255 }"
                                                v-slot="{ errors }"
                                            >
                                                <input
                                                    type='text'
                                                    v-model="pollingNotificationRow.title"
                                                    name="title"
                                                    id="title"
                                                    class="form-control admin_control_input"
                                                    placeholder="Enter title"
                                                    autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> title -->
                                    
                                    
                                    <dl class="block_2columns_md m-3"> <!-- active -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="active">Active:</label>
                                            <!--                                    selection_active::{{ selection_active}}-->
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="active"
                                                :rules="{ required : true }"
                                                v-slot="{ errors }"
                                            >
                                                <v-select
                                                    v-model="selection_active"
                                                    label="label"
                                                    :options="pollingNotificationActiveLabels"
                                                    id="active"
                                                    name="active"
                                                    class="form-control admin_control_input editable_field"
                                                    placeholder="Select option"
                                                ></v-select>
                                                
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> active -->
                                    
                                    
                                    <dl class="block_2columns_md m-3"> <!-- polling_notification_category_id -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="polling_notification_category_id">Category:</label>
                                            <!--                                    selection_polling_notification_category_id::{{ selection_polling_notification_category_id}}-->
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="polling_notification_category_id"
                                                :rules="{ required : true }"
                                                v-slot="{ errors }"
                                            >
                                                <v-select
                                                    v-model="selection_polling_notification_category_id"
                                                    label="label"
                                                    :options="pollingNotificationCategoryLabels"
                                                    id="polling_notification_category_id"
                                                    name="polling_notification_category_id"
                                                    class="form-control admin_control_input editable_field"
                                                    placeholder="Select option"
                                                ></v-select>
                                                
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> polling_notification_category_id -->
                                    
                                    <dl class="block_2columns_md m-3"> <!-- style -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="style">Style:</label>
                                            <!--                                    selection_style::{{ selection_style}}-->
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="style"
                                                :rules="{ required : true }"
                                                v-slot="{ errors }"
                                            >
                                                <v-select
                                                    v-model="selection_style"
                                                    label="label"
                                                    :options="pollingNotificationStyleLabels"
                                                    id="style"
                                                    name="style"
                                                    class="form-control admin_control_input editable_field"
                                                    placeholder="Select option"
                                                ></v-select>
                                                
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> style -->
                                    
                                    
                                    <dl class="block_2columns_md m-3"> <!-- message -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="message">Message:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="message"
                                                :rules="{ required : true }"
                                                v-slot="{ errors }"
                                            >
                                                <wysiwyg v-model="pollingNotificationRow.message"/>
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> message -->
                                    
                                    <dl class="block_2columns_md m-3"> <!-- type -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="type">Type:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="type"
                                                :rules="{ required : true }"
                                                v-slot="{ errors }"
                                            >
                                                <v-select
                                                    v-model="selection_type"
                                                    label="label"
                                                    :options="pollingNotificationTypeLabels"
                                                    id="type"
                                                    name="type"
                                                    class="form-control admin_control_input editable_field"
                                                    placeholder="Select option"
                                                ></v-select>
                                                
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> type -->
                                    
                                    <dl class="block_2columns_md m-3"> <!-- expire_date -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="expire_date">Expire Date:</label>
                                            <hr>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="expire_date"
                                                :rules="{ required : true }"
                                                v-slot="{ errors }"
                                            >
                                                <date-picker
                                                    :class="{ 'form-control':true, 'admin_control_input':true, 'editable_field':true, 'input':true, 'date_picker_control' : true }"
                                                    :first-day-of-week="1"
                                                    :format="'DD MMM YYYY'"
                                                    v-model="pollingNotificationRow.expire_date_formatted"
                                                    :lang="'en'"
                                                    id="expire_date"
                                                    type="date"
                                                    :placeholder="'Select expire date'"
                                                ></date-picker>
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> expire_date -->
                                    
                                    
                                    <dl class="block_2columns_md m-3"> <!-- target_user_id -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="target_user_id">
                                                <div class="block_vert">
                                                    <div class="block_vert_half_top m-0 p-0">Target user:</div>
                                                    <div class="block_vert_half_bottom m-0 p-0"><small>(optional)</small></div>
                                                </div>
                                            </label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                name="target_user_id"
                                                :rules="{ required : false }"
                                                v-slot="{ errors }"
                                            >
                                                <v-select
                                                    v-model="selection_target_user_id"
                                                    label="label"
                                                    :options="usersLabels"
                                                    id="target_user_id"
                                                    name="target_user_id"
                                                    class="form-control admin_control_input editable_field"
                                                    placeholder="Select option"
                                                ></v-select>
                                                
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> target_user_id -->
                                    
                                    <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- created_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="created_at">Created at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                type='text'
                                                v-model="created_at_label"
                                                name="created_at"
                                                id="created_at"
                                                class="form-control admin_control_input"
                                                readonly="readonly"
                                                autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> created_at -->
                                    
                                    <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- updated_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="updated_at">Updated at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                type='text'
                                                v-model="updated_at_label"
                                                name="updated_at"
                                                id="updated_at"
                                                class="form-control admin_control_input"
                                                readonly="readonly"
                                                autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> updated_at -->
                                
                                </div> <!-- <div class="card-body card-block"> -->
                                <section class="card-footer admin_footer row_content_right_aligned">
                                    <editor-buttons
                                        :is_admin="true"
                                        :submit_label="submit_label"
                                        :cancel_label="'Cancel'"
                                        :cancel_link="'adminPollingNotificationsListing'"
                                        :is_page_updating="is_page_updating"
                                        parent_component_key="polling_notification"
                                    ></editor-buttons>
                                </section>
                            
                            </div> <!-- <div class="card"> -->
                        
                        </form>
                    
                    </ValidationObserver>
                
                </v-tab> <!-- <v-tab title="Details"> -->
                
                
                <v-tab title="Image" v-if="!is_insert">
                    
                    <fieldset class="blocks">
                        <legend class="blocks p-3"><i :class="getHeaderIcon('upload')"></i>Image Preview/Upload</legend>
                        
                        <img v-if="pollingNotificationHasImage(pollingNotificationRow)" class="m-1 p-1 img-preview-wrapper img_full_width_wrapper"
                             :src="pollingNotificationRow.filenameData.image_url"
                             alt="PollingNotification Image"/>
                        <div class="alert alert-info m-1 p-1 row_content_left_aligned" role="alert" v-if="pollingNotificationHasImage(pollingNotificationRow)">
                            
                            <ul class="ul_horiz_lis">
                                <li class="ul_horiz_lis_left_aligned m-1 p-1">
                                    <div class="pre-formatted uploded_file_info" v-html="pollingNotificationRow.filenameData.file_info"></div>
                                </li>
                                <li class="ul_horiz_lis_right_aligned">
                                    <a v-on:click="removePollingNotificationImage()" class="btn btn-sm m-2 btn_right_aligned">
                                        <i class="fa fa-remove a_link" title="Delete pollingNotification"></i>Remove
                                    </a>
                                </li>
                            </ul>
                        
                        </div>
                        
                        <file-upload
                            ref="upload"
                            v-model="imageFiles"
                            post-action="/post.method"
                            put-action="/put.method"
                            @input-file="inputFile"
                            @input-filter="inputFilter"
                            :multiple="false"
                            class="btn btn-outline-secondary btn-sm m-2 file-input-class"
                            data-cy="file-input"
                        >
                            <i :class="'action_link '+getHeaderIcon('upload')"></i>Upload image
                        </file-upload>
                        
                        <table class="m-2 p-0">
                            <tr v-for="nextFile in imageFiles" :key="nextFile.name">
                                <img :src="nextFile.blob" class="img-preview-wrapper img_full_width_wrapper" id="uploaded_image_file"/>
                                <div class="row_content_centered p-3">
                                    <div class="p-2">
                                        Name : <strong>{{ nextFile.name }}</strong>
                                    </div>
                                    <div class="p-2">
                                        Size : <strong>{{ getFileSizeAsString(nextFile.size) }}</strong>
                                    </div>
                                    
                                    <div v-show="uploaded_image_width" class="p-2">
                                        Width : <strong>{{ uploaded_image_width }}px</strong>
                                    </div>
                                    
                                    <div v-show="uploaded_image_height" class="p-2">
                                        Height : <strong>{{ uploaded_image_height }}</strong>
                                    </div>
                                </div>
                            </tr>
                        
                        </table>
                        
                        <div class="row_content_right_aligned" v-show="imageFiles.length">
                            <button type="reset" class="btn btn-danger btn-sm m-3" @click.prevent="cancelPollingNotificationImage()">
                                <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                            </button>
                            <button type="button" class="btn btn-success btn-sm m-3 ml-4 mr-4" @click.prevent="uploadPollingNotificationImage()">
                                <i :class="'i_link '+getHeaderIcon('save')"></i>Upload
                            </button>
                        </div>
                    </fieldset>
                
                </v-tab> <!-- <v-tab title="Image"> -->
            
            
            </vue-tabs>
        
        
        </div> <!-- page_content -->
    
    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import Vue from 'vue'
    import {
        settingCredentialsConfig, settingsJsMomentDatetimeFormat, settingsPollingNotificationTypeLabels,
        settingsPollingNotificationStyleLabels, settingsPollingNotificationActiveLabels
    } from '@/app.settings.js'

    import DatePicker from 'vue2-datepicker'
    import 'vue2-datepicker/index.css'
    import moment from 'moment-timezone'

    Vue.component('editor-header', require('../../../../src/components/EditorHeader.vue').default)
    Vue.component('editor-buttons', require('../../../../src/components/EditorButtons.vue').default)

    import Tabs from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(Tabs)
    import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(VueTabs)
    Vue.use(VTab)
    import 'vue-nav-tabs/themes/vue-tabs.css'


    import wysiwyg from "vue-wysiwyg"
    import 'vue-wysiwyg/dist/vueWysiwyg.css'
    Vue.use(wysiwyg, {
        maxHeight: "300px",
    })
    import {retrieveAppDictionaries} from "@/commonFuncs"


    import vSelect from 'vue-select'

    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"


    import {ValidationObserver, ValidationProvider, extend} from 'vee-validate'
    import * as rules from 'vee-validate/dist/rules'

    Object.keys(rules).forEach(rule => {
        extend(rule, rules[rule])
    })
    import {localize} from 'vee-validate'

    localize({
        en: {
            messages: {
                required: (field) => field + ' is required',
                min: 'Must have no less than {length} characters',
                max: 'Must have no more than {length} characters',
                email: 'Invalid email format',
                confirmed: 'Password and password confirmation must be equal',
            }
        }
    })

    import 'vue2-datepicker/index.css'

    const VueUploadComponent = require('vue-upload-component')
    Vue.component('file-upload', VueUploadComponent)

    export default {
        name: 'pollingNotificationEditorPage',

        mixins: [appMixin],

        components: {
            ValidationObserver,
            ValidationProvider,
            DatePicker
        },

        data() {
            return {
                polling_notification_id: null,
                pollingNotificationRow: {
                    title: '',
                    active: '',
                    style: '',
                    message: '',
                    type: '',
                    expire_date: '',
                    expire_date_formatted: '',
                    target_user_id: '',
                    created_at: '',
                    updated_at: '',
                },

                imageFiles: [],
                uploaded_image_width: null,
                uploaded_image_height: null,

                is_insert: false,
                active_tab: '',
                pollingNotificationActiveLabels: settingsPollingNotificationActiveLabels,
                pollingNotificationTypeLabels: settingsPollingNotificationTypeLabels,
                pollingNotificationStyleLabels: settingsPollingNotificationStyleLabels,
                selection_active: null,
                selection_polling_notification_category_id: null,
                selection_style: null,
                selection_type: null,
                selection_target_user_id: null,
                usersLabels: [],
                pollingNotificationCategoryLabels: [],
                is_page_loaded: false,
                is_page_updating: false,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                demo_version: process.env.VUE_APP_DEMO_VERSION,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        watch: {
            imageFiles(theFile) {
                if (typeof theFile[0] === 'undefined') return
                var image = new Image()
                image.src = theFile[0].blob
                image.onload = function () {
                    bus.$emit('imageUploadedEvent', this.width, this.height)
                }
            }
        },

        created() {
            if (this.$route.params.id == 'new') {
                this.polling_notification_id = 'new'
                this.is_page_loaded = true
                this.is_insert = true
            } else {
                this.polling_notification_id = this.$route.params.id
            }

        },  //  created() {

        mounted() {
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
            this.setAppTitle('Notification', 'Notification editor', bus)
            if (!this.is_insert) { // retrieve row for editing
                this.loadPollingNotification()
            }
            retrieveAppDictionaries('notification_editor', ['usersLabels', 'pollingNotificationCategoryLabels'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'notification_editor') {
                    this.usersLabels = data.usersLabels
                    this.pollingNotificationCategoryLabels = data.pollingNotificationCategoryLabels
                }
            })

        }
        , // mounted() {

        beforeDestroy() { // just before a component is destroyed.
            bus.$off('listingHeaderRightButtonClickedEvent') // stop listening.
        }
        ,

        methods: {
            loadPollingNotification() {
                this.is_page_loaded = false
                let credentials = this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                var self = this
                axios.get(self.apiUrl + '/adminarea/polling-notifications/' + self.polling_notification_id, credentials)
                    .then(({data}) => {
                        self.pollingNotificationRow = data.polling_notifications[0]
                        self.pollingNotificationRow.expire_date_formatted = self.formatPollingNotificationExpireDate(self.pollingNotificationRow.expire_date)

                        self.pollingNotificationActiveLabels.map((nextPollingNotificationActiveLabel/*, index*/) => {
                            if (nextPollingNotificationActiveLabel.code === self.pollingNotificationRow.active) {
                                self.selection_active = {code: self.pollingNotificationRow.active, label: nextPollingNotificationActiveLabel.label}
                            }
                        })

                        self.pollingNotificationStyleLabels.map((nextPollingNotificationStyleLabel/*, index*/) => {
                            if (nextPollingNotificationStyleLabel.code === self.pollingNotificationRow.style) {
                                self.selection_style = {code: self.pollingNotificationRow.style, label: nextPollingNotificationStyleLabel.label}
                            }
                        })

                        self.pollingNotificationCategoryLabels.map((nextPollingNotificationCategoryLabel/*, index*/) => {
                            if (nextPollingNotificationCategoryLabel.code === self.pollingNotificationRow.polling_notification_category_id) {
                                self.selection_polling_notification_category_id = {
                                    code: self.pollingNotificationRow.polling_notification_category_id,
                                    label: nextPollingNotificationCategoryLabel.label
                                }
                            }
                        })

                        self.pollingNotificationTypeLabels.map((nextPollingNotificationTypeLabel/*, index*/) => {
                            if (nextPollingNotificationTypeLabel.code === self.pollingNotificationRow.type) {
                                self.selection_type = {code: self.pollingNotificationRow.type, label: nextPollingNotificationTypeLabel.label}
                            }
                        })
                        self.usersLabels.map((nextUserLabel/*, index*/) => {
                            if (nextUserLabel.code === self.pollingNotificationRow.target_user_id) {
                                self.selection_target_user_id = {code: self.pollingNotificationRow.target_user_id, label: nextUserLabel.label}
                            }
                        })
                        self.is_page_loaded = true
                    })
                    .catch(error => {
                        if (error.response.status == 404) {
                            self.showPopupMessage("Notification editor", "Notification # " + self.polling_notification_id + " not found !", 'warn')
                            self.$router.push({path: '/admin/polling-notifications'})
                        }
                        console.error(error)
                        self.showPopupMessage('Notification editor', error.response.data.message, 'warn')
                        self.is_page_loaded = true
                    })
            }, // loadPollingNotification() {


            onSubmit() {

                this.$refs.pollingNotificationEditorObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('Notification editor', 'Validations Failed !', 'warn')
                        return
                    }

                    let pollingNotification = this.getClone(this.pollingNotificationRow)

                    let credentials = this.getClone(this.credentialsConfig)
                    credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                    if (this.selection_active != null) {
                        pollingNotification.active = this.selection_active.code
                    }
                    if (this.selection_style != null) {
                        pollingNotification.style = this.selection_style.code
                    }

                    if (this.selection_polling_notification_category_id != null) {
                        pollingNotification.polling_notification_category_id = this.selection_polling_notification_category_id.code
                    }

                    if (this.selection_target_user_id != null) {
                        pollingNotification.target_user_id = this.selection_target_user_id.code
                    }
                    if (this.selection_type != null) {
                        pollingNotification.type = this.selection_type.code
                    }

                    pollingNotification.expire_date = this.dateToMySqlFormat(pollingNotification.expire_date_formatted)

                    this.is_page_updating = true
                    if (this.is_insert) {
                        axios.post(this.apiUrl + '/adminarea/polling-notifications', pollingNotification, credentials).then(({data}) => {
                            this.is_page_updating = false
                            this.showPopupMessage('Notification editor', 'Notification added successfully !', 'success')
                            this.is_insert = false
                            this.pollingNotificationRow = data.polling_notifications[0]

                            this.$router.push({path: '/admin/polling-notifications/edit/' + this.pollingNotificationRow.id})
                        }).catch((error) => {
                            this.$refs.pollingNotificationEditorObserverForm.setErrors(error.response.data.errors)
                            console.error(error)
                            this.is_page_updating = false
                            this.showPopupMessage('Notification editor', 'Error adding pollingNotification !', 'warn')
                        })

                    } // inserting new pollingNotification

                    if (!this.is_insert) {
                        axios.put(this.apiUrl + '/adminarea/polling-notifications/' + this.polling_notification_id, pollingNotification, credentials).then(({data}) => {
                            this.is_page_updating = false
                            this.pollingNotificationRow = data.polling_notifications[0]

                            this.showPopupMessage('Notification editor', 'Notification updated successfully !', 'success')
                            this.$router.push({path: '/admin/polling-notifications'})
                        }).catch((error) => {
                            this.$refs.pollingNotificationEditorObserverForm.setErrors(error.response.data.errors)
                            console.error(error)
                            this.is_page_updating = false
                            this.showPopupMessage('Notification editor', 'Error updating pollingNotification !', 'warn')
                        })

                    } // editing existing pollingNotification

                })
            },  // onSubmit

            formatPollingNotificationExpireDate: function (date_value) {
                if (typeof date_value != 'undefined') {
                    return moment(date_value).toDate()
                }
                return null
            }
            ,

            inputFile(newFile, oldFile) {
                this.pollingNotificationRow.imageFile = newFile

                if (newFile && oldFile && !newFile.active && oldFile.active) {
                    if (newFile.xhr) {
                        console.log('status', newFile.xhr.status)
                    }
                }
            },

            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
                        return prevent()
                    }
                }

                newFile.blob = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.blob = URL.createObjectURL(newFile.file)
                }
            },

            cancelPollingNotificationImage() {
                this.imageFiles = []
                this.uploaded_image_width = null
                this.uploaded_image_height = null
            },

            uploadPollingNotificationImage() {
                var self = this

                fetch(this.pollingNotificationRow.imageFile.blob).then(function (response) {
                    if (response.ok) {
                        return response.blob().then(function (imageBlob) {
                            let imageUploadData = new FormData()
                            imageUploadData.append('id', self.pollingNotificationRow.id)
                            imageUploadData.append('image', imageBlob)
                            imageUploadData.append('image_filename', self.pollingNotificationRow.imageFile.name)

                            self.credentialsConfig.headers.Authorization = 'Bearer ' + self.currentLoggedUserToken
                            self.is_page_updating = true
                            axios.post(self.apiUrl + '/adminarea/polling-notifications/upload_image', imageUploadData, self.credentialsConfig).then(({data}) => {

                                self.is_page_updating = false
                                self.showPopupMessage('Image upload', 'Image uploaded successfully !', 'success')
                                if (typeof data.pollingNotification[0] != 'undefined') {
                                    self.pollingNotificationRow = data.pollingNotification[0]
                                }
                                self.cancelPollingNotificationImage()
                            }).catch((error) => {
                                console.error(error)
                                self.is_page_updating = false
                                self.showPopupMessage('Image upload', 'Image uploading error : ' + error.response.data.message + ' !', 'warn')
                            })
                        })
                    } else {
                        return response.json().then(function (jsonError) {
                            console.error(jsonError)
                        })
                    }
                }).catch(function (error) {
                    console.error(error)
                    console.log('There has been a problem with your fetch operation: ', error.message)
                }) // fetch(this.pollingNotificationRow.imageFile.blob).then(function (response) {


            },
            removePollingNotificationImage() {
                if (!confirm("Do you want to delete polling notification image ?")) {
                    return
                }
                let credentials = this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/adminarea/polling-notifications/' + this.pollingNotificationRow.id + '/delete_image', credentials).then((/*response*/) => {
                    this.pollingNotificationRow.image = null
                    this.pollingNotificationRow.filenameData = null
                    this.showPopupMessage('Polling Notification Image', 'PollingNotification was deleted successfully', 'success')

                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('Polling Notification Image', 'Error deleting pollingNotification !', 'error')
                })

            }, //removePollingNotification(id, pollingNotification_name, index) {

        }
        , // methods: {

        computed: {
            submit_label: function () {
                return (!this.is_insert ? 'Update' : 'Insert')
            },

            getHeaderTitle: function () {
                if (!this.is_insert) return 'Edit Notification'
                return 'Add Notification'
            }
            ,

            created_at_label: function () {
                return this.momentDatetime(this.pollingNotificationRow.created_at, this.jsMomentDatetimeFormat)
            }
            ,

            updated_at_label: function () {
                return this.momentDatetime(this.pollingNotificationRow.updated_at, this.jsMomentDatetimeFormat)
            }
            ,

            status_label: function () {
                return this.getDictionaryLabel(this.pollingNotificationRow.status, this.pollingNotificationStatusLabels)
            }
            ,

            currentLoggedUserToken() {
                return this.$store.getters.token
            }
            ,

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            }
            ,

        }

    }
</script>
