<template>
    <article class="page_content_container">
    
        <listing-header :show_loading_image=!is_page_loaded
                        :current_page=current_page
                        :itemsList="pollingNotifications"
                        :rows_count="polling_notifications_total_count"
                        :header_icon="getHeaderIcon('polling_notification')"
                        :header_title="'Notifications'"
                        :right_add_button_link="'adminPollingNotificationEditor'"
                        :item_title="pollingNotifications.length| pluralize(['notification', 'notifications'])"
                        :right_add_button_link_title="'New'"
                        parent_component_key="pollingNotification"
                        :right_icon="'fa fa-refresh'"
        >
        </listing-header>
        
        <fieldset class="bordered text-muted p-0 m-1">
            <legend class="bordered">Filters</legend>
            
            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_title">
                        By title
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <input style="flex: 1 0" name="filter_title" id="filter_title" class="form-control admin_control_input" type="text" value=""
                           v-model="filter_title"
                           v-on:change="pollingNotificationsFilterApplied()">
                </dd>
            </dl>
    
            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_active">
                        By active
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <v-select
                        v-model="selection_filter_active"
                        label="label"
                        :options="pollingNotificationActiveLabels"
                        id="filter_active"
                        name="filter_active"
                        class="form-control admin_control_input editable_field"
                        placeholder="Select all"
                    ></v-select>
                </dd>
            </dl>
    
            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_type">
                        By type
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <v-select
                        v-model="selection_filter_type"
                        label="label"
                        :options="pollingNotificationTypeLabels"
                        id="filter_type"
                        name="filter_type"
                        class="form-control admin_control_input editable_field"
                        placeholder="Select all"
                    ></v-select>
                </dd>
            </dl>
    
    
            <dl class="m-0 p-3" style="display: flex;justify-content: flex-start">
                <dt class="">
                    <a class="btn btn-outline-secondary" @click.prevent="loadPollingNotifications()">
                        <i :class="'i_link '+getHeaderIcon('filter')"></i>Search
                    </a>
                </dt>
            </dl>
        </fieldset>
        
        <div class="table-responsive table-wrapper-for-data-listing " v-show="pollingNotifications.length && is_page_loaded">
            <table class="table table-striped table-data-listing">
                
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Active</th>
                    <th>Type</th>
                    <th>Expire date</th>
                    <th>Created At</th>
                    <th></th>
                </tr>
                </thead>
                
                <tbody>
                <tr v-for="(nextPollingNotification,index) in pollingNotifications" :key="nextPollingNotification.id">
                    <td class="text-right">
                        <router-link :to="{name: 'adminPollingNotificationEditor', params: {id: nextPollingNotification.id}}" :class="'p-1 a_edit_item_'+nextPollingNotification.id">
                            {{ nextPollingNotification.id }}
                        </router-link>
                    </td>

                    <td class="text-left">
                        {{ nextPollingNotification.title }}
                    </td>
                    <td class="text-left">
                        {{ getDictionaryLabel(nextPollingNotification.active, pollingNotificationActiveLabels) }}
                    </td>
                    <td class="text-left">
                        {{ getDictionaryLabel(nextPollingNotification.type, pollingNotificationTypeLabels) }}
                    </td>
                    <td class="text-left">
                        {{ momentDatetime(nextPollingNotification.expire_date, jsMomentDatetimeFormat) }}
                    </td>
                    <td class="text-left">
                        {{ momentDatetime(nextPollingNotification.created_at, jsMomentDatetimeFormat) }}
                    </td>
                    
                    <td>
                        <router-link :to="{name: 'adminPollingNotificationEditor', params: {id: nextPollingNotification.id}}" :class="'p-1 a_edit_item_'+nextPollingNotification.id">
                            <i :class="'i_link '+getHeaderIcon('edit')" title="Edit pollingNotification"></i>
                        </router-link>
                        <a v-on:click="removePollingNotification(nextPollingNotification.id, nextPollingNotification.name, index)" :class="'p-1 a_delete_item_'+nextPollingNotification.id">
                            <i :class="'i_link '+getHeaderIcon('remove')" title="Remove pollingNotification"></i>
                        </a>
                    </td>
                
                </tr>
                </tbody>
            
            </table>
        </div>
        
        <section class="pollingNotification_pagination_container" v-show="pollingNotifications.length && is_page_loaded">
            <listing-pagination
                :current="current_page"
                :total="polling_notifications_total_count"
                :items_per_page="polling_notifications_per_page"
                :show_next_prior_buttons=false
                @paginationPageChangedEvent="paginationPageClicked"
                :show_page_number_label="true"
                :show_rows_label="true"
                :item_title="polling_notifications_total_count | pluralize(['pollingNotification', 'pollingNotifications'])"
            >
            </listing-pagination>
        </section>
        
        
        <fieldset class="blocks" v-if="demo_version && 0">
            <legend class="blocks"><i :class="getHeaderIcon('demo-info')"></i>Demo info&nbsp;</legend>
            
            <div class="m-1 p-1 pre-formatted description-text" style="overflow-y: auto; max-height: 200px;">
                <ol class="m-1 p-1">
                    <li>Listing of pollingNotifications with related tasks</li>
                    <li>Logged admin can add / remove users in the app to any pollingNotification by clicking on icon in left bottom corner of any pollingNotification</li>
                </ol>
            </div>
        
        </fieldset>
    
    
    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import {settingsJsMomentDatetimeFormat, settingCredentialsConfig, settingsPollingNotificationTypeLabels,
        settingsPollingNotificationStyleLabels, settingsPollingNotificationActiveLabels} from '@/app.settings.js'

    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    import {retrieveAppDictionaries} from "@/commonFuncs"

    import Vue from 'vue'

    Vue.component('listing-header', require('../../../../src/components/ListingHeader.vue').default)
    Vue.component('listing-pagination', require('../../../../src/components/ListingPagination.vue').default)

    export default {
        name: 'adminPollingNotificationsListing',

        mixins: [appMixin],

        data() {
            return {
                pollingNotifications: [],
                filter_title: '',
                current_page: 1,
                order_by: 'created_at',
                order_direction: 'desc',
                selection_filter_active: null,
                selection_filter_type: null,
                polling_notifications_total_count: 0,
                is_page_loaded: false,
                polling_notifications_per_page: 20,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                pollingNotificationActiveLabels:settingsPollingNotificationActiveLabels,
                pollingNotificationTypeLabels:settingsPollingNotificationTypeLabels,
                pollingNotificationStyleLabels: settingsPollingNotificationStyleLabels,
                apiUrl: process.env.VUE_APP_API_URL,
                demo_version: process.env.VUE_APP_DEMO_VERSION
            }
        }, // data () {


        created() {
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
        }, //  created() {

        mounted() {
            this.setAppTitle('Notifications', 'Notifications Listing', bus)

            retrieveAppDictionaries('pollingNotificationsListPage', ['backend_items_per_page'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'pollingNotificationsListPage') {
                    this.polling_notifications_per_page = data.backend_items_per_page
                }
            })

            this.loadPollingNotifications()
            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key === 'pollingNotification') {
                    this.loadPollingNotifications()
                }
            })

        }, // mounted() {


        methods: {
            loadPollingNotifications() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                let filter_active = null
                if (this.selection_filter_active != null) {
                    filter_active = this.selection_filter_active.code
                }
                let filter_type = null
                if (this.selection_filter_type != null) {
                    filter_type = this.selection_filter_type.code
                }

                let filters = {page: this.current_page, order_by: this.order_by, order_direction: this.order_direction, filter_title: this.filter_title, filter_active: filter_active, filter_type: filter_type}
                axios.post(this.apiUrl + '/adminarea/polling-notifications-filter', filters, credentials)
                    .then(({ data }) => {
                        this.pollingNotifications = data.polling_notifications
                        this.polling_notifications_total_count = data.meta.total
                        this.polling_notifications_per_page = data.meta.per_page
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Notifications Editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadPollingNotifications() {

            removePollingNotification(id, pollingNotification_name/*, index*/) {
                if (!confirm("Do you want to delete" + " '" + pollingNotification_name + "' notification ?")) {
                    return
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/adminarea/polling-notifications/' + id, credentials).then((/*response*/) => {
                    this.loadPollingNotifications()
                    this.showPopupMessage('Notifications Editor', 'Notification was deleted successfully', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('Notifications Editor', 'Error deleting notification !', 'error')
                })

            }, //removePollingNotification(id, pollingNotification_name, index) {

            paginationPageClicked(page) {
                this.current_page = page
                this.loadPollingNotifications()
            },


            pollingNotificationsFilterApplied() {
                this.current_page = 1
                this.loadPollingNotifications()
            },

        }, // methods: {

        computed: {
            getHeaderTitle: function () {
                return "Notifications Listing"
            },

            currentLoggedUser() {
                return this.$store.getters.user
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            },

        }

    }
</script>
