<template>
    <article class="page_content_container">
        <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('task')" :header_title="getHeaderTitle">
        </editor-header>

        <div class="page_content" v-show="is_page_loaded">

            <!--			relatedTaskRequireSkills::{{ relatedTaskRequireSkills}}-->
            <vue-tabs
                    active-tab-color="#224A37"
                    active-text-color="white"
                    v-model="active_tab"
            >

                <v-tab title="Details">

                    <ValidationObserver
                            ref="taskEditorObserverForm"
                            v-slot="{handleSubmit}"
                    >
                        <form class="admin_page_container task_editor_form" @submit.prevent="handleSubmit(onSubmit)">

                            <div class="card">
                                <div class="card-body card-block">


                                    <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- id -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="id">Id:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="taskRow.id"
                                                    name="id"
                                                    id="id"
                                                    class="form-control admin_control_input text-right"
                                                    autocomplete=off
                                                    readonly="readonly"
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> id -->

                                    <dl class="block_2columns_md m-3"> <!-- name -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="name">Name:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="name"
                                                    :rules="{ required : true, max:50  }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="taskRow.name"
                                                        name="name"
                                                        id="name"
                                                        class="form-control admin_control_input"
                                                        placeholder="Enter name"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> name -->


                                    <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- slug -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="slug">Slug:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="taskRow.slug"
                                                    name="slug"
                                                    id="slug"
                                                    class="form-control admin_control_input"
                                                    autocomplete=off
                                                    readonly="readonly"
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> slug -->


                                    <dl class="block_2columns_md m-3"> <!-- price -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="price">Price:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="price"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <money
                                                        v-model="taskRow.price"
                                                        v-bind="moneyConfig"
                                                        name="price"
                                                        id="price"
                                                        class="form-control admin_control_input text-right"
                                                        placeholder="Enter price"
                                                >
                                                </money>
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> price -->


                                    <dl class="block_2columns_md m-3"> <!-- leader_id -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="leader_id">Leader:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="leader_id"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <v-select
                                                        v-model="selection_leader_id"
                                                        label="label"
                                                        :options="usersLabels"
                                                        id="leader_id"
                                                        name="leader_id"
                                                        class="form-control admin_control_input editable_field"
                                                        placeholder="Select option"
                                                ></v-select>

                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> leader_id -->


                                    <dl class="block_2columns_md m-3"> <!-- category_id -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="category_id">Category:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="category_id"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <v-select
                                                        v-model="selection_category_id"
                                                        label="label"
                                                        :options="taskCategoriesLabels"
                                                        id="category_id"
                                                        name="category_id"
                                                        class="form-control admin_control_input editable_field"
                                                        placeholder="Select option"
                                                ></v-select>

                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> category_id -->


                                    <dl class="block_2columns_md m-3"> <!-- priority -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="priority">Priority:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="priority"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <v-select
                                                        v-model="selection_priority"
                                                        label="label"
                                                        :options="taskPriorityLabels"
                                                        id="priority"
                                                        name="priority"
                                                        class="form-control admin_control_input editable_field"
                                                        placeholder="Select option"
                                                ></v-select>

                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> priority -->


                                    <dl class="block_2columns_md m-3"> <!-- status -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="status">Status:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="status"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <v-select
                                                        v-model="selection_status"
                                                        label="label"
                                                        :options="taskStatusLabels"
                                                        id="status"
                                                        name="status"
                                                        class="form-control admin_control_input editable_field"
                                                        placeholder="Select option"
                                                ></v-select>

                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> status -->


                                    <dl class="block_2columns_md m-3"> <!-- needs_reports -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="needs_reports">Needs Reports:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="needs_reports"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <v-select
                                                        v-model="selection_needs_reports"
                                                        label="label"
                                                        :options="taskNeedsReportsLabels"
                                                        id="needs_reports"
                                                        name="needs_reports"
                                                        class="form-control admin_control_input editable_field"
                                                        placeholder="Select option"
                                                ></v-select>

                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> needs_reports -->


                                    <dl class="block_2columns_md m-3"> <!-- is_homepage -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="is_homepage">Is Homepage:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="is_homepage"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <v-select
                                                        v-model="selection_is_homepage"
                                                        label="label"
                                                        :options="taskIsHomepageLabels"
                                                        id="is_homepage"
                                                        name="is_homepage"
                                                        class="form-control admin_control_input editable_field"
                                                        placeholder="Select option"
                                                ></v-select>

                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> is_homepage -->


                                    <dl class="block_2columns_md m-3"> <!-- date_start -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="date_start">Date start:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="date_start"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <date-picker
                                                        :class="{ 'form-control':true, 'admin_control_input':true, 'editable_field':true, 'input':true, 'date_picker_control' : true }"
                                                        :first-day-of-week="1"
                                                        :format="'DD MMM YYYY'"
                                                        v-model="taskRow.date_start_formatted"
                                                        :lang="'en'"
                                                        id="date_start"
                                                        type="date"
                                                        :placeholder="'Select date start'"
                                                ></date-picker>
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> date_start -->


                                    <dl class="block_2columns_md m-3"> <!-- date_end -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="date_end">Date end:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">

                                            <ValidationProvider
                                                    name="date_end"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <date-picker
                                                        :class="{ 'form-control':true, 'admin_control_input':true, 'editable_field':true, 'input':true, 'date_picker_control' : true }"
                                                        :first-day-of-week="1"
                                                        :format="'DD MMM YYYY'"
                                                        v-model="taskRow.date_end_formatted"
                                                        :lang="'en'"
                                                        id="date_end"
                                                        :placeholder="'Select date end'"
                                                ></date-picker>
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>

                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> date_end -->


                                    <dl class="block_2columns_md m-3"> <!-- description -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="description">Description:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <ValidationProvider
                                                    name="description"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <wysiwyg v-model="taskRow.description"/>
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> description -->


                                    <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- created_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="created_at">Created at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="created_at_label"
                                                    name="created_at"
                                                    id="created_at"
                                                    class="form-control admin_control_input"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> created_at -->


                                    <dl class="block_2columns_md m-3" v-if="!is_insert && updated_at_label"> <!-- updated_at -->
                                        <dt class="horiz_divider_left_13">
                                            <label class="col-form-label" for="updated_at">Updated at:</label>
                                        </dt>
                                        <dd class="horiz_divider_right_23">
                                            <input
                                                    type='text'
                                                    v-model="updated_at_label"
                                                    name="updated_at"
                                                    id="updated_at"
                                                    class="form-control admin_control_input"
                                                    readonly="readonly"
                                                    autocomplete=off
                                            >
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> updated_at -->


                                </div> <!-- <div class="card-body card-block"> -->
                                <section class="card-footer admin_footer row_content_right_aligned">
                                    <dl class="block_2columns_md m-0 p-0">
                                        <dt class="horiz_devider_label_half m-0 p-0">

                                            <p class="alert alert-info m-1 p-1 row_content_left_aligned" role="alert" v-if="is_insert">
                                                After inserting new task you can<br> edit the rest of data on the opened tabs.
                                            </p>
                                        </dt>

                                        <dd class="horiz_devider_value_half m-0 p-0">
                                            <editor-buttons
                                                    :is_admin="true"
                                                    :submit_label="submit_label"
                                                    :cancel_label="'Cancel'"
                                                    :cancel_link="'adminTasksListing'"
                                                    :is_page_updating="is_page_updating"
                                                    parent_component_key="task"
                                            ></editor-buttons>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> -->

                                </section>

                            </div> <!-- <div class="card"> -->

                        </form>

                    </ValidationObserver>
                </v-tab> <!-- <v-tab title="Details"> -->


                <v-tab title="Image" v-if="!is_insert">

                    <fieldset class="blocks">
                        <legend class="blocks p-3"><i :class="getHeaderIcon('upload')"></i>Image Preview/Upload</legend>

                        <img v-if="taskHasImage(taskRow)" class="m-1 p-1 img-preview-wrapper img_full_width_wrapper" :src="taskRow.filenameData.image_url"
                             alt="Task Image"/>
                        <div class="alert alert-info m-1 p-1 row_content_left_aligned" role="alert" v-if="taskHasImage(taskRow)">

                            <ul class="ul_horiz_lis">
                                <li class="ul_horiz_lis_left_aligned m-1 p-1">
                                    <div class="pre-formatted" v-html="taskRow.filenameData.file_info"></div>
                                </li>
                                <li class="ul_horiz_lis_right_aligned">
                                    <a v-on:click="removeTaskImage()" class="btn btn-sm m-2 btn_right_aligned">
                                        <i class="fa fa-remove a_link" title="Delete task"></i>Remove
                                    </a>
                                </li>
                            </ul>

                        </div>

                        <file-upload
                                ref="upload"
                                v-model="imageFiles"
                                post-action="/post.method"
                                put-action="/put.method"
                                @input-file="inputFile"
                                @input-filter="inputFilter"
                                :multiple="false"
                                class="btn btn-outline-secondary btn-sm m-2"
                        >
                            <i :class="'action_link '+getHeaderIcon('upload')"></i>Upload image
                        </file-upload>

                        <table class="m-2 p-0">
                            <tr v-for="nextFile in imageFiles" :key="nextFile.name">
                                <img :src="nextFile.blob" class="img-preview-wrapper img_full_width_wrapper" id="uploaded_image_file"/>
                                <div class="row_content_centered p-3">
                                    <div class="p-2">
                                        Name : <strong>{{ nextFile.name }}</strong>
                                    </div>
                                    <div class="p-2">
                                        Size : <strong>{{ getFileSizeAsString(nextFile.size) }}</strong>
                                    </div>

                                    <div v-show="uploaded_image_width" class="p-2">
                                        Width : <strong>{{ uploaded_image_width }}px</strong>
                                    </div>

                                    <div v-show="uploaded_image_height" class="p-2">
                                        Height : <strong>{{ uploaded_image_height }}</strong>
                                    </div>
                                </div>
                            </tr>

                        </table>

                        <div class="row_content_right_aligned" v-show="imageFiles.length">
                            <button type="reset" class="btn btn-danger btn-sm m-3" @click.prevent="cancelTaskImage()">
                                <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                            </button>
                            <button type="button" class="btn btn-success btn-sm m-3 ml-4 mr-4" @click.prevent="uploadTaskImage()">
                                <i :class="'i_link '+getHeaderIcon('save')"></i>Upload
                            </button>
                        </div>
                    </fieldset>

                </v-tab> <!-- <v-tab title="Image"> -->

                <v-tab title="Skills" v-if="!is_insert">
                    <listing-header :show_loading_image=!is_page_loaded
                                    :itemsList="relatedTaskRequireSkills"
                                    :rows_count="relatedTaskRequireSkills.length"
                                    :header_icon="getHeaderIcon('skill')"
                                    :header_title="'Require Skills'"
                                    :item_title="relatedTaskRequireSkills.length| pluralize(['Require skill', 'Require skills'])"
                                    parent_component_key="task_require_skills"
                                    :right_icon="'fa fa-refresh'"
                    >
                    </listing-header>

                    <div class="table-responsive table-wrapper-for-data-listing ">
                        <table class="table table-striped table-data-listing">
                            <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Require</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="(nextRelatedTaskRequireSkill, index) in relatedTaskRequireSkills"
                                :key="nextRelatedTaskRequireSkill.task_require_skills_id"
                                class="">
                                <td class="text-left">
                                    {{ nextRelatedTaskRequireSkill.name }}
                                </td>

                                <td class="text-left">
									<span v-show="nextRelatedTaskRequireSkill.selected">
										<i :class="getHeaderIcon('select')"></i>Selected
									</span>
                                </td>

                                <td v-show="!nextRelatedTaskRequireSkill.selected">
                                    <a v-on:click="attachRelatedTaskRequireSkill(nextRelatedTaskRequireSkill.id, nextRelatedTaskRequireSkill.name, index)"
                                       :class="'a_attach_next_related_task_require_skill_'+nextRelatedTaskRequireSkill.id">
                                        <i :class="getHeaderIcon('toggle_on')" title="Attach require skill to task"></i>Attach
                                    </a>
                                </td>

                                <td v-show="nextRelatedTaskRequireSkill.selected">
                                    <a v-on:click="removeRelatedTaskRequireSkill(nextRelatedTaskRequireSkill.task_require_skills_id,
									nextRelatedTaskRequireSkill.name, index)"
                                       :class="'a_remove_next_related_task_require_skill_'+nextRelatedTaskRequireSkill.task_require_skills_id">
                                        <i :class="getHeaderIcon('toggle_off')" title="Remove require skill from task"></i>Remove
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </v-tab> <!-- <v-tab title="Skills"> -->

            </vue-tabs>

        </div> <!-- page_content -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import Vue from 'vue'

    Vue.component('editor-header', require('../../../../src/components/EditorHeader.vue').default)
    Vue.component('editor-buttons', require('../../../../src/components/EditorButtons.vue').default)

    import wysiwyg from "vue-wysiwyg"
    import 'vue-wysiwyg/dist/vueWysiwyg.css'       //
    Vue.use(wysiwyg, {
        maxHeight: "300px",
    })

    import {Money} from 'v-money'

    import Tabs from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(Tabs)
    import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(VueTabs)
    Vue.use(VTab)
    import 'vue-nav-tabs/themes/vue-tabs.css'

    import {ValidationObserver, ValidationProvider, extend} from 'vee-validate'
    import * as rules from 'vee-validate/dist/rules'

    Object.keys(rules).forEach(rule => {
        extend(rule, rules[rule])
    })
    import {localize} from 'vee-validate'


    extend('positive_price', value => {
        if (value > 0) {
            return true
        }
        return 'Price must be a positive number'
    })


    localize({
        en: {
            messages: {
                required: (field) => field + ' is required',
                min: 'Must have no less than {length} characters',
                max: 'Must have no more than {length} characters',
                email: 'Invalid email format',
                confirmed: 'Password and password confirmation must be equal',
            }
        }
    })

    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    import {retrieveAppDictionaries} from "@/commonFuncs"

    import DatePicker from 'vue2-datepicker'
    import 'vue2-datepicker/index.css'
    import moment from 'moment-timezone'

    const VueUploadComponent = require('vue-upload-component')
    Vue.component('file-upload', VueUploadComponent)

    import {
        settingsTaskPriorityLabels,
        settingsTaskStatusLabels,
        settingsTaskNeedsReportsLabels,
        settingsJsMomentDateFormat,
        settingsUserSkillsLabels,
        settingsTaskIsHomepageLabels,
        settingsJsMomentDatetimeFormat,
        settingCredentialsConfig
    } from '@/app.settings.js'

    export default {
        name: 'taskEditorPage',

        mixins: [appMixin],

        components: {
            VueTabs,
            VTab,
            ValidationObserver,
            ValidationProvider,
            Money,
            DatePicker
        },

        data() {
            return {
                task_id: null,
                taskRow: {
                    name: '',
                    price: 0,
                    description: '',
                    date_start: null,
                    date_end: null,
                    date_start_formatted: null,
                    date_end_formatted: null
                },
                active_tab: '',
                relatedTaskRequireSkills: [],
                relatedTaskAssignedToUsers: [],
                selection_leader_id: null,
                selection_category_id: null,
                selection_priority: null,
                selection_status: null,
                selection_needs_reports: null,
                selection_is_homepage: null,

                moneyConfig: {
                    decimal: ',',
                    thousands: '.',
                    prefix: '$',
                    suffix: '',
                    precision: 2,
                    masked: false
                },

                is_insert: false,

                imageFiles: [],
                uploaded_image_width: null,
                uploaded_image_height: null,

                usersLabels: [],
                taskCategoriesLabels: [],
                taskPriorityLabels: settingsTaskPriorityLabels,
                taskStatusLabels: settingsTaskStatusLabels,
                userSkillsLabels: settingsUserSkillsLabels,
                taskNeedsReportsLabels: settingsTaskNeedsReportsLabels,
                is_page_loaded: false,
                is_page_updating: false,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                jsMomentDateFormat: settingsJsMomentDateFormat,
                credentialsConfig: settingCredentialsConfig,
                taskIsHomepageLabels: settingsTaskIsHomepageLabels,
                demo_version: process.env.VUE_APP_DEMO_VERSION,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        watch: {
            imageFiles(theFile) {
                if (typeof theFile[0] === 'undefined') return
                var image = new Image()
                image.src = theFile[0].blob
                image.onload = function () {
                    bus.$emit('imageUploadedEvent', this.width, this.height)
                }
            }
        },

        created() {
            if (this.$route.params.id == 'new') {
                this.task_id = 'new'
                this.is_page_loaded = true
                this.is_insert = true
            } else {
                this.task_id = this.$route.params.id
            }

            bus.$on('imageUploadedEvent', (uploaded_image_width, uploaded_image_height) => {
                this.uploaded_image_width = uploaded_image_width
                this.uploaded_image_height = uploaded_image_height
            })

        },  //  created() {

        mounted() {
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
            this.setAppTitle('Task', 'Task editor', bus)
            if (!this.is_insert) { // retrieve row for editing
                this.loadTask()
            }

            retrieveAppDictionaries('task_details', ['taskCategoriesLabels', 'usersLabels'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'task_details') {
                    this.taskCategoriesLabels = data.taskCategoriesLabels
                    this.usersLabels = data.usersLabels
                }
            })

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key === 'task_require_skills') {
                    this.loadRelatedTaskRequireSkills()
                }
                if (parent_component_key === 'assigned_to_users') {
                    this.loadRelatedTaskAssignedToUsers()
                }
            })

        }
        , // mounted() {

        beforeDestroy() { // just before a component is destroyed.
            bus.$off('appDictionariesRetrieved') // stop listening.
            bus.$off('listingHeaderRightButtonClickedEvent') // stop listening.
        }
        ,

        methods: {
            loadTask() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/tasks/' + this.task_id, credentials)
                    .then(({data}) => {
                        this.taskRow = data.tasks[0]
                        this.taskRow.date_start_formatted = this.formatTaskDateStart(this.taskRow.date_start)
                        this.taskRow.date_end_formatted = this.formatTaskDateStart(this.taskRow.date_end)
                        this.usersLabels.map((nextUsersLabel/*, index*/) => {
                            if (nextUsersLabel.code === this.taskRow.leader_id) {
                                this.selection_leader_id = {code: this.taskRow.leader_id, label: nextUsersLabel.label}
                            }
                        })

                        this.taskCategoriesLabels.map((nextTaskCategoriesLabel/*, index*/) => {
                            if (nextTaskCategoriesLabel.code === this.taskRow.category_id) {
                                this.selection_category_id = {code: this.taskRow.category_id, label: nextTaskCategoriesLabel.label}
                            }
                        })

                        this.taskPriorityLabels.map((nextTaskPriorityLabel/*, index*/) => {
                            if (nextTaskPriorityLabel.code === this.taskRow.priority) {
                                this.selection_priority = {code: this.taskRow.priority, label: nextTaskPriorityLabel.label}
                            }
                        })

                        this.taskStatusLabels.map((nextStatusLabel/*, index*/) => {
                            if (nextStatusLabel.code === this.taskRow.status) {
                                this.selection_status = {code: this.taskRow.status, label: nextStatusLabel.label}
                            }
                        })


                        this.taskNeedsReportsLabels.map((nextTaskNeedsReportsLabel/*, index*/) => {
                            if (nextTaskNeedsReportsLabel.code === this.taskRow.needs_reports) {
                                this.selection_needs_reports = {code: this.taskRow.needs_reports, label: nextTaskNeedsReportsLabel.label}
                            }
                        })

                        this.taskIsHomepageLabels.map((nextTaskIsHomepageLabel/*, index*/) => {
                            if (nextTaskIsHomepageLabel.code === this.taskRow.is_homepage) {
                                this.selection_is_homepage = {code: this.taskRow.is_homepage, label: nextTaskIsHomepageLabel.label}
                            }
                        })

                        this.loadRelatedTaskRequireSkills()
                        this.loadRelatedTaskAssignedToUsers()
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        if (error.response.status == 404) {
                            this.showPopupMessage("Tasks editor", "task # "+this.task_id+" not found !", 'warn')
                            this.$router.push({path: '/admin/tasks'})
                        }

                        console.error(error)
                        this.showPopupMessage('Tasks Editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadTask() {


            loadRelatedTaskAssignedToUsers() {
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/tasks/' + this.task_id + '/assigned_to_users', credentials)
                    .then(({data}) => {
                        this.relatedTaskAssignedToUsers = data.task_assigned_to_users
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Tasks Editor : Assigned to users', error.response.data.message, 'warn')
                    })
            }, // loadRelatedTaskAssignedToUsers() {

            removeRelatedTaskAssignedToUser(task_assigned_to_user_id, user_name/*, index*/) {
                if (!confirm("Do you want to delete " + " '" + user_name + "' from this task ? " + task_assigned_to_user_id)) {
                    return
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/adminarea/tasks/' + this.taskRow.id + '/assigned_to_users/' + task_assigned_to_user_id, credentials).then((/*response*/) => {
                    this.loadRelatedTaskAssignedToUsers()
                    this.showPopupMessage('Tasks Editor : Assigned to users', 'Assigned to user was removed from the task successfully !', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('Tasks Editor : Assigned to users', 'Error deleting required skill from task !', 'error')
                })

            }, //removeRelatedTaskRequireSkill(task_require_skill_id, skill_name, index) {


            loadRelatedTaskRequireSkills() {
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/tasks/' + this.task_id + '/require_skills', credentials)
                    .then(({data}) => {
                        // console.log('loadRelatedTaskRequireSkills data.skills::')
                        // console.log(data.skills)

                        this.relatedTaskRequireSkills = data.skills
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Tasks Editor : Required Skills', error.response.data.message, 'warn')
                    })
            }, // loadRelatedTaskRequireSkills() {

            attachRelatedTaskRequireSkill(require_skill_id, skill_name/*, index*/) {
                if (!confirm("Do you want to attach " + " '" + skill_name + "' skill to this task ?")) {
                    return
                }
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.post(this.apiUrl + '/adminarea/tasks/' + this.taskRow.id + '/require_skills', {skill_id: require_skill_id, task_id: this.taskRow.id},
                    credentials).then((/*response*/) => {
                    this.loadRelatedTaskRequireSkills()
                    this.showPopupMessage('Tasks Editor : Required Skills', 'Required skill was added to task successfully !', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('Tasks Editor : Required Skills', 'Error attaching required skill to task !', 'error')
                })
            }, //attachRelatedTaskRequireSkill(require_skill_id, skill_name, index) {

            removeRelatedTaskRequireSkill(task_require_skill_id, skill_name/*, index*/) {
                if (!confirm("Do you want to delete " + " '" + skill_name + "' from this task ? ")) {
                    return
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/adminarea/tasks/' + this.taskRow.id + '/require_skills/' + task_require_skill_id, credentials).then((/*response*/) => {
                    this.loadRelatedTaskRequireSkills()
                    this.showPopupMessage('Tasks Editor : Required Skills', 'Assigned to user was added to the task successfully !', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('Tasks Editor : Required Skills', 'Error deleting required skill from task !', 'error')
                })

            }, //removeRelatedTaskRequireSkill(task_require_skill_id, skill_name, index) {


            onSubmit() {

                this.$refs.taskEditorObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('Tasks Editor', 'Validations Failed !', 'warn')
                        return
                    }

                    let task = this.getClone(this.taskRow)
                    let credentials= this.getClone(this.credentialsConfig)
                    credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                    if (this.selection_category_id != null) {
                        task.category_id = this.selection_category_id.code
                    }

                    if (this.selection_leader_id != null) {
                        task.leader_id = this.selection_leader_id.code
                    }

                    if (this.selection_priority != null) {
                        task.priority = this.selection_priority.code
                    }

                    if (this.selection_status != null) {
                        task.status = this.selection_status.code
                    }

                    if (this.selection_needs_reports != null) {
                        task.needs_reports = this.selection_needs_reports.code
                    }

                    if (this.selection_is_homepage != null) {
                        task.is_homepage = this.selection_is_homepage.code
                    }

                    task.date_start = this.dateToMySqlFormat(task.date_start_formatted)
                    task.date_end = this.dateToMySqlFormat(task.date_end_formatted)

                    this.is_page_updating = true

                    if (this.is_insert) {
                        axios.post(this.apiUrl + '/adminarea/tasks', task, credentials).then(({data}) => {
                            this.is_page_updating = false
                            this.showPopupMessage('Tasks Editor', 'Task added successfully !', 'success')
                            this.is_insert = false
                            this.taskRow = data.tasks[0]
                            this.taskRow.date_start_formatted = this.formatTaskDateStart(this.taskRow.date_start)
                            this.taskRow.date_end_formatted = this.formatTaskDateStart(this.taskRow.date_end)
                            this.loadRelatedTaskRequireSkills()
                            this.$router.push({path: '/admin/tasks/edit/' + this.taskRow.id})
                        }).catch((error) => {
                            this.$refs.taskEditorObserverForm.setErrors(error.response.data.errors)
                            console.error(error)
                            this.is_page_updating = false
                            this.showPopupMessage('Tasks Editor', 'Error adding task !', 'warn')
                        })

                    } // inserting new task

                    if (!this.is_insert) {
                        axios.put(this.apiUrl + '/adminarea/tasks/' + this.task_id, task, credentials).then(({data}) => {
                            this.is_page_updating = false
                            this.taskRow = data.tasks[0]
                            this.taskRow.date_start_formatted = this.formatTaskDateStart(this.taskRow.date_start)
                            this.taskRow.date_end_formatted = this.formatTaskDateStart(this.taskRow.date_end)

                            this.showPopupMessage('Tasks Editor', 'Task updated successfully !', 'success')
                            this.$router.push({path: '/admin/tasks'})
                        }).catch((error) => {
                            this.$refs.taskEditorObserverForm.setErrors(error.response.data.errors)
                            console.error(error)
                            this.is_page_updating = false
                            this.showPopupMessage('Tasks Editor', 'Error updating task !', 'warn')
                        })

                    } // editing existing task

                })
            },  // onSubmit

            inputFile(newFile, oldFile) {
                this.taskRow.imageFile = newFile

                if (newFile && oldFile && !newFile.active && oldFile.active) {
                    if (newFile.xhr) {
                        console.log('status', newFile.xhr.status)
                    }
                }
            },

            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
                        return prevent()
                    }
                }

                newFile.blob = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.blob = URL.createObjectURL(newFile.file)
                }
            },

            cancelTaskImage() {
                this.imageFiles = []
                this.uploaded_image_width = null
                this.uploaded_image_height = null
            },

            uploadTaskImage() {
                let self = this

                fetch(this.taskRow.imageFile.blob).then(function (response) {
                    if (response.ok) {
                        return response.blob().then(function (imageBlob) {
                            let imageUploadData = new FormData()
                            imageUploadData.append('id', self.taskRow.id)
                            imageUploadData.append('image', imageBlob)
                            imageUploadData.append('image_filename', self.taskRow.imageFile.name)

                            self.credentialsConfig.headers.Authorization = 'Bearer ' + self.currentLoggedUserToken
                            self.is_page_updating = true
                            axios.post(self.apiUrl + '/adminarea/tasks/upload_image', imageUploadData, self.credentialsConfig).then(({data}) => {
                                self.is_page_updating = false
                                self.showPopupMessage('Image upload', 'Image uploaded successfully !', 'success')

                                if (typeof data.task[0] != 'undefined') {
                                    self.taskRow = data.task[0]
                                }
                                self.cancelTaskImage()
                            }).catch((error) => {
                                console.error(error)
                                self.is_page_updating = false
                                self.showPopupMessage('Image upload', 'Image uploading error : ' + error.response.data.message + ' !', 'warn')
                            })
                        })
                    } else {
                        return response.json().then(function (jsonError) {
                            console.error(jsonError)
                        })
                    }
                }).catch(function (error) {
                    console.error(error)
                    console.log('There has been a problem with your fetch operation: ', error.message)
                }) // fetch(this.taskRow.imageFile.blob).then(function (response) {


            },
            removeTaskImage() {
                if (!confirm("Do you want to delete task image ?")) {
                    return
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/adminarea/tasks/' + this.taskRow.id + '/delete_image', credentials).then((/*response*/) => {
                    this.taskRow.image = null
                    this.taskRow.filenameData = null
                    this.showPopupMessage('Tasks Image', 'Task was deleted successfully', 'success')

                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('Tasks Image', 'Error deleting task !', 'error')
                })

            }, //removeTask(id, task_name, index) {

            formatTaskDateStart: function (date_value) {
                if (typeof date_value != 'undefined') {
                    return moment(date_value).toDate()
                }
                return null
            }
            ,

        }
        , // methods: {

        computed: {
            submit_label: function () {
                return (!this.is_insert ? 'Update' : 'Insert')
            },

            getHeaderTitle: function () {
                if (!this.is_insert) return 'Edit task'
                return 'Add task'
            }
            ,

            created_at_label: function () {
                return this.momentDatetime(this.taskRow.created_at, this.jsMomentDatetimeFormat)
            }
            ,

            updated_at_label: function () {
                return this.momentDatetime(this.taskRow.updated_at, this.jsMomentDatetimeFormat)
            }
            ,

            status_label: function () {
                return this.getDictionaryLabel(this.taskRow.status, this.taskStatusLabels)
            }
            ,

            currentLoggedUserToken() {
                return this.$store.getters.token
            }
            ,

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            }
            ,

        }

    }
</script>
