<template>
    <article class="page_content_container">

        <listing-header :show_loading_image=!is_page_loaded
                        :current_page=current_page
                        :itemsList="tasks"
                        :rows_count="tasks_total_count"
                        :header_icon="getHeaderIcon('task')"
                        :header_title="'Tasks'"
                        :right_add_button_link="'adminTaskEditor'"
                        :item_title="tasks.length| pluralize(['task', 'tasks'])"
                        :right_add_button_link_title="'New'"
                        parent_component_key="task"
                        :right_icon="'fa fa-refresh'"
        >
        </listing-header>

        <fieldset class="bordered text-muted p-0 m-0">
            <legend class="bordered">Filters</legend>

            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_name">
                        By name
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <input style="flex: 1 0" name="filter_name" id="filter_name" class="form-control admin_control_input" type="text" value=""
                           v-model="filter_name">
                </dd>
            </dl>

            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_name">
                        By status
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <div class="filter_box_items_row">
                        <div class="filter_box_radio_cell">
                            <input name="filter_status" id="filter_status_all" type="radio" value="" v-model="filter_status"
                                   class="filter_box_radio">
                            <label class="filter_box_radio_label" for="filter_status_all">All Tasks</label>
                        </div>

                        <div class="filter_box_radio_cell">
                            <input name="filter_status" id="filter_status_draft" type="radio" value="D" v-model="filter_status"
                                   class="filter_box_radio">
                            <label class="filter_box_radio_label" for="filter_status_draft">Draft</label>
                        </div>

                        <div class="filter_box_radio_cell">
                            <input name="filter_status" id="filter_status_assigning" type="radio" value="A" v-model="filter_status"
                                   class="filter_box_radio">
                            <label class="filter_box_radio_label" for="filter_status_assigning">Assigning</label>
                        </div>
                        <div class="filter_box_radio_cell">
                            <input name="filter_status" id="filter_status_cancelled" type="radio" value="C" v-model="filter_status"
                                   class="filter_box_radio">
                            <label class="filter_box_radio_label" for="filter_status_cancelled">Cancelled</label>
                        </div>

                        <div class="filter_box_radio_cell">
                            <input name="filter_status" id="filter_status_processing" type="radio" value="P" v-model="filter_status"
                                   class="filter_box_radio">
                            <label class="filter_box_radio_label" for="filter_status_processing">Processing</label>
                        </div>

                        <div class="filter_box_radio_cell">
                            <input name="filter_status" id="filter_status_checking" type="radio" value="K" v-model="filter_status"
                                   class="filter_box_radio">
                            <label class="filter_box_radio_label" for="filter_status_checking">Checking</label>
                        </div>

                        <div class="filter_box_radio_cell">
                            <input name="filter_status" id="filter_status_completed" type="radio" value="O" v-model="filter_status"
                                   class="filter_box_radio">
                            <label class="filter_box_radio_label" for="filter_status_completed">Completed</label>
                        </div>
                    </div>
                </dd>
            </dl>


            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_priority">
                        By priority
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <v-select
                            v-model="selection_filter_priority"
                            label="label"
                            :options="taskPriorityLabels"
                            id="filter_priority"
                            name="filter_priority"
                            class="form-control admin_control_input editable_field"
                            placeholder="Select all"
                    ></v-select>
                </dd>
            </dl>

            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_needs_reports">
                        By needs reports
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <v-select
                            v-model="selection_filter_needs_reports"
                            label="label"
                            :options="taskNeedsReportsLabels"
                            id="filter_needs_reports"
                            name="filter_needs_reports"
                            class="form-control admin_control_input editable_field"
                            placeholder="Select all"
                    ></v-select>
                </dd>
            </dl>

            <dl class="block_2columns_md m-0 p-2">
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_is_homepage">
                        By Is Homepage
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <v-select
                            v-model="selection_filter_is_homepage"
                            label="label"
                            :options="taskIsHomepageLabels"
                            id="filter_is_homepage"
                            name="filter_is_homepage"
                            class="form-control admin_control_input editable_field"
                            placeholder="Select all"
                    ></v-select>
                </dd>
            </dl>

            <dl class="block_2columns_md m-0 p-2">
<!--                selection_filter_show_deleted_tasks::{{ selection_filter_show_deleted_tasks }}-->
                <dt class="horiz_divider_left_13">
                    <label class="col-form-label" for="filter_show_deleted_tasks">
                        Show Deleted tasks
                    </label>
                </dt>
                <dd class="horiz_divider_right_23">
                    <v-select
                            v-model="selection_filter_show_deleted_tasks"
                            label="label"
                            :options="showDeletedTasksLabels"
                            id="filter_show_deleted_tasks"
                            name="filter_show_deleted_tasks"
                            class="form-control admin_control_input editable_field"
                            placeholder="Select all"
                    ></v-select>
                </dd>
            </dl>


            <dl class="m-0 p-3" style="display: flex;justify-content: flex-start">
                <dt class="">
                    <a class="btn btn-outline-secondary" @click.prevent="loadTasks()">
                        <i :class="'i_link '+getHeaderIcon('filter')"></i>Search
                    </a>
                </dt>
            </dl>

        </fieldset>

        <div class="table-responsive table-wrapper-for-data-listing p-2" v-show="tasks.length && is_page_loaded">
            <table class="table table-striped table-data-listing">

                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="(nextTask,index) in tasks" :key="nextTask.id">
                    <td :class="'text-right ' + (nextTask.deleted_at ? 'softly_deleted' : '')">
                        <router-link :to="{name: 'adminTaskEditor', params: {id: nextTask.id}}" :class="'p-0 a_edit_item_'+nextTask.id">
                            {{ nextTask.id }}
                        </router-link>
                    </td>
                    <td class="text-left">
                        <i :class="'i_link pb-1 '+getHeaderIcon('priority') + (nextTask.priority>=priorityAsapRange ? ' high_priority ' : '')"
                           :title="'Priority '+ getDictionaryLabel(nextTask.priority, taskPriorityLabels)">
                        </i>
                        <i :class="'i_link '+getHeaderIcon('money')" title="Task estimation" v-if="nextTask.price > 0"></i>
                        <span class="price" v-if="nextTask.price > 0">{{ moneyFormat(nextTask.price) }}</span>&nbsp;:
                        {{ nextTask.name }}
                    </td>
                    <td class="text-left">
                        {{ nextTask.category_name }}
                    </td>
                    <td class="text-left">
                        {{ getDictionaryLabel(nextTask.status, taskStatusLabels) }}
                    </td>
                    <td class="text-left">
                        {{ momentDatetime(nextTask.created_at, jsMomentDatetimeFormat) }}
                    </td>

                    <td>
                        <router-link :to="{name: 'adminTaskEditor', params: {id: nextTask.id}}" :class="'p-0 a_edit_item_'+nextTask.id">
                            <i :class="'i_link '+getHeaderIcon('edit')" title="Edit task"></i>
                        </router-link>
                    </td>


                    <td class="nowrap_block">
                        <a v-on:click="unremoveTask(nextTask.id, nextTask.name, index)" :class="'p-0 mr-3 a_delete_item_'+nextTask.id"
                           v-if="nextTask.deleted_at">
                            <i :class="'i_link '+getHeaderIcon('unremove')" title="Task marked for deletion : undelete it" style="color: blue"></i>
                        </a>
                        <a v-on:click="removeTask(nextTask.id, nextTask.name, true, index)" :class="'p-0 a_delete_item_'+nextTask.id"
                           v-if="!nextTask.deleted_at">
                            <i :class="'i_link '+getHeaderIcon('remove')" title="Mark this task for deletion"></i>
                        </a>
                        <a v-on:click="removeTask(nextTask.id, nextTask.name, false, index)" :class="'p-0 a_delete_item_'+nextTask.id"
                           v-if="nextTask.deleted_at">
                            <i :class="'i_link softly_deleted '+getHeaderIcon('remove')" title="Task marked for deletion : delete it"></i>
                        </a>
                    </td>

                </tr>
                </tbody>

            </table>
        </div>

        <section class="task_pagination_container" v-show="tasks.length && is_page_loaded">
            <listing-pagination
                    :current="current_page"
                    :total="tasks_total_count"
                    :items_per_page="tasks_per_page"
                    :show_next_prior_buttons=false
                    @paginationPageChangedEvent="paginationPageClicked"
                    :show_page_number_label="true"
                    :show_rows_label="true"
                    :item_title="tasks_total_count | pluralize(['task', 'tasks'])"
            >
            </listing-pagination>
        </section>

        <fieldset class="blocks" v-if="demo_version && 0">
            <legend class="blocks"><i :class="getHeaderIcon('demo-info')"></i>Demo info&nbsp;</legend>

            <div class="m-1 p-1 pre-formatted description-text" style="overflow-y: auto; max-height: 200px;">
                <ol class="m-1 p-1">
                    <li>Listing of tasks with related tasks</li>
                    <li>Logged admin can add / remove users in the app to any task by clicking on icon in left bottom corner of any task</li>
                </ol>
            </div>

        </fieldset>


    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'

    import {retrieveAppDictionaries} from "@/commonFuncs"

    import Vue from 'vue'

    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    Vue.component('listing-header', require('../../../../src/components/ListingHeader.vue').default)
    Vue.component('listing-pagination', require('../../../../src/components/ListingPagination.vue').default)

    import {
        settingsJsMomentDatetimeFormat,
        settingsTaskPriorityLabels,
        settingsTaskStatusLabels,
        settingsTaskNeedsReportsLabels,
        settingsTaskIsHomepageLabels,
        settingsShowDeletedTasksLabels,
        settingsPriorityAsapRange,
        settingCredentialsConfig
    } from '@/app.settings.js'

    export default {
        name: 'tasksListingPage',

        mixins: [appMixin],

        data() {
            return {
                tasks: [],
                current_page: 1,
                order_by: 'created_at',
                order_direction: 'desc',
                tasks_total_count: 0,
                is_page_loaded: false,

                additive_action: null,
                additive_action_id: null,

                filter_name: '',
                filter_status: '',
                selection_filter_priority: null,
                selection_filter_needs_reports: null,
                selection_filter_is_homepage: null,
                selection_filter_show_deleted_tasks: null,

                tasks_per_page: 20,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                taskPriorityLabels: settingsTaskPriorityLabels,
                taskStatusLabels: settingsTaskStatusLabels,
                taskNeedsReportsLabels: settingsTaskNeedsReportsLabels,
                taskIsHomepageLabels: settingsTaskIsHomepageLabels,
                showDeletedTasksLabels: settingsShowDeletedTasksLabels,
                priorityAsapRange: settingsPriorityAsapRange,

                credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL,
                demo_version: process.env.VUE_APP_DEMO_VERSION

            }
        }, // data () {


        created() {
            if (typeof this.$route.params.additive_action != "undefined") {
                this.additive_action = this.$route.params.additive_action
            }
            if (typeof this.$route.params.additive_action_id != "undefined") {
                this.additive_action_id = this.$route.params.additive_action_id
                this.filter_status = this.additive_action_id
            }
        }, //  created() {

        mounted() {

            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
            this.setAppTitle('Tasks', 'Tasks Listing', bus)

            retrieveAppDictionaries('activityLogsListPage', ['backend_items_per_page'])
            bus.$on('tasksListingPage', (data) => {
                if (data.request_key === 'tasksListingPage') {
                    this.tasks_per_page = data.backend_items_per_page
                }
            })

            this.loadTasks()

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'task') {
                    this.loadTasks()
                }
            })

        }, // mounted() {


        methods: {
            loadTasks() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                let filter_priority = null
                if (this.selection_filter_priority != null) {
                    filter_priority = this.selection_filter_priority.code
                }

                let filter_needs_reports = null
                if (this.selection_filter_needs_reports != null) {
                    filter_needs_reports = this.selection_filter_needs_reports.code
                }

                let filter_is_homepage = null
                if (this.selection_filter_is_homepage != null) {
                    filter_is_homepage = this.selection_filter_is_homepage.code
                }

                let filter_show_deleted_tasks = null
                if (this.selection_filter_show_deleted_tasks != null) {
                    filter_show_deleted_tasks = this.selection_filter_show_deleted_tasks.code
                }


                let filters = {
                    page: this.current_page,
                    order_by: this.order_by,
                    order_direction: this.order_direction,
                    filter_name: this.filter_name,
                    filter_status: this.filter_status,
                    filter_priority: filter_priority,
                    filter_needs_reports: filter_needs_reports,
                    filter_is_homepage: filter_is_homepage,
                    filter_show_deleted_tasks: filter_show_deleted_tasks
                }
                axios.post(this.apiUrl + '/adminarea/tasks-filter', filters, credentials)
                    .then(({data}) => {
                        this.tasks = data.tasks
                        this.tasks_total_count = data.meta.total
                        this.tasks_per_page = data.meta.per_page
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Tasks Editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })

            }, // loadTasksListing() {

            removeTask(id, task_name, soft_deletion/*, index*/) {
                let confirm_message= "Do you want to delete permanently " + " '" + task_name + "' task ? It can not be restored !"
                if (soft_deletion) {
                    confirm_message= "Do you want to mark for deletion " + " '" + task_name +
                        "' task ? It would be unavailable in the app, but can be restored(undeleted) OR deleted permanently !"
                }

                if (!confirm(confirm_message)) {
                    return
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.delete(this.apiUrl + '/adminarea/tasks/' + id, credentials).then((/*response*/) => {
                    this.loadTasks()
                    this.showPopupMessage('Tasks Editor', 'Task was '+(soft_deletion ? "softly" : "permanently")+' deleted successfully !'+( soft_deletion ?
                        "But you can restore it or delete permanently" : "" ), 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('Tasks Editor', 'Error deleting task : ' + error.response.data.message, 'error')
                })

            }, //removeTask(id, task_name, soft_deletion, index) {

            unremoveTask(id, task_name/*, index*/) {
                if (!confirm("Do you want to restore(undelete) " + " '" + task_name + "' task ?")) {
                    return
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                axios.put(this.apiUrl + '/adminarea/tasks/' + id+"/unremove", {}, credentials).then((/*response*/) => {
                    this.loadTasks()
                    this.showPopupMessage('Tasks Editor', 'Task was restored(undeleted) successfully', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage('Tasks Editor', 'Error undeleting task !', 'error')
                })

            }, //unremoveTask(id, task_name, index) {

            paginationPageClicked(page) {
                this.current_page = page
                this.loadTasks()
            },

        }, // methods: {

        computed: {
            getHeaderTitle: function () {
                return "Tasks Listing"
            },

            currentLoggedUser() {
                return this.$store.getters.user
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            },


        }

    }
</script>
