<template>
    <article class="page_content_container">
        <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('user_task_type')" :header_title="getHeaderTitle">
        </editor-header>

        <div class="page_content" v-show="is_page_loaded">


            <ValidationObserver
                    ref="userTaskTypeEditorObserverForm"
                    v-slot="{handleSubmit}"
            >
                <form class="admin_page_container user_task_type_editor_form" @submit.prevent="handleSubmit(onSubmit)">

                    <div class="card">
                        <div class="card-body card-block">


                            <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- id -->
                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="id">Id:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">
                                    <input
                                            type='text'
                                            v-model="userTaskTypeRow.id"
                                            name="id"
                                            id="id"
                                            class="form-control admin_control_input text-right"
                                            autocomplete=off
                                            readonly="readonly"
                                    >
                                </dd>
                            </dl> <!-- <dl class="block_2columns_md m-0"> id -->

                            <dl class="block_2columns_md m-3"> <!-- name -->
                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="name">Name:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">
                                    <ValidationProvider
                                            name="name"
                                            :rules="{ required : true, max:50 }"
                                            v-slot="{ errors }"
                                    >
                                        <input
                                                type='text'
                                                v-model="userTaskTypeRow.name"
                                                name="name"
                                                id="name"
                                                class="form-control admin_control_input"
                                                placeholder="Enter name"
                                                autocomplete=off
                                        >
                                        <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                    </ValidationProvider>
                                </dd>
                            </dl> <!-- <dl class="block_2columns_md m-0"> name -->


                            <dl class="block_2columns_md m-3"> <!-- description -->
                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="description">Description:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">
                                    <ValidationProvider
                                            name="description"
                                            :rules="{ required : true }"
                                            v-slot="{ errors }"
                                    >
                                        <wysiwyg v-model="userTaskTypeRow.description"/>
                                        <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                    </ValidationProvider>
                                </dd>
                            </dl> <!-- <dl class="block_2columns_md m-0"> description -->


                            <dl class="block_2columns_md m-3" v-if="!is_insert"> <!-- created_at -->
                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="created_at">Created at:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">
                                    <input
                                            type='text'
                                            v-model="created_at_label"
                                            name="created_at"
                                            id="created_at"
                                            class="form-control admin_control_input"
                                            readonly="readonly"
                                            autocomplete=off
                                    >
                                </dd>
                            </dl> <!-- <dl class="block_2columns_md m-0"> created_at -->

                        </div> <!-- <div class="card-body card-block"> -->
                        <section class="card-footer admin_footer row_content_right_aligned">
                            <editor-buttons
                                    :is_admin="true"
                                    :submit_label="submit_label"
                                    :cancel_label="'Cancel'"
                                    :cancel_link="'adminUserTaskTypesListing'"
                                    :is_page_updating="is_page_updating"
                                    parent_component_key="user_task_type"
                            ></editor-buttons>
                        </section>

                    </div> <!-- <div class="card"> -->

                </form>

            </ValidationObserver>

        </div> <!-- page_content -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import Vue from 'vue'
    import {settingCredentialsConfig, settingsJsMomentDatetimeFormat} from '@/app.settings.js'

    Vue.component('editor-header', require('../../../../src/components/EditorHeader.vue').default)
    Vue.component('editor-buttons', require('../../../../src/components/EditorButtons.vue').default)

    import wysiwyg from "vue-wysiwyg"
    import 'vue-wysiwyg/dist/vueWysiwyg.css'       //
    Vue.use(wysiwyg, {
        maxHeight: "300px",
    })


    import {ValidationObserver, ValidationProvider, extend} from 'vee-validate'
    import * as rules from 'vee-validate/dist/rules'

    Object.keys(rules).forEach(rule => {
        extend(rule, rules[rule])
    })
    import {localize} from 'vee-validate'

    localize({
        en: {
            messages: {
                required: (field) => field + ' is required',
                min: 'Must have no less than {length} characters',
                max: 'Must have no more than {length} characters',
                email: 'Invalid email format',
                confirmed: 'Password and password confirmation must be equal',
            }
        }
    })

    import 'vue2-datepicker/index.css'

    const VueUploadComponent = require('vue-upload-component')
    Vue.component('file-upload', VueUploadComponent)

    export default {
        name: 'userTaskTypeEditorPage',

        mixins: [appMixin],

        components: {
            ValidationObserver,
            ValidationProvider,
        },

        data() {
            return {
                user_task_type_id: null,
                userTaskTypeRow: {
                    name: '',
                    description: '',
                },
                is_insert: false,

                is_page_loaded: false,
                is_page_updating: false,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                demo_version: process.env.VUE_APP_DEMO_VERSION,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        created() {
            if (this.$route.params.id == 'new') {
                this.user_task_type_id = 'new'
                this.is_page_loaded = true
                this.is_insert = true
            } else {
                this.user_task_type_id = this.$route.params.id
            }

        },  //  created() {

        mounted() {
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
            this.setAppTitle('Task type', 'Task type editor', bus)
            if (!this.is_insert) { // retrieve row for editing
                this.loadUserTaskType()
            }
        }
        , // mounted() {

        beforeDestroy() { // just before a component is destroyed.
            bus.$off('listingHeaderRightButtonClickedEvent') // stop listening.
        }
        ,

        methods: {
            loadUserTaskType() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/user-task-types/' + this.user_task_type_id, credentials)
                    .then(({data}) => {
                        this.userTaskTypeRow = data.userTaskTypes[0]
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        if (error.response.status == 404) {
                            this.showPopupMessage("Task type editor", "Task type # " + this.user_task_type_id + " not found !", 'warn')
                            this.$router.push({path: '/admin/user-task-types'})
                        }
                        console.error(error)
                        this.showPopupMessage('Task type editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadUserTaskType() {


            onSubmit() {

                this.$refs.userTaskTypeEditorObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('Task type editor', 'Validations Failed !', 'warn')
                        return
                    }

                    let userTaskType = this.getClone(this.userTaskTypeRow)

                    let credentials= this.getClone(this.credentialsConfig)
                    credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                    this.is_page_updating = true
                    if (this.is_insert) {
                        axios.post(this.apiUrl + '/adminarea/user-task-types', userTaskType, credentials).then(({data}) => {
                            this.is_page_updating = false
                            this.showPopupMessage('Task type editor', 'Task type added successfully !', 'success')
                            this.is_insert = false
                            this.userTaskTypeRow = data.userTaskTypes[0]

                            this.$router.push({path: '/admin/user-task-types/edit/' + this.userTaskTypeRow.id})
                        }).catch((error) => {
                            this.$refs.userTaskTypeEditorObserverForm.setErrors(error.response.data.errors)
                            console.error(error)
                            this.is_page_updating = false
                            this.showPopupMessage('Task type editor', 'Error adding userTaskType !', 'warn')
                        })

                    } // inserting new userTaskType

                    if (!this.is_insert) {
                        axios.put(this.apiUrl + '/adminarea/user-task-types/' + this.user_task_type_id, userTaskType, credentials).then(({data}) => {
                            this.is_page_updating = false
                            this.userTaskTypeRow = data.userTaskTypes[0]

                            this.showPopupMessage('Task type editor', 'Task type updated successfully !', 'success')
                            this.$router.push({path: '/admin/user-task-types'})
                        }).catch((error) => {
                            this.$refs.userTaskTypeEditorObserverForm.setErrors(error.response.data.errors)
                            console.error(error)
                            this.is_page_updating = false
                            this.showPopupMessage('Task type editor', 'Error updating userTaskType !', 'warn')
                        })

                    } // editing existing userTaskType

                })
            },  // onSubmit

        }
        , // methods: {

        computed: {
            submit_label: function () {
                return (!this.is_insert ? 'Update' : 'Insert')
            },

            getHeaderTitle: function () {
                if (!this.is_insert) return 'Edit task type'
                return 'Add task type'
            }
            ,

            created_at_label: function () {
                return this.momentDatetime(this.userTaskTypeRow.created_at, this.jsMomentDatetimeFormat)
            }
            ,

            status_label: function () {
                return this.getDictionaryLabel(this.userTaskTypeRow.status, this.userTaskTypeStatusLabels)
            }
            ,

            currentLoggedUserToken() {
                return this.$store.getters.token
            }
            ,

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            }
            ,

        }

    }
</script>
