<template>
    <article class="page_content_container">

        <listing-header
            :show_loading_image=!is_page_loaded
            :no_data_found_label="''"
            :header_icon="getHeaderIcon('dashboard')"
            :header_title="getHeaderTitle"
            :item_title="''"
            parent_component_key="dashboard"
            :right_icon="'fa fa-refresh'"
        ></listing-header>

        <div v-show="is_page_loaded" style="width: 100%;">

            <div class="content_blocks_in_rows">

                <div class="row_content_block tasks_block">


                    <div class="row_content_block settings_block">

                        <fieldset class="bordered text-muted p-2 m-3">
                            <legend class="bordered">
                                <span class="legend_title">Active Tasks</span>
                            </legend>

                            <listing-header :show_loading_image=!is_page_loaded
                                            :itemsList="currentTasks"
                                            :rows_count="currentTasks.length"
                                            :header_icon="getHeaderIcon('task')"
                                            :header_title="'Current Tasks'"
                                            :item_title="currentTasks.length| pluralize(['Task', 'Tasks'])"
                                            parent_component_key="current_tasks"
                                            :right_icon="'fa fa-refresh'"
                            >
                            </listing-header>

                            <div id="current_tasks_accordion" class="currentTasksAccordion admin_content_text">

                                <div v-for="(nextTask) in currentTasks" :key="nextTask.id" class="m-0 p-0 mb-2">
                                    <div :id="'heading_'+nextTask.id">
                                        <h4 class="mb-0">
                                            <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse"
                                                    :data-target="'#collapse_'+nextTask.id" aria-expanded="false" :aria-controls="'collapse_'+nextTask.id">
                                                <i :class="'i_link pb-1 ml-2 '+getHeaderIcon('task')" ></i>
                                                {{ nextTask.name }}
                                                ( {{ nextTask.taskAssignedToUsers.length}} user{{ nextTask.taskAssignedToUsers.length | pluralize(['','s'])}}&nbsp;<i :class="'i_link pb-1 '+getHeaderIcon('users')"
                                                                           title="Users participating in the task"></i> )
                                            </button>
                                        </h4>
                                    </div>
                                    <div :id="'collapse_'+nextTask.id" class="collapse" :aria-labelledby="'heading_'+nextTask.id" data-parent="#current_tasks_accordion">
                                        <div class="simple_bordered_block admin_content_text">

                                            <ul class="ul_horiz_lis">
                                                <li class="ul_horiz_lis_left_aligned p-1 m-0 ">
                                                    <span class="admin_hidden_info">
                                                        {{ nextTask.id}}
                                                    </span>
                                                    <router-link :to="{name: 'adminTaskEditor', params: {id: nextTask.id}}" class="p-0">
                                                        <i :class="'i_link pb-1 '+getHeaderIcon('priority') + (nextTask.priority>=priorityAsapRange ? ' high_priority ' : '')"
                                                           :title="'Priority '+ getDictionaryLabel(nextTask.priority, taskPriorityLabels)">
                                                        </i>
                                                        <i :class="'i_link '+getHeaderIcon('money')" title="Task estimation" v-if="nextTask.price > 0"></i>
                                                        <span class="price" v-if="nextTask.price > 0">{{ moneyFormat(nextTask.price) }}</span>
                                                    </router-link>
                                                </li>
                                                <li class="ul_horiz_lis_right_aligned p-1 m-0 ">
                                                    {{ nextTask.category_name }}
                                                </li>
                                            </ul>

                                            <ul class="ul_horiz_lis bottom_split_border">
                                                <li class="ul_horiz_lis_left_aligned p-1 m-0 ">
                                                    {{ getDictionaryLabel(nextTask.status, taskStatusLabels) }}
                                                </li>
                                                <li class="ul_horiz_lis_right_aligned p-1 m-0 ">
                                                    {{ momentDatetime(nextTask.created_at, jsMomentDatetimeFormat) }}
                                                </li>
                                            </ul>


                                            <ul v-for="(nextAssignedToUser) in nextTask.taskAssignedToUsers" :key="nextAssignedToUser.id">
                                                <li>
                                                    <router-link :to="{name: 'adminUserEditor', params: {id: nextAssignedToUser.user.id}}" :class="'p-1 a_edit_item_'+nextAssignedToUser.user.id">
                                                        {{ nextAssignedToUser.user.first_name }} {{ nextAssignedToUser.user.last_name }}
                                                    </router-link>
                                                    {{ getDictionaryLabel(nextAssignedToUser.user.status, userStatusLabels) }}
                                                    {{ nextAssignedToUser.user_task_type.name }} /
                                                    {{ getDictionaryLabel(nextAssignedToUser.status, taskAssignedToUsersStatusLabels) }}
                                                    <i :class="'i_link '+getHeaderIcon('description')" :title="clearTags(nextAssignedToUser.description)"></i>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div> <!--  <div class="">-->
                            </div> <!-- <div id="current_tasks_accordion" class="currentTasksAccordion">-->


                            <section class="task_pagination_container" v-show="currentTasks.length && is_page_loaded">
                                <listing-pagination
                                    :current="current_tasks_current_page"
                                    :total="current_tasks_total_count"
                                    :items_per_page="tasks_per_page"
                                    :show_next_prior_buttons=false
                                    @paginationPageChangedEvent="currentTasksPaginationPageClicked"
                                    :show_page_number_label="true"
                                    :show_rows_label="true"
                                    :item_title="current_tasks_total_count | pluralize(['task', 'tasks'])"
                                >
                                </listing-pagination>
                            </section>

                        </fieldset>

                    </div> <!-- <div class="row_content_block settings_block"> -->


                    <fieldset class="bordered text-muted p-2 m-3">
                        <legend class="bordered"><span class="legend_title">
                            <i :class="getHeaderIcon('task')"></i>{{ tasks_count }} Tasks</span>
                        </legend>

                        <!--						 path: '/admin/tasks/:additive_action?/:additive_action_id?',-->
                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="tasks_assigning_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link :to="{ name: 'adminTasksListing', params: {additive_action: 'filter', additive_action_id: 'A'} }" class="a_link">
                                    Assigning tasks in system:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <span class="badge badge-primary badge-pill">{{ tasks_assigning_count }}</span>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="tasks_draft_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link :to="{ name: 'adminTasksListing', params: {additive_action: 'filter', additive_action_id: 'D'} }" class="a_link">
                                    Draft tasks in system:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <span class="badge badge-primary badge-pill">{{ tasks_draft_count }}</span>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="tasks_cancelled_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link :to="{ name: 'adminTasksListing', params: {additive_action: 'filter', additive_action_id: 'C'} }" class="a_link">
                                    Cancelled tasks in system:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <span class="badge badge-primary badge-pill">{{ tasks_cancelled_count }}</span>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="tasks_processing_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link :to="{ name: 'adminTasksListing', params: {additive_action: 'filter', additive_action_id: 'P'} }" class="a_link">
                                    Processing tasks in system:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <span class="badge badge-primary badge-pill">{{ tasks_processing_count }}</span>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="tasks_checking_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link :to="{ name: 'adminTasksListing', params: {additive_action: 'filter', additive_action_id: 'K'} }" class="a_link">
                                    Checking tasks in system:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <span class="badge badge-primary badge-pill">{{ tasks_checking_count }}</span>
                            </li>
                        </ul>


                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="tasks_completed_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link :to="{ name: 'adminTasksListing', params: {additive_action: 'filter', additive_action_id: 'O'} }" class="a_link">
                                    Completed tasks in system:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <span class="badge badge-primary badge-pill">{{ tasks_completed_count }}</span>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="tasks_trashed_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                Softly delete tasks:
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <span class="badge badge-primary badge-pill">{{ tasks_trashed_count }}</span>
                            </li>
                        </ul>


                        <ul class="ul_horiz_lis m-2 p-3 nowrap_block">
                            <router-link :to="{name: 'adminTaskEditor', params: {id: 'new'}}" class="p-0">
                                <i :class="'i_link '+getHeaderIcon('task')" title="New task"></i>New task
                            </router-link>
                        </ul>

                    </fieldset>  <!-- Tasks -->

                </div> <!-- <div class="row_content_block tasks_block"> -->


                <div class="row_content_block events_block">

                    <fieldset class="bordered text-muted p-2 m-3">
                        <legend class="bordered"><span class="legend_title">
                            <i :class="getHeaderIcon('events')"></i>{{ events_count }} Events</span>
                        </legend>
                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="events_public_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link :to="{ name: 'adminEventsListing', params: {additive_action: 'filter', additive_action_id: 'U'} }" class="a_link">
                                    Public events in system:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <span class="badge badge-primary badge-pill">{{ events_public_count }}</span>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="events_private_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link :to="{ name: 'adminEventsListing', params: {additive_action: 'filter', additive_action_id: 'P'} }"
                                             class="a_link">Private events in system:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <span class="badge badge-primary badge-pill">{{ events_private_count }}</span>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis m-2 p-3 nowrap_block">
                            <router-link :to="{name: 'adminEventEditor', params: {id: 'new'}}" class="p-0">
                                <i :class="'i_link '+getHeaderIcon('event')" title="New event"></i>New event
                            </router-link>
                        </ul>

                    </fieldset>  <!-- Events -->

                </div> <!-- <div class="row_content_block events_block"> -->


                <div class="row_content_block users_block">

                    <fieldset class="bordered text-muted p-2 m-3">
                        <legend class="bordered"><span class="legend_title">
                            <i :class="getHeaderIcon('users')"></i>{{ users_count }} Users</span>
                        </legend>


                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="users_waiting_activation_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link :to="{ name: 'adminUsersListing', params: {additive_action: 'filter', additive_action_id: 'N'} }" class="a_link">
                                    Users waiting activation:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <router-link to="/admin/users">
                                    <span class="badge badge-primary badge-pill">{{ users_waiting_activation_count }}</span>
                                </router-link>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="users_active_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link :to="{ name: 'adminUsersListing', params: {additive_action: 'filter', additive_action_id: 'A'} }" class="a_link">
                                    Active Users:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <router-link to="/admin/users">
                                    <span class="badge badge-primary badge-pill">{{ users_active_count }}</span>
                                </router-link>
                            </li>
                        </ul>

                        <ul class="ul_horiz_lis m-2 nowrap_block" v-show="users_inactive_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link :to="{ name: 'adminUsersListing', params: {additive_action: 'filter', additive_action_id: 'I'} }" class="a_link">
                                    Inactive Users:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <router-link to="/admin/users">
                                    <span class="badge badge-primary badge-pill">{{ users_inactive_count }}</span>
                                </router-link>
                            </li>
                        </ul>


                    </fieldset>  <!-- Users -->


                </div> <!-- <div class="row_content_block users_block"> -->


                <div class="row_content_block dictionaries_block">

                    <fieldset class="bordered text-muted p-2 m-3">
                        <legend class="bordered">
                            <span class="legend_title">Dictionaries</span>
                        </legend>


                        <ul class="ul_horiz_lis m-0 nowrap_block" v-show="categories_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0 bottom_split_border">
                                <router-link to="/admin/categories">
                                    Categories:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0 bottom_split_border">
                                <span class="badge badge-primary badge-pill">{{ categories_count }}</span>
                            </li>
                        </ul>
                        <ul class="ul_horiz_lis m-0 mb-4 ml-3 p-1 nowrap_block">
                            <router-link :to="{name: 'adminCategoryEditor', params: {id: 'new'}}" class="p-0">
                                <i :class="'i_link '+getHeaderIcon('task_category')" title="New category"></i>New category
                            </router-link>
                        </ul>

                        <ul class="ul_horiz_lis m-0 nowrap_block" v-show="user_task_types_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0 bottom_split_border">
                                <router-link :to="{name: 'adminUserTaskTypesListing'}">
                                    User task types:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0 bottom_split_border">
                                <span class="badge badge-primary badge-pill">{{ user_task_types_count }}</span>
                            </li>
                        </ul>
                        <ul class="ul_horiz_lis m-0 mb-4 ml-3 p-1 nowrap_block">
                            <router-link :to="{name: 'adminUserTaskTypeEditor', params: {id: 'new'}}" class="p-0">
                                <i :class="'i_link '+getHeaderIcon('user_task_type')" title="New User Task Type"></i>New User Task Type
                            </router-link>
                        </ul>

                        <ul class="ul_horiz_lis m-0 nowrap_block" v-show="skills_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0 bottom_split_border">
                                <router-link :to="{name: 'adminSkillsListing'}">
                                    Skills:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0 bottom_split_border">
                                <span class="badge badge-primary badge-pill">{{ skills_count }}</span>
                            </li>
                        </ul>
                        <ul class="ul_horiz_lis m-0 mb-4 ml-3 p-1 nowrap_block">
                            <router-link :to="{name: 'adminSkillEditor', params: {id: 'new'}}" class="p-0">
                                <i :class="'i_link '+getHeaderIcon('skill')" title="New skill"></i>New skill
                            </router-link>
                        </ul>


                        <ul class="ul_horiz_lis m-0 nowrap_block" v-show="tags_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0 bottom_split_border">
                                <router-link :to="{name: 'adminTagsListing'}">
                                    Tags:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0 bottom_split_border">
                                <span class="badge badge-primary badge-pill">{{ tags_count }}</span>
                            </li>
                        </ul>
                        <ul class="ul_horiz_lis m-0 mb-4 ml-3 p-1 nowrap_block">
                            <router-link :to="{name: 'adminTagEditor', params: {id: 'new'}}" class="p-0">
                                <i :class="'i_link '+getHeaderIcon('tag')" title="New tag"></i>New tag
                            </router-link>
                        </ul>


                    </fieldset>  <!-- Dictionaries -->


                </div> <!-- <div class="row_content_block settings_block"> -->

                <div class="row_content_block settings_block">

                    <fieldset class="bordered text-muted p-2 m-3">
                        <legend class="bordered">
                            <span class="legend_title">Settings</span>
                        </legend>


                        <ul class="ul_horiz_lis m-0 nowrap_block" v-show="settings_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link to="/admin/settings">
                                    <i :class="'i_link pb-1 ml-2 '+getHeaderIcon('settings')" ></i>
                                    Setting options:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <span class="badge badge-primary badge-pill">{{ settings_count }}</span>
                            </li>
                        </ul>


                    </fieldset>  <!-- settings -->

                </div> <!-- <div class="row_content_block settings_block"> -->


                <div class="row_content_block activity_logs_block">

                    <fieldset class="bordered text-muted p-2 m-3">
                        <legend class="bordered">
                            <span class="legend_title">Activity logs</span>
                        </legend>


                        <ul class="ul_horiz_lis m-0 nowrap_block" v-show="activity_logs_count">
                            <li class="ul_horiz_lis_left_aligned p-2 m-0">
                                <router-link to="/admin/activity">
                                    <i :class="'i_link pb-1 ml-2 '+getHeaderIcon('activity_log')" ></i>
                                    Activity logs:
                                </router-link>
                            </li>
                            <li class="ul_horiz_lis_right_aligned p-2 m-0">
                                <span class="badge badge-primary badge-pill">{{ activity_logs_count }}</span>
                            </li>
                        </ul>


                    </fieldset>  <!-- activity_logs -->


                </div> <!-- <div class="row_content_block activity_logs_block"> -->

            </div>
        </div>


    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import {
        settingsJsMomentDatetimeFormat,
        settingsTaskPriorityLabels,
        settingCredentialsConfig,
        settingsTaskStatusLabels,
        settingsUserStatusLabels,
        settingsTaskAssignedToUsersStatusLabels,
        settingsPriorityAsapRange
    } from '@/app.settings.js'

    import Vue from 'vue'
    import {saveAs} from 'file-saver'

    Vue.component('listing-header', require('../../../../src/components/ListingHeader.vue').default)
    Vue.component('listing-pagination', require('../../../../src/components/ListingPagination.vue').default)

    export default {
        name: 'dashboardPage',

        mixins: [appMixin],

        data() {
            return {
                is_page_loaded: false,
                currentTasks: [],
                current_tasks_current_page: 1,
                current_tasks_total_count: 0,
                tasks_per_page: 0,
                tasks_count: 0,
                tasks_draft_count: 0,
                tasks_assigning_count: 0,
                tasks_cancelled_count: 0,
                tasks_processing_count: 0,
                tasks_checking_count: 0,
                tasks_completed_count: 0,
                tasks_trashed_count: 0,
                events_count: 0,
                events_private_count: 0,
                events_public_count: 0,
                activity_logs_count: 0,

                users_count: 0,
                users_waiting_activation_count: 0,
                users_active_count: 0,
                users_inactive_count: 0,

                settings_count: 0,
                categories_count: 0,
                user_task_types_count: 0,
                skills_count: 0,
                tags_count: 0,
                taskPriorityLabels: settingsTaskPriorityLabels,
                taskStatusLabels: settingsTaskStatusLabels,
                priorityAsapRange: settingsPriorityAsapRange,
                userStatusLabels: settingsUserStatusLabels,
                taskAssignedToUsersStatusLabels: settingsTaskAssignedToUsersStatusLabels,

                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL,
                demo_version: process.env.VUE_APP_DEMO_VERSION,
                app_version: process.env.VUE_APP_VERSION

            }
        }, // data () {


        created() {
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
        }, //  created() {

        mounted() {

            this.setAppTitle('Dashboard', 'Dashboard', bus)
            this.loadDashboard()
            this.loadCurrentTasks()
            // this.importingTaskFromCsv()

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'dashboard') {
                    this.loadDashboard()
                }
            })

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'current_tasks') {
                    this.loadCurrentTasks()
                }
            })

        }, // mounted() {


        methods: {
            loadCurrentTasks() { //
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken

                axios.post(this.apiUrl + '/adminarea/load_current_tasks', {page: this.current_tasks_current_page}, credentials)
                    .then((response) => {
                        this.currentTasks = response.data.tasks
                        this.current_tasks_total_count = response.data.meta.total
                        this.tasks_per_page = response.data.meta.per_page
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Dashboard', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadCurrentTasks() {

            loadDashboard() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/dashboard', credentials)
                    .then((response) => {
                        this.tasks_count = response.data.tasks_count
                        this.tasks_draft_count = response.data.tasks_draft_count
                        this.tasks_assigning_count = response.data.tasks_assigning_count
                        this.tasks_cancelled_count = response.data.tasks_cancelled_count
                        this.tasks_processing_count = response.data.tasks_processing_count
                        this.tasks_checking_count = response.data.tasks_checking_count
                        this.tasks_completed_count = response.data.tasks_completed_count
                        this.tasks_trashed_count = response.data.tasks_trashed_count
                        this.events_count = response.data.events_count
                        this.events_private_count = response.data.events_private_count
                        this.events_public_count = response.data.events_public_count
                        this.activity_logs_count = response.data.activity_logs_count

                        this.users_count = response.data.users_count
                        this.users_waiting_activation_count = response.data.users_waiting_activation_count
                        this.users_active_count = response.data.users_active_count
                        this.users_inactive_count = response.data.users_inactive_count

                        this.settings_count = response.data.settings_count
                        this.categories_count = response.data.categories_count
                        this.user_task_types_count = response.data.user_task_types_count
                        this.skills_count = response.data.skills_count
                        this.tags_count = response.data.tags_count

                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Dashboard', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadDashboard() {

            exportExistingTasks() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/run_tasks_export', credentials)
                    .then((response) => {
                        var blob = new Blob([response.data], {type: "text/plain;charset=utf-8"})
                        let tasks_export_filename = 'tasksExport_' + Date.now()
                        tasks_export_filename = tasks_export_filename.replace(/[\W_]+/g, "")
                        saveAs.saveAs(blob, tasks_export_filename + ".csv")

                        this.is_page_loaded = true
                        this.showPopupMessage('Task\'s export', 'Successfully exported !', 'success')
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Task\'s export', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // exportExistingTasks() {

            importingTaskFromCsv() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/importing_tasks_from_csv', credentials)
                    .then(( /*response*/) => {
                        /*
                                                var blob = new Blob([response.data], {type: "text/plain;charset=utf-8"})
                                                let tasks_export_filename= 'tasksExport_'+Date.now()
                                                tasks_export_filename = tasks_export_filename.replace(/[\W_]+/g, "")
                                                saveAs.saveAs(blob, tasks_export_filename + ".csv")
                        */

                        this.is_page_loaded = true
                        this.showPopupMessage('Task\'s import', 'Successfully imported !', 'success')
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Task\'s import', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // importingTaskFromCsv() {

            currentTasksPaginationPageClicked(page) {
                this.current_tasks_current_page = page
                this.loadCurrentTasks()
            },

        }, // methods: {

        computed: {
            getHeaderTitle: function () {
                return "Admin Area"
            },

            currentLoggedUser() {
                return this.$store.getters.user
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            },


        }

    }
</script>
