<template>
    <article class="page_content_container">

        <editor-header
                :show_loading_image="!is_page_loaded || is_page_updating"
                :header_icon="getHeaderIcon('settings')"
                :header_title="'Edit settings'"
                :right_icon="'fa fa-refresh'"
        >
        </editor-header>

        <div class="page_content" v-show="is_page_loaded">

<!--            settingsRows::{{ settingsRows }}-->
            <vue-tabs
                    active-tab-color="#224A37"
                    active-text-color="white"
                    v-model="active_tab"
            >

                <v-tab title="Application">

                    <ValidationObserver
                            ref="settingsApplicationEditorObserverForm"
                            v-slot="{handleSubmit}"
                    >
                        <form class="admin_page_container settings_editor_form" @submit.prevent="handleSubmit(onSubmit)">

                            <div class="card">
                                <div class="card-body card-block">

                                    <dl class="block_2columns_md m-3"> <!-- site_name -->
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="site_name">Site name:</label>
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                    name="site_name"
                                                    :rules="{ required : true, max:255 }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="settingsRows.site_name"
                                                        name="site_name"
                                                        id="site_name"
                                                        class="form-control admin_control_input"
                                                        placeholder="Enter integer value"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> site_name -->


                                    <dl class="block_2columns_md m-3"> <!-- copyright_text -->
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="copyright_text">Copyright text:</label>
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                    name="copyright_text"
                                                    :rules="{ required : true, max:255 }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="settingsRows.copyright_text"
                                                        name="copyright_text"
                                                        id="copyright_text"
                                                        class="form-control admin_control_input"
                                                        placeholder="Enter integer value"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> copyright_text -->


                                    <dl class="block_2columns_md m-3"> <!-- site_heading -->
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="site_heading">Site heading:</label>
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                    name="site_heading"
                                                    :rules="{ required : true, max:255 }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="settingsRows.site_heading"
                                                        name="site_heading"
                                                        id="site_heading"
                                                        class="form-control admin_control_input"
                                                        placeholder="Enter integer value"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> site_heading -->


                                    <dl class="block_2columns_md m-3"> <!-- tasks_per_page -->
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="tasks_per_page">Tasks per page:</label>
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                    name="tasks_per_page"
                                                    :rules="{ required : true, max:4, integer:true }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="settingsRows.tasks_per_page"
                                                        name="tasks_per_page"
                                                        id="tasks_per_page"
                                                        class="form-control admin_control_input text-right"
                                                        placeholder="Enter integer value"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> tasks_per_page -->


                                    <dl class="block_2columns_md m-3"> <!-- events_per_page -->
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="events_per_page">Events per page:</label>
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                    name="events_per_page"
                                                    :rules="{ required : true, max:4, integer:true }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="settingsRows.events_per_page"
                                                        name="events_per_page"
                                                        id="events_per_page"
                                                        class="form-control admin_control_input text-right"
                                                        placeholder="Enter integer value"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> events_per_page -->


                                    <dl class="block_2columns_md m-3"> <!-- backend_items_per_page -->
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="backend_items_per_page">Backend items per page:</label>
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                    name="backend_items_per_page"
                                                    :rules="{ required : true, max:4, integer:true }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="settingsRows.backend_items_per_page"
                                                        name="backend_items_per_page"
                                                        id="backend_items_per_page"
                                                        class="form-control admin_control_input text-right"
                                                        placeholder="Enter integer value"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> backend_items_per_page -->

                                    <dl class="block_2columns_md m-3"> <!-- task_softly_deleted_period_hours -->
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="task_softly_deleted_period_hours">Task softly deleted period hours:</label>
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                    name="task_softly_deleted_period_hours"
                                                    :rules="{ required : true, max:4, integer:true }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="settingsRows.task_softly_deleted_period_hours"
                                                        name="task_softly_deleted_period_hours"
                                                        id="task_softly_deleted_period_hours"
                                                        class="form-control admin_control_input text-right"
                                                        placeholder="Enter integer value"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> task_softly_deleted_period_hours -->

                                </div> <!-- <div class="card-body card-block"> -->
                                <section class="card-footer admin_footer row_content_right_aligned">
                                    <editor-buttons
                                            :is_admin="true"
                                            submit_label="Update"
                                            :cancel_label="'Cancel'"
                                            :cancel_link="'adminDashboard'"
                                            :is_page_updating="is_page_updating"
                                            parent_component_key="settings"
                                    ></editor-buttons>

                                </section>

                            </div> <!-- <div class="card"> -->

                        </form>

                    </ValidationObserver>
                </v-tab> <!-- <v-tab title="Application"> -->


                <v-tab title="User Account">

                    <ValidationObserver
                            ref="settingsAccountEditorObserverForm"
                            v-slot="{handleSubmit}"
                    >
                        <form class="admin_page_container settings_editor_form" @submit.prevent="handleSubmit(onSubmit)">

                            <div class="card">
                                <div class="card-body card-block">


                                    <dl class="block_2columns_md m-3"> <!-- status_on_registration -->
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="status_on_registration">Status on registration:</label>
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                    name="status_on_registration"
                                                    :rules="{ required : true }"
                                                    v-slot="{ errors }"
                                            >
                                                <v-select
                                                        v-model="selection_status_on_registration"
                                                        label="label"
                                                        :options="userStatusOnRegistrationLabels"
                                                        id="status_on_registration"
                                                        name="status_on_registration"
                                                        class="form-control admin_control_input editable_field"
                                                        placeholder="Select option"
                                                ></v-select>

                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> status_on_registration -->


                                    <dl class="block_2columns_md m-3"> <!-- account_activation_expire_hours -->
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="account_activation_expire_hours">Account activation expire hours:</label>
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                    name="account_activation_expire_hours"
                                                    :rules="{ required : true, max:4, integer:true }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="settingsRows.account_activation_expire_hours"
                                                        name="account_activation_expire_hours"
                                                        id="account_activation_expire_hours"
                                                        class="form-control admin_control_input text-right"
                                                        placeholder="Enter integer value"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> account_activation_expire_hours -->


                                    <dl class="block_2columns_md m-3"> <!-- password_reset_expire_hours -->
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="password_reset_expire_hours">Password reset expire hours:</label>
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                    name="password_reset_expire_hours"
                                                    :rules="{ required : true, max:4, integer:true }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="settingsRows.password_reset_expire_hours"
                                                        name="password_reset_expire_hours"
                                                        id="password_reset_expire_hours"
                                                        class="form-control admin_control_input text-right"
                                                        placeholder="Enter integer value"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> password_reset_expire_hours -->


<!--                                    <dl class="block_2columns_md m-3"> &lt;!&ndash; max_polling_notification_random &ndash;&gt;
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="max_polling_notification_random">
                                                Maximim polling notification random:
                                                <p><small>(Set 0 not to show at all)</small></p>
                                            </label>
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                    name="max_polling_notification_random"
                                                    :rules="{ required : true, max:4, integer:true }"
                                                    v-slot="{ errors }"
                                            >
                                                <input
                                                        type='text'
                                                        v-model="settingsRows.max_polling_notification_random"
                                                        name="max_polling_notification_random"
                                                        id="max_polling_notification_random"
                                                        class="form-control admin_control_input text-right"
                                                        placeholder="Enter integer value"
                                                        autocomplete=off
                                                >
                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> &lt;!&ndash; <dl class="block_2columns_md m-0"> max_polling_notification_random &ndash;&gt;
    -->



                                    <dl class="block_2columns_md m-3"> <!-- show_polling_notifications -->
                                        <dt class="horiz_devider_label_half">
                                            <label class="col-form-label" for="show_polling_notifications">Show polling notifications:</label>
<!--                                            selection_show_polling_notifications::{{ selection_show_polling_notifications}}<br>-->
<!--                                            showPollingNotificationsLabels::{{ showPollingNotificationsLabels}}-->
                                        </dt>
                                        <dd class="horiz_devider_value_half">
                                            <ValidationProvider
                                                name="show_polling_notifications"
                                                :rules="{ required : true }"
                                                v-slot="{ errors }"
                                            >
                                                <v-select
                                                    v-model="selection_show_polling_notifications"
                                                    label="label"
                                                    :options="showPollingNotificationsLabels"
                                                    id="show_polling_notifications"
                                                    name="show_polling_notifications"
                                                    class="form-control admin_control_input editable_field"
                                                    placeholder="Select option"
                                                ></v-select>

                                                <p class="validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                            </ValidationProvider>
                                        </dd>
                                    </dl> <!-- <dl class="block_2columns_md m-0"> show_polling_notifications -->


                                </div> <!-- <div class="card-body card-block"> -->

                                <section class="card-footer admin_footer row_content_right_aligned">
                                    <editor-buttons
                                            :is_admin="true"
                                            submit_label="Update"
                                            :cancel_label="'Cancel'"
                                            :cancel_link="'adminDashboard'"
                                            :is_page_updating="is_page_updating"
                                            parent_component_key="settings"
                                    ></editor-buttons>
                                </section>

                            </div> <!-- <div class="card"> -->

                        </form>

                    </ValidationObserver>
                </v-tab> <!-- <v-tab title="Account"> -->


                <v-tab title="Debugging">

                    <fieldset class="bordered text-muted p-2 m-3">
                        <legend class="bordered"><span class="legend_title">
                            <i :class="getHeaderIcon('task')"></i>View laravel.log</span>
                        </legend>
                        <div class="col-12">
                            <button type="button" class="btn btn-primary m-4" @click="viewLaravelLog()" id="btn_view_laravel_log">
                                <i :class="'i_link '+getHeaderIcon('upload')"></i>Load
                            </button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary m-4" @click="deleteLaravelLog()" id="btn_delete_laravel_log">
                                <i :class="'i_link '+getHeaderIcon('remove')"></i>Delete
                            </button>&nbsp;&nbsp;
                        </div>

                        <div id="div_view_laravel_log" class="pre-formatted" style="overflow-x: hidden; overflow-y: auto; margin: 2px;
                        max-height: 450px; text-align: left;">
                            <pre>{{ view_laravel_log_content }}</pre>
                        </div>

                    </fieldset>

                    <fieldset class="bordered text-muted p-2 m-3">
                        <legend class="bordered"><span class="legend_title">
                            <i :class="getHeaderIcon('task')"></i>View sql-tracing-.txt</span>
                        </legend>
                        <div class="col-12">
                            <button type="button" class="btn btn-primary m-4" @click="viewSqlTracingLog()" id="btn_view_sql_tracing_log">
                                <i :class="'i_link '+getHeaderIcon('upload')"></i>Load
                            </button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary m-4" @click="deleteSqlTracingLog()" id="btn_delete_sql_tracing_log">
                                <i :class="'i_link '+getHeaderIcon('remove')"></i>Delete
                            </button>&nbsp;&nbsp;
                        </div>
                        <div id="div_view_sql_tracing_log" class="pre-formatted" style="overflow-x: hidden; overflow-y: auto; margin: 2px;
                        max-height: 450px; text-align: left;">
                            <pre>{{ view_sql_tracing_log_content }}</pre>
                        </div>

                    </fieldset>

                </v-tab> <!-- <v-tab title="Debugging"> -->


            </vue-tabs>

        </div> <!-- page_content -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import Vue from 'vue'
    import {settingCredentialsConfig, settingsJsMomentDatetimeFormat, settingsUserStatusOnRegistrationLabels, settingShowPollingNotificationsLabels} from
            '@/app.settings.js'

    Vue.component('editor-header', require('../../../../src/components/EditorHeader.vue').default)
    Vue.component('editor-buttons', require('../../../../src/components/EditorButtons.vue').default)

    import wysiwyg from "vue-wysiwyg"
    import 'vue-wysiwyg/dist/vueWysiwyg.css'       //
    Vue.use(wysiwyg, {
        maxHeight: "300px",
    })

    import Tabs from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(Tabs)
    import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(VueTabs)
    Vue.use(VTab)
    import 'vue-nav-tabs/themes/vue-tabs.css'

    import {ValidationObserver, ValidationProvider, extend} from 'vee-validate'
    import * as rules from 'vee-validate/dist/rules'

    Object.keys(rules).forEach(rule => {
        extend(rule, rules[rule])
    })
    import {localize} from 'vee-validate'

    localize({
        en: {
            messages: {
                required: (field) => field + ' is required',
                min: 'Must have no less than {length} characters',
                max: 'Must have no more than {length} characters',
                email: 'Invalid email format',
                integer: 'Invalid integer format',
                confirmed: 'Password and password confirmation must be equal',
            }
        }
    })

    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)
    import "vue-select/src/scss/vue-select.scss"

    // import {retrieveAppDictionaries} from "@/commonFuncs"

    export default {
        name: 'settingsEditorPage',

        mixins: [appMixin],

        components: {
            VueTabs,
            VTab,
            ValidationObserver,
            ValidationProvider,
        },

        data() {
            return {
                settingsRows: {
                },
                selection_status_on_registration:null,
                selection_show_polling_notifications:null,
                userStatusOnRegistrationLabels : settingsUserStatusOnRegistrationLabels,
                showPollingNotificationsLabels : settingShowPollingNotificationsLabels,
                view_laravel_log_content: null,
                view_sql_tracing_log_content: null,
                selection_parent_id: null,
                // active_tab: 'User Account',
                active_tab: '',

                is_page_loaded: false,
                is_page_updating: false,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                demo_version: process.env.VUE_APP_DEMO_VERSION,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data () {

        created() {
        },  //  created() {

        mounted() {
            if (!this.loggedUserIsAdmin) {
                this.showPopupMessage('Admin Area', 'You have no access to Admin Area !', 'warn')
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
            this.setAppTitle('Settings', 'Settings editor', bus)
            this.loadSettings()

            bus.$on('editorHeaderRightButtonClickedEvent', (/*data*/) => {
                this.loadSettings()
            })

        }
        , // mounted() {

        beforeDestroy() { // just before a component is destroyed.
            bus.$off('appDictionariesRetrieved') // stop listening.
            bus.$off('listingHeaderRightButtonClickedEvent') // stop listening.
        }
        ,

        methods: {
            loadSettings() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/settings', credentials)
                    .then(({data}) => {
                        this.settingsRows = data.settings
                        //                             settings.status_on_registration = this.selection_status_on_registration.code
                        this.userStatusOnRegistrationLabels.map((nextUserStatusOnRegistrationLabels/*, index*/) => {
                            if (nextUserStatusOnRegistrationLabels.code === this.settingsRows.status_on_registration) {
                                this.selection_status_on_registration = {code: this.settingsRows.status_on_registration, label: nextUserStatusOnRegistrationLabels.label}
                            }
                        })

                        this.showPollingNotificationsLabels.map((nextShowPollingNotificationLabel/*, index*/) => {
                            if (nextShowPollingNotificationLabel.code === this.settingsRows.show_polling_notifications) {
                                this.selection_show_polling_notifications = {code: this.settingsRows.show_polling_notifications, label: nextShowPollingNotificationLabel.label}
                            }
                        })

                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        this.showPopupMessage('Settings Editor', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            }, // loadSettings() {

            onSubmit() {
                // console.log('onSubmit::')

                this.$refs.settingsApplicationEditorObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('Settings Editor', 'Validations Failed !', 'warn')
                        return
                    }

                    let settings = []
                    if ( this.active_tab == 'Application' ) {
                        settings = {
                            backend_items_per_page: this.settingsRows.backend_items_per_page,
                            tasks_per_page: this.settingsRows.tasks_per_page,
                            events_per_page: this.settingsRows.events_per_page,
                            site_name: this.settingsRows.site_name,
                            copyright_text: this.settingsRows.copyright_text,
                            site_heading: this.settingsRows.site_heading,
                            site_description: this.settingsRows.site_description,
                            task_softly_deleted_period_hours: this.settingsRows.task_softly_deleted_period_hours,
                        }
                    } // if ( this.active_tab == 'Application' ) {


                    if ( this.active_tab == 'User Account' ) {
                        let status_on_registration= 'N'
                        if (this.selection_status_on_registration != null) {
                            status_on_registration = this.selection_status_on_registration.code
                        }
                        let show_polling_notifications= 'N'
                        if (this.selection_show_polling_notifications != null) {
                            show_polling_notifications = this.selection_show_polling_notifications.code
                        }
                        settings = {
                            status_on_registration: status_on_registration,
                            show_polling_notifications: show_polling_notifications,
                            account_activation_expire_hours: this.settingsRows.account_activation_expire_hours,
                            password_reset_expire_hours: this.settingsRows.password_reset_expire_hours,
                            // max_polling_notification_random: this.settingsRows.max_polling_notification_random,
                        }
                    } // if ( this.active_tab == 'User Account' ) {

                    let credentials= this.getClone(this.credentialsConfig)
                    credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                    this.is_page_updating = true
                    console.log('settings::')
                    console.log(settings)


                    axios.put(this.apiUrl + '/adminarea/settings', settings, credentials).then(({data}) => {
                        this.is_page_updating = false
                        this.settingsRows = data.settings
                        this.showPopupMessage('Settings Editor', 'Settings updated successfully !', 'success')
                    }).catch((error) => {
                        this.$refs.settingsApplicationEditorObserverForm.setErrors(error.response.data.errors)
                        this.is_page_updating = false
                        this.showPopupMessage('Settings Editor', 'Error updating settings !', 'warn')
                    })


                })
            },  // onApplicationSubmit


            viewLaravelLog() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/settings/view-laravel-log', credentials)
                    .then(({data}) => {
                        this.view_laravel_log_content = data.laravel_log_content
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        this.showPopupMessage('Laravel log', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            },

            deleteLaravelLog() {
                // console.log('deleteLaravelLog::')
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/settings/delete-laravel-log', credentials)
                    .then(() => {
                        this.view_laravel_log_content = null
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        this.showPopupMessage('Laravel log', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            },


            viewSqlTracingLog() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/settings/view-sql-tracing-log', credentials)
                    .then(({data}) => {
                        this.view_sql_tracing_log_content = data.sql_tracing_log_content
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        this.showPopupMessage('Laravel log', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            },
            deleteSqlTracingLog() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios.get(this.apiUrl + '/adminarea/settings/delete-sql-tracing-log', credentials)
                    .then(() => {
                        this.view_sql_tracing_log_content = null
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        this.showPopupMessage('Laravel log', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            },


        }
        , // methods: {

        computed: {
            created_at_label: function () {
                return this.momentDatetime(this.settingsRows.created_at, this.jsMomentDatetimeFormat)
            }
            ,

            updated_at_label: function () {
                return this.momentDatetime(this.settingsRows.updated_at, this.jsMomentDatetimeFormat)
            }
            ,

            status_label: function () {
                return this.getDictionaryLabel(this.settingsRows.status, this.settingsStatusLabels)
            }
            ,

            currentLoggedUserToken() {
                return this.$store.getters.token
            }
            ,

            loggedUserIsAdmin: function () {
                return this.$store.getters.is_admin
            }
            ,

        }

    }
</script>
