<template>
    <section :class="'card-footer row_content_right_aligned '+(is_admin ? ' admin_page_container' : '') + ' submit_form_'+ parent_component_key"
             style="border: 0 dotted red !important;">
        <div class="col-xs-6" v-if="cancel_label">
            <router-link :to="{ name: cancel_link  }" :class="'btn btn-danger btn-sm m-3 cancel_button_' + parent_component_key">
                <i :class="'i_link '+getHeaderIcon('cancel')"></i>{{ cancel_label }}
            </router-link>
        </div>

        <div class="col-xs-6">
            <button type="submit" :class="'btn btn-success btn-sm m-3 ml-4 mr-4 submit_button_' + parent_component_key" :disabled="is_page_updating">
                <i :class="'i_link '+getHeaderIcon('save')"></i>{{submit_label}}
            </button>
        </div>

    </section>
</template>

<script>
    import appMixin from '@/appMixin'

    export default {
        props: {
            submit_label: {
                type: String,
                required: true,
            },

            cancel_label: {
                type: String,
                required: true,
                default: ""
            },
            cancel_link: {
                type: String,
                required: false,
                default: "#/"
            },
            show_icons: {
                type: Boolean,
                required: false,
                default: true
            },
            is_page_updating: {
                type: Boolean,
                required: false,
                default: false
            },
            is_admin: {
                type: Boolean,
                required: false,
                default: false
            },
            parent_component_key: {
                type: String,
                required: false,
                default: ''
            },

        },

        mixins: [appMixin]


    }
</script>
