<template>

    <section :class="'column_content_centered listing_header_' + parent_component_key" class="m-2 p-2" stylUUe="border: 3px dotted red !important;">

        <div class="row_content">

            <div v-if="show_loading_image" class="loading"></div>
            <div class="row_content">
                <h3 class="flex-nowrap row_content_left_aligned" style="display: flex; flex: 1" >
                    <i :class="header_icon+' m-1 p-0 '" :title="header_title" v-if="header_icon"></i>&nbsp;
                    <span v-if="item_title" v-html="( !isEmpty(rows_count) ? rows_count +' ' : '' ) + item_title"></span>
                </h3>

                <div v-if="!show_loading_image && (right_add_button_link_title || right_icon) " class="row_content_right_aligned" style="display: flex;
                flex: 0 1 100px;">
                    <router-link :to="{ name: right_add_button_link, params: { id: 'new' } }" :class="'btn btn-success listing_add_button_' +
					parent_component_key" v-show="right_add_button_link">
                        {{ right_add_button_link_title }}
                    </router-link>
                    <div v-if="right_icon != ''">
                        <i :class="'ml-4 mb-2 mr-2 p-1 ' + right_icon_class" :title="right_icon_class_title"
                           @click="triggerListingHeaderRightButtonClickedEvent"></i>
                    </div>

                </div>

            </div>

            <div v-if="right_add_button_link_2">&nbsp;&nbsp;
                <router-link :to="{ name: right_add_button_link_2, params: { id: 'new' } }" class="btn btn-success">
                    {{ right_add_button_link_2_title }}
                </router-link>
            </div>

        </div>

        <div v-if="message" class="text-danger m-2">
            <center><strong>{{ message }}</strong></center>
        </div>

        <div v-if="( !show_loading_image && !itemsList.length && no_data_found_label && show_no_data_found_label ) && !message" class="no_data_found">
            {{ Capitalize(no_data_found_label) }}
        </div>

    </section>

</template>

<script>

    import {bus} from '../main'
    import appMixin from '@/appMixin'

    export default {
        mixins: [appMixin],

        data: function () {
            return {
                l_site_name: '-==',
                l_site_heading: '++--',
                l_site_description: '---',
                l_is_admin_page: false,
            }
        }, // data: function () {

        props: {
            message: {
                type: String,
                required: false,
                default: ''
            },
            header_title: {
                type: String,
                required: false,
                default: ''
            },
            header_icon: {
                type: String,
                required: false,
                default: ''
            },
            item_title: {
                type: String,
                required: false,
                default: ''
            },
            no_data_found_label: {
                type: String,
                required: false,
                default: 'no data found. Try change filter options.'
            },
            show_no_data_found_label: {
                type: Boolean,
                required: false,
                default: true
            },
            show_loading_image: {
                type: Boolean,
                required: true,
                default: true
            },
            itemsList: {
                type: Array,
                required: false,
                default: () => [],
            },
            rows_count: {
                type: Number,
                required: false,
                default: 0
            },
            current_page: {
                type: Number,
                required: false,
                default: 0
            },


            right_icon: {
                type: String,
                required: false,
                default: ''
            },
            right_add_button_link: {
                type: String,
                required: false,
            },
            right_add_button_link_title: {
                type: String,
                required: false,
                default: 'Add'
            },

            right_add_button_link_2: {
                type: String,
                required: false,
                default: ''
            },
            right_add_button_link_2_title: {
                type: String,
                required: false,
                // default: 'Add 2'
            },
            parent_component_key: {
                type: String,
                required: false,
                default: ''
            },
            right_icon_class_title: {
                type: String,
                required: false,
                default: 'Refresh'
            },

        }, // props: {

        methods: {

            triggerListingHeaderRightButtonClickedEvent() {
                bus.$emit('listingHeaderRightButtonClickedEvent', this.parent_component_key)
            }

        }, //methods: {


        mounted() {

            // let self = this
            // let self = this
            /*             bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'task_details') {
                    this.taskCategoriesLabels = data.taskCategoriesLabels
                    this.usersLabels = data.usersLabels
                }
            })
 */
/*
            bus.$on('onPageChanged', (pageData) => {
                console.log('onPageChanged pageData::')
                console.log(pageData)
                console.log(typeof pageData)

                console.log('pageData.site_name::')
                console.log(typeof pageData.site_name)

                // if (this.isEmpty(pageData.site_heading)) {
                this.l_site_heading = pageData.site_heading
                console.log('!!!!!!!this.l_site_heading::')
                console.log(this.l_site_heading)

                // }
                // debugger // eslint-disable-line
                // if (!this.isEmpty(pageData.site_name)) {
                this.l_site_name = pageData.site_name
                console.log('!!! this.l_site_name::')
                console.log(this.l_site_name)

                // alert( 'this.l_site_name::'+this.site_name )
                // }

                // if (!this.isEmpty(pageData.site_description)) {
                this.l_site_description = pageData.site_description
                // }

                // if (!this.isEmpty(pageData.copyright_text)) {
                this.l_copyright_text = pageData.copyright_text
                // }
            })
*/
        }, // mounted() {

/*
        beforeDestroy() {
            bus.$off('onPageChanged')
        },
*/

        computed: {

            right_icon_class() {
                return this.right_icon + ' a_link p-1'
            },

        }, // computed: {


    }
</script>
