<template>
    <section class="m-0 p-2  pagination row_content">

        <ul class="floating_items">

            <li class="floating_items" v-show="hasPrev() && show_next_prior_buttons">
                <a href="#" @click.prevent="changePage(prevPage)" class="a_link">Prior</a>
            </li>

            <li class="floating_items" v-show="hasFirst()">
                <a href="#" @click.prevent="changePage(1)" class="link_cell a_link">1</a>
            </li>

            <li class="floating_items" v-show="hasFirst()">
                ...
            </li>

            <li class="floating_items" v-for="page in pages" :key="page">
                <a href="#" @click.prevent="changePage(page)" :class="{ current: current === page }" class="link_cell a_link">
                    {{ page }}
                </a>
            </li>

            <li class="floating_items" v-show="hasLast()">
                ...
            </li>

            <li class="floating_items" v-show="hasLast()">
                <a href="#" @click.prevent="changePage(totalPages)" class="link_cell a_link">
                    {{ totalPages }}
                </a>
            </li>

            <li class="floating_items" v-show="total > 0 && pages.length > 0">
                <span v-show="show_page_number_label && pages.length">Page&nbsp;{{ current }}&nbsp;of&nbsp;{{ pages.length}}.</span>
                <span v-show="show_rows_label" class="pl-1">&nbsp;{{ total }} {{ item_title }} found</span>
            </li>

        </ul>

    </section>

</template>

<script>
    export default {

        props: {
            current: {
                type: Number,
                required: true,
                default: 1
            },
            total: {
                required: true,
                default: 0
            },
            items_per_page: {
                required: true
            },
            pages_range: {
                type: Number,
                required: false,
                default: 6
            },
            show_next_prior_buttons: {
                type: Boolean,
                required: true,
                default: true
            },

            show_page_number_label: {
                type: Boolean,
                required: false,
                default: false
            },

            show_rows_label: {
                type: Boolean,
                required: false,
                default: false
            },
            item_title: {
                type: String,
                required: false,
                default: 'item'
            }
        },

        computed: {
            pages: function () {
                var pages = []
                if (this.rangeStart === 1 && this.rangeEnd === 1) return pages
                for (var i = this.rangeStart; i <= this.rangeEnd; i++) {
                    pages.push(i)
                }

                return pages
            },
            rangeStart: function () {
                var start = this.current - this.pages_range
                return (start > 0) ? start : 1
            },
            rangeEnd: function () {
                var end = this.current + this.pages_range
                return (end < this.totalPages) ? end : this.totalPages
            },
            totalPages: function () {
                return Math.ceil(this.total / this.items_per_page)
            },
            nextPage: function () {
                return this.current + 1
            },
            prevPage: function () {
                return this.current - 1
            }
        },

        methods: {
            hasFirst: function () {
                return this.rangeStart !== 1
            },
            hasLast: function () {
                return this.rangeEnd < this.totalPages
            },
            hasPrev: function () {
                return this.current > 1
            },
            hasNext: function () {
                return this.current < this.totalPages
            },
            changePage: function (page) {
                this.$emit('paginationPageChangedEvent', page)
            }
        }

    }
</script>

<style lang="scss" scoped>
    @import '../variables.scss';

    .pagination {
        width: 100%;
        display: flex;
        justify-content: center !important;
        margin: 30px auto 30px;
        padding: 0 10px;
        max-width: 1280px;
    }

    .pagination__left, .pagination__right {
        width: 20%;
    }

    .pagination__left {
        float: left;
    }

    .pagination__right {
        float: right;
    }

    .pagination__right a {
        float: right;
    }

    .pagination a, .pagination span {
        display: block;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 300;
        line-height: 34px;
        height: 36px;
        color: $text-color;
        font-size: $font_size;
    }

    .pagination a {
        padding: 0 10px;
        max-width: 160px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid #ccc;
        text-decoration: none;
        margin: 0 6px;
        transition: all .2s ease-in-out;
    }

    .pagination a.current {
        border-color: $text-color;
        font-weight: bold;
    }

    @media (hover) {
        .pagination a:hover {
            border-color: #939393;
            color: #939393;
        }
    }

    .pagination__mid {
        display: flex;
        justify-content: center;
        width: 60%;
    }

    .pagination__mid ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .pagination__mid li {
        display: inline-block;
    }

    .link_cell_wrapper {
        display: flex;
        flex: 0 0 50px;
        flex-wrap: wrap;
        padding: 6px;
    }

    .link_cell {
        display: flex;
        width: 100% !important;
    }
</style>
