<template>
    <article class="column_content_centered">

<!--        site_name::{{ site_name}}<br>-->
<!--        site_heading::{{ site_heading}}<br>-->
<!--        site_description::{{ site_description}}<br>-->
<!--        events::{{ events}}-->
        <listing-header :show_loading_image=!is_page_loaded :current_page=current_page :itemsList="events"
                        :rows_count="events_total_count"
                        :header_icon="getHeaderIcon('events')"
                        :header_title="'Events'" :right_add_button_link="''" :item_title="events.length| pluralize(['event', 'events'])"
                        :right_add_button_link_title="''"
                        parent_component_key="event">
        </listing-header>

        <div class="p-0 m-0" v-show="events.length && is_page_loaded">
            <div v-for="(nextEvent, index) in events" :key="nextEvent.id" class="col-sm-12 p-1 m-0">
                <event-timeline-item
                        :currentLoggedUser="currentLoggedUser"
                        :nextEvent="nextEvent"
                        :index="index"
                        :is_show_location="true"
                ></event-timeline-item>
            </div>
        </div>

        <section class="event_pagination_container" v-show="events.length && is_page_loaded">
            <listing-pagination
                    :current="current_page"
                    :total="events_total_count"
                    :items_per_page="events_per_page"
                    :show_next_prior_buttons=false
                    @paginationPageChangedEvent="paginationPageClicked"
                    :show_page_number_label="true"
                    :show_rows_label="true"
                    :item_title="events.length| pluralize(['event', 'events'])"
            >
            </listing-pagination>
        </section>

        <fieldset class="blocks" v-if="demo_version">
            <legend class="blocks"><i :class="getHeaderIcon('demo-info')"></i>Demo info&nbsp;</legend>

            <div class="m-1 p-1 pre-formatted description-text" style="overflow-y: auto; max-height: 200px;">
                <ol class="m-1 p-1">
                    <li>Listing of events with related tasks</li>
                    <li>Logged admin can add / remove users in the app to any event by clicking on icon in left bottom corner of any event</li>
                </ol>
            </div>

        </fieldset>


    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../src/main'
    import appMixin from '@/appMixin'
    import axios from 'axios'
    import {settingCredentialsConfig, settingsJsMomentDatetimeFormat} from '@/app.settings.js'

    import {retrieveAppDictionaries} from "@/commonFuncs"

    import Vue from 'vue'
    import VueRouter from 'vue-router'
    Vue.use(VueRouter)

    import VueHead from 'vue-head' // https://github.com/ktquez/vue-head
    Vue.use(VueHead)

    Vue.component('listing-header', require('../../../src/components/ListingHeader.vue').default)
    Vue.component('listing-pagination', require('../../../src/components/ListingPagination.vue').default)
    Vue.component('event-timeline-item', require('@/views/events/event-timeline-item.vue').default)

    export default {
        name: 'eventsTimelinePage',
        mixins: [appMixin],

        components: {},

        data() {
            return {
                events: [],
                current_page: 1,
                events_total_count: 0,
                is_page_loaded: false,
                events_per_page: 20,
                site_name:'!!',
                site_heading:'??',
                site_description:'TTT',

                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                credentialsConfig: settingCredentialsConfig,
                apiUrl: process.env.VUE_APP_API_URL,
                demo_version: process.env.VUE_APP_DEMO_VERSION

            }
        }, // data () {


        head: {
            title: function () {
                 // console.log('-1 this.site_name::')
                 // console.log(this.site_name)
                return {
                    inner: 'Events of ' + this.site_name, id: 'app_head',
                    complement: '',
                    separator: '',
                }
            },
            meta: function () {
                // console.log('-2 this.site_name::')
                // console.log(this.site_name)
                return [
                    {
                        name: 'description',
                        content: 'Events of '+ this.site_name+' : '+ this.site_description,
                        id: 'description'
                    }
                ] //
            },
            link: [
                { rel: 'canonical', href: '/', id: 'canonical' },
            ],
        },  // head: {



        created() {
        }, //  created() {

        mounted() {
            this.setAppTitle('Events', 'Events', bus)

            retrieveAppDictionaries('eventsTimelinePage', ['events_per_page', 'site_name', 'site_heading', 'site_description'])
            bus.$on('appDictionariesRetrieved', (data) => {
                if (data.request_key === 'eventsTimelinePage') {
                    this.events_per_page = data.events_per_page
                    this.site_name = data.site_name
                    this.site_heading = data.site_heading
                    this.site_description = data.site_description
                    this.$emit('updateHead')
                }
            })
            this.loadEventsTimeline()
        }, // mounted() {


        methods: {
            loadEventsTimeline() {
                this.is_page_loaded = false
                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                axios({url: this.apiUrl + '/events/' + this.current_page, data: {}, method: 'get', config: credentials})
                    .then(response => {
                        this.events = response.data.events
                        this.events_total_count = response.data.events_total_count
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        this.showPopupMessage('Events Timeline', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                        this.$router.push({path: '/'})
                    })

            }, // loadEventsTimeline() {

            paginationPageClicked(par1) {
                this.current_page = par1
                this.loadEventsTimeline()
            },


        }, // methods: {

        computed: {
            getHeaderTitle: function () {
                return "Events timeline"
            },

            currentLoggedUser() {
                return this.$store.getters.user
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },


        }

    }
</script>
