<template>
    <article class="event_item_container">

        <h4 class="event_title">
            {{ nextEvent.name }}
        </h4>

        <ul class="column_content_left_aligned">
            <li class="p-3 m-0" v-if="nextEvent.task_name">
                <i :class="'i_link '+getHeaderIcon('task')" title="Event related task"></i>
                <router-link :to="{ name: 'taskDetails', params: { slug: nextEvent.task_slug }  }" class="p-3 a_link" target="_blank">
                    <strong>{{ nextEvent.task_name }}</strong>
                </router-link>
            </li>

            <li class="p-3 m-0" v-if="nextEvent.is_past">
                <i :class="'i_link '+getHeaderIcon('past_date')" :title="'Event is past'"></i>
                Was at <strong>{{ momentDatetime(nextEvent.at_time, jsMomentDatetimeFormat) }}</strong>
                ({{ timeInAgoFormat(nextEvent.at_time) }})
            </li>


            <li class="p-3 m-0" v-if="!nextEvent.is_past">
                Will start at <strong>{{ momentDatetime(nextEvent.at_time, jsMomentDatetimeFormat) }}</strong>
                ({{ timeInAgoFormat(nextEvent.at_time) }})
            </li>

            <li class="p-1 m-0 row_content_left_aligned">
                <ul class="ul_horiz_lis">
                    <li class="ul_horiz_lis_left_aligned">
                        Duration <strong>{{ nextEvent.duration }}</strong> min
                    </li>
                    <li class="ul_horiz_lis_right_aligned">
                        <strong>{{ getDictionaryLabel( nextEvent.access, eventAccessLabels ) }}</strong>&nbsp;&nbsp;access
                    </li>
                </ul>
            </li>

        </ul>

        <p class="pre-formatted description-text p-3" v-html="nextEvent.description">
        </p>

        <fieldset class="blocks" v-if="nextEvent.eventUsers.length">
            <legend class="blocks">Invited users</legend>
            <ul class="space_between_wraping_cell">
                <li class="p-3 m-0" v-for="nextEventUser in nextEvent.eventUsers" :key="nextEventUser.id">
                    <router-link :to="{ name: 'publicProfile', params: { id: nextEventUser.user_id }  }" class="a_link" target="_blank">
                        {{ nextEventUser.user_name }}
                    </router-link>
                </li>

                <li v-if="loggedUserIsManager" class="row_content_right_aligned">
                    <i v-if="loggedUserIsManager" :class="'i_link p-1 manager_access_rights '+getHeaderIcon('manager')"
                       title="As manager you have access to modify members of this event"></i>
                    <i :class="'i_link pb-1 '+getHeaderIcon('users')" title="As admin/manager you can view/assign/delete members of this event"
                       @click.prevent="showMembersOfThisEvent()"></i>
                </li>

            </ul>

        </fieldset>


        <fieldset class="blocks" v-if="nextEvent.tagEvents.length">
            <legend class="blocks">Tagged</legend>

            <div class="space_between_wraping_cell">
                <ul class="badge_item_row p-2">
                    <li v-for="nextTagEvent in nextEvent.tagEvents" :key="nextTagEvent.id" class="badge_item_row_cell ">
                        <button type="button" class="btn text-nowrap">
							<span class="badge badge-info p-1" title="Event tagged ">
								<i :class="'badge-success '+getHeaderIcon('tag')" title="Event tagged ">
								</i>
								{{ nextTagEvent.tag.name }}
							</span>
                        </button>
                    </li>
                </ul>

                <!--
                             <div class="column_content_left_aligned">

                <ul class="p-3 m-0 ul_horiz_lis">
                    <li class="ul_horiz_lis_left_aligned">
                        <i :class="'pt-1 '+getHeaderIcon('published')" title="Published at"></i>{{ momentDatetime( taskRow.created_at,
                        jsMomentDatetimeFormat ) }}
                    </li>

                    <li v-if="loggedUserIsManager " class="ul_horiz_lis_right_aligned">
                        <i v-if="loggedUserIsManager" :class="'p-1 manager_access_rights '+getHeaderIcon('manager')"
                           title="As manager you have access to modify members of this task"></i>
                        <i :class="'pb-1 '+getHeaderIcon('users')" title="As admin/manager you can view/assign/delete members of this task"
                           @click.prevent="showMembersOfThisTask()"></i>
                        <strong>Has {{ task_assigned_to_users_count }} members</strong>
                    </li>
                </ul>

                <ul class="badge_item_row p-2" v-if="taskRow.taskRequireSkills.length > 0">
                    <li v-for="nextTaskRequireSkill in taskRow.taskRequireSkills" :key="nextTaskRequireSkill.id" class="badge_item_row_cell ">
                        <button type="button" class="btn text-nowrap">
							<span class="badge badge-info p-1" title="Required skill for this project">
								<i :class="'badge-success '+getHeaderIcon('check')" title="You have this skill !"
                                   v-if="isLoggedUserHasSkill(nextTaskRequireSkill.id)">
								</i>
								{{ nextTaskRequireSkill.skill_name }}
							</span>
                        </button>
                    </li>
                </ul>

            </div>
                -->
            </div>

        </fieldset>


        <!-- TASK_EVENTS MODAL START-->
        <modal :height="modalTaskEventDetailsHeight" :width="modalWidth" :name="'modal-members-of-this-event_' + nextEvent.id" transition="pop-out">

            <section class="modal-content p-3 flexbox-parent">

                <p class="modal-header flexbox-item header p-2">
                    <i :class="'i_link pt-1 '+getHeaderIcon('member_of_task') "></i><span class="modal-title">Assigned users and operations</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click.prevent="cancelMembersOfThisEvent()">
                        <span aria-hidden="true">×</span>
                    </button>
                </p>

                <div class="modal-body flexbox-item fill-area content flexbox-item-grow">
                    <div class="fill-area-content flexbox-item-grow">

                        <div class="row_content_left_aligned p-3" style="overflow-y: auto; max-height: 800px; ">
                            <fieldset class="blocks">
                                <legend class="blocks">Event has {{ selected_users_count }} assigned {{ selected_users_count | pluralize(['user','users']) }}&nbsp;
                                    from {{ eventUsersForSelection.length}} {{ eventUsersForSelection.length | pluralize(['user','users']) }}&nbsp;
                                </legend>

                                <dl class="block_2columns_md p-2"> <!-- filter_name FIELD DEFINITION -->

                                    <dt class="horiz_divider_left_13">
                                        <label class="col-form-label" for="filter_name">
                                            Filter by name/email:
                                        </label>
                                    </dt>
                                    <dd class="horiz_divider_right_23">

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i :class="'i_link '+getHeaderIcon('filter')"></i>
                                            </div>
                                            <input type="text"
                                                   v-model="filter_name"
                                                   id="filter_name"
                                                   name="filter_name"
                                                   class="form-control editable_field"
                                                   placeholder="Enter filter text"
                                                   autocomplete=off
                                            >
                                        </div>

                                    </dd>

                                </dl> <!-- <dl class="block_2columns_md m-0"> filter_name FIELD DEFINITION  -->


                                <div class="table-responsive table-wrapper-for-data-listing ">

                                    <table class="table table-striped">

                                        <tbody>

                                        <tr v-for="nextEventUsersForSelection in filterBy( eventUsersForSelection,filter_name,'user_name', 'user_email' )"
                                            :key="nextEventUsersForSelection.user_id">
                                            <td class="text-center m-3 pl-5">
                                                <input
                                                        class="editable_field custom-control-input"
                                                        type="checkbox"
                                                        value="1"
                                                        style="width: 50px;padding-left: 60px;"
                                                        :id="'custom_selected_users_assigned_to_task_id_'+nextEventUsersForSelection.user_id"
                                                        v-model="nextEventUsersForSelection.selected"
                                                        :checked="nextEventUsersForSelection.selected"
                                                        v-on:change="changeEventUsersForSelectionItem(nextEventUsersForSelection)"
                                                >
                                                <label class="custom-control-label"
                                                       :for="'custom_selected_users_assigned_to_task_id_'+nextEventUsersForSelection.user_id">{{nextEventUsersForSelection.name}}</label>

                                            </td>

                                            <td class="text-left">
                                                <i :class="'i_link '+getHeaderIcon('check-square')" :title="'User is joined to the task'"
                                                   v-show="nextEventUsersForSelection.user_is_joined"></i>
                                                <router-link :to="{ name: 'publicProfile', params: { id: nextEventUsersForSelection.user_id }  }" class="a_link"
                                                             target="_blank">
                                                    {{ nextEventUsersForSelection.user_name }}/{{ nextEventUsersForSelection.user_id
                                                    }}/{{nextEventUsersForSelection.user_email }}
                                                </router-link>
                                            </td>

                                        </tr>

                                        </tbody>

                                    </table>
                                </div>

                                <section class="row_content_right_aligned p-3 " v-show="selection_event_user_for_selection_id > 0">
                                    <button type="button" class="btn btn-primary btn-sm pr-4" @click.prevent="addUserToEvent()"
                                            title="Add User to event" v-show="!selection_event_user_for_selection_user_is_joined">
                                        <i :class="'i_link '+getHeaderIcon('subscription')" title="Add User to event"></i>&nbsp; Add
                                    </button>

                                    <button type="button" class="btn btn-primary btn-sm" @click.prevent="removeUserFromEvent()"
                                            title="Remove User from event" v-show="selection_event_user_for_selection_user_is_joined">
                                        <i :class="'i_link '+getHeaderIcon('remove')" title="Remove User from event"></i>&nbsp; Remove
                                    </button>

                                </section>

                            </fieldset>

                        </div> <!-- <div class="row_content_left_aligned p-3" style="overflow-y: auto; max-height: 400px; "> -->

                    </div>
                </div> <!-- <div class="modal-body"> -->

                <section class="modal-footer form-row row_content_right_aligned">
                    <button type="button" class="btn btn-secondary btn-sm m-2" @click.prevent="cancelMembersOfThisEvent()">
                        <i :class="'i_link '+getHeaderIcon('cancel')"></i>Cancel
                    </button>
                </section>

            </section> <!-- <section class="modal-content"> -->

        </modal> <!-- modal-members-of-this-event  -->

        <!-- TASK_EVENTS MODAL END -->

    </article>
</template>

<script>
    import axios from 'axios'
    import Vue from 'vue'

    import appMixin from '@/appMixin'
    import {settingsEventAccessLabels, settingsJsMomentDatetimeFormat} from './../../app.settings.js'
    import {settingCredentialsConfig} from '@/app.settings.js'

    import Vue2Filters from 'vue2-filters'

    Vue.use(Vue2Filters)

    export default {
        name: 'eventsTimelineItem',

        mixins: [appMixin, Vue2Filters.mixin],
        data: function () {
            return {
                innerWidth,
                innerHeight,
                filter_name: '',
                credentialsConfig: settingCredentialsConfig,
                eventUsersForSelection: [],
                selected_users_count: 0,
                eventAccessLabels: settingsEventAccessLabels,
                jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
                selection_event_user_for_selection_id: null,
                selection_event_user_for_selection_user_is_joined: null,
                apiUrl: process.env.VUE_APP_API_URL
            }
        }, // data: function () {




        mounted() {
        },

        props: {

            currentLoggedUser: {
                required: true,
            },

            nextEvent: {
                required: true,
            },

            index: {
                required: true,
            },

        }, //props: {

        computed: {

            modalTaskEventDetailsHeight() {
                return this.innerHeight - 200
            },

            modalWidth() {
                return this.innerWidth - 100
            },

            loggedUserIsManager: function () {
                return this.$store.getters.is_manager
            },

            currentLoggedUserToken() {
                return this.$store.getters.token
            },

        }, //computed: {


        watch: {
            filter_name: function (/*newValue, oldValue*/) {
                this.selection_event_user_for_selection_id = null
                this.eventUsersForSelection.map((nextEventUsersForSelection, index) => {
                    this.eventUsersForSelection[index].selected = false
                })

            }
        },

        methods: {

            // MEMBERS OF THIS TASK MODAL START
            showMembersOfThisEvent() {
                this.filter_name = ''
                if (this.currentLoggedUser === null || typeof this.currentLoggedUser.id === 'undefined') {
                    this.showPopupMessage('Modification of members of the event', 'You need to login !', 'warn')
                    return
                }
                if (!this.loggedUserIsManager) {
                    this.showPopupMessage('Modification of members of the event', 'You have no access to this functionality !', 'warn')
                    return
                }

                let credentials= this.getClone(this.credentialsConfig)
                credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
                let self = this
                axios.get(this.apiUrl + '/manager/users_of_event_selection/' + this.nextEvent.id, credentials)
                    .then((response) => {
                        self.eventUsersForSelection = response.data.users
                        self.selected_users_count = response.data.selected_users_count
                        self.$modal.show('modal-members-of-this-event_' + self.nextEvent.id)
                    })
                    .catch(error => {
                        console.error(error)
                        self.showPopupMessage('Members of the event', error.response.data.message, 'warn')
                    })

            }, // showMembersOfThisEvent() {

            cancelMembersOfThisEvent() {
                this.$modal.hide('modal-members-of-this-event_' + this.nextEvent.id)
            }, // cancelMembersOfThisEvent() {


            changeEventUsersForSelectionItem(item) {
                this.selection_event_user_for_selection_user_is_joined = item.user_is_joined
                if (item.selected) {
                    this.selection_event_user_for_selection_id = item.user_id
                    this.eventUsersForSelection.map((nextEventUsersForSelection, index) => {
                        if (nextEventUsersForSelection.user_id != item.user_id) {
                            this.eventUsersForSelection[index].selected = false
                        }
                    })
                } else {
                    this.selection_event_user_for_selection_id = null
                }
            },

            addUserToEvent() {
                if (!confirm("Do you want to add selected user to event ?")) {
                    this.selection_event_user_for_selection_id = null
                    return
                }
                axios.post(this.apiUrl + '/manager/add_user_to_event', {
                    user_id: this.selection_event_user_for_selection_id,
                    event_id: this.nextEvent.id
                }, this.credentialsConfig).then((/*response*/) => {
                    this.eventUsersForSelection.map((nextEventUsersForSelection, index) => {
                        if (nextEventUsersForSelection.user_id === this.selection_event_user_for_selection_id) {
                            this.eventUsersForSelection[index].user_is_joined = 1
                            this.eventUsersForSelection[index].selected = 0
                        }
                    })
                    this.selected_users_count++
                    this.selection_event_user_for_selection_id = null
                    this.selection_event_user_for_selection_user_is_joined = false
                    this.showPopupMessage("Adding user to event", 'Selected user was successfully added to event!', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage("Adding user to event", error.response.data.message, 'warn')
                })

            },

            removeUserFromEvent() {
                if (!confirm("Do you want to remove selected user from event ?")) {
                    this.selection_event_user_for_selection_id = null
                    return
                }
                axios.post(this.apiUrl + '/manager/remove_user_from_event', {
                    user_id: this.selection_event_user_for_selection_id,
                    event_id: this.nextEvent.id
                }, this.credentialsConfig).then((/*response*/) => {
                    this.eventUsersForSelection.map((nextEventUsersForSelection, index) => {
                        if (nextEventUsersForSelection.user_id === this.selection_event_user_for_selection_id) {
                            this.eventUsersForSelection[index].user_is_joined = 0
                            this.eventUsersForSelection[index].selected = 0
                        }
                    })
                    this.selected_users_count--
                    this.selection_event_user_for_selection_id = null
                    this.selection_event_user_for_selection_user_is_joined = false
                    this.showPopupMessage("Remove user from event", 'Selected user was successfully removed from event!', 'success')
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage("Remove user from event", error.response.data.message, 'warn')
                })
            },

        }, // methods: {

    }
</script>
