// Typography
$font-family-sans-serif: "Roboto", "Open Sans";
$line-height-base: 1.6;

$title-color: #3f5e5d;
$subtitle-color: #517978;

$border-separator-color: 0.05rem solid #b3b3b3;
$item-border: 1px solid #92baa7;

$font_small_size: 0.8rem;
$font_size: 1rem;
$font_size_bigger: 1.2rem;
$font_size_big: 1.4rem;

$link_color: #246647;
$toggle_color: #3f5e5d;
$action_color: #3f5e5d;
$external_color: red;

$background_color: #FCFFFC;

$admin_background_color: #edf2ff;
$admin_input_color: #f2f7ff;

$text-color: #4d4d4d;


$polling_notification_color: #fff;
$polling_notification_background_color: #0793a3;
//$polling_notification_background_color: #83c43c;


$debug_mode: false;
