<template>
  <div id="app" :class="'flexbox-parent'+(is_admin_page ? ' admin_page_container' : '') ">
    <header class="flexbox-item header">

      <!--            app_version::{{ app_version}}<br>-->
      <!--            pollingNotifications::{{ pollingNotifications}}<br>-->
      <!--            <hr>-->
      <!--            {{ loggedUserToken}}-->
      <!--            <hr>-->
      <div id="nav_admin" class="row_content_left_aligned bottom_split_border top_nav_menu"
           v-if="is_admin_page && loggedUserIsAdmin">
        <div class="block_2columns_md">

          <div class=" m-2 m-0 row_content_centered">
            <router-link to="/" class="a_link a_link_top_menu_home">
              <img :src="logoImg" :title="site_heading + ' : Home'" :alt="site_heading + ' : Home'" class="mr-2">
            </router-link>
<!--            <i class="test-device p-0" v-if="app_version == 'D'">-->
<!--                            <span class="hidden_info">-->
<!--                                {{ app_version }}-->
<!--                            </span>-->
<!--            </i>-->
            <div class=" m-0 p-2 row_content_centered">
              <router-link to="/admin/dashboard" class="a_link a_link_top_menu_admin_dashboard"
                           title="You have access to dashboard">
                <i :class="'i_link p-1 '+getHeaderIcon('dashboard')"
                   title="You have access to dashboard">
                </i>
              </router-link>
            </div>

            <div class=" m-0 p-2 row_content_centered">
              <router-link to="/admin/settings" class="a_link a_link_top_menu_admin_settings">
                <i :class="'i_link p-1 '+getHeaderIcon('settings')"
                   title="You have access to settings page">
                </i>
              </router-link>
            </div>

          </div>

<!--          <div class=" m-0 p-2 row_content_centered">-->
<!--                        <span v-if="app_version == 'D'">-->
<!--							<router-link to="/admin/users/edit/5" class="a_link a_link_top_menu_admin_dashboard">-->
<!--								<i v-if="loggedUserIsAdmin" :class="'i_link p-1 '+getHeaderIcon('test')" style="color: red !important;"-->
<!--                   title="users editor test"></i>-->
<!--							</router-link>-->
<!--						</span>-->
<!--          </div>-->

          <!--
                              <div class=" m-0 p-2 row_content_centered" v-if="app_version == 'D'">
                                  <i v-if="loggedUserIsAdmin" :class="'i_link p-1 '+getHeaderIcon('test')" style="color: red !important;"
                                     title="users editor test"></i>
                                  <router-link to="/admin/users/edit/6" class="a_link a_link_top_menu_admin_events">Edit user</router-link>
                              </div>
          -->


          <!--                    <div class=" m-0 p-2 row_content_centered" v-if="app_version == 'D'">-->
          <!--                        <span>-->
          <!--                            <router-link to="/test">T</router-link>-->
          <!--                        </span>-->
          <!--                    </div>-->

          <!--                    <div class=" m-0 p-2 row_content_centered" v-if="app_version == 'D'">-->
          <!--                        <span>-->
          <!--                            <router-link to="/admin/polling-notifications">PN</router-link>-->
          <!--                        </span>-->
          <!--                    </div>-->

          <!--                    -->
          <!--                    <div class=" m-0 p-2 row_content_centered" v-if="app_version == 'D'">-->
          <!--                        <span>-->
          <!--                            <router-link to="/design_blocks">Design blocks</router-link>-->
          <!--                        </span>-->
          <!--                    </div>-->

          <div class=" m-0 p-2 row_content_centered">
                        <span v-if="isLoggedIn">
							<router-link :to="{ name: 'adminDashboard'  }" class="a_link a_link_top_menu_admin_dashboard">
								<i v-if="loggedUserIsAdmin" :class="'i_link admin_access_rights p-1 '+getHeaderIcon('admin')"
                   title="You have admin rights"></i>
							</router-link>
							<i v-if="loggedUserIsManager" :class="'i_link p-1 manager_access_rights '+getHeaderIcon('manager')"
                 title="You have manager rights"></i>
                            <span class="admin_hidden_info">
                                id:{{ loggedUser.id }}
                            </span>
                            <router-link to="/profile" class="a_link a_link_top_menu_profile">
								{{ loggedUser.name }}
                            </router-link>
						</span>
          </div>

          <div class=" m-0 p-2 row_content_centered" v-show="isLoggedIn">
            <span><a class="a_link a_link_top_menu_logout" @click.prevent="logout">Logout</a> </span>
          </div>

        </div> <!-- <div class="block_2columns_md "> -->
      </div>  <!-- <div id="nav_admin"  -->

      <div id="nav" class="row_content_left_aligned bottom_split_border top_nav_menu" v-if="!is_admin_page">

        <div class="block_2columns_md">
          <div class=" m-2 m-0 row_content_centered">
            <router-link to="/" class="a_link a_link_top_menu_home">
              <img :src="logoImg" :title="site_heading" :alt="site_heading" class="mr-2"> <strong>{{ site_name }} <span
                v-if="is_admin_page">
                            Backend</span></strong> :
              Home
            </router-link>
            <!--                        app_version::{{ app_version }};;app_api_url::{{app_api_url}}-->
            <span class="hidden_info">
                            {{ app_version }}
                        </span>
            <!--                        <i class="test-device p-0" v-if="app_version == 'D'"></i>-->


            <!--                        <div class=" m-0 p-2 row_content_centered" v-if="app_version == 'D'">-->
            <!--                        <span>-->
            <!--                            <router-link to="/forgot_password">Forpass</router-link>-->
            <!--                        </span>-->
            <!--                        </div>-->


            <div class=" m-0 p-2 row_content_centered" v-if="app_version == 'D'">
                        <span v-if="isLoggedIn">
							<router-link to="/admin/events/edit/14" class="a_link a_link_top_menu_admin_dashboard">
								<i v-if="loggedUserIsAdmin" :class="'i_link p-1 '+getHeaderIcon('admin')"
                   title="You have admin rights"></i>
							</router-link>
						</span>
            </div>

            <router-link to="/events" class="a_link a_link_top_menu_events">Events</router-link>
          </div>

          <div class=" m-0 p-2 row_content_centered">


<!--            <span v-if="app_version == 'D'">-->
<!--							<router-link to="/admin/users/edit/5" class="a_link a_link_top_menu_admin_dashboard">-->
<!--								<i v-if="loggedUserIsAdmin" :class="'i_link p-1 '+getHeaderIcon('test')" style="color: red !important;"-->
<!--                   title="users editor test"></i>-->
<!--							</router-link>-->
<!--						</span>-->

            <span v-show="!isLoggedIn">
							<router-link to="/login" class="a_link a_link_top_menu_login">Login</router-link>
						</span>

            <span v-show="!isLoggedIn">
							<router-link to="/register" class="a_link a_link_top_menu_register">Register</router-link>
						</span>


<!--            <span v-if="app_version == 'D'">-->
<!--							<span v-show="isLoggedIn">-->
<!--                                <router-link to="/user-todos" class="a_link a_link_top_menu_todos">ToDo</router-link>-->
<!--                            </span>-->
<!--						</span>-->

<!--            <span v-if="app_version == 'D'">-->
<!--							<span>-->
<!--                                <router-link to="/test">T</router-link>-->
<!--                            </span>-->
<!--						</span>-->
<!--            <span v-if="app_version == 'D'">-->
<!--							<span>-->
<!--                                <router-link to="/test3">T3</router-link>-->
<!--                            </span>-->
<!--						</span>-->

<!--            <span v-if="app_version === 'D'">-->
<!--							<span>-->
<!--                                <router-link to="/test4">T4</router-link>-->
<!--                            </span>-->
<!--						</span>-->

<!--            <div class=" m-0 p-2 row_content_centered" v-if="app_version == 'D'">-->
<!--                        <span>-->
<!--                            <router-link to="/admin/polling-notifications">PN</router-link>-->
<!--                        </span>-->
<!--            </div>-->

            <span v-if="isLoggedIn">
							<router-link :to="{ name: 'adminDashboard'  }" class="a_link a_link_top_menu_admin_dashboard">
								<i v-if="loggedUserIsAdmin" :class="'i_link admin_access_rights p-1 '+getHeaderIcon('admin')"
                   title="You have admin rights"></i>
							</router-link>
							<i v-if="loggedUserIsManager" :class="'i_link p-1 manager_access_rights '+getHeaderIcon('manager')"
                 title="You have manager rights"></i>
                            <span class="hidden_info">
                                id:{{ loggedUser.id }}
                            </span>
                            <router-link to="/profile" class="a_link a_link_top_menu_profile">
								{{ loggedUser.name }}
                            </router-link>
						</span>

            <span v-if="isLoggedIn">
							<template v-if="loggedUserAvatarUrl && loggedUserAvatarUrl">
                            <avatar
                                username="getLoggedUserName"
                                :src="loggedUserAvatarUrl"
                                :size="32"
                                :rounded="true">
                            </avatar>
							</template>

							<template v-if="!loggedUserAvatarUrl">
                            <avatar
                                username="getLoggedUserName"
                                :size="32"
                                :rounded="false">
                            </avatar>
							</template>
						</span>

            <span v-show="isLoggedIn"><a class="a_link a_link_top_menu_logout"
                                         @click.prevent="logout">Logout</a> </span>

          </div>

        </div> <!-- <div class="block_2columns_md"> -->

      </div> <!-- <div id="nav"  -->

    </header>

    <main class="flexbox-item fill-area content flexbox-item-grow">
      <div class="p-2 column_content_centered">
        <div class="row_content_centered">
          <h1>{{ site_name }} : {{ site_heading }}</h1>
        </div>
        <div class="row_content_centered">
          <h2>{{ site_description }}</h2>
        </div>
        <router-view/>


      </div>
    </main>

    <notifications group="vtasks_notification">
    </notifications>

    <!--
            <notifications
                group="vtasks_popup_dialog"
            />
            <template slot="body" slot-scope="props">
                <div>
                    <a class="title">
                        {{props.item.title}}
                    </a>
                    <a class="close" @click="props.close">
                        <i class="fa fa-fw fa-close"></i>
                    </a>
                    <div v-html="props.item.text">
                    </div>
                </div>
            </template>
            </notifications>
    -->

    <footer class="flexbox-item footer  ml-3 mr-3">
      <dl class="block_2columns_md m-0 p-0 ">
        <dt class="horiz_devider_value_half column_content_left_aligned nowrap_block">
          <div class="nowrap_block">
            <img :src="logoImg" :title="site_heading" :alt="site_heading" class="mr-2">
            {{ site_name }}
<!--            <span class="hidden_info">&nbsp;:Main Flow</span>-->
          </div>
        </dt>
        <dd class="horiz_devider_value_half column_content_right_aligned">
                    <span class="nowrap_block">
                        <router-link to="/weather-viewer" class="a_link" v-show="isLoggedIn"
                                     title="Your weather locations">
                            <i :class="'i_link '+getHeaderIcon('weather')" title="Your weather locations"></i>
                        </router-link>
                        {{ date_time_label }}
                    </span>

        </dd>
      </dl>
      <p class="m-2">{{ copyright_text }}</p>
    </footer>

  </div>
</template>

<script>

import Vue from 'vue'

import {bus} from '../src/main'
import appMixin from '@/appMixin'
import axios from 'axios'
import {retrieveAppDictionaries} from "../src/commonFuncs"
import {
  settingsLogoImg,
  settingsAdminLogoImg,
  settingCredentialsConfig,
  settingsJsMomentDatetimeFormat
} from './app.settings.js'

import moment from 'moment-timezone'

moment.tz.setDefault(process.env.VUE_APP_TIME_ZONE)


import IdleVue from 'idle-vue'

const eventsHub = new Vue()
Vue.use(IdleVue, {
  eventEmitter: eventsHub,
  idleTime: 10 * 60000  // 10 minutes in ms - Default value: 60000 (one minute).
})


import Avatar from 'vue-avatar'

export default {
  mixins: [appMixin],

  data: function () {
    return {
      polling: null,
      site_name: '',
      copyright_text: '',
      logoImg: settingsLogoImg,
      apiUrl: process.env.VUE_APP_API_URL,
      adminLogoImg: settingsAdminLogoImg,
      credentialsConfig: settingCredentialsConfig,

      site_heading: '',
      site_description: '',
      date_time_label: null,
      jsMomentDatetimeFormat: settingsJsMomentDatetimeFormat,
      is_admin_page: false,
      pollingNotifications: [],
      app_version: process.env.VUE_APP_VERSION,
      app_api_url: process.env.VUE_APP_API_URL
    }
  }, // data: function () {

  components: {
    'avatar': Avatar
  },

  created() {
    let self = this
    this.$http.interceptors.response.use(undefined, function (error) {

      return new Promise(function (/*resolve, reject*/) {
        console.log('error::')
        console.log(error)

        // console.log('error.response::')
        // console.log(error.response)


        if (typeof error.response.status !== 'undefined' && error.response.status === 401) {
          //                             debugger // eslint-disable-line

          self.$store.dispatch('logout')  // DEBUGGING
          self.showPopupMessage('Access', 'Not authorized !', 'warn')
          let splitted0 = self.getSplitted(error.response.config.url, '/login', 0)

          if (splitted0 == '') { // not move from login page
            self.$router.push('/login')   // DEBUGGING
          }

        }

        if (typeof error.response.status !== 'undefined' && error.response.status === 503) {
          self.$router.push('/MaintenanceMessage')
        }

        /*
                            if (typeof error.response.status !== 'undefined') {
                                //                             debugger // eslint-disable-line
                                if (error.response.status === 401) {

                                    self.$store.dispatch('logout') // DEBUGGING
                                    self.showPopupMessage('Access', 'Not authorized !', 'warn')
                                    self.$router.push('/login')  // DEBUGGING
                                }
                            }
        */

        throw error
      })
    })

    bus.$on('page_changed', (from, to) => {
      // console.log('page_changed to::')
      // console.log(to)

      let k = to.path.search('/admin/')
      if (k >= 0) {
        this.is_admin_page = true
        this.logoImg = settingsAdminLogoImg
      } else {
        this.is_admin_page = false
        this.logoImg = settingsLogoImg
      }

      /*
                      console.log('!!! page_changed this.is_admin_page::')
                      console.log(this.is_admin_page)

                      console.log('!!! page_changed this.logoImg::')
                      console.log(this.logoImg)

                      console.log('!!! page_changed this.site_name::')
                      console.log(this.site_name)

                      console.log('!!! page_changed this.site_description::')
                      console.log(this.site_description)
      */

      /*

                      console.log('BEFORE TRIGGERING onPageChanged::')
                      bus.$emit('onPageChanged', {
                          is_admin_page : this.is_admin_page,
                          logoImg:this.logoImg,
                          site_name:this.site_name,
                          site_heading:this.site_heading,
                          site_description:this.site_description
                      })
      */
      // this.showPollingNotifications()

    }) // bus.$on('page_changed', (from, to) => {


    // this.pollData()    // UNCOMMENT TO TEST
  }, //  created() {

  mounted() {
    retrieveAppDictionaries('app', ['copyright_text', 'site_heading', 'site_name', 'site_description'])
    bus.$on('appDictionariesRetrieved', (data) => {
      if (data.request_key === 'app') {
        this.copyright_text = data.copyright_text
        this.site_heading = data.site_heading
        this.site_description = data.site_description
        this.site_name = data.site_name
      }
    })
    this.refreshTime()
    setInterval(this.refreshTime, 1000)
    // this.showPollingNotifications()
    /*

                bus.$on('onPageChanged', (pageData) => {
                    console.log('src/App.vue onPageChanged pageData::')
                    console.log(pageData)
                    console.log(typeof pageData)


                    // }
                    // debugger // eslint-disable-line
                    // if (!this.isEmpty(pageData.site_name)) {
                    this.site_name = pageData.site_name
                    console.log('!!! FROM src/App.vue this_site_name::')
                    console.log(this.site_name)

                    // alert( 'this.site_name::'+this.site_name )
                    // }

                    // if (!this.isEmpty(pageData.site_description)) {
                    // this.l_site_description = pageData.site_description
                    // }

                    // if (!this.isEmpty(pageData.copyright_text)) {
                    // this.l_copyright_text = pageData.copyright_text
                    // }
                })

    */
  }, // mounted() {

  beforeDestroy() { // just before a component is destroyed.
    bus.$off('appDictionariesRetrieved') // stop listening
    // clearInterval(this.polling)
// .
  },

  computed: {
    vueVersion: function () {
      return this.getVueVersion()
    },

    getLoggedUserName: function () {
      console.log('-0 getLoggedUserName ::')
      if (this.$store.getters.user.first_name && this.$store.getters.user.last_name) {
        console.log('-1 ::')
        console.log(this.$store.getters.user.first_name + ' ' + this.$store.getters.user.last_name)
        // return 'OIUY GTRES'

        return this.$store.getters.user.first_name + ' ' + this.$store.getters.user.last_name
      } else {
        console.log('-2 this.$store.getters.user.name::')
        console.log(this.$store.getters.user.name)
        return this.$store.getters.user.name
      }
    },

    isLoggedIn: function () {
      return this.$store.getters.isLoggedIn
    },
    loggedUser: function () {
      return this.$store.getters.user
    },

    loggedUserIsManager: function () {
      return this.$store.getters.is_manager
    },

    loggedUserIsAdmin: function () {
      return this.$store.getters.is_admin
    },
    loggedUserToken: function () {
      return this.$store.getters.token
    },

    loggedUserAvatarUrl: function () {
      if (this.$store.getters.avatar_url != 'undefined') {
        return this.$store.getters.avatar_url
      }
      return ''
    },

    currentLoggedUserToken() {
      return this.$store.getters.token
    },


  },

  onIdle() {
    // this.messageStr = 'ZZZ'

    console.log('onIdle this.app_version::')
    console.log(this.app_version)

    if (this.isLoggedIn && this.app_version == 'P') { // on Production only
      this.$store.dispatch('logout')
      this.$router.push('/login')
    }
  },
  onActive() {
    this.showPopupDialog('App', 'Welcome back!', 'success')

    // alert( 'onActive 22::' )
    // this.messageStr = 'Hello'
  },


  methods: {

    logout: function () {
      this.$store.dispatch('logout')
          .then(() => {
            this.$router.push('/login')
          })
    },

    refreshTime() {
      this.date_time_label = moment(new Date()).format('DD MMMM, YYYY HH:mm:ss')
    },


    showPollingNotifications() {

      console.log('showPollingNotifications this.pollingNotifications::')
      console.log(this.pollingNotifications)
      alert('showPollingNotifications::')
      if (typeof this.pollingNotifications != "undefined" && this.pollingNotifications.length > 0 && typeof
          this.pollingNotifications[0].title != "undefined") {
        this.showPopupDialog(this.pollingNotifications[0].title, this.pollingNotifications[0].message, 'success')
        //// https://github.com/euvl/vue-notification
      }
    },

    pollData() {

      // alert( 'pollData::' )
      this.polling = setInterval(() => {
        // this.$store.dispatch('RETRIEVE_DATA_FROM_BACKEND')

        let credentials = this.getClone(this.credentialsConfig)
        credentials.headers.Authorization = 'Bearer ' + this.currentLoggedUserToken
        axios.get(this.apiUrl + '/personal/polling_notifications', credentials)
            .then((response) => {
              alert('INSIDE pollData::')
              console.log('INSIDE pollData response::')
              console.log(response)
              this.pollingNotifications = response.data.pollingNotifications
              console.log('this.pollingNotifications::')
              console.log(this.pollingNotifications)

              if (typeof this.pollingNotifications != "undefined" && this.pollingNotifications.length > 0 && typeof this.pollingNotifications[0].title != "undefined") {
                this.showPopupDialog(this.pollingNotifications[0].title, this.pollingNotifications[0].message, 'success')
                //// https://github.com/euvl/vue-notification
              }
              clearInterval(this.polling)
              /*
                                          this.userProfileRow = response.data.user
                                          this.userSkills = response.data.userSkills
                                          this.userGroups = response.data.userGroups
                                          this.tasksAssignedToUser = response.data.tasksAssignedToUser
                                          this.makeUserSkillsLabelsForSelection()
                                          this.is_page_loaded = true

              */
            })
            .catch(error => {
              console.error(error)
              this.is_page_loaded = true
            })


      }, 50000)
    }

  }

}
</script>

<style lang="scss">
@import '@/components/scss/main.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
</style>
