<template>
    <article class="page_content_container raised_page_content_container">

        <div class="page_content col-sm-12 col-md-8 p-2 m-0 mx-auto">
            <ValidationObserver ref="forgotPasswordObserverForm" v-slot="{handleSubmit}">
                <form class="forgot_password" @submit.prevent="handleSubmit(onSubmit)">
                    <div class="card">

                        <h3 class="card-header"><i :class="'i_link '+getHeaderIcon('password')"></i>Forgot Password</h3>
                        nilovsergey@yahoo.com
                        <div class="card-body card-block">

                            <dl class="block_2columns_md m-3"> <!-- email FIELD DEFINITION -->

                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="email">Email:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">

                                    <ValidationProvider
                                            name="Email"
                                            rules="required|email"
                                            v-slot="{ errors }"
                                    >
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i :class="'i_link '+getHeaderIcon('email')"></i>
                                            </div>
                                            <input
                                                    v-model="forgotPasswordData.email"
                                                    name="email"
                                                    id="email"
                                                    class="form-control editable_field"
                                                    placeholder="Your email address"
                                                    autocomplete=off
                                            >
                                        </div>

                                        <p class="input_group_addon_validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                    </ValidationProvider>

                                </dd>

                            </dl> <!-- <dt class="block_2columns_md m-0"> email FIELD DEFINITION -->

                        </div> <!-- <div class="card-body card-block"> -->

                        <section class="card-footer row_content_right_aligned">
                            <button type="reset" class="btn btn-danger btn-sm m-2">
                                <i :class="'i_link '+getHeaderIcon('cancel')"></i>Reset
                            </button>
                            <button type="submit" class="btn btn-success btn-sm m-2 ml-4 mr-4">
                                <i :class="'i_link '+getHeaderIcon('save')"></i>Submit
                            </button>
                        </section>

                    </div> <!-- <div class="card"> -->

                </form>

            </ValidationObserver>

        </div> <!-- page_content -->

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../src/main'
    import appMixin from '@/appMixin'
    import axios from 'axios'

    import {ValidationObserver, ValidationProvider, extend} from 'vee-validate'
    import * as rules from 'vee-validate/dist/rules'

    Object.keys(rules).forEach(rule => {
        extend(rule, rules[rule])
    })

    export default {
        name: 'forgotPasswordPage',
        mixins: [appMixin],

        components: {
            ValidationObserver, ValidationProvider
        },

        data() {
            return {
                apiUrl: process.env.VUE_APP_API_URL,
                forgotPasswordData: {
                    email: 'nilovsergey@yahoo.com',
                }
            }
        },

        created() {
        }, //  created() {

        beforeDestroy() {
        },

        mounted() {
            this.setAppTitle('Authentication', 'Forgot Password', bus)
        }, // mounted() {

        methods: {
            onSubmit() {

                this.$refs.forgotPasswordObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('Forgot Password', 'Validations Failed !', 'warn')
                        return
                    }
                    // Route::group([  'namespace' => 'Auth', 'prefix' => 'password-reset'], function () {
                    // Route::post('create', 'PasswordResetController@create')

                    let app_url= document.location.protocol+'//'+document.location.host

                    axios.post(this.apiUrl + '/password-reset/create', {
                        email: this.forgotPasswordData.email,
                        app_url: app_url
                    }, this.credentialsConfig).then(() => {
                        this.showPopupMessage("Forgot Password", 'Link to reset your account\'s password was successfully sent ! Check your email !',
                            'success')
                        this.$router.push('/')
                    }).catch((error) => {
                        console.error(error)
                        console.log('error.response.data.errors::')
                        console.log(error.response.data.errors)

                        this.$refs.forgotPasswordObserverForm.setErrors(error.response.data.errors)
                        this.showPopupMessage("Forgot Password", error.response.data.message, 'warn')
                    })


                    /*
                                          axios.post(this.apiUrl + '/manager/accept_task_assigned_to_user', {
                                            task_assigned_to_users_id: this.selected_users_assigned_to_task_id,
                                            selected_users_assigned_to_task_id: this.selected_users_assigned_to_task_id,
                                            task_assigned_to_user_description: this.selection_users_assigned_to_task_action_memo
                                        }, this.credentialsConfig).then((response) => {
                                            this.showPopupMessage("User assigned accepting", 'Selected participation was successfully activated !', 'success')
                                            this.cancelMembersOfThisTask()
                                        }).catch((error) => {
                                            console.error(error)
                                            this.showPopupMessage("User assigned accepting", error.response.data.message, 'warn')
                                        })




                                        this.$store.dispatch('login', this.loginData)
                                            .then(() => this.$router.push('/'))
                                            .catch(error => console.log(error))
                                        this.$nextTick(() => {
                                            this.$refs.loginObserverForm.reset()
                                        })
                    */
                })
            } // onSubmit

        }, // methods: {

    }

</script>
