<template>
    <article class="page_content_container raised_page_content_container">
        
        <div class="page_content col-sm-12 col-md-8 p-2 m-0 mx-auto">
            <ValidationObserver ref="loginObserverForm" v-slot="{handleSubmit}">
                <form class="login" @submit.prevent="handleSubmit(onSubmit)">
                    <div class="card">
                        
                        <h3 class="card-header"><i :class="'i_link '+getHeaderIcon('login')"></i>Login</h3>
                        <div class="card-body card-block">
                            
                            <dl class="block_2columns_md m-3"> <!-- email FIELD DEFINITION -->
                                
                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="email">Email:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">
                                    
                                    <ValidationProvider
                                        name="Email"
                                        rules="required|email"
                                        v-slot="{ errors }"
                                    >
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i :class="'i_link '+getHeaderIcon('email')"></i>
                                            </div>
                                            <input
                                                v-model="loginData.email"
                                                name="email"
                                                id="email"
                                                class="form-control editable_field"
                                                placeholder="Your email address"
                                                autocomplete=off
                                            >
                                        </div>
                                        
                                        <p class="input_group_addon_validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                    </ValidationProvider>
                                
                                </dd>
                            
                            </dl> <!-- <dt class="block_2columns_md m-0"> email FIELD DEFINITION -->
                            
                            <dl class="block_2columns_md m-3"> <!-- password FIELD DEFINITION -->
                                
                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="password">Password:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">
                                    
                                    <ValidationProvider
                                        name="Password"
                                        rules="required"
                                        v-slot="{ errors }"
                                    >
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i :class="'i_link '+getHeaderIcon('password')"></i>
                                            </div>
                                            
                                            <input type="password"
                                                   v-model="loginData.password"
                                                   id="password"
                                                   name="password"
                                                   class="form-control editable_field"
                                                   placeholder="Your password"
                                                   autocomplete=off
                                            >
                                        </div>
                                        
                                        <p class="input_group_addon_validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                    </ValidationProvider>
                                
                                </dd>
                            
                            </dl> <!-- <dl class="block_2columns_md m-0"> password FIELD DEFINITION -->
                        
                        </div> <!-- <div class="card-body card-block"> -->
                        
                        <section class="card-footer row_content_right_aligned">
                            <button type="reset" class="btn btn-danger btn-sm m-2">
                                <i :class="'i_link '+getHeaderIcon('cancel')"></i>Reset
                            </button>
                            <button type="submit" class="btn btn-success btn-sm m-2 ml-4 mr-4 a_link">
                                <i :class="'i_link '+getHeaderIcon('save')"></i>Submit
                            </button>
                        </section>
                        
                        <router-link to="/forgot_password?">Forgot Password?</router-link>
                    
                    </div> <!-- <div class="card"> -->
                
                </form>
                
                
                <fieldset class="blocks" v-if="demo_version && 0">
                    <legend class="blocks">
                        <i :class="getHeaderIcon('demo-info')"></i>Demo info&nbsp;
                    </legend>
                    
                    <p class="pre-formatted description-text" style="overflow-y: auto; max-height: 200px; ">
                        For this demo you can use <strong>admin@site.com</strong>/<strong>111111</strong> credentials, which has extended admin's and
                        manager's
                        functionality or<br>
                        <strong>rod_bodrick@site.com</strong>/<strong>111111</strong>, which has no extended admin's functionality
                    </p>
                
                </fieldset>
            
            
            </ValidationObserver>
        
        </div> <!-- page_content -->
    
    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../src/main'
    import appMixin from '@/appMixin'

    import {ValidationObserver, ValidationProvider, extend} from 'vee-validate'
    import * as rules from 'vee-validate/dist/rules'

    Object.keys(rules).forEach(rule => {
        extend(rule, rules[rule])
    })

    export default {
        name: 'loginPage',
        mixins: [appMixin],

        components: {
            ValidationObserver, ValidationProvider
        },

        data() {
            return {
                loginData: {
                    email: 'admin@site.com',
                    password: '111111'
                },
                demo_version: process.env.VUE_APP_DEMO_VERSION
            }
        },

        created() {
            bus.$on('authLoggedSuccess', (/*user*/) => {
                this.$store.dispatch('retrieveTaskAssignedToUsers')
                this.$store.dispatch('retrieveUserSkills')
                this.$store.dispatch('retrieveUserGroups')
                this.showPopupMessage('Login', 'Successful login !', 'success')

                console.log('-1 authLoggedSuccess::')
                console.log('-1 DEBUGGING::')
                console.log('this.$router::')
                console.log(this.$router)
                // this.$router.push({path: '/'})
                // this.$router.push({path: '/admin/dashboard'}) // DEBUGGING
                // this.$router.push({path: '/admin/tasks'}) // DEBUGGING

                console.log('AFTER this.$router::')

            })

            bus.$on('authLoggedError', () => {
                this.showPopupMessage('Login', 'Login error!', 'warn')
            })
        }, //  created() {

        beforeDestroy() {
            bus.$off('authLoggedSuccess')
            bus.$off('authLoggedError')
        },

        mounted() {
            this.setAppTitle('Authentication', 'Login', bus)
        }, // mounted() {

        methods: {
            onSubmit() {

                this.$refs.loginObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('Login', 'Validations Failed !', 'warn')
                        return
                    }
                    this.$store.dispatch('login', this.loginData)
                        .then(() => this.$router.push('/'))

                        //                 this.$router.push({path: '/admin/tasks'}) // DEBUGGING
                        // .then(() => this.$router.push('/admin/tasks'))
                        .catch(error => console.log(error))
                    this.$nextTick(() => {
                        this.$refs.loginObserverForm.reset()
                    })
                })
            } // onSubmit

        }, // methods: {

    }

</script>
