<template>
    <article class="page_content_container raised_page_content_container">

        <div class="page_content col-sm-12 col-md-8 p-2 m-0 mx-auto">
            <div class="card">

                password_reset_code::{{ password_reset_code}}
                <h3 class="card-header"><i :class="'i_link '+getHeaderIcon('login')"></i>Password reset</h3>
                <div class="card-body card-block">

                    <div class="alert alert-warn m-1 p-1" role="alert" v-if="password_reset_status == 'Password reset code is not provided'">
                        <h4>Password reset code is not provided !</h4>
                    </div>

                    <div class="alert alert-success m-1 p-1" role="alert" v-if="password_reset_status == 'Password reset is completed'">
                        <h4>Password reset is completed !</h4>
                        <h4>
                            <span v-if="activatedUser">{{ activatedUser.name }}, </span>you can access your personal area
                            <router-link to="/login">Login</router-link>
                        </h4>
                    </div>

                </div>

                <fieldset class="blocks" v-if="demo_version">
                    <legend class="blocks">
                        <i :class="getHeaderIcon('demo-info')"></i>Demo info
                    </legend>

                    <div class="pre-formatted description-text" style="overflow-y: auto; max-height: 200px; ">
                        After password reset on this demo app you can review the rest of pages and functionality:
                        <ul>
                            <li>
                                <router-link :to="{ name: 'Home' }" class="a_link">
                                    Home page
                                </router-link> with tasks in system and link to details of any task.
                            </li>
                            <li>
                                <router-link :to="{ name: 'eventsTimeline' }" class="a_link">
                                    Events
                                </router-link> with events related to tasks.
                            </li>
                            <li>
                                <strong>Admin's area</strong> :<br>
                                <router-link :to="{ name: 'adminTasksListing' }" class="a_link">
                                    Tasks
                                </router-link> listing/editor with CRUD operations accessible only for admin rights, which your account does not have.<br>
                                <router-link :to="{ name: 'adminSkillsListing' }" class="a_link">
                                    Skills
                                </router-link> listing/editor with CRUD operations accessible only for admin rights, which your account does not have.<br>
                                Use default credentials at login page with admin rights
                            </li>
                        </ul>

                    </div>

                </fieldset>


            </div>
        </div>

    </article> <!-- page_content_container -->
</template>

<script>
    import {bus} from '../../../src/main'
    import appMixin from '@/appMixin'

    // import {ValidationObserver, ValidationProvider, extend} from 'vee-validate'
    // import * as rules from 'vee-validate/dist/rules'
    import axios from 'axios'

    import {settingCredentialsConfig} from '@/app.settings.js'

    // Object.keys(rules).forEach(rule => {
    //     extend(rule, rules[rule])
    // })

    export default {
        name: 'loginPage',
        mixins: [appMixin],

        components: {
            // ValidationObserver, ValidationProvider
        },

        data() {
            return {
                activatedUser:null,
                password_reset_code: null,
                password_reset_status: null,
                apiUrl: process.env.VUE_APP_API_URL,
                credentialsConfig: settingCredentialsConfig,
                demo_version: process.env.VUE_APP_DEMO_VERSION
            }
        },


        mounted() {
            // alert( 'src/views/auth/PasswordReset.vue::' +this.$route.params.code )
            // debugger // eslint-disable-line
            this.setAppTitle('Authentication', 'Password reset', bus)
            if (typeof this.$route.params.code === 'undefined') {
                this.password_reset_status = 'Password reset code is not provided'
                this.showPopupMessage('Password reset', 'Password reset code is not provided !', 'warn')
            } else {
                this.password_reset_code = this.$route.params.code
                this.checkPasswordResetCode()
            }
        }, // mounted() {

        methods: {
            checkPasswordResetCode() {
                //    Route::get('{token}/find', 'API\PasswordResetController@find');
                axios.get(this.apiUrl + '/password-reset/' + this.password_reset_code + '/make', this.credentialsConfig)
                    .then(({ data }) => {
                        this.activatedUser= data.users[0]
                        this.password_reset_status = 'Password reset is completed'
                        this.showPopupMessage('User Password reset', 'Successful Password reset !', 'success')
                        this.is_page_loaded = true
                    })
                    .catch(error => {
                        console.error(error)
                        this.showPopupMessage('Password reset', error.response.data.message, 'warn')
                        this.is_page_loaded = true
                    })
            } // checkPasswordResetCode() {

        }, // methods: {

    }

</script>
