<template>
    <article class="page_content_container raised_page_content_container">

        <div class="page_content col-sm-12 col-md-8 p-2 m-0 mx-auto">

            <ValidationObserver
                    ref="registerObserverForm"
                    v-slot="{handleSubmit}"
            >
                <form class="register" @submit.prevent="handleSubmit(onSubmit)">
                    <div class="card">
                        <h3 class="card-header"><i :class="'i_link '+getHeaderIcon('register')"></i>Register</h3>

                        <div class="card-body card-block">

                            <dl class="block_2columns_md m-2"> <!-- name FIELD DEFINITION -->

                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="name">Name:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">

                                    <ValidationProvider
                                            name="name"
                                            rules="required"
                                            v-slot="{ errors }"
                                    >
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i :class="'i_link '+getHeaderIcon('users')"></i>
                                            </div>
                                            <input
                                                    type='text'
                                                    v-model="registerData.name"
                                                    name="name"
                                                    id="name"
                                                    class="form-control editable_field"
                                                    placeholder="Username"
                                                    autocomplete=off
                                            >
                                        </div>
                                        <p class="input_group_addon_validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                    </ValidationProvider>

                                </dd>

                            </dl> <!-- <dl class="block_2columns_md m-0"> name FIELD DEFINITION  -->

                            <dl class="block_2columns_md m-2"> <!-- email FIELD DEFINITION -->

                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="email">Email:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">

                                    <ValidationProvider
                                            name="email"
                                            rules="required|email"
                                            v-slot="{ errors }"
                                    >
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i :class="'i_link '+getHeaderIcon('email')"></i>
                                            </div>
                                            <input
                                                    type='text'
                                                    v-model="registerData.email"
                                                    name="email"
                                                    id="email"
                                                    class="form-control editable_field"
                                                    placeholder="Email Address"
                                                    autocomplete=off
                                            >
                                        </div>
                                        <p class="input_group_addon_validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                    </ValidationProvider>

                                </dd>

                            </dl> <!-- <dl class="block_2columns_md m-0"> email FIELD DEFINITION -->

                            <dl class="block_2columns_md m-2">  <!-- password FIELD DEFINITION -->

                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="password">Password:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">

                                    <ValidationProvider
                                            name="password"
                                            rules="required|min:6|confirmed:password_confirmation"
                                            v-slot="{ errors }"
                                    >
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i :class="'i_link '+getHeaderIcon('password')"></i>
                                            </div>
                                            <input type="password" v-model="registerData.password" id="password" name="password"
                                                   class="form-control editable_field"
                                                   placeholder="Password"
                                                   ref="password_confirmation"
                                                   autocomplete=off
                                            >
                                        </div>
                                        <p class="input_group_addon_validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                    </ValidationProvider>

                                </dd>

                            </dl> <!-- <dl class="block_2columns_md m-0"> password FIELD DEFINITION -->

                            <dl class="block_2columns_md m-2"> <!-- password_confirmation FIELD DEFINITION -->

                                <dt class="horiz_divider_left_13">
                                    <label class="col-form-label" for="password_confirmation">Confirm<br>Password:</label>
                                </dt>
                                <dd class="horiz_divider_right_23">

                                    <ValidationProvider
                                            name="password_confirmation"
                                            rules="required|min:6|confirmed:password"
                                            v-slot="{ errors }"
                                    >
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i :class="'i_link '+getHeaderIcon('password')"></i>
                                            </div>
                                            <input type="password"
                                                   v-model="registerData.password_confirmation"
                                                   id="password_confirmation"
                                                   name="password_confirmation"
                                                   class="form-control editable_field"
                                                   placeholder="Password confirmation"
                                                   autocomplete=off
                                                   ref="password"
                                            >
                                        </div>
                                        <p class="input_group_addon_validation_error">{{ clearErrorMessage(errors[0]) }}</p>
                                    </ValidationProvider>

                                </dd>

                            </dl> <!-- <dl class="block_2columns_md m-0"> password_confirmation FIELD DEFINITION  -->

                        </div> <!-- <div class="card-body card-block"> -->

                        <section class="card-footer row_content_right_aligned">
                            <button type="reset" class="btn btn-danger btn-sm m-2">
                                <i :class="'i_link '+getHeaderIcon('cancel')"></i>Reset
                            </button>
                            <button type="submit" class="btn btn-success btn-sm m-2 ml-4 mr-4">
                                <i :class="'i_link '+getHeaderIcon('save')"></i>Submit
                            </button>
                        </section>

                    </div> <!-- <div class="card"> -->

                </form>
            </ValidationObserver>

        </div> <!-- page_content -->

    </article> <!-- page_content_container -->
</template>

<script>
    // import Vue from 'vue'
    import {bus} from '../../../src/main'
    import appMixin from '@/appMixin'

    import {ValidationObserver, ValidationProvider, extend} from 'vee-validate' // eslint-disable-line
    import * as rules from 'vee-validate/dist/rules'

    Object.keys(rules).forEach(rule => {
        extend(rule, rules[rule])
    })

    import {localize} from 'vee-validate'

    localize({
        en: {
            messages: {
                required: 'Is required',
                min: 'Must have no less than {length} characters',
                max: 'Must have no more than {length} characters',
                email: 'Invalid email format',
                confirmed: 'Password and password confirmation must be equal',
            }
        }
    })

    export default {
        name: 'registerPage',
        mixins: [appMixin],

        components: {
            ValidationObserver, ValidationProvider
        },

        data() {
            return {
                registerData: {
                    name: 'user1',
                    email: 'user1@mail.com',
                    password: '111111',
                    password_confirmation: '111111'
                }
            }
        }, // data () {

        mounted() {
            this.setAppTitle('Authentication', 'Register', bus)
        },

        created() {
            bus.$on('authRegisterSuccess', (user) => {
                if (user.status == 'A') {
                    this.showPopupMessage('Register', 'Successful Registering. You can login into the system with your credentials !', 'success')
                } else {
                    this.showPopupMessage('Register', 'Successful Registering. Check your email\'s box for activation email !', 'success')
                }
            })

            bus.$on('authRegisterError', (errors) => {
                this.$refs.registerObserverForm.setErrors(errors)
                this.showPopupMessage('Register', 'Registering error!', 'warn')
            })
        }, //  created() {

        beforeDestroy() {
            bus.$off('authRegisterSuccess')
            bus.$off('authRegisterError')
        },

        methods: {
            onSubmit() {

                this.$refs.registerObserverForm.validate().then(success => {
                    if (!success) {
                        this.showPopupMessage('Register', 'Validations Failed !', 'warn')
                        return
                    }

                    this.$store.dispatch('register', this.registerData)
                        .then(() => {
                            this.$nextTick(() => {
                                this.$refs.registerObserverForm.reset()
                            })
                            this.$router.push('/login')
                        })

                        .catch(error => {
                            this.showPopupMessage('Register', error.response.data.message, 'warn')
                        })

                })
            } // onSubmit

        } // methods: {
    }
</script>
